/**

<div class="n-dropdown">
  <button aria-expanded="true">open</button>
  <ul class="active">
    <li>
      <button>item-1</button>
    </li>
    <li>
      <button>item-2</button>
    </li>
    <li>
      <button>item-3</button>
    </li>
  </ul>
</div>

<div class="n-dropdown">
  <button aria-expanded="true">open</button>
  <div class="n-dropdown-list active">
    <div class="n-dropdown-item">
      item-1
    </div>
    <div class="n-dropdown-item">
      item-2
    </div>
    <div class="n-dropdown-item">
      item-3
    </div>
  </div>
</div>

*/

.n-dropdown {
  --dropdown-min-width: 160px;
  --dropdown-padding: 4px;
  --dropdown-border-radius: 8px;
  --dropdown-border: 1px solid var(--color-base-3);
  --dropdown-z-index: 900;

  --dropdown-offset: 6px; /* 드롭다운과 드롭다운 버튼(트리거)의 떨어진 정도 */

  --dropdown-item-padding: 6px 8px;
  --dropdown-item-border-radius: 4px;
}

.n-dropdown {
  position: relative;
}

.n-dropdown > ul,
.n-dropdown .n-dropdown-list {
  display: none;
  position: absolute;

  min-width: var(--dropdown-min-width);
  margin-top: var(--dropdown-offset);
  padding: var(--dropdown-padding);
  background-color: var(--color-base-1);
  border: var(--dropdown-border);
  border-radius: var(--dropdown-border-radius);
  box-shadow: 0px 6px 8px -1px rgba(0, 0, 0, 0.08),
    0px 1px 2px -2px rgba(0, 0, 0, 0.01);

  z-index: var(--dropdown-z-index);
}

.n-dropdown > ul > li > a,
.n-dropdown > ul > li > button,
.n-dropdown .n-dropdown-item {
  display: block;
  width: 100%;
  padding: var(--dropdown-item-padding);
  border-radius: var(--dropdown-item-border-radius);

  font-size: 14px;
  font-weight: 500;
  text-align: inherit; /* button 안의 컨텐츠 좌측정렬 */

  overflow: hidden;
  transition: background-color 0.13s;
  user-select: none;

  cursor: pointer;
}

.n-dropdown > ul > li:hover,
.n-dropdown .n-dropdown-item:hover {
  background-color: rgba(var(--rgb-base-6), 0.12);
}

/* active ---------------------------------------------------------------------------- */
.n-dropdown > ul,
.n-dropdown .n-dropdown-list {
  display: none;
}

.n-dropdown ul.active,
.n-dropdown .n-dropdown-list.active {
  display: block;
}
