/**
 * n-list
 * n-bar-list (default)
 * n-card-list
 * n-tile-list
 * n-tag-list
 * n-list-item-type
 * n-list-item-border-radius
 * n-list-item-padding

  <ul class="n-list">
    <li>content</li>
    <li>content</li>
    <li>content</li>
    <li>content</li>
    <li>content</li>
    <li>content</li>
  </ul>
 */

/* ---- n-list ------------------------------------------------- */
.n-list {
  --list-item-border-radius: 16px;
  --list-item-border-radius-0: 0;
  --list-item-border-radius-1: 4px;
  --list-item-border-radius-2: 8px;
  --list-item-border-radius-3: 12px;
  --list-item-border-radius-4: 16px;
  --list-item-border-radius-5: 20px;
  --list-item-border-radius-full: 9999px;

  --list-item-padding: 24px;
  --list-item-padding-0: 0;
  --list-item-padding-1: 8px;
  --list-item-padding-2: 16px;
  --list-item-padding-3: 24px;
  --list-item-padding-4: 32px;

  /* card-list */
  --card-list-column-sm: 1;
  --card-list-column-md: 2;
  --card-list-column-lg: 3;

  /* tag-list */
  --tag-height: 32px;
  --tag-height-1: 24px;
  --tag-height-2: 32px;
  --tag-height-3: 40px;

  --tag-padding: 12px;
  --tag-padding-1: 8px;
  --tag-padding-2: 12px;
  --tag-padding-3: 16px;

  /* tile-list */
  --tile-list-column-1: 3;
  --tile-list-column-2: 4;
  --tile-list-column-3: 5;

  --tile-size: 80px;
  --tile-size-1: 80px;
  --tile-size-2: 100px;
  --tile-size-3: 120px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.n-list > li,
.n-list > div {
  padding: var(--list-item-padding);
  background-color: var(--color-base-1);
  border-radius: var(--list-item-border-radius);
}

/* ---- n-bar-list (default) ------------------------------------------------- */
.n-list,
.n-list.n-bar-list {
  display: flex;
  flex-direction: column;
}

/* ---- n-card-list ------------------------------------------------- */
.n-list.n-card-list {
  display: grid;
  grid-template-columns: repeat(var(--card-list-column-sm), minmax(0, 1fr));
}
@media (min-width: 768px) {
  .n-list.n-card-list {
    grid-template-columns: repeat(var(--card-list-column-md), minmax(0, 1fr));
  }
}
@media (min-width: 1200px) {
  .n-list.n-card-list {
    grid-template-columns: repeat(var(--card-list-column-lg), minmax(0, 1fr));
  }
}

/* ---- n-tag-list -------------------------------------------------- */
.n-tag-list {
  flex-direction: row;
  flex-wrap: wrap;

  gap: 8px;
}

/* default tag style */
.n-tag-list > li,
.n-tag-list > div {
  color: rgba(var(--rgb-base-10), 0.85);
  font-size: 14px;
  white-space: nowrap;

  border: 1px solid var(--color-base-3);
  border-radius: var(--list-item-border-radius-3);
  background-color: var(--color-base-1);

  min-width: 32px;
  height: var(--tag-height);
  padding-right: var(--tag-padding);
  padding-left: var(--tag-padding);
  padding-top: 0;
  padding-bottom: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.n-tag-list > li.active,
.n-tag-list > div.active {
  color: var(--color-base-1);
  border: none;
  background-color: var(--color-main-2);
}

/* size */
.n-tag-list.n-tag-size\:1 > li,
.n-tag-list.n-tag-size\:1 > div {
  height: var(--tag-height-1);
  padding-right: var(--tag-padding-1);
  padding-left: var(--tag-padding-1);
}

.n-tag-list.n-tag-size\:2 > li,
.n-tag-list.n-tag-size\:2 > div { /* default */
  height: var(--tag-height-2);
  padding-left: var(--tag-padding-2);
  padding-right: var(--tag-padding-2);
}

.n-tag-list.n-tag-size\:3 > li,
.n-tag-list.n-tag-size\:3 > div {
  height: var(--tag-height-3);
  padding-right: var(--tag-padding-3);
  padding-left: var(--tag-padding-3);

  font-size: 16px;
  font-weight: 500;
}

/* ---- n-tile-list ------------------------------------------------- */
.n-tile-list {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.n-tile-list.n-tile-list-column\:1,
.n-tile-list.n-tile-list-col\:1 {
  display: grid;
  grid-template-columns: repeat(var(--tile-list-column-1), 1fr);
}

.n-tile-list,
.n-tile-list.n-tile-list-column\:2,
.n-tile-list.n-tile-list-col\:2 {
  display: grid;
  grid-template-columns: repeat(var(--tile-list-column-2), 1fr);
}

.n-tile-list.n-tile-list-column\:3,
.n-tile-list.n-tile-list-col\:3 {
  display: grid;
  grid-template-columns: repeat(var(--tile-list-column-3), 1fr);
}

.n-tile-list > li,
.n-tile-list > div {
  overflow: hidden;
  word-break: break-all;
  
  width: var(--tile-size);
  height: var(--tile-size);
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* tile size */
.n-tile-list.n-tile-size\:1 > li,
.n-tile-list.n-tile-size\:1 > div {
  width: var(--tile-size-1);
  height: var(--tile-size-1);
}

.n-tile-list.n-tile-size\:2 > li,
.n-tile-list.n-tile-size\:2 > div {
  width: var(--tile-size-2);
  height: var(--tile-size-2);
}

.n-tile-list.n-tile-size\:3 > li,
.n-tile-list.n-tile-size\:3 > div {
  width: var(--tile-size-3);
  height: var(--tile-size-3);
}

/* ---- n-list-item-type ------------------------------------------------- */

/* outline-box (default) */
.n-list > li,
.n-list-item-type\:outline-box > li,
.n-list-item-type\:outline > li,
.n-list-item\:outline-box > li,
.n-list-item\:outline > li,
.n-list-item-type\:outline-box > .n-item,
.n-list-item-type\:outline > .n-item,
.n-list-item\:outline-box > .n-item,
.n-list-item\:outline > .n-item {
  border: 1px solid var(--color-base-3);
}

/* shadow */
.n-list-item-type\:shadow > li,
.n-list-item\:shadow > li,
.n-list-item-type\:shadow > .n-item,
.n-list-item\:shadow > .n-item {
  border: none;
  box-shadow: 0px 0px 3px -1px rgba(22, 26, 32, 0.05),
    0px 2px 8px -1px rgba(50, 50, 93, 0.13);
}

/* underline */
.n-list-item-type\:underline > li,
.n-list-item\:underline > li,
.n-list-item-type\:underline > .n-item,
.n-list-item\:underline > .n-item {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--color-base-3);
}

/* none */
.n-list-item-type\:outline-none > li,
.n-list-item\:outline-none > li,
.n-list-item-type\:outline-none > .n-item,
.n-list-item\:outline-none > .n-item {
  border: none;
  border-bottom: none;
}

/* ---- n-list-item-border-radius ------------------------------------------------- */
.n-list-item-border-radius\:0 > li,
.n-list-item-bd-radius\:0 > li,
.n-list-item-border-radius\:0 > div,
.n-list-item-bd-radius\:0 > div {
  border-radius: var(--list-item-border-radius-0);
}

.n-list-item-border-radius\:1 > li,
.n-list-item-bd-radius\:1 > li,
.n-list-item-border-radius\:1 > div,
.n-list-item-bd-radius\:1 > div {
  border-radius: var(--list-item-border-radius-1);
}

.n-list-item-border-radius\:2 > li,
.n-list-item-bd-radius\:2 > li,
.n-list-item-border-radius\:2 > div,
.n-list-item-bd-radius\:2 > div {
  border-radius: var(--list-item-border-radius-2);
}

.n-list-item-border-radius\:3 > li,
.n-list-item-bd-radius\:3 > li,
.n-list-item-border-radius\:3 > div,
.n-list-item-bd-radius\:3 > div {
  border-radius: var(--list-item-border-radius-3);
}

.n-list-item-border-radius\:4 > li,
.n-list-item-bd-radius\:4 > li,
.n-list-item-border-radius\:4 > div,
.n-list-item-bd-radius\:4 > div {
  border-radius: var(--list-item-border-radius-4);
}

.n-list-item-border-radius\:5 > li,
.n-list-item-bd-radius\:5 > li,
.n-list-item-border-radius\:5 > div,
.n-list-item-bd-radius\:5 > div {
  border-radius: var(--list-item-border-radius-5);
}

.n-list-item-border-radius\:full > li,
.n-list-item-bd-radius\:full > li,
.n-list-item-border-radius\:full > div,
.n-list-item-bd-radius\:full > div {
  border-radius: var(--list-item-border-radius-full);
}

/* ---- n-list-item-padding ------------------------------------------------- */
.n-list-item-padding\:0 > li,
.n-list-item-p\:0 > li,
.n-list-item-padding\:0 > div,
.n-list-item-p\:0 > div {
  padding: var(--list-item-padding-0);
}

.n-list-item-padding\:1 > li,
.n-list-item-p\:1 > li,
.n-list-item-padding\:1 > div,
.n-list-item-p\:1 > div {
  padding: var(--list-item-padding-1);
}

.n-list-item-padding\:2 > li,
.n-list-item-p\:2 > li,
.n-list-item-padding\:2 > div,
.n-list-item-p\:2 > div {
  padding: var(--list-item-padding-2);
}

.n-list-item-padding\:3 > li,
.n-list-item-p\:3 > li,
.n-list-item-padding\:3 > div,
.n-list-item-p\:3 > div {
  padding: var(--list-item-padding-3);
}

.n-list-item-padding\:4 > li,
.n-list-item-p\:4 > li,
.n-list-item-padding\:4 > div,
.n-list-item-p\:4 > div {
  padding: var(--list-item-padding-4);
}
