
.m-dialog {
    /* 공통 상수 초기화 */
    /* color */

    --dialog-bg: #ECE6F0;
    --dialog-btn-font-color: #6750A4;
    --dialog-header-font-color: #1D1B20;
    --dialog-content-font-color: #49454F;

    /* font size */
    --dialog-font-size-1: 24px;
    --dialog-font-size-2: 14px;

    --dialog-font-weight-1: 400;
    --dialog-font-weight-2: 500;

    /* width, height */
    --dialog-width: 312px;

    --dialog-btn-content-height: 88px;
    --dialog-btn-width: 85px; 
    --dialog-btn-height: 48px; 

    /* radius */
    --dialog-radius: 28px;

    /* opacity */
    --dialog-opacity-1: 0.08;
    --dialog-opacity-2: 0.1;

    /* padding */
    --dialog-padding-1: 24px;
    --dialog-padding-2: 16px;


    /* 변수 */


}

/*  */
.m-dialog {
    

}