.n-icon\:add::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/add/v5/24px.svg");
}

.n-icon\:add_shopping_cart::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/add_shopping_cart/v5/24px.svg");
}

.n-icon\:add_task::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/add_task/v5/24px.svg");
}

/* .n-icon\:arrows_clockwise_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/arrows_clockwise_fill/v5/24px.svg");
} */

.n-icon\:arrow_back::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/arrow_back/v5/24px.svg");
}

/* .n-icon\:arrow_back_2::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/arrow_back_2/v5/24px.svg");
} */

/* .n-icon\:arrow_clockwise_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/arrow_clockwise_fill/v5/24px.svg");
} */

/* .n-icon\:arrow_down::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/arrow_down/v5/24px.svg");
} */

/* .n-icon\:arrow_down_left::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/arrow_down_left/v5/24px.svg");
}

.n-icon\:arrow_down_right::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/arrow_down_right/v5/24px.svg");
} */

.n-icon\:arrow_drop_down::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/arrow_drop_down/v5/24px.svg");
}

.n-icon\:arrow_left::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/arrow_left/v5/24px.svg");
}

.n-icon\:arrow_right::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/arrow_right/v5/24px.svg");
}

/* 
.n-icon\:arrow_up::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/arrow_up/v5/24px.svg");
}

.n-icon\:arrow_up_left::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/arrow_up_left/v5/24px.svg");
} */

/* .n-icon\:arrow_up_right::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/arrow_up_right/v5/24px.svg");
} */

/* .n-icon\:asterisk::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/asterisk/v5/24px.svg");
} */

/* .n-icon\:asterisk_bold::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/asterisk_bold/v5/24px.svg");
} */

.n-icon\:attach_file::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/attach_file/v5/24px.svg");
}

/* .n-icon\:attach_file_off::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/attach_file_off/v5/24px.svg");
} */

/* .n-icon\:bell::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/bell/v5/24px.svg");
} */

/* .n-icon\:bell_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/bell_fill/v5/24px.svg");
} */

/* .n-icon\:bone::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/bone/v5/24px.svg");
} */

.n-icon\:bookmarks::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/bookmarks/v5/24px.svg");
}

/* .n-icon\:bookmark_simple::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/bookmark_simple/v5/24px.svg");
} */

/* .n-icon\:bookmark_simple_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/bookmark_simple_fill/v5/24px.svg");
} */

/* .n-icon\:books::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/books/v5/24px.svg");
} */

.n-icon\:border_all::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/border_all/v5/24px.svg");
}

.n-icon\:border_bottom::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/border_bottom/v5/24px.svg");
}

.n-icon\:border_clear::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/border_clear/v5/24px.svg");
}

.n-icon\:border_color::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/border_color/v5/24px.svg");
}

.n-icon\:border_horizontal::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/border_horizontal/v5/24px.svg");
}

.n-icon\:border_inner::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/border_inner/v5/24px.svg");
}

.n-icon\:border_left::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/border_left/v5/24px.svg");
}

.n-icon\:border_outer::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/border_outer/v5/24px.svg");
}

.n-icon\:border_right::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/border_right/v5/24px.svg");
}

.n-icon\:border_style::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/border_style/v5/24px.svg");
}

.n-icon\:border_top::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/border_top/v5/24px.svg");
}

.n-icon\:border_vertical::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/border_vertical/v5/24px.svg");
}

.n-icon\:calculate::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/calculate/v5/24px.svg");
}

/* .n-icon\:calendar_blank::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/calendar_blank/v5/24px.svg");
} */

/* .n-icon\:calendar_check::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/calendar_check/v5/24px.svg");
} */

.n-icon\:camera::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/camera/v5/24px.svg");
}

/* .n-icon\:camera_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/camera_fill/v5/24px.svg");
} */
/* 
.n-icon\:cardio_load::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/cardio_load/v5/24px.svg");
} */

/* .n-icon\:caret_down::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/caret_down/v5/24px.svg");
} */

/* .n-icon\:caret_down_bold::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/caret_down_bold/v5/24px.svg");
} */

/* .n-icon\:caret_left::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/caret_left/v5/24px.svg");
}

.n-icon\:caret_left_bold::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/caret_left_bold/v5/24px.svg");
}

.n-icon\:caret_right::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/caret_right/v5/24px.svg");
} */

/* .n-icon\:caret_right_bold::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/caret_right_bold/v5/24px.svg");
} */

/* .n-icon\:caret_up::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/caret_up/v5/24px.svg");
}

.n-icon\:caret_up_bold::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/caret_up_bold/v5/24px.svg");
}

.n-icon\:caret_up_down::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/caret_up_down/v5/24px.svg");
}

.n-icon\:cast_pause::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/cast_pause/v5/24px.svg");
} */

.n-icon\:category::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/category/v5/24px.svg");
}

/* .n-icon\:chalkboard_teacher::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/chalkboard_teacher/v5/24px.svg");
} */

.n-icon\:chart_line::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/chart_line/v5/24px.svg");
}

.n-icon\:chat::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/chat/v5/24px.svg");
}

.n-icon\:chats::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/chats/v5/24px.svg");
}

.n-icon\:chat_circle::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/chat_circle/v5/24px.svg");
}

.n-icon\:chat_circle_text::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/chat_circle_text/v5/24px.svg");
}

.n-icon\:check::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/check/v5/24px.svg");
}

.n-icon\:checklist::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/checklist/v5/24px.svg");
}

.n-icon\:checklist_rtl::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/checklist_rtl/v5/24px.svg");
}

.n-icon\:check_bold::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/check_bold/v5/24px.svg");
}

.n-icon\:check_circle::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/check_circle/v5/24px.svg");
}

.n-icon\:check_circle_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/check_circle_fill/v5/24px.svg");
}

.n-icon\:clock::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/clock/v5/24px.svg");
}

.n-icon\:clock_loader_10::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/clock_loader_10/v5/24px.svg");
}

.n-icon\:clock_loader_20::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/clock_loader_20/v5/24px.svg");
}

.n-icon\:clock_loader_40::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/clock_loader_40/v5/24px.svg");
}

.n-icon\:clock_loader_60::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/clock_loader_60/v5/24px.svg");
}

.n-icon\:clock_loader_80::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/clock_loader_80/v5/24px.svg");
}

.n-icon\:clock_loader_90::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/clock_loader_90/v5/24px.svg");
}

.n-icon\:close::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/close/v5/24px.svg");
}

.n-icon\:closed_caption::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/closed_caption/v5/24px.svg");
}

.n-icon\:closed_caption_add::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/closed_caption_add/v5/24px.svg");
}

.n-icon\:closed_caption_disabled::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/closed_caption_disabled/v5/24px.svg");
}

.n-icon\:code::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/code/v5/24px.svg");
}

.n-icon\:code_simple::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/code_simple/v5/24px.svg");
}

.n-icon\:colors::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/colors/v5/24px.svg");
}

.n-icon\:copy_simple::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/copy_simple/v5/24px.svg");
}

.n-icon\:credit_card::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/credit_card/v5/24px.svg");
}

.n-icon\:crop::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/crop/v5/24px.svg");
}

.n-icon\:dashboard::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/dashboard/v5/24px.svg");
}

.n-icon\:database::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/database/v5/24px.svg");
}

.n-icon\:delete::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/delete/v5/24px.svg");
}

.n-icon\:delete_forever::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/delete_forever/v5/24px.svg");
}

.n-icon\:description::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/description/v5/24px.svg");
}

.n-icon\:dot::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/dot/v5/24px.svg");
}

.n-icon\:dots_six::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/dots_six/v5/24px.svg");
}

.n-icon\:dots_six_vertical::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/dots_six_vertical/v5/24px.svg");
}

.n-icon\:dots_three_outline_vertical_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/dots_three_outline_vertical_fill/v5/24px.svg");
}

.n-icon\:dot_outlined::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/dot_outlined/v5/24px.svg");
}

.n-icon\:download_simple::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/download_simple/v5/24px.svg");
}

.n-icon\:editor_choice::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/editor_choice/v5/24px.svg");
}

.n-icon\:edit_note::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/edit_note/v5/24px.svg");
}

.n-icon\:edit_notifications_24dp_FILL0_wght400_GRAD0_opsz24::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/edit_notifications_24dp_FILL0_wght400_GRAD0_opsz24/v5/24px.svg");
}

.n-icon\:edit_square::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/edit_square/v5/24px.svg");
}

.n-icon\:envelope_simple::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/envelope_simple/v5/24px.svg");
}

.n-icon\:error::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/error/v5/24px.svg");
}

.n-icon\:explicit::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/explicit/v5/24px.svg");
}

.n-icon\:export::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/export/v5/24px.svg");
}

.n-icon\:eye::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/eye/v5/24px.svg");
}

.n-icon\:eye_slash::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/eye_slash/v5/24px.svg");
}

.n-icon\:fast_forward::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/fast_forward/v5/24px.svg");
}

.n-icon\:fast_rewind::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/fast_rewind/v5/24px.svg");
}

.n-icon\:favorite::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/favorite/v5/24px.svg");
}

.n-icon\:file::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/file/v5/24px.svg");
}

.n-icon\:file_plus::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/file_plus/v5/24px.svg");
}

.n-icon\:filter_retrolux::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/filter_retrolux/v5/24px.svg");
}

.n-icon\:folder::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/folder/v5/24px.svg");
}

.n-icon\:format_align_center::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_align_center/v5/24px.svg");
}

.n-icon\:format_align_justify::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_align_justify/v5/24px.svg");
}

.n-icon\:format_align_left::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_align_left/v5/24px.svg");
}

.n-icon\:format_align_right::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_align_right/v5/24px.svg");
}

.n-icon\:format_bold::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_bold/v5/24px.svg");
}

.n-icon\:format_clear::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_clear/v5/24px.svg");
}

.n-icon\:format_color_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_color_fill/v5/24px.svg");
}

.n-icon\:format_color_reset::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_color_reset/v5/24px.svg");
}

.n-icon\:format_color_text::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_color_text/v5/24px.svg");
}

.n-icon\:format_h1::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_h1/v5/24px.svg");
}

.n-icon\:format_h2::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_h2/v5/24px.svg");
}

.n-icon\:format_h3::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_h3/v5/24px.svg");
}

.n-icon\:format_h4::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_h4/v5/24px.svg");
}

.n-icon\:format_h5::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_h5/v5/24px.svg");
}

.n-icon\:format_h6::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_h6/v5/24px.svg");
}

.n-icon\:format_image_left::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_image_left/v5/24px.svg");
}

.n-icon\:format_image_right::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_image_right/v5/24px.svg");
}

.n-icon\:format_indent_decrease::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_indent_decrease/v5/24px.svg");
}

.n-icon\:format_indent_increase::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_indent_increase/v5/24px.svg");
}

.n-icon\:format_ink_highlighter::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_ink_highlighter/v5/24px.svg");
}

.n-icon\:format_italic::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_italic/v5/24px.svg");
}

.n-icon\:format_line_spacing::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_line_spacing/v5/24px.svg");
}

.n-icon\:format_list_bulleted::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_list_bulleted/v5/24px.svg");
}

.n-icon\:format_list_bulleted_add::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_list_bulleted_add/v5/24px.svg");
}

.n-icon\:format_list_numbered::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_list_numbered/v5/24px.svg");
}

.n-icon\:format_list_numbered_rtl::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_list_numbered_rtl/v5/24px.svg");
}

.n-icon\:format_overline::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_overline/v5/24px.svg");
}

.n-icon\:format_paint::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_paint/v5/24px.svg");
}

.n-icon\:format_paragraph::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_paragraph/v5/24px.svg");
}

.n-icon\:format_quote::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_quote/v5/24px.svg");
}

.n-icon\:format_quote_off::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_quote_off/v5/24px.svg");
}

.n-icon\:format_shapes::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_shapes/v5/24px.svg");
}

.n-icon\:format_size::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_size/v5/24px.svg");
}

.n-icon\:format_strikethrough::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_strikethrough/v5/24px.svg");
}

.n-icon\:format_textdirection_l_to_r::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_textdirection_l_to_r/v5/24px.svg");
}

.n-icon\:format_textdirection_r_to_l::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_textdirection_r_to_l/v5/24px.svg");
}

.n-icon\:format_textdirection_vertical::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_textdirection_vertical/v5/24px.svg");
}

.n-icon\:format_text_clip::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_text_clip/v5/24px.svg");
}

.n-icon\:format_text_overflow::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_text_overflow/v5/24px.svg");
}

.n-icon\:format_text_wrap::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_text_wrap/v5/24px.svg");
}

.n-icon\:format_underlined::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_underlined/v5/24px.svg");
}

.n-icon\:format_underlined_squiggle::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/format_underlined_squiggle/v5/24px.svg");
}

.n-icon\:forward_media::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/forward_media/v5/24px.svg");
}

.n-icon\:function::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/function/v5/24px.svg");
}

.n-icon\:functions::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/functions/v5/24px.svg");
}

.n-icon\:gear_six::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/gear_six/v5/24px.svg");
}

.n-icon\:gear_six_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/gear_six_fill/v5/24px.svg");
}

.n-icon\:gift::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/gift/v5/24px.svg");
}

.n-icon\:globe::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/globe/v5/24px.svg");
}

.n-icon\:google_logo::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/google_logo/v5/24px.svg");
}

.n-icon\:graduation_cap::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/graduation_cap/v5/24px.svg");
}

.n-icon\:group::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/group/v5/24px.svg");
}

.n-icon\:hand_coins::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/hand_coins/v5/24px.svg");
}

.n-icon\:headphones::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/headphones/v5/24px.svg");
}

.n-icon\:headphones_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/headphones_fill/v5/24px.svg");
}

.n-icon\:headset::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/headset/v5/24px.svg");
}

.n-icon\:heart::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/heart/v5/24px.svg");
}

.n-icon\:heart_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/heart_fill/v5/24px.svg");
}

.n-icon\:height::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/height/v5/24px.svg");
}

.n-icon\:highlight::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/highlight/v5/24px.svg");
}

.n-icon\:home::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/home/v5/24px.svg");
}

.n-icon\:home_FILL0_wght400_GRAD0_opsz24::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/home_FILL0_wght400_GRAD0_opsz24/v5/24px.svg");
}

.n-icon\:house::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/house/v5/24px.svg");
}

.n-icon\:household_supplies::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/household_supplies/v5/24px.svg");
}

.n-icon\:house_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/house_fill/v5/24px.svg");
}

.n-icon\:image::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/image/v5/24px.svg");
}

.n-icon\:image_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/image_fill/v5/24px.svg");
}

.n-icon\:info::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/info/v5/24px.svg");
}

.n-icon\:info_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/info_fill/v5/24px.svg");
}

.n-icon\:ink_eraser::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/ink_eraser/v5/24px.svg");
}

.n-icon\:ink_eraser_off::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/ink_eraser_off/v5/24px.svg");
}

.n-icon\:ink_highlighter::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/ink_highlighter/v5/24px.svg");
}

.n-icon\:ink_highlighter_move::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/ink_highlighter_move/v5/24px.svg");
}

.n-icon\:ink_marker::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/ink_marker/v5/24px.svg");
}

.n-icon\:ink_pen::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/ink_pen/v5/24px.svg");
}

.n-icon\:insert_text::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/insert_text/v5/24px.svg");
}

.n-icon\:lasso_select::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/lasso_select/v5/24px.svg");
}

.n-icon\:link::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/link/v5/24px.svg");
}

.n-icon\:link_off::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/link_off/v5/24px.svg");
}

.n-icon\:list::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/list/v5/24px.svg");
}

.n-icon\:list_bullets::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/list_bullets/v5/24px.svg");
}

.n-icon\:local_cafe::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/local_cafe/v5/24px.svg");
}

.n-icon\:local_cafe_24dp_FILL0_wght400_GRAD0_opsz24::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/local_cafe_24dp_FILL0_wght400_GRAD0_opsz24/v5/24px.svg");
}

.n-icon\:lock_simple::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/lock_simple/v5/24px.svg");
}

.n-icon\:lock_simple_open::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/lock_simple_open/v5/24px.svg");
}

.n-icon\:login::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/login/v5/24px.svg");
}

.n-icon\:logout::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/logout/v5/24px.svg");
}

.n-icon\:logo_dev::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/logo_dev/v5/24px.svg");
}

.n-icon\:magaphone::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/magaphone/v5/24px.svg");
}

.n-icon\:magnifying_glass::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/magnifying_glass/v5/24px.svg");
}

.n-icon\:magnifying_glass_minus::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/magnifying_glass_minus/v5/24px.svg");
}

.n-icon\:magnifying_glass_plus::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/magnifying_glass_plus/v5/24px.svg");
}

.n-icon\:manage::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/manage/v5/24px.svg");
}

.n-icon\:map_pin::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/map_pin/v5/24px.svg");
}

.n-icon\:map_pin_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/map_pin_fill/v5/24px.svg");
}

.n-icon\:map_trifold::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/map_trifold/v5/24px.svg");
}

.n-icon\:map_trifold_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/map_trifold_fill/v5/24px.svg");
}

.n-icon\:markdown::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/markdown/v5/24px.svg");
}

.n-icon\:markdown_copy::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/markdown_copy/v5/24px.svg");
}

.n-icon\:markdown_paste::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/markdown_paste/v5/24px.svg");
}

.n-icon\:mediation::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/mediation/v5/24px.svg");
}

.n-icon\:media_bluetooth_on::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/media_bluetooth_on/v5/24px.svg");
}

.n-icon\:media_link::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/media_link/v5/24px.svg");
}

.n-icon\:media_output::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/media_output/v5/24px.svg");
}

.n-icon\:media_output_off::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/media_output_off/v5/24px.svg");
}

.n-icon\:megaphone::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/megaphone/v5/24px.svg");
}

.n-icon\:megaphone_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/megaphone_fill/v5/24px.svg");
}

.n-icon\:menu::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/menu/v5/24px.svg");
}

.n-icon\:mms::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/mms/v5/24px.svg");
}

.n-icon\:monitor_play::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/monitor_play/v5/24px.svg");
}

.n-icon\:monitor_play_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/monitor_play_fill/v5/24px.svg");
}

.n-icon\:moon::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/moon/v5/24px.svg");
}

.n-icon\:moon_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/moon_fill/v5/24px.svg");
}

.n-icon\:movie::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/movie/v5/24px.svg");
}

.n-icon\:navigation_arrow::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/navigation_arrow/v5/24px.svg");
}

.n-icon\:news::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/news/v5/24px.svg");
}

.n-icon\:newsmode::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/newsmode/v5/24px.svg");
}

.n-icon\:newsstand::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/newsstand/v5/24px.svg");
}

.n-icon\:note_stack::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/note_stack/v5/24px.svg");
}

.n-icon\:notifications_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/notifications_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24/v5/24px.svg");
}

.n-icon\:notifications_24dp_FILL0_wght400_GRAD0_opsz24::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/notifications_24dp_FILL0_wght400_GRAD0_opsz24/v5/24px.svg");
}

.n-icon\:notifications_active_24dp_FILL0_wght400_GRAD0_opsz24::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/notifications_active_24dp_FILL0_wght400_GRAD0_opsz24/v5/24px.svg");
}

.n-icon\:notification_add_24dp_FILL0_wght400_GRAD0_opsz24::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/notification_add_24dp_FILL0_wght400_GRAD0_opsz24/v5/24px.svg");
}

.n-icon\:notification_important_24dp_FILL0_wght400_GRAD0_opsz24::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/notification_important_24dp_FILL0_wght400_GRAD0_opsz24/v5/24px.svg");
}

.n-icon\:not_started::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/not_started/v5/24px.svg");
}

.n-icon\:nuxt::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/nuxt/v5/24px.svg");
}

.n-icon\:page_control::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/page_control/v5/24px.svg");
}

.n-icon\:pause::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/pause/v5/24px.svg");
}

.n-icon\:pause_circle::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/pause_circle/v5/24px.svg");
}

.n-icon\:pause_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/pause_fill/v5/24px.svg");
}

.n-icon\:pencil_simple::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/pencil_simple/v5/24px.svg");
}

.n-icon\:pencil_simple_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/pencil_simple_fill/v5/24px.svg");
}

.n-icon\:phone_call::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/phone_call/v5/24px.svg");
}

.n-icon\:play_circle::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/play_circle/v5/24px.svg");
}

.n-icon\:play_disabled::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/play_disabled/v5/24px.svg");
}

.n-icon\:play_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/play_fill/v5/24px.svg");
}

.n-icon\:play_lesson::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/play_lesson/v5/24px.svg");
}

.n-icon\:play_pause::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/play_pause/v5/24px.svg");
}

.n-icon\:play_pause_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/play_pause_fill/v5/24px.svg");
}

.n-icon\:plus::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/plus/v5/24px.svg");
}

.n-icon\:post_add::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/post_add/v5/24px.svg");
}

.n-icon\:preview::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/preview/v5/24px.svg");
}

.n-icon\:problem::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/problem/v5/24px.svg");
}

.n-icon\:push_pin::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/push_pin/v5/24px.svg");
}

.n-icon\:push_pin_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/push_pin_fill/v5/24px.svg");
}

.n-icon\:qr_code::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/qr_code/v5/24px.svg");
}

.n-icon\:qr_code_2::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/qr_code_2/v5/24px.svg");
}

.n-icon\:qr_code_2_add::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/qr_code_2_add/v5/24px.svg");
}

.n-icon\:qr_code_scanner::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/qr_code_scanner/v5/24px.svg");
}

.n-icon\:question::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/question/v5/24px.svg");
}

.n-icon\:quiz::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/quiz/v5/24px.svg");
}

.n-icon\:radio::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/radio/v5/24px.svg");
}

.n-icon\:radio_button_checked::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/radio_button_checked/v5/24px.svg");
}

.n-icon\:radio_button_unchecked::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/radio_button_unchecked/v5/24px.svg");
}

.n-icon\:recommend::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/recommend/v5/24px.svg");
}

.n-icon\:record_voice_over::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/record_voice_over/v5/24px.svg");
}

.n-icon\:remove::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/remove/v5/24px.svg");
}

.n-icon\:remove_selection::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/remove_selection/v5/24px.svg");
}

.n-icon\:repeat::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/repeat/v5/24px.svg");
}

.n-icon\:repeat_one_on::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/repeat_one_on/v5/24px.svg");
}

.n-icon\:resume::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/resume/v5/24px.svg");
}

.n-icon\:save::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/save/v5/24px.svg");
}

.n-icon\:search::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/search/v5/24px.svg");
}

.n-icon\:search_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/search_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24/v5/24px.svg");
}

.n-icon\:settings::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/settings/v5/24px.svg");
}

.n-icon\:settings_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/settings_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24/v5/24px.svg");
}

.n-icon\:share::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/share/v5/24px.svg");
}

.n-icon\:share_fat::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/share_fat/v5/24px.svg");
}

.n-icon\:share_fat_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/share_fat_fill/v5/24px.svg");
}

.n-icon\:share_network::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/share_network/v5/24px.svg");
}

.n-icon\:share_network_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/share_network_fill/v5/24px.svg");
}

.n-icon\:share_off::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/share_off/v5/24px.svg");
}

.n-icon\:shopping_bag::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/shopping_bag/v5/24px.svg");
}

.n-icon\:shopping_cart::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/shopping_cart/v5/24px.svg");
}

.n-icon\:shopping_cart_checkout::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/shopping_cart_checkout/v5/24px.svg");
}

.n-icon\:shopping_cart_simple::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/shopping_cart_simple/v5/24px.svg");
}

.n-icon\:shopping_cart_simple_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/shopping_cart_simple_fill/v5/24px.svg");
}

.n-icon\:shuffle_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/shuffle_fill/v5/24px.svg");
}

.n-icon\:sign_in::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/sign_in/v5/24px.svg");
}

.n-icon\:sign_out::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/sign_out/v5/24px.svg");
}

.n-icon\:skip_back_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/skip_back_fill/v5/24px.svg");
}

.n-icon\:skip_forward_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/skip_forward_fill/v5/24px.svg");
}

.n-icon\:sliders::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/sliders/v5/24px.svg");
}

.n-icon\:sliders_horizontal::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/sliders_horizontal/v5/24px.svg");
}

.n-icon\:speaker_simple_high_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/speaker_simple_high_fill/v5/24px.svg");
}

.n-icon\:speaker_simple_low_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/speaker_simple_low_fill/v5/24px.svg");
}

.n-icon\:speaker_simple_none_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/speaker_simple_none_fill/v5/24px.svg");
}

.n-icon\:speaker_simple_slash_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/speaker_simple_slash_fill/v5/24px.svg");
}

.n-icon\:squares_four::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/squares_four/v5/24px.svg");
}

.n-icon\:squares_four_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/squares_four_fill/v5/24px.svg");
}

.n-icon\:stack::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/stack/v5/24px.svg");
}

.n-icon\:star::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/star/v5/24px.svg");
}

.n-icon\:star_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/star_fill/v5/24px.svg");
}

.n-icon\:stock_media::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/stock_media/v5/24px.svg");
}

.n-icon\:stop_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/stop_fill/v5/24px.svg");
}

.n-icon\:strikethrough_s::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/strikethrough_s/v5/24px.svg");
}

.n-icon\:student::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/student/v5/24px.svg");
}

.n-icon\:subscript::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/subscript/v5/24px.svg");
}

.n-icon\:subscriptions::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/subscriptions/v5/24px.svg");
}

.n-icon\:subtitles::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/subtitles/v5/24px.svg");
}

.n-icon\:sun::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/sun/v5/24px.svg");
}

.n-icon\:sun_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/sun_fill/v5/24px.svg");
}

.n-icon\:superscript::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/superscript/v5/24px.svg");
}

.n-icon\:tag::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/tag/v5/24px.svg");
}

.n-icon\:text_aa::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/text_aa/v5/24px.svg");
}

.n-icon\:text_align_center::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/text_align_center/v5/24px.svg");
}

.n-icon\:text_align_justify::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/text_align_justify/v5/24px.svg");
}

.n-icon\:text_align_left::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/text_align_left/v5/24px.svg");
}

.n-icon\:text_align_right::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/text_align_right/v5/24px.svg");
}

.n-icon\:text_a_underline::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/text_a_underline/v5/24px.svg");
}

.n-icon\:text_b::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/text_b/v5/24px.svg");
}

.n-icon\:text_strikethrough::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/text_strikethrough/v5/24px.svg");
}

.n-icon\:text_t::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/text_t/v5/24px.svg");
}

.n-icon\:text_underline::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/text_underline/v5/24px.svg");
}

.n-icon\:thumbs_down::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/thumbs_down/v5/24px.svg");
}

.n-icon\:thumbs_up::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/thumbs_up/v5/24px.svg");
}

.n-icon\:timer_pause::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/timer_pause/v5/24px.svg");
}

.n-icon\:timer_play::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/timer_play/v5/24px.svg");
}

.n-icon\:toc::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/toc/v5/24px.svg");
}

.n-icon\:toggle::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/toggle/v5/24px.svg");
}

.n-icon\:toggle_off::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/toggle_off/v5/24px.svg");
}

.n-icon\:topic::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/topic/v5/24px.svg");
}

.n-icon\:trash::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/trash/v5/24px.svg");
}

.n-icon\:trash_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/trash_fill/v5/24px.svg");
}

.n-icon\:trash_simple::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/trash_simple/v5/24px.svg");
}

.n-icon\:trash_simple_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/trash_simple_fill/v5/24px.svg");
}

.n-icon\:trophy::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/trophy/v5/24px.svg");
}

.n-icon\:tune::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/tune/v5/24px.svg");
}

.n-icon\:tv::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/tv/v5/24px.svg");
}

.n-icon\:upload_simple::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/upload_simple/v5/24px.svg");
}

.n-icon\:user::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/user/v5/24px.svg");
}

.n-icon\:user_circle_gear::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/user_circle_gear/v5/24px.svg");
}

.n-icon\:user_circle_plus::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/user_circle_plus/v5/24px.svg");
}

.n-icon\:user_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/user_fill/v5/24px.svg");
}

.n-icon\:vertical_align_bottom::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/vertical_align_bottom/v5/24px.svg");
}

.n-icon\:vertical_align_center::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/vertical_align_center/v5/24px.svg");
}

.n-icon\:vertical_align_top::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/vertical_align_top/v5/24px.svg");
}

.n-icon\:view_list::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/view_list/v5/24px.svg");
}

.n-icon\:warning::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/warning/v5/24px.svg");
}

.n-icon\:warning_circle::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/warning_circle/v5/24px.svg");
}

.n-icon\:warning_circle_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/warning_circle_fill/v5/24px.svg");
}

.n-icon\:warning_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/warning_fill/v5/24px.svg");
}

.n-icon\:wifi_1_bar::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/wifi_1_bar/v5/24px.svg");
}

.n-icon\:wifi_1_bar_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/wifi_1_bar_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24/v5/24px.svg");
}

.n-icon\:wrap_text::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/wrap_text/v5/24px.svg");
}

.n-icon\:x::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/x/v5/24px.svg");
}

.n-icon\:x_circle_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/x_circle_fill/v5/24px.svg");
}

.n-icon\:youtube_logo_fill::before {
  --icon: url("https://fonts.gstatic.com/s/i/materialicons/youtube_logo_fill/v5/24px.svg");
}