.n-bar {
    --n-bar-gap: 8px;
    --n-bar-height: 40px;
    --n-bar-align: stretch;
}

.n-bar {
    background-color: aqua;
    width: 100%;
    height: var(--n-bar-height);

    display: flex;
    align-items: stretch;

    gap: var(--n-bar-gap);

    >* {
        flex-grow: 1;
        text-align: center;
    }

    >*:hover {
        transform: scale(1.1);
    }

    .active {
        background-color: var(--color-main-2);
        color: #fff;
    }

    .active:hover {
        background-color: var(--color-main-1);
    }

    .active\:bottom {
        padding-bottom: 5px;
        border-bottom: 4px dotted rgba(var(--rgb-accent-1), 0.5);
    }

    .active\:border {
        border: 4px dotted rgba(var(--rgb-accent-1), 0.5);
    }
}