/* 
<variable>───────────────────────────────────

--bar-gap: var(--gap-1)

<type>───────────────────────────────────────

.n-bar
-- 아래는 미정 ----------
.n-bar:tab
.n-bar:status

<option>─────────────────────────────────────

.bar-gap:0,1,2,3,4,5
.content-pos:left, center, right

<example>──────────────────────────────────── */

.n-bar{
    /* --n-height:60px; */
    /* --n-bg-color:#333; */
    /* --n-color:#fff; */
    /* --n-shadow:0 2px 4px rgba(0,0,0,0.1); */
    
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: rgba(var(--bg-active, transparent),1);

    >:is(ul,.list){
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--bar-gap, 4px);
    }
}

.bar-gap\:1{
    >:is(ul,.list){
        gap:var(--gap-1);
    }
}

.bar-gap\:2{    
    >:is(ul,.list){
        gap:var(--gap-2);
    }
}

.bar-gap\:3{    
    >:is(ul,.list){
        gap:var(--gap-3);
    }
}

@media screen and (min-width: 768px) {
    

}


@media screen and (min-width: 1200px) {

}