.n-bar,
.n-bar\:bd-bottom {
    --n-bar-gap: 8px;
    --n-bar-height: 40px;
    --n-bar-align: stretch;
    --n-bar-color-active: var(--color-base-1);

    --n-bar-bg-color: var(--color-base-3);
    --n-bar-bg-color-active: var(--color-main-1);
    --n-bar-bg-color-hover: var(--color-accent-1);

    --n-bar-bd-width: 0px;
    --n-bar-bd-color: var(--color-base-3);
    --n-bar-bd-color-active: var(--color-main-1);
    --n-bar-bd-bottom: solid 5px var(--n-bar-bg-color);
}

.n-bar,
.n-bar\:bd-bottom {

    width: 100%;
    height: var(--n-bar-height);

    display: flex;
    align-items: stretch;

    >* {
        flex-grow: 1;
        background-color: var(--n-bar-bg-color);
        cursor: pointer;
        margin-right: 2px;
        border-bottom: solid var(--n-bar-bd-width) var(--n-bar-bd-color);

        display: flex;
        align-items: center;
        justify-content: center;
    }

    >*:last-child {
        margin-right: 0;
    }

    >.active {
        background-color: var(--n-bar-bg-color-active);
        border-color: var(--n-bar-bd-color-active);
        color: var(--n-bar-color-active);
    }

    >*:hover {
        background-color: var(--n-bar-bg-color-hover);
        color: var(--color-base-1);
    }
}

.n-bar\:bd-bottom {
    --n-bar-color-active: unset;
    --n-bar-bg-color: transparent;
    --n-bar-bg-color-active: transparent;
    --n-bar-bd-color: var(--color-base-3);
    --n-bar-bd-color-active: red;
    --n-bar-bd-width: 5px;


}