/* 
<variable>───────────────────────────────────

--btn-padding, 4px 16px
--btn-height, 36px
--btn-border-color, var(--color-base-3)
--btn-border-radius, 8px
--btn-font-size, 14px
--btn-background-hover, var(--color-base-2)

<type>──────────────────────────────────────
.btn:rounded
.btn:circle
.btn:badge
.n-btn
.n-btn:active
.n-btn:disabled


<option>────────────────────────────────────

.btn-size:1 ~ ex
.btn-color:main-1 ~ accent-1
.btn-size:inline
.btn-size:small
 
<example>───────────────────────────────────    
*/

/* ==== button ======================= */

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.n-btn
{
	--line-height: 1.4em;
	--font-size: 14px;
	/*
		4px ≈ 0.286em (기본 폰트 14px 기준)
		8px ≈ 0.571em (기본 폰트 14px 기준)
	*/
	--padding: 0.3em 0.7em;

	--bd-radius: 6px;
	--bd-color: var(--color-base-4);
	--bd-color-hover: var(--color-base-6);
	--bd-color-active: var(--color-main-2);

	--bg-color: rgba(var(--rgb-base-2), 0.2);
	--bg-color-hover: transparent;
	--bg-color-active: rgba(var(--rgb-main-2), 0.7);

	--text-color: var(--color-base-6);
	--text-color-hover: var(--color-base-7);
	--text-color-active: var(--color-base-1);
	--text-indent: -999px;

}

/* 다크 모드 지원을 위한 미디어쿼리 스타일 추가 */

@media (prefers-color-scheme: dark) {
	.n-btn {
		--bd-color: var(--color-base-3);
		--bd-color-hover: var(--color-base-7);
		--bd-color-active: var(--color-base-9);
		

		--bg-color: rgba(var(--rgb-base-7), 0.7);
		--bg-color-hover: transparent;
		--bg-color-active: rgba(var(--rgb-main-1), 0.7);
		--text-color: var(--color-base-2);		
		--text-color-hover: var(--color-base-2);
		--text-color-active: var(--color-base-1);	
	}
}

.n-btn {
	color: var(--text-color);
	font-size: var(--font-size, 14px);
	font-weight: 400;
	font-family: inherit;
	line-height: var(--line-height);

	white-space: nowrap;
	user-select: none;
	cursor: pointer;

	box-sizing: border-box;
	padding: var(--padding);
	width: initial;
	height: initial;
	border: 1px solid var(--bd-color);
	border-radius: var(--bd-radius);

	background-color: var(--bg-color);

	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;

	transition: background-color 0.15s ease, border-color 0.15s ease,
		color 0.15s ease;

	&::before {
		/* --- 아이콘을 위한 설정 ---- */
		font-family: "Material Symbols Outlined";
		width: var(--icon-size);
		height: var(--icon-size);
		overflow: hidden;
		font-size: var(--icon-size);

		display: inline-flex;
		justify-content: center;
		align-items: center;
	}

	&:hover {		
		background-color: var(--bg-color-hover);
		color: var(--text-color-hover);
		text-decoration: none;

		transition: background-color 0.4s ease, border-color 0.4s ease, color 0.4s ease;
	}

	&:active {		
		color: var(--text-color-active);
	}

	&:focus-visible {
		outline: 2px solid var(--bd-color-active);
		outline-offset: 1px;
	}

	/*== n-icon과 n-deco의 조합관계 설정 ===========================================*/
	/* n-btn + n-icon 조합에서는 기본적으로 라벨 숨김 */
	&.n-icon:not(.n-deco) {
		--padding: 4px;
		text-indent: -999px;
	
		&::before {
			text-indent: 0;
		}
	}
	
	/* n-btn + n-icon + n-deco 조합에서는 라벨 표시 */
	&.n-icon.n-deco {
		text-indent: 0;
	}

	/* ---------- type ---------------------------- */

	&.btn\:rounded {
		--bd-radius: 8px;
	}

	&.btn\:circle {
		--bd-radius: 50%;
	}

	&.btn\:badge {	
		--font-size: var(--size-5);
		--bd-radius: 0.6em;		
		--padding: 0.2em 0.4em;
		
	}

	&.btn-size\:1 {	
		--font-size: var(--size-6);
	}

	&.btn-size\:2 {		
		--font-size: var(--size-7);
	}

	&.btn-size\:3 {
		--font-size: var(--size-8);
	}

	&.btn-size\:4 {
		--font-size: var(--size-9);
	}

	&.btn-size\:5 {
		--font-size: var(--size-10);
	}

	&.btn-size\:6 {
		--font-size: var(--size-11);
	}

	&.btn-size\:7 {
		--font-size: var(--size-12);
	}

	&.btn-size\:8 {
		--font-size: var(--size-13);
	}

	&.btn-size\:9 {
		--font-size: var(--size-14);
	}

	&.btn-size\:ex {
		--font-size: var(--size-15);
	}

	/* <size>------------------------------------ */
	&.btn-size\:inline {
		--padding: 0;
		--line-height: 1em;
	}

	&.btn-size\:small {
		--font-size: var(--size-1);
		--padding: 0.1em 0.2em;
		--line-height: 1em;
	}

	/* <color>------------------------------------ */
	/* base */

	&.btn-color\:main-1 {
		--bg-color: var(--color-main-1);
		--bd-color: var(--color-main-1);
		--text-color: var(--color-base-1);
		
		&:hover {
			--bg-color-hover: var(--color-main-2);
			--bd-color-hover: var(--color-main-2);
			--text-color: var(--color-base-1);
		}

		&:active {
			--bg-color: var(--color-main-3);
			--bd-color: var(--color-main-3);
			--text-color: var(--color-main-3);
		}
	}

	&.btn-color\:sub-1 {
		--bg-color: var(--color-sub-1);
		--bd-color: var(--color-sub-1);
		--text-color: var(--color-base-1);

		
		&:hover {
			/* --bg-color-hover: var(--color-sub-1); */
			--bd-color-hover: var(--color-sub-2);
			--text-color: var(--color-base-1);
		}

		&:active {
			/* --bg-color: var(--color-sub-3); */
			--bd-color: var(--color-sub-3);
			--text-color: var(--color-sub-3);
		}
	}

	&.btn-color\:accent-1 {
		--bg-color: var(--color-accent-1);
		--bd-color: var(--color-accent-1);
		--text-color: var(--color-base-1);
		&:hover {
			/* --bg-color-hover: var(--color-accent-2); */
			--bd-color-hover: var(--color-accent-2);
			--text-color: var(--color-base-1);
		}

		&:active {
			--bg-color: var(--color-accent-3);
			--bd-color: var(--color-accent-3);
			--text-color: var(--color-accent-3);
		}
	}
}

@media (min-width: 640px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {
	/* XL 브레이크포인트용 스타일 추가 가능 */
}

