:is(
    .n-panel,
    .n-bar,
    .n-header,    
    .n-footer,    
    .n-aside,
    aside
    ).n-bg{
    --opacity: var(--opacity-0);

    background-image: linear-gradient(                        
            rgba(var(--rgb-base-10),var(--opacity)),
            rgba(var(--rgb-base-10),var(--opacity))
        ),
        var(--bg-img, "");

    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-attachment: fixed, fixed;
    background-position: center, center top;
}
:is(.n-panel,.n-bar,.n-header,header,.n-footer,footer,.n-aside,aside).n-bg-opacity\:0{
    --opacity: var(--opacity-0);
}
:is(.n-panel,.n-bar,.n-header,header,.n-footer,footer,.n-aside,aside).n-bg-opacity\:1{
    --opacity: var(--opacity-1);
}
:is(.n-panel,.n-bar,.n-header,header,.n-footer,footer,.n-aside,aside).n-bg-opacity\:2{
    --opacity: var(--opacity-2);
}
:is(.n-panel,.n-bar,.n-header,header,.n-footer,footer,.n-aside,aside).n-bg-opacity\:3{
    --opacity: var(--opacity-3);
}
:is(.n-panel,.n-bar,.n-header,header,.n-footer,footer,.n-aside,aside).n-bg-opacity\:4{
    --opacity: var(--opacity-4);
}
:is(.n-panel,.n-bar,.n-header,header,.n-footer,footer,.n-aside,aside).n-bg-opacity\:5{
    --opacity: var(--opacity-5);
}
:is(.n-panel,.n-bar,.n-header,header,.n-footer,footer,.n-aside,aside).n-bg-opacity\:6{
    --opacity: var(--opacity-6);
}
:is(.n-panel,.n-bar,.n-header,header,.n-footer,footer,.n-aside,aside).n-bg-opacity\:7{
    --opacity: var(--opacity-7);
}
:is(.n-panel,.n-bar,.n-header,header,.n-footer,footer,.n-aside,aside).n-bg-opacity\:8{
    --opacity: var(--opacity-8);
}
:is(.n-panel,.n-bar,.n-header,header,.n-footer,footer,.n-aside,aside).n-bg-opacity\:9{
    --opacity: var(--opacity-9); 
}
:is(.n-panel,.n-bar,.n-header,header,.n-footer,footer,.n-aside,aside).n-bg-opacity\:10{
    --opacity: var(--opacity-10);
}