/* ───────────────────────────────────

* ───────────────────────────────────    */

.n-deco {
	
	--deco-gap: 4px;

	width: auto;
	text-indent: initial;
	text-align: center;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	gap: var(--deco-gap);

	&::before {
		/* --- 아이콘을 위한 설정 ---- */
		font-family: "Material Symbols Outlined";
		font-size: var(--icon-size);

		width: var(--icon-size);
		height: var(--icon-size);
		overflow: hidden;

		display: inline-flex;
		flex-shrink: 0;
		justify-content: center;
		align-items: center;
	}
}

/* deco-position ------------------------------------------------- */

.deco-pos\:top,
.deco-pos\:bottom {
	flex-direction: column;
	height: auto;
	gap: 0;
}

:is(li, dt, dd, td, th, div):has(> .deco-pos\:top),
:is(li, dt, dd, td, th, div):has(> .deco-pos\:bottom) {
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

.deco-pos\:left::before,
.deco-pos\:top::before {
	order: unset;
}

.deco-pos\:right::before,
.deco-pos\:bottom::before {
	order: 1;
}

.deco-pos\:top,
.deco-pos\:bottom {
	width: auto;
}

:not(.n-deco).deco-pos\:left,
:not(.n-deco).deco-pos\:right,
:not(.n-deco).deco-pos\:top,
:not(.n-deco).deco-pos\:bottom {
	flex-direction: row;
	/* height: var(--icon-size);
  width: var(--icon-size); */
	position: relative;
	overflow: visible;

	display: flex;
	align-items: center;
	justify-content: center;
}

:not(.n-deco).deco-pos\:left::before,
:not(.n-deco).deco-pos\:right::before,
:not(.n-deco).deco-pos\:top::before,
:not(.n-deco).deco-pos\:bottom::before {
	font-family: Arial, Helvetica, sans-serif;
	content: "Error: n-deco is missing.";
	/* content: "에러 데코 클래스가 빠졌습니다."; */
	display: flex;

	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 100%;
	border: 1px solid red;
	font-size: 12px;
	color: red;
}

/* ---- deco-gap ------------------------------------------------- */

.deco-gap\:0 {
	--deco-gap: 0px;
}

.deco-gap\:1 {
	--deco-gap: 5px;
}

.deco-gap\:2 {
	--deco-gap: 10px;
}

@media screen and (min-width: 576px) {
	.sm\:n-deco {
		--deco-gap: 10px;
		--deco-size: 24px;

		width: auto;
		text-indent: initial;
		text-align: center;
		gap: var(--deco-gap);
	}

	/* deco-position ------------------------------------------------- */
	.sm\:deco-pos\:top,
	.sm\:deco-pos\:bottom {
		flex-direction: column;
		height: auto;
		gap: 0;
	}

	:is(li, dt, dd, td, th, div):has(> .sm\:deco-pos\:top),
	:is(li, dt, dd, td, th, div):has(> .sm\:deco-pos\:bottom) {
		height: auto;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.sm\:deco-pos\:left,
	.sm\:deco-pos\:top {
		&::before {
			order: unset;
		}
	}

	.sm\:deco-pos\:right::before,
	.sm\:deco-pos\:bottom::before {
		order: 1;
	}

	.sm\:deco-pos\:left,
	.sm\:deco-pos\:right {
		flex-direction: row;
		gap: var(--deco-gap);
	}

	/* ---- deco-gap ------------------------------------------------- */

	.sm\:deco-gap\:0 {
		--deco-gap: 0px;
	}

	.sm\:deco-gap\:1 {
		--deco-gap: 5px;
	}

	.sm\:deco-gap\:2 {
		--deco-gap: 10px;
	}
}

@media screen and (min-width: 768px) {
	.md\:n-deco {
		--deco-gap: 10px;
		--deco-size: 24px;

		width: auto;
		text-indent: initial;
		text-align: center;
		gap: var(--deco-gap);
	}

	/* deco-position ------------------------------------------------- */
	.md\:deco-pos\:top,
	.md\:deco-pos\:bottom {
		flex-direction: column;
		height: auto;
		gap: 0;
	}

	:is(li, dt, dd, td, th, div):has(> .md\:deco-pos\:top),
	:is(li, dt, dd, td, th, div):has(> .md\:deco-pos\:bottom) {
		height: auto;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.md\:deco-pos\:left,
	.md\:deco-pos\:top {
		&::before {
			order: unset;
		}
	}

	.md\:deco-pos\:right::before,
	.md\:deco-pos\:bottom::before {
		order: 1;
	}

	.md\:deco-pos\:left,
	.md\:deco-pos\:right {
		flex-direction: row;
		gap: var(--deco-gap);
	}

	/* ---- deco-gap ------------------------------------------------- */

	.md\:deco-gap\:0 {
		--deco-gap: 0px;
	}

	.md\:deco-gap\:1 {
		--deco-gap: 5px;
	}

	.md\:deco-gap\:2 {
		--deco-gap: 10px;
	}
}

@media screen and (min-width: 992px) {
	.lg\:n-deco {
		--deco-gap: 10px;
		--deco-size: 24px;

		width: auto;
		text-indent: initial;
		text-align: center;
		gap: var(--deco-gap);
	}

	/* deco-position ------------------------------------------------- */
	.lg\:deco-pos\:top,
	.lg\:deco-pos\:bottom {
		flex-direction: column;
		height: auto;
		gap: 0;
	}

	:is(li, dt, dd, td, th, div):has(> .lg\:deco-pos\:top),
	:is(li, dt, dd, td, th, div):has(> .lg\:deco-pos\:bottom) {
		height: auto;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.lg\:deco-pos\:left,
	.lg\:deco-pos\:top {
		&::before {
			order: unset;
		}
	}

	.lg\:deco-pos\:right::before,
	.lg\:deco-pos\:bottom::before {
		order: 1;
	}

	.lg\:deco-pos\:left,
	.lg\:deco-pos\:right {
		flex-direction: row;
		gap: var(--deco-gap);
	}

	/* ---- deco-gap ------------------------------------------------- */

	.lg\:deco-gap\:0 {
		--deco-gap: 0px;
	}

	.lg\:deco-gap\:1 {
		--deco-gap: 5px;
	}

	.lg\:deco-gap\:2 {
		--deco-gap: 10px;
	}
}

@media screen and (min-width: 1200px) {
	.xl\:n-deco {
		--deco-gap: 10px;
		--deco-size: 24px;

		width: auto;
		text-indent: initial;
		text-align: center;
		gap: var (--deco-gap);
	}

	/* deco-position ------------------------------------------------- */
	.xl\:deco-pos\:top,
	.xl\:deco-pos\:bottom {
		flex-direction: column;
		height: auto;
		gap: 0;
	}

	:is(li, dt, dd, td, th, div):has(> .xl\:deco-pos\:top),
	:is(li, dt, dd, td, th, div):has(> .xl\:deco-pos\:bottom) {
		height: auto;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.xl\:deco-pos\:left,
	.xl\:deco-pos\:top {
		&::before {
			order: unset;
		}
	}

	.xl\:deco-pos\:right::before,
	.xl\:deco-pos\:bottom::before {
		order: 1;
	}

	.xl\:deco-pos\:left,
	.xl\:deco-pos\:right {
		flex-direction: row;
		gap: var(--deco-gap);
	}

	/* ---- deco-gap ------------------------------------------------- */

	.xl\:deco-gap\:0 {
		--deco-gap: 0px;
	}

	.xl\:deco-gap\:1 {
		--deco-gap: 5px;
	}

	.xl\:deco-gap\:2 {
		--deco-gap: 10px;
	}
}
