.n-footer{
    /* --footer-height */
    /* --border-width */
    /* --footer-padding */

    height: var(--footer-height, auto);
    flex-shrink: 0;

    border-top: var(--border-width, 1px) solid var(--border-color, --color-base-3);
    padding: var(--footer-padding, var(--space-5));

    display: flex;
    flex-direction: column
}