/*
<type>───────────────────────────────────

.n-header
.n-header:sticky

<option>───────────────────────────────────

.content-pos:left, center, right
.menu-pos:left, right
.logo-pos:left, center, right

<example>───────────────────────────────────


<header class="n-header">
</header>
+-------------------------------------------------------------+
| Logo                                                        |
+-------------------------------------------------------------+
+-------------------------------------------------------------+
|| Logo           .content                |                   |
+-------------------------------------------------------------+
<header class="n-header content-pos\:center">
</header>
+-------------------------------------------------------------+
| Logo                                                        |
+-------------------------------------------------------------+
+-------------------------------------------------------------+
|         | Logo           .content                |          |
+-------------------------------------------------------------+
*/

:is(
    .n-header,
    .n-header\:sticky
){
    background-color: var(--color-base-1);
    height: var(--header-height, 64px);
    flex-shrink: 0;
    grid-area: header;
    /* border-bottom: var(--header-border-width, 1px) solid var(--header-border-color, --color-base-3); */
    box-shadow: 1px 1px 1px var(--header-border-color, --color-base-3);
    padding: 0 var(--header-padding, var(--gap-5));
    
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    >:is(h1, .title){
        font-size: 24px;
        font-weight: bold;
    }
       
    >:is(.nav, nav){
        right: var(--gap-5);
        
        position: absolute;
        display: flex;      

        >ul{
            display: flex;
            align-items: center;
        }

        /* ---- menu visibility ------ */
        >ul.hide{
            display: none;
        }
        >ul.show{
            display: flex;
        }
    }

    >.content{
        position: relative;
        width: var(--header-content-width, 1200px);
        /* margin: 0 auto; */

        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        
        >:is(h1, .title){
            font-size: 24px;
            font-weight: 700;
        }
        /* 
        >h1,
        >.title{
            font-size: 24px;
            font-weight: 700;            
        } */
        
        >:is(.nav, nav){
            right: 0;
            
            position: absolute;
            display: flex;            

            >ul{
                display: flex;
                align-items: center;
            }
        }
        /* >.nav,
        >nav{
            right: 0;
            
            position: absolute;
            display: flex;            

            >ul{
                display: flex;
                align-items: center;
            }
        } */

        /* ---- menu visibility ------ */
        >ul.hide{
            display: none;
        }
        >ul.show{
            display: flex;
        }
    }    
}

/* --- type --------------------------------------- */
.n-header\:sticky{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* === options ============================================ */
/* --- content-pos --------------------------------------- */

.n-header.content-pos\:left{
    >.content{        
        margin: initial;
    }
}

.n-header.content-pos\:center{
    >.content{
        margin: 0 auto;
    }
}

.n-header.content-pos\:right{
    >.content{        
        margin-left: auto;
    }
}


/* ---- menu alignment -------------------------------------------- */
.n-header.menu-pos\:right{

    >:is(.nav, nav){
        left:initial;
        right: var(--gap-5);
    }

    >.content{

        >:is(.nav, nav){
            left:initial;
            right: 0;
        }       
    }
}

.n-header.menu-pos\:left{
    >:is(.nav, nav){
        left: 0;
        right: initial;
    }

    >.content{
        >:is(.nav, nav){
            left: 0;
            right: initial;
        }
    }
}

/* ---- title alignment -------------------------------------------- */

.n-header.logo-pos\:left{
    >.title,
    >h1{
        margin: 0 auto 0 0;
    }

    >.content{
        >:is(.title, h1){
            margin: 0 auto 0 0;
        }
       
    }
}

.n-header.logo-pos\:center{
    >.title,
    >h1{
        margin: 0 auto;
    }

    >.content{
        >:is(.title, h1){
            margin: 0 auto;
        }
       
    }
}

.n-header.logo-pos\:right{
    >.title,
    >h1{
        margin: 0 0 0 auto;
    }

    >.content{
        >.title,
        >h1{
            margin: 0 0 0 auto;
        }       
    }
}





@media screen and (min-width: 768px) {

    
}