:root {
    --heading-font-size: var(--font-size-7);
}

@media (prefers-color-scheme: dark) {
	:root {
		
	}
}


.n-heading {
    /* display: block; */
  

    font-size: var(--heading-font-size);
    font-weight: bold;
    unicode-bidi: isolate;

    display: flex;
    align-items: center;

    
    .heading-truncate{
        
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: normal;
        white-space: nowrap;
        text-wrap: nowrap;
        
        >a{    
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: normal;
            white-space: nowrap;
            text-wrap: nowrap;
        }
        
    } 

    .heading-overflow-clamp {
        width: 100%;
        text-wrap: nowrap;
        /* this code clamps based on specified lines */
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        display: -webkit-box;
    }

    
}

