/**
 * height
 * min-height
 * max-height
 */

/* ---- height ------------------------------------------------- */
.n-height\:0,
.n-h\:0 {
	height: var(--height-0);
}
.n-height\:1,
.n-h\:1 {
	height: var(--height-1);
}
.n-height\:2,
.n-h\:2 {
	height: var(--height-2);
}
.n-height\:3,
.n-h\:3 {
	height: var(--height-3);
}
.n-height\:4,
.n-h\:4 {
	height: var(--height-4);
}
.n-height\:5,
.n-h\:5 {
	height: var(--height-5);
}
.n-height\:6,
.n-h\:6 {
	height: var(--height-6);
}
.n-height\:7,
.n-h\:7 {
	height: var(--height-7);
}
.n-height\:8,
.n-h\:8 {
	height: var(--height-8);
}
.n-height\:9,
.n-h\:9 {
	height: var(--height-9);
}
.n-height\:10,
.n-h\:10 {
	height: var(--height-10);
}
.n-height\:1p,
.n-h\:1p {
	height: var(--height-percent-1);
}
.n-height\:2p,
.n-h\:2p {
	height: var(--height-percent-2);
}
.n-height\:3p,
.n-h\:3p {
	height: var(--height-percent-3);
}
.n-height\:4p,
.n-h\:4p {
	height: var(--height-percent-4);
}
.n-height\:5p,
.n-h\:5p {
	height: var(--height-percent-5);
}
.n-height\:6p,
.n-h\:6p {
	height: var(--height-percent-6);
}
.n-height\:7p,
.n-h\:7p {
	height: var(--height-percent-7);
}
.n-height\:8p,
.n-h\:8p {
	height: var(--height-percent-8);
}
.n-height\:9p,
.n-h\:9p {
	height: var(--height-percent-9);
}
.n-height\:10p,
.n-h\:10p {
	height: var(--height-percent-10);
}
.n-height\:1\/2,
.n-h\:1\/2 {
	height: 50%;
}
.n-height\:1\/3,
.n-h\:1\/3 {
	height: 33%;
}
.n-height\:2\/3,
.n-h\:2\/3 {
	height: 66%;
}
.n-height\:1\/4,
.n-h\:1\/4 {
	height: 25%;
}
.n-height\:2\/4,
.n-h\:2\/4 {
	height: 50%;
}
.n-height\:3\/4,
.n-h\:3\/4 {
	height: 75%;
}
.n-height\:1\/5,
.n-h\:1\/5 {
	height: 20%;
}
.n-height\:2\/5,
.n-h\:2\/5 {
	height: 40%;
}
.n-height\:3\/5,
.n-h\:3\/5 {
	height: 60%;
}
.n-height\:4\/5,
.n-h\:4\/5 {
	height: 80%;
}
.n-height\:100p,
.n-h\:100p {
	height: 100%;
}
.n-height\:100vh,
.n-h\:100vh {
	height: 100vh;
}
.n-height\:100svh,
.n-h\:100svh {
	height: 100svh;
}
.n-height\:100lvh,
.n-h\:100lvh {
	height: 100lvh;
}
.n-height\:100dvh,
.n-h\:100dvh {
	height: 100dvh;
}
.n-height\:min-content,
.n-h\:min-content {
	height: min-content;
}
.n-height\:max-content,
.n-h\:max-content {
	height: max-content;
}
.n-height\:fit-content,
.n-h\:fit-content {
	height: fit-content;
}
.n-height\:auto,
.n-h\:auto {
	height: auto;
}
.n-height\:unset,
.n-h\:unset {
	height: unset;
}
.n-height\:ex,
.n-h\:ex {
	height: var(--height-ex);
}

@media (min-width: 576px) {
	.sm\:n-height\:0,
	.sm\:n-h\:0 {
		height: var(--height-0);
	}
	.sm\:n-height\:1,
	.sm\:n-h\:1 {
		height: var(--height-1);
	}
	.sm\:n-height\:2,
	.sm\:n-h\:2 {
		height: var(--height-2);
	}
	.sm\:n-height\:3,
	.sm\:n-h\:3 {
		height: var(--height-3);
	}
	.sm\:n-height\:4,
	.sm\:n-h\:4 {
		height: var(--height-4);
	}
	.sm\:n-height\:5,
	.sm\:n-h\:5 {
		height: var(--height-5);
	}
	.sm\:n-height\:6,
	.sm\:n-h\:6 {
		height: var(--height-6);
	}
	.sm\:n-height\:7,
	.sm\:n-h\:7 {
		height: var(--height-7);
	}
	.sm\:n-height\:8,
	.sm\:n-h\:8 {
		height: var(--height-8);
	}
	.sm\:n-height\:9,
	.sm\:n-h\:9 {
		height: var(--height-9);
	}
	.sm\:n-height\:10,
	.sm\:n-h\:10 {
		height: var(--height-10);
	}
	.sm\:n-height\:1p,
	.sm\:n-h\:1p {
		height: var(--height-percent-1);
	}
	.sm\:n-height\:2p,
	.sm\:n-h\:2p {
		height: var(--height-percent-2);
	}
	.sm\:n-height\:3p,
	.sm\:n-h\:3p {
		height: var(--height-percent-3);
	}
	.sm\:n-height\:4p,
	.sm\:n-h\:4p {
		height: var(--height-percent-4);
	}
	.sm\:n-height\:5p,
	.sm\:n-h\:5p {
		height: var(--height-percent-5);
	}
	.sm\:n-height\:6p,
	.sm\:n-h\:6p {
		height: var(--height-percent-6);
	}
	.sm\:n-height\:7p,
	.sm\:n-h\:7p {
		height: var(--height-percent-7);
	}
	.sm\:n-height\:8p,
	.sm\:n-h\:8p {
		height: var(--height-percent-8);
	}
	.sm\:n-height\:9p,
	.sm\:n-h\:9p {
		height: var(--height-percent-9);
	}
	.sm\:n-height\:10p,
	.sm\:n-h\:10p {
		height: var(--height-percent-10);
	}
	.sm\:n-height\:1\/2,
	.sm\:n-h\:1\/2 {
		height: 50%;
	}
	.sm\:n-height\:1\/3,
	.sm\:n-h\:1\/3 {
		height: 33%;
	}
	.sm\:n-height\:2\/3,
	.sm\:n-h\:2\/3 {
		height: 66%;
	}
	.sm\:n-height\:1\/4,
	.sm\:n-h\:1\/4 {
		height: 25%;
	}
	.sm\:n-height\:2\/4,
	.sm\:n-h\:2\/4 {
		height: 50%;
	}
	.sm\:n-height\:3\/4,
	.sm\:n-h\:3\/4 {
		height: 75%;
	}
	.sm\:n-height\:1\/5,
	.sm\:n-h\:1\/5 {
		height: 20%;
	}
	.sm\:n-height\:2\/5,
	.sm\:n-h\:2\/5 {
		height: 40%;
	}
	.sm\:n-height\:3\/5,
	.sm\:n-h\:3\/5 {
		height: 60%;
	}
	.sm\:n-height\:4\/5,
	.sm\:n-h\:4\/5 {
		height: 80%;
	}
	.sm\:n-height\:100p,
	.sm\:n-h\:100p {
		height: 100%;
	}
	.sm\:n-height\:100vh,
	.sm\:n-h\:100vh {
		height: 100vh;
	}
	.sm\:n-height\:100svh,
	.sm\:n-h\:100svh {
		height: 100svh;
	}
	.sm\:n-height\:100lvh,
	.sm\:n-h\:100lvh {
		height: 100lvh;
	}
	.sm\:n-height\:100dvh,
	.sm\:n-h\:100dvh {
		height: 100dvh;
	}
	.sm\:n-height\:min-content,
	.sm\:n-h\:min-content {
		height: min-content;
	}
	.sm\:n-height\:max-content,
	.sm\:n-h\:max-content {
		height: max-content;
	}
	.sm\:n-height\:fit-content,
	.sm\:n-h\:fit-content {
		height: fit-content;
	}
	.sm\:n-height\:auto,
	.sm\:n-h\:auto {
		height: auto;
	}
	.sm\:n-height\:unset,
	.sm\:n-h\:unset {
		height: unset;
	}
	.sm\:n-height\:ex,
	.sm\:n-h\:ex {
		height: var(--height-ex);
	}
}

/* Repeat similar changes for all other selectors in the file */
