/* ───────────────────────────────────
 * icon
 * deco
 * deco-position
 * deco-size
 * deco-margin
 * icon-size
 * icon-color
 * icon list
 * ───────────────────────────────────    */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.n-icon {
  /* icon */
  --icon-size-1: 12px;
  --icon-size-2: 16px;
  --icon-size-3: 18px;
  --icon-size-4: 20px;
  --icon-size-5: 24px;
  --icon-size-6: 30px;
  --icon-size-7: 32px;
  --icon-size-8: 40px;
  --icon-size-9: 48px;
  --icon-size-ex: 0;

  --icon-size: 24px;
  --icon-color: #000;

  display: inline-flex;
  width: var(--icon-size);
  height: var(--icon-size);
  overflow: hidden;
  align-items: center;

  visibility: visible;
}

.n-icon::before {
  /*icon 스타일*/

  flex-shrink: 0;

  content: "";
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: var(--icon-size);
  height: var(--icon-size);
  overflow: hidden;

  /* background-color: var(--icon-color);
  background-repeat: no-repeat;
  mask-size: var(--icon-size);
  mask-image: var(--icon); */

  font-family: "Material Symbols Outlined";
  font-size: var(--icon-size);
}

/* === style  =============================== */

.n-icon-style\:outlined::before {
  font-family: "Material Symbols Outlined";
}

.n-icon-style\:filled::before {
  font-variation-settings: "FILL" 1;
}

.n-icon-style\:rounded::before {
  font-family: "Material Symbols Rounded";
}

.n-icon-style\:sharp::before {
  font-family: "Material Symbols Sharp";
}

/* === color ======================================= */
/*
main 1/2/3
sub 1/2/3
accent 1/2/3
base 1/2/3/4/5/6/7/8/9/10*/

.n-icon-color\:main-1::before {
  color: var(--color-main-1);
}

.n-icon-color\:main-2::before {
  color: var(--color-main-2);
}

.n-icon-color\:main-3::before {
  color: var(--color-main-3);
}

.n-icon-color\:sub-1::before {
  color: var(--color-sub-1);
}

.n-icon-color\:sub-2::before {
  color: var(--color-sub-2);
}

.n-icon-color\:sub-3::before {
  color: var(--color-sub-3);
}

.n-icon-color\:accent-1::before {
  color: var(--color-accent-1);
}

.n-icon-color\:accent-2::before {
  color: var(--color-accent-2);
}

.n-icon-color\:accent-3::before {
  color: var(--color-accent-3);
}

.n-icon-color\:base-1::before {
  color: var(--color-base-1);
}

.n-icon-color\:base-2::before {
  color: var(--color-base-2);
}

.n-icon-color\:base-3::before {
  color: var(--color-base-3);
}

.n-icon-color\:base-4::before {
  color: var(--color-base-4);
}

.n-icon-color\:base-5::before {
  color: var(--color-base-5);
}

.n-icon-color\:base-6::before {
  color: var(--color-base-6);
}

.n-icon-color\:base-7::before {
  color: var(--color-base-7);
}

.n-icon-color\:base-8::before {
  color: var(--color-base-8);
}

.n-icon-color\:base-9::before {
  color: var(--color-base-9);
}

.n-icon-color\:base-10::before {
  color: var(--color-base-10);
}

/* ---- icon-size ------------------------------------------------- */

.n-icon-size\:1 {
  --icon-size: var(--icon-size-1);
}

.n-icon-size\:1::before {
  font-size: var(--icon-size-1);
}

.n-icon-size\:2 {
  --icon-size: var(--icon-size-2);
}

.n-icon-size\:2::before {
  font-size: var(--icon-size-2);
}

.n-icon-size\:3 {
  --icon-size: var(--icon-size-3);
}

.n-icon-size\:3::before {
  font-size: var(--icon-size-3);
}

.n-icon-size\:4 {
  --icon-size: var(--icon-size-4);
}

.n-icon-size\:4::before {
  font-size: var(--icon-size-4);
}

.n-icon-size\:5 {
  --icon-size: var(--icon-size-5);
}

.n-icon-size\:5::before {
  font-size: var(--icon-size-5);
}

.n-icon-size\:6 {
  --icon-size: var(--icon-size-6);
}

.n-icon-size\:6::before {
  font-size: var(--icon-size-6);
}

.n-icon-size\:7 {
  --icon-size: var(--icon-size-7);
}

.n-icon-size\:7::before {
  font-size: var(--icon-size-7);
}

.n-icon-size\:8 {
  --icon-size: var(--icon-size-8);
}

.n-icon-size\:8::before {
  font-size: var(--icon-size-8);
}

.n-icon-size\:9 {
  --icon-size: var(--icon-size-9);
}

.n-icon-size\:ex {
  --icon-size: var(--icon-size-ex);
}

.n-icon-size\:ex::before {
  font-size: var(--icon-size-ex);
}


/* === decoration ========================= */
.n-deco {
  --deco-gap: 10px;
  --deco-size: 24px;

  width: auto;
  text-indent: initial;
  text-align: center;
  gap: var(--deco-gap);
}

/* deco-position ------------------------------------------------- */
.n-deco-pos\:top,
.n-deco-pos\:bottom {
  flex-direction: column;
  height: auto;
  gap: 0;
}

:is(li, dt, dd, td, th, div):has(> .n-deco-pos\:top),
:is(li, dt, dd, td, th, div):has(> .n-deco-pos\:bottom) {
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.n-deco-pos\:left::before,
.n-deco-pos\:top::before {
  order: unset;
}

.n-deco-pos\:right::before,
.n-deco-pos\:bottom::before {
  order: 1;
}

/* ---- deco-gap ------------------------------------------------- */

.n-deco-gap\:0 {
  --deco-gap: 0px;
}

.n-deco-gap\:1 {
  --deco-gap: 5px;
}

.n-deco-gap\:2 {
  --deco-gap: 10px;
}

@media screen and (min-width: 576px) {
  .sm\:n-icon {
    /* icon */
    --icon-size-1: 12px;
    --icon-size-2: 16px;
    --icon-size-3: 18px;
    --icon-size-4: 20px;
    --icon-size-5: 24px;
    --icon-size-6: 30px;
    --icon-size-7: 32px;
    --icon-size-8: 40px;
    --icon-size-9: 48px;
    --icon-size-ex: 0;

    --icon-size: 24px;
    --icon-color: #000;

    display: inline-flex;
    width: var(--icon-size);
    height: var(--icon-size);
    overflow: hidden;
    align-items: center;
  }

  .sm\:n-icon::before {
    /*icon 스타일*/

    content: "\e87d";
    /* favorite 아이콘의 유니코드 값 */
    font-family: "Material Symbols Outlined";
    font-size: var(--icon-size);
  }

  /* === color ======================================= */
  /*
  main 1/2/3
  sub 1/2/3
  accent 1/2/3
  base 1/2/3/4/5/6/7/8/9/10*/

  .sm\:n-icon-color\:main-1::before {
    color: var(--color-main-1);
  }

  .sm\:n-icon-color\:main-2::before {
    color: var(--color-main-2);
  }

  .sm\:n-icon-color\:main-3::before {
    color: var(--color-main-3);
  }

  .sm\:n-icon-color\:sub-1::before {
    color: var(--color-sub-1);
  }

  .sm\:n-icon-color\:sub-2::before {
    color: var(--color-sub-2);
  }

  .sm\:n-icon-color\:sub-3::before {
    color: var(--color-sub-3);
  }

  .sm\:n-icon-color\:accent-1::before {
    color: var(--color-accent-1);
  }

  .sm\:n-icon-color\:accent-2::before {
    color: var(--color-accent-2);
  }

  .sm\:n-icon-color\:accent-3::before {
    color: var(--color-accent-3);
  }

  .sm\:n-icon-color\:base-1::before {
    color: var(--color-base-1);
  }

  .sm\:n-icon-color\:base-2::before {
    color: var(--color-base-2);
  }

  .sm\:n-icon-color\:base-3::before {
    color: var(--color-base-3);
  }

  .sm\:n-icon-color\:base-4::before {
    color: var(--color-base-4);
  }

  .sm\:n-icon-color\:base-5::before {
    color: var(--color-base-5);
  }

  .sm\:n-icon-color\:base-6::before {
    color: var(--color-base-6);
  }

  .sm\:n-icon-color\:base-7::before {
    color: var(--color-base-7);
  }

  .sm\:n-icon-color\:base-8::before {
    color: var(--color-base-8);
  }

  .sm\:n-icon-color\:base-9::before {
    color: var(--color-base-9);
  }

  .sm\:n-icon-color\:base-10::before {
    color: var(--color-base-10);
  }

  /* ---- icon-size ------------------------------------------------- */
  .sm\:n-icon-size\:1::before {
    font-size: var(--icon-size-1);
  }

  .sm\:n-icon-size\:2::before {
    font-size: var(--icon-size-2);
  }

  .sm\:n-icon-size\:3::before {
    font-size: var(--icon-size-3);
  }

  .sm\:n-icon-size\:4::before {
    font-size: var(--icon-size-4);
  }

  .sm\:n-icon-size\:5::before {
    font-size: var(--icon-size-5);
  }

  .sm\:n-icon-size\:6::before {
    /* --icon-size: var(--icon-size-6); */
    font-size: var(--icon-size-6);
  }

  .sm\:n-icon-size\:7::before {
    font-size: var(--icon-size-7);
  }

  .sm\:n-icon-size\:8::before {
    font-size: var(--icon-size-8);
  }

  .sm\:n-icon-size\:9::before {
    font-size: var(--icon-size-9);
  }

  .sm\:n-icon-size\:ex::before {
    font-size: var(--icon-size-ex);
  }

  /* === decoration ========================= */
  .sm\:n-deco {
    --deco-gap: 10px;
    --deco-size: 24px;

    width: auto;
    text-indent: initial;
    text-align: center;
    gap: var(--deco-gap);
  }

  /* deco-position ------------------------------------------------- */
  .sm\:n-deco-pos\:top,
  .sm\:n-deco-pos\:bottom {
    flex-direction: column;
    height: auto;
    gap: 0;
  }

  :is(li, dt, dd, td, th, div):has(> .sm\:n-deco-pos\:top),
  :is(li, dt, dd, td, th, div):has(> .sm\:n-deco-pos\:bottom) {
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .sm\:n-deco-pos\:left,
  .sm\:n-deco-pos\:top {
    &::before {
      order: unset;
    }
  }

  .sm\:n-deco-pos\:right::before,
  .sm\:n-deco-pos\:bottom::before {
    order: 1;
  }

  .sm\:n-deco-pos\:left,
  .sm\:n-deco-pos\:right {
    flex-direction: row;
    gap: var(--deco-gap);
  }

  /* ---- deco-gap ------------------------------------------------- */

  .sm\:n-deco-gap\:0 {
    --deco-gap: 0px;
  }

  .sm\:n-deco-gap\:1 {
    --deco-gap: 5px;
  }

  .sm\:n-deco-gap\:2 {
    --deco-gap: 10px;
  }
}

@media screen and (min-width: 768px) {
  .md\:n-icon {
    /* icon */
    --icon-size-1: 12px;
    --icon-size-2: 16px;
    --icon-size-3: 18px;
    --icon-size-4: 20px;
    --icon-size-5: 24px;
    --icon-size-6: 30px;
    --icon-size-7: 32px;
    --icon-size-8: 40px;
    --icon-size-9: 48px;
    --icon-size-ex: 0;

    --icon-size: 24px;
    --icon-color: #000;

    display: inline-flex;
    width: var(--icon-size);
    height: var(--icon-size);
    overflow: hidden;
    align-items: center;
  }

  .md\:n-icon::before {
    /*icon 스타일*/

    font-family: "Material Symbols Outlined";
    font-size: var(--icon-size);
  }

  /* === color ======================================= */
  /*
  main 1/2/3
  sub 1/2/3
  accent 1/2/3
  base 1/2/3/4/5/6/7/8/9/10*/

  .md\:n-icon-color\:main-1::before {
    color: var(--color-main-1);
  }

  .md\:n-icon-color\:main-2::before {
    color: var(--color-main-2);
  }

  .md\:n-icon-color\:main-3::before {
    color: var(--color-main-3);
  }

  .md\:n-icon-color\:sub-1::before {
    color: var(--color-sub-1);
  }

  .md\:n-icon-color\:sub-2::before {
    color: var(--color-sub-2);
  }

  .md\:n-icon-color\:sub-3::before {
    color: var(--color-sub-3);
  }

  .md\:n-icon-color\:accent-1::before {
    color: var(--color-accent-1);
  }

  .md\:n-icon-color\:accent-2::before {
    color: var(--color-accent-2);
  }

  .md\:n-icon-color\:accent-3::before {
    color: var(--color-accent-3);
  }

  .md\:n-icon-color\:base-1::before {
    color: var(--color-base-1);
  }

  .md\:n-icon-color\:base-2::before {
    color: var(--color-base-2);
  }

  .md\:n-icon-color\:base-3::before {
    color: var(--color-base-3);
  }

  .md\:n-icon-color\:base-4::before {
    color: var(--color-base-4);
  }

  .md\:n-icon-color\:base-5::before {
    color: var(--color-base-5);
  }

  .md\:n-icon-color\:base-6::before {
    color: var(--color-base-6);
  }

  .md\:n-icon-color\:base-7::before {
    color: var(--color-base-7);
  }

  .md\:n-icon-color\:base-8::before {
    color: var(--color-base-8);
  }

  .md\:n-icon-color\:base-9::before {
    color: var(--color-base-9);
  }

  .md\:n-icon-color\:base-10::before {
    color: var(--color-base-10);
  }

  /* ---- icon-size ------------------------------------------------- */
  .md\:n-icon-size\:1::before {
    font-size: var(--icon-size-1);
  }

  .md\:n-icon-size\:2::before {
    font-size: var(--icon-size-2);
  }

  .md\:n-icon-size\:3::before {
    font-size: var(--icon-size-3);
  }

  .md\:n-icon-size\:4::before {
    font-size: var(--icon-size-4);
  }

  .md\:n-icon-size\:5::before {
    font-size: var(--icon-size-5);
  }

  .md\:n-icon-size\:6::before {
    /* --icon-size: var(--icon-size-6); */
    font-size: var(--icon-size-6);
  }

  .md\:n-icon-size\:7::before {
    font-size: var(--icon-size-7);
  }

  .md\:n-icon-size\:8::before {
    font-size: var(--icon-size-8);
  }

  .md\:n-icon-size\:9::before {
    font-size: var(--icon-size-9);
  }

  .md\:n-icon-size\:ex::before {
    font-size: var(--icon-size-ex);
  }

  /* === decoration ========================= */
  .md\:n-deco {
    --deco-gap: 10px;
    --deco-size: 24px;

    width: auto;
    text-indent: initial;
    text-align: center;
    gap: var(--deco-gap);
  }

  /* deco-position ------------------------------------------------- */
  .md\:n-deco-pos\:top,
  .md\:n-deco-pos\:bottom {
    flex-direction: column;
    height: auto;
    gap: 0;
  }

  :is(li, dt, dd, td, th, div):has(> .md\:n-deco-pos\:top),
  :is(li, dt, dd, td, th, div):has(> .md\:n-deco-pos\:bottom) {
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .md\:n-deco-pos\:left,
  .md\:n-deco-pos\:top {
    &::before {
      order: unset;
    }
  }

  .md\:n-deco-pos\:right::before,
  .md\:n-deco-pos\:bottom::before {
    order: 1;
  }

  .md\:n-deco-pos\:left,
  .md\:n-deco-pos\:right {
    flex-direction: row;
    gap: var(--deco-gap);
  }

  /* ---- deco-gap ------------------------------------------------- */

  .md\:n-deco-gap\:0 {
    --deco-gap: 0px;
  }

  .md\:n-deco-gap\:1 {
    --deco-gap: 5px;
  }

  .md\:n-deco-gap\:2 {
    --deco-gap: 10px;
  }
}

@media screen and (min-width: 992px) {
  .lg\:n-icon {
    /* icon */
    --icon-size-1: 12px;
    --icon-size-2: 16px;
    --icon-size-3: 18px;
    --icon-size-4: 20px;
    --icon-size-5: 24px;
    --icon-size-6: 30px;
    --icon-size-7: 32px;
    --icon-size-8: 40px;
    --icon-size-9: 48px;
    --icon-size-ex: 0;

    --icon-size: 24px;
    --icon-color: #000;

    display: inline-flex;
    width: var(--icon-size);
    height: var(--icon-size);
    overflow: hidden;
    align-items: center;
  }

  .lg\:n-icon::before {
    /*icon 스타일*/

    font-family: "Material Symbols Outlined";
    font-size: var(--icon-size);
  }

  /* === color ======================================= */
  /*
  main 1/2/3
  sub 1/2/3
  accent 1/2/3
  base 1/2/3/4/5/6/7/8/9/10*/

  .lg\:n-icon-color\:main-1::before {
    color: var(--color-main-1);
  }

  .lg\:n-icon-color\:main-2::before {
    color: var(--color-main-2);
  }

  .lg\:n-icon-color\:main-3::before {
    color: var(--color-main-3);
  }

  .lg\:n-icon-color\:sub-1::before {
    color: var(--color-sub-1);
  }

  .lg\:n-icon-color\:sub-2::before {
    color: var(--color-sub-2);
  }

  .lg\:n-icon-color\:sub-3::before {
    color: var(--color-sub-3);
  }

  .lg\:n-icon-color\:accent-1::before {
    color: var(--color-accent-1);
  }

  .lg\:n-icon-color\:accent-2::before {
    color: var(--color-accent-2);
  }

  .lg\:n-icon-color\:accent-3::before {
    color: var(--color-accent-3);
  }

  .lg\:n-icon-color\:base-1::before {
    color: var(--color-base-1);
  }

  .lg\:n-icon-color\:base-2::before {
    color: var(--color-base-2);
  }

  .lg\:n-icon-color\:base-3::before {
    color: var(--color-base-3);
  }

  .lg\:n-icon-color\:base-4::before {
    color: var(--color-base-4);
  }

  .lg\:n-icon-color\:base-5::before {
    color: var(--color-base-5);
  }

  .lg\:n-icon-color\:base-6::before {
    color: var(--color-base-6);
  }

  .lg\:n-icon-color\:base-7::before {
    color: var(--color-base-7);
  }

  .lg\:n-icon-color\:base-8::before {
    color: var(--color-base-8);
  }

  .lg\:n-icon-color\:base-9::before {
    color: var(--color-base-9);
  }

  .lg\:n-icon-color\:base-10::before {
    color: var(--color-base-10);
  }

  /* ---- icon-size ------------------------------------------------- */
  .lg\:n-icon-size\:1::before {
    font-size: var(--icon-size-1);
  }

  .lg\:n-icon-size\:2::before {
    font-size: var(--icon-size-2);
  }

  .lg\:n-icon-size\:3::before {
    font-size: var(--icon-size-3);
  }

  .lg\:n-icon-size\:4::before {
    font-size: var(--icon-size-4);
  }

  .lg\:n-icon-size\:5::before {
    font-size: var(--icon-size-5);
  }

  .lg\:n-icon-size\:6::before {
    /* --icon-size: var(--icon-size-6); */
    font-size: var(--icon-size-6);
  }

  .lg\:n-icon-size\:7::before {
    font-size: var(--icon-size-7);
  }

  .lg\:n-icon-size\:8::before {
    font-size: var(--icon-size-8);
  }

  .lg\:n-icon-size\:9::before {
    font-size: var(--icon-size-9);
  }

  .lg\:n-icon-size\:ex::before {
    font-size: var(--icon-size-ex);
  }

  /* === decoration ========================= */
  .lg\:n-deco {
    --deco-gap: 10px;
    --deco-size: 24px;

    width: auto;
    text-indent: initial;
    text-align: center;
    gap: var(--deco-gap);
  }

  /* deco-position ------------------------------------------------- */
  .lg\:n-deco-pos\:top,
  .lg\:n-deco-pos\:bottom {
    flex-direction: column;
    height: auto;
    gap: 0;
  }

  :is(li, dt, dd, td, th, div):has(> .lg\:n-deco-pos\:top),
  :is(li, dt, dd, td, th, div):has(> .lg\:n-deco-pos\:bottom) {
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .lg\:n-deco-pos\:left,
  .lg\:n-deco-pos\:top {
    &::before {
      order: unset;
    }
  }

  .lg\:n-deco-pos\:right::before,
  .lg\:n-deco-pos\:bottom::before {
    order: 1;
  }

  .lg\:n-deco-pos\:left,
  .lg\:n-deco-pos\:right {
    flex-direction: row;
    gap: var(--deco-gap);
  }

  /* ---- deco-gap ------------------------------------------------- */

  .lg\:n-deco-gap\:0 {
    --deco-gap: 0px;
  }

  .lg\:n-deco-gap\:1 {
    --deco-gap: 5px;
  }

  .lg\:n-deco-gap\:2 {
    --deco-gap: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .xl\:n-icon {
    /* icon */
    --icon-size-1: 12px;
    --icon-size-2: 16px;
    --icon-size-3: 18px;
    --icon-size-4: 20px;
    --icon-size-5: 24px;
    --icon-size-6: 30px;
    --icon-size-7: 32px;
    --icon-size-8: 40px;
    --icon-size-9: 48px;
    --icon-size-ex: 0;

    --icon-size: 24px;
    --icon-color: #000;

    display: inline-flex;
    width: var(--icon-size);
    height: var(--icon-size);
    overflow: hidden;
    align-items: center;
  }

  .xl\:n-icon::before {
    /*icon 스타일*/
    font-family: "Material Symbols Outlined";
    font-size: var(--icon-size);
  }

  /* === color ======================================= */
  /*
  main 1/2/3
  sub 1/2/3
  accent 1/2/3
  base 1/2/3/4/5/6/7/8/9/10*/

  .xl\:n-icon-color\:main-1::before {
    color: var(--color-main-1);
  }

  .xl\:n-icon-color\:main-2::before {
    color: var(--color-main-2);
  }

  .xl\:n-icon-color\:main-3::before {
    color: var(--color-main-3);
  }

  .xl\:n-icon-color\:sub-1::before {
    color: var(--color-sub-1);
  }

  .xl\:n-icon-color\:sub-2::before {
    color: var(--color-sub-2);
  }

  .xl\:n-icon-color\:sub-3::before {
    color: var(--color-sub-3);
  }

  .xl\:n-icon-color\:accent-1::before {
    color: var(--color-accent-1);
  }

  .xl\:n-icon-color\:accent-2::before {
    color: var(--color-accent-2);
  }

  .xl\:n-icon-color\:accent-3::before {
    color: var(--color-accent-3);
  }

  .xl\:n-icon-color\:base-1::before {
    color: var(--color-base-1);
  }

  .xl\:n-icon-color\:base-2::before {
    color: var(--color-base-2);
  }

  .xl\:n-icon-color\:base-3::before {
    color: var(--color-base-3);
  }

  .xl\:n-icon-color\:base-4::before {
    color: var(--color-base-4);
  }

  .xl\:n-icon-color\:base-5::before {
    color: var(--color-base-5);
  }

  .xl\:n-icon-color\:base-6::before {
    color: var(--color-base-6);
  }

  .xl\:n-icon-color\:base-7::before {
    color: var(--color-base-7);
  }

  .xl\:n-icon-color\:base-8::before {
    color: var(--color-base-8);
  }

  .xl\:n-icon-color\:base-9::before {
    color: var(--color-base-9);
  }

  .xl\:n-icon-color\:base-10::before {
    color: var(--color-base-10);
  }

  /* ---- icon-size ------------------------------------------------- */
  .xl\:n-icon-size\:1::before {
    font-size: var(--icon-size-1);
  }

  .xl\:n-icon-size\:2::before {
    font-size: var(--icon-size-2);
  }

  .xl\:n-icon-size\:3::before {
    font-size: var(--icon-size-3);
  }

  .xl\:n-icon-size\:4::before {
    font-size: var(--icon-size-4);
  }

  .xl\:n-icon-size\:5::before {
    font-size: var(--icon-size-5);
  }

  .xl\:n-icon-size\:6::before {
    /* --icon-size: var(--icon-size-6); */
    font-size: var(--icon-size-6);
  }

  .xl\:n-icon-size\:7::before {
    font-size: var(--icon-size-7);
  }

  .xl\:n-icon-size\:8::before {
    font-size: var(--icon-size-8);
  }

  .xl\:n-icon-size\:9::before {
    font-size: var(--icon-size-9);
  }

  .xl\:n-icon-size\:ex::before {
    font-size: var(--icon-size-ex);
  }

  /* === decoration ========================= */
  .xl\:n-deco {
    --deco-gap: 10px;
    --deco-size: 24px;

    width: auto;
    text-indent: initial;
    text-align: center;
    gap: var (--deco-gap);
  }

  /* deco-position ------------------------------------------------- */
  .xl\:n-deco-pos\:top,
  .xl\:n-deco-pos\:bottom {
    flex-direction: column;
    height: auto;
    gap: 0;
  }

  :is(li, dt, dd, td, th, div):has(> .xl\:n-deco-pos\:top),
  :is(li, dt, dd, td, th, div):has(> .xl\:n-deco-pos\:bottom) {
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .xl\:n-deco-pos\:left,
  .xl\:n-deco-pos\:top {
    &::before {
      order: unset;
    }
  }

  .xl\:n-deco-pos\:right::before,
  .xl\:n-deco-pos\:bottom::before {
    order: 1;
  }

  .xl\:n-deco-pos\:left,
  .xl\:n-deco-pos\:right {
    flex-direction: row;
    gap: var(--deco-gap);
  }

  /* ---- deco-gap ------------------------------------------------- */

  .xl\:n-deco-gap\:0 {
    --deco-gap: 0px;
  }

  .xl\:n-deco-gap\:1 {
    --deco-gap: 5px;
  }

  .xl\:n-deco-gap\:2 {
    --deco-gap: 10px;
  }
}