/* ───────────────────────────────────
 * icon
 * deco
 * deco-position
 * deco-size
 * deco-margin
 * icon-size
 * icon-color
 * icon list
 * ───────────────────────────────────    */


.n-icon {

  /* icon */
  --icon-size-1: 12px;
  --icon-size-2: 16px;
  --icon-size-3: 18px;
  --icon-size-4: 20px;
  --icon-size-5: 24px;
  --icon-size-6: 30px;
  --icon-size-7: 32px;
  --icon-size-8: 40px;
  --icon-size-9: 48px;
  --icon-size-ex: 0;

  --icon-size: 24px;
  --icon-color: #000;

  display: inline-flex;
  width: var(--icon-size);
  height: var(--icon-size);
  overflow: hidden;
  align-items: center;
}

.n-icon::before {
  /*icon 스타일*/

  flex-shrink: 0;

  content: "";
  display: inline-flex;
  width: var(--icon-size);
  height: var(--icon-size);
  overflow: hidden;

  background-color: var(--icon-color);
  background-repeat: no-repeat;
  mask-size: var(--icon-size);
  mask-image: var(--icon);
}



/* === color ======================================= */
/*
main 1/2/3
sub 1/2/3
accent 1/2/3
base 1/2/3/4/5/6/7/8/9/10*/

.n-icon-color\:main-1 {
  --icon-color: var(--color-main-1, #D86259);
}

.n-icon-color\:main-2 {
  --icon-color: var(--color-main-2, #905634);
}

.n-icon-color\:main-3 {
  --icon-color: var(--color-main-3, #5E2808);
}

.n-icon-color\:sub-1 {
  --icon-color: var(--color-sub-1, #F3E184);
}

.n-icon-color\:accent-1 {
  --icon-color: var(--color-accent-1, #334DCF);
}

/* ---- icon-size ------------------------------------------------- */
.n-icon-size\:1 {
  --icon-size: var(--icon-size-1);
}

.n-icon-size\:2 {
  --icon-size: var(--icon-size-2);
}

.n-icon-size\:3 {
  --icon-size: var(--icon-size-3);
}

.n-icon-size\:4 {
  --icon-size: var(--icon-size-4);
}

.n-icon-size\:5 {
  --icon-size: var(--icon-size-5);
}

.n-icon-size\:6 {
  --icon-size: var(--icon-size-6);
}

.n-icon-size\:7 {
  --icon-size: var(--icon-size-7);
}

.n-icon-size\:8 {
  --icon-size: var(--icon-size-8);
}

.n-icon-size\:9 {
  --icon-size: var(--icon-size-9);
}

.n-icon-size\:ex {
  --icon-size: var(--icon-size-ex);
}

/* ---- icon-color ------------------------------------------------- */
.n-icon-color\:main-1::before {
  background-color: var(--color-main-1);
}

.n-icon-color\:main-2::before {
  background-color: var(--color-main-2);
}

.n-icon-color\:main-3::before {
  background-color: var(--color-main-3);
}

.n-icon-color\:sub-1::before {
  background-color: var(--color-sub-1);
}

.n-icon-color\:sub-2::before {
  background-color: var(--color-sub-2);
}

.n-icon-color\:sub-3::before {
  background-color: var(--color-sub-3);
}

.n-icon-color\:accent-1::before {
  background-color: var(--color-accent-1);
}

.n-icon-color\:accent-2::before {
  background-color: var(--color-accent-2);
}

.n-icon-color\:accent-3::before {
  background-color: var(--color-accent-3);
}

.n-icon-color\:base-1::before {
  background-color: var(--color-base-1);
}

.n-icon-color\:base-2::before {
  background-color: var(--color-base-2);
}

.n-icon-color\:base-3::before {
  background-color: var(--color-base-3);
}

.n-icon-color\:base-4::before {
  background-color: var(--color-base-4);
}

.n-icon-color\:base-5::before {
  background-color: var(--color-base-5);
}

.n-icon-color\:base-6::before {
  background-color: var(--color-base-6);
}

.n-icon-color\:base-7::before {
  background-color: var(--color-base-7);
}

.n-icon-color\:base-8::before {
  background-color: var(--color-base-8);
}

.n-icon-color\:base-9::before {
  background-color: var(--color-base-9);
}

.n-icon-color\:base-10::before {
  background-color: var(--color-base-10);
}

/* ====================================================================== */
/* ---- icon images ----------------------------------------------------- */
/* ====================================================================== */

.n-icon\:add_shopping_cart::before {
  --icon: url("../../image/icon/add_shopping_cart");
}

.n-icon\:arrow_back_2::before {
  --icon: url("../../image/icon/arrow_back_2.svg");
}

.n-icon\:arrow_clockwise_fill::before {
  --icon: url("../../image/icon/arrow_clockwise_fill.svg");
}

.n-icon\:arrow_down::before {
  --icon: url(../../image/icon/arrow_down.svg);
}

.n-icon\:arrow_left::before {
  --icon: url(../../image/icon/arrow_left.svg);
}

.n-icon\:arrow_right::before {
  --icon: url(../../image/icon/arrow_right.svg);
}

.n-icon\:arrow_up::before {
  --icon: url(../../image/icon/arrow_up.svg);
}

.n-icon\:arrow_up_right::before {
  --icon: url(../../image/icon/arrow_up_right.svg);
}

.n-icon\:arrow_up_left::before {
  --icon: url(../../image/icon/arrow_up_left.svg);
}

.n-icon\:arrow_down_right::before {
  --icon: url(../../image/icon/arrow_down_right.svg);
}

.n-icon\:arrow_down_left::before {
  --icon: url(../../image/icon/arrow_down_left.svg);
}

.n-icon\:arrows_clockwise_fill::before {
  --icon: url(../../image/icon/arrows_clockwise_fill.svg);
}

.n-icon\:attach_file::before {
  --icon: url(../../image/icon/attach_file.svg);
}

.n-icon\:attach_file_off::before {
  --icon: url(../../image/icon/attach_file_off.svg);
}

.n-icon\:asterisk::before {
  --icon: url(../../image/icon/asterisk.svg);
}

.n-icon\:asterisk_bold::before {
  --icon: url(../../image/icon/asterisk_bold.svg);
}

.n-icon\:bell::before {
  --icon: url(../../image/icon/bell.svg);
}

.n-icon\:bell_fill::before {
  --icon: url(../../image/icon/bell_fill.svg);
}

.n-icon\:bookmark_simple::before {
  --icon: url(../../image/icon/bookmark_simple.svg);
}

.n-icon\:bookmark_simple_fill::before {
  --icon: url(../../image/icon/bookmark_simple_fill.svg);
}

.n-icon\:bookmarks::before {
  --icon: url(../../image/icon/bookmarks.svg);
}

.n-icon\:bone::before {
  --icon: url(../../image/icon/bone.svg);
}

.n-icon\:border_all::before {
  --icon: url(../../image/icon/border_all.svg);
}

.n-icon\:border_bottom::before {
  --icon: url(../../image/icon/border_bottom.svg);
}

.n-icon\:border_clear::before {
  --icon: url(../../image/icon/border_clear.svg);
}

.n-icon\:border_color::before {
  --icon: url(../../image/icon/border_color.svg);
}

.n-icon\:border_horizontal::before {
  --icon: url(../../image/icon/border_horizontal.svg);
}

.n-icon\:border_inner::before {
  --icon: url(../../image/icon/border_inner.svg);
}

.n-icon\:border_left::before {
  --icon: url(../../image/icon/border_left.svg);
}

.n-icon\:border_outer::before {
  --icon: url(../../image/icon/border_outer.svg);
}

.n-icon\:border_right::before {
  --icon: url(../../image/icon/border_right.svg);
}

.n-icon\:border_style::before {
  --icon: url(../../image/icon/border_style.svg);
}

.n-icon\:border_top::before {
  --icon: url(../../image/icon/border_top.svg);
}

.n-icon\:border_vertical::before {
  --icon: url(../../image/icon/border_vertical.svg);
}

.n-icon\:calculate::before {
  --icon: url(../../image/icon/calculate.svg);
}

.n-icon\:calendar_blank::before {
  --icon: url(../../image/icon/calendar_blank.svg);
}

.n-icon\:calendar_check::before {
  --icon: url(../../image/icon/calendar_check.svg);
}

.n-icon\:camera::before {
  --icon: url(../../image/icon/camera.svg);
}

.n-icon\:camera_fill::before {
  --icon: url(../../image/icon/camera_fill.svg);
}

.n-icon\:cardio_load::before {
  --icon: url(../../image/icon/cardio_load.svg);
}

.n-icon\:caret_down::before {
  --icon: url(../../image/icon/caret_down.svg);
}

.n-icon\:caret_down_bold::before {
  --icon: url(../../image/icon/caret_down_bold.svg);
}

.n-icon\:caret_left::before {
  --icon: url(../../image/icon/caret_left.svg);
}

.n-icon\:caret_left_bold::before {
  --icon: url(../../image/icon/caret_left_bold.svg);
}

.n-icon\:caret_right::before {
  --icon: url(../../image/icon/caret_right.svg);
}

.n-icon\:caret_right_bold::before {
  --icon: url(../../image/icon/caret_right_bold.svg);
}

.n-icon\:caret_up::before {
  --icon: url(../../image/icon/caret_up.svg);
}

.n-icon\:caret_up_bold::before {
  --icon: url(../../image/icon/caret_up_bold.svg);
}

.n-icon\:cast_pause::before {
  --icon: url(../../image/icon/cast_pause.svg);
}

.n-icon\:category::before {
  --icon: url(../../image/icon/category.svg);
}

.n-icon\:chalkboard_teacher::before {
  --icon: url(../../image/icon/chalkboard_teacher.svg);
}

.n-icon\:chart_line::before {
  --icon: url(../../image/icon/chart_line.svg);
}

.n-icon\:chat::before {
  --icon: url(../../image/icon/chat.svg);
}

.n-icon\:chat_circle::before {
  --icon: url(../../image/icon/chat_circle.svg);
}

.n-icon\:chat_circle_text::before {
  --icon: url(../../image/icon/chat_circle_text.svg);
}

.n-icon\:chats::before {
  --icon: url(../../image/icon/chats.svg);
}

.n-icon\:check::before {
  --icon: url(../../image/icon/check.svg);
}

.n-icon\:check_bold::before {
  --icon: url(../../image/icon/check_bold.svg);
}

.n-icon\:check_circle::before {
  --icon: url(../../image/icon/check_circle.svg);
}

.n-icon\:check_circle_fill::before {
  --icon: url(../../image/icon/check_circle_fill.svg);
}

.n-icon\:checklist::before {
  --icon: url(../../image/icon/checklist.svg);
}

.n-icon\:checklist_rtl::before {
  --icon: url(../../image/icon/checklist_rtl.svg);
}

.n-icon\:clock::before {
  --icon: url(../../image/icon/clock.svg);
}

/*== clock_loader_X =============================================*/
.n-icon\:clock_loader_10::before {
  --icon: url(../../image/icon/clock_loader_10.svg);
}

.n-icon\:clock_loader_20::before {
  --icon: url(../../image/icon/clock_loader_20.svg);
}

.n-icon\:clock_loader_40::before {
  --icon: url(../../image/icon/clock_loader_40.svg);
}

.n-icon\:clock_loader_60::before {
  --icon: url(../../image/icon/clock_loader_60.svg);
}

.n-icon\:clock_loader_80::before {
  --icon: url(../../image/icon/clock_loader_80.svg);
}

.n-icon\:clock_loader_90::before {
  --icon: url(../../image/icon/clock_loader_90.svg);
}

.n-icon\:close::before {
  --icon: url(../../image/icon/close.svg);
}

.n-icon\:closed_caption::before {
  --icon: url(../../image/icon/closed_caption.svg);
}

.n-icon\:closed_caption_add::before {
  --icon: url(../../image/icon/closed_caption_add.svg);
}

.n-icon\:closed_caption_disabled::before {
  --icon: url(../../image/icon/closed_caption_disabled.svg);
}

.n-icon\:code_simple::before {
  --icon: url(../../image/icon/code_simple.svg);
}

.n-icon\:code::before {
  --icon: url(../../image/icon/code.svg);
}

.n-icon\:colors::before {
  --icon: url(../../image/icon/colors.svg);
}

.n-icon\:copy_simple::before {
  --icon: url(../../image/icon/copy_simple.svg);
}

.n-icon\:credit_card::before {
  --icon: url(../../image/icon/credit_card.svg);
}

.n-icon\:crop::before {
  --icon: url(../../image/icon/crop.svg);
}

.n-icon\:dashboard::before {
  --icon: url("../../image/icon/dashboard.svg");
}

.n-icon\:delete::before {
  --icon: url(../../image/icon/close.svg);
}

.n-icon\:description::before {
  --icon: url(../../image/icon/description.svg);
}

.n-icon\:database::before {
  --icon: url(../../image/icon/database.svg);
}

.n-icon\:dots_six_vertical::before {
  --icon: url(../../image/icon/dots_six_vertical.svg);
}

.n-icon\:dots_six::before {
  --icon: url(../../image/icon/dots_six.svg);
}

.n-icon\:dots_three_outline_vertical_fill::before {
  --icon: url(../../image/icon/dots_three_outline_vertical_fill.svg);
}

.n-icon\:dot::before {
  --icon: url(../../image/icon/dot.svg);
}

.n-icon\:dot_outlined::before {
  --icon: url(../../image/icon/dot_outlined.svg);
}

.n-icon\:download_simple::before {
  --icon: url(../../image/icon/download_simple.svg);
}

.n-icon\:envelope_simple::before {
  --icon: url(../../image/icon/envelope_simple.svg);
}

.n-icon\:editor_choice::before {
  --icon: url(../../image/icon/editor_choice.svg);
}

.n-icon\:edit_note::before {
  --icon: url(../../image/icon/edit_note.svg);
}

.n-icon\:edit_notifications::before {
  --icon: url(../../image/icon/edit_notifications_24dp_FILL0_wght400_GRAD0_opsz24.svg);
}

.n-icon\:edit_square::before {
  --icon: url(../../image/icon/edit_square.svg);
}

.n-icon\:explicit::before {
  --icon: url(../../image/icon/explicit.svg);
}

.n-icon\:export::before {
  --icon: url(../../image/icon/export.svg);
}

.n-icon\:eye::before {
  --icon: url(../../image/icon/eye.svg);
}

.n-icon\:eye_slash::before {
  --icon: url(../../image/icon/eye_slash.svg);
}

.n-icon\:fast_forward::before {
  --icon: url(../../image/icon/fast_forward.svg);
}

.n-icon\:fast_rewind::before {
  --icon: url(../../image/icon/fast_rewind.svg);
}

.n-icon\:favorite::before {
  --icon: url(../../image/icon/favorite.svg);
}

.n-icon\:file::before {
  --icon: url(../../image/icon/file.svg);
}

.n-icon\:file_plus::before {
  --icon: url(../../image/icon/file_plus.svg);
}

.n-icon\:filter_retrolux::before {
  --icon: url(../../image/icon/filter_retrolux.svg);
}

.n-icon\:folder::before {
  --icon: url(../../image/icon/gear_six_fill.svg);
}

.n-icon\:format_align_center::before {
  --icon: url(../../image/icon/format_align_center.svg);
}

.n-icon\:format_align_justify::before {
  --icon: url(../../image/icon/format_align_justify.svg);
}

.n-icon\:format_align_left::before {
  --icon: url(../../image/icon/format_align_left.svg);
}

.n-icon\:format_align_right::before {
  --icon: url(../../image/icon/format_align_right.svg);
}

.n-icon\:format_bold::before {
  --icon: url(../../image/icon/format_bold.svg);
}

.n-icon\:format_clear::before {
  --icon: url(../../image/icon/format_clear.svg);
}

.n-icon\:format_color_fill::before {
  --icon: url(../../image/icon/format_color_fill.svg);
}

.n-icon\:format_color_reset::before {
  --icon: url(../../image/icon/format_color_reset.svg);
}

.n-icon\:format_color_text::before {
  --icon: url(../../image/icon/format_color_text.svg);
}

.n-icon\:format_h1::before {
  --icon: url(../../image/icon/format_h1.svg);
}

.n-icon\:format_h2::before {
  --icon: url(../../image/icon/format_h2.svg);
}

.n-icon\:format_h3::before {
  --icon: url(../../image/icon/format_h3.svg);
}

.n-icon\:format_h4::before {
  --icon: url(../../image/icon/format_h4.svg);
}

.n-icon\:format_h5::before {
  --icon: url(../../image/icon/format_h5.svg);
}

.n-icon\:format_h6::before {
  --icon: url(../../image/icon/format_h6.svg);
}

.n-icon\:format_image_left::before {
  --icon: url(../../image/icon/format_image_left.svg);
}

.n-icon\:format_image_right::before {
  --icon: url(../../image/icon/format_image_right.svg);
}

.n-icon\:format_indent_decrease::before {
  --icon: url(../../image/icon/format_indent_decrease.svg);
}

.n-icon\:format_indent_increase::before {
  --icon: url(../../image/icon/format_indent_increase.svg);
}

.n-icon\:format_ink_highlighter::before {
  --icon: url(../../image/icon/format_ink_highlighter.svg);
}

.n-icon\:format_italic::before {
  --icon: url(../../image/icon/format_italic.svg);
}

.n-icon\:format_line_spacing::before {
  --icon: url(../../image/icon/format_line_spacing.svg);
}

.n-icon\:format_list_bulleted::before {
  --icon: url(../../image/icon/format_list_bulleted.svg);
}

.n-icon\:format_list_bulleted_add::before {
  --icon: url(../../image/icon/format_list_bulleted_add.svg);
}

.n-icon\:format_list_numbered::before {
  --icon: url(../../image/icon/format_list_numbered.svg);
}

.n-icon\:format_list_numbered_rtl::before {
  --icon: url(../../image/icon/format_list_numbered_rtl.svg);
}

.n-icon\:format_overline::before {
  --icon: url(../../image/icon/format_overline.svg);
}

.n-icon\:format_paint::before {
  --icon: url(../../image/icon/format_paint.svg);
}

.n-icon\:format_paragraph::before {
  --icon: url(../../image/icon/format_paragraph.svg);
}

.n-icon\:format_quote::before {
  --icon: url(../../image/icon/format_quote.svg);
}

.n-icon\:format_quote_off::before {
  --icon: url(../../image/icon/format_quote_off.svg);
}

.n-icon\:format_shapes::before {
  --icon: url(../../image/icon/format_shapes.svg);
}

.n-icon\:format_size::before {
  --icon: url(../../image/icon/format_size.svg);
}

.n-icon\:format_strikethrough::before {
  --icon: url(../../image/icon/format_strikethrough.svg);
}

.n-icon\:format_text_clip::before {
  --icon: url(../../image/icon/format_text_clip.svg);
}

.n-icon\:format_text_overflow::before {
  --icon: url(../../image/icon/format_text_overflow.svg);
}

.n-icon\:format_text_wrap::before {
  --icon: url(../../image/icon/format_text_wrap.svg);
}

.n-icon\:format_textdirection_l_to_r::before {
  --icon: url(../../image/icon/format_textdirection_l_to_r.svg);
}

.n-icon\:format_textdirection_r_to_l::before {
  --icon: url(../../image/icon/format_textdirection_r_to_l.svg);
}

.n-icon\:format_textdirection_vertical::before {
  --icon: url(../../image/icon/format_textdirection_vertical.svg);
}

.n-icon\:format_underlined::before {
  --icon: url(../../image/icon/format_underlined.svg);
}

.n-icon\:format_underlined_squiggle::before {
  --icon: url(../../image/icon/format_underlined_squiggle.svg);
}

.n-icon\:forward_media::before {
  --icon: url(../../image/icon/forward_media.svg);
}

.n-icon\:function::before {
  --icon: url(../../image/icon/function.svg);
}

.n-icon\:functions::before {
  --icon: url(../../image/icon/functions.svg);
}

.n-icon\:gear_six::before {
  --icon: url(../../image/icon/gear_six_fill.svg);
}

.n-icon\:gear_six_fill::before {
  --icon: url(../../image/icon/gear_six_fill.svg);
}

.n-icon\:gift::before {
  --icon: url(../../image/icon/gift.svg);
}

.n-icon\:globe::before {
  --icon: url(../../image/icon/globe.svg);
}

.n-icon\:google_logo::before {
  --icon: url(../../image/icon/google_logo.svg);
}

.n-icon\:graduation_cap::before {
  --icon: url(../../image/icon/hand_coins.svg);
}

.n-icon\:group::before {
  --icon: url(../../image/icon/group.svg);
}

.n-icon\:hand_coins::before {
  --icon: url(../../image/icon/hand_coins.svg);
}

.n-icon\:headphones::before {
  --icon: url(../../image/icon/headphones.svg);
}

.n-icon\:headphones_fill::before {
  --icon: url(../../image/icon/headphones_fill.svg);
}

.n-icon\:headset::before {
  --icon: url(../../image/icon/headset.svg);
}

.n-icon\:heart_fill::before {
  --icon: url(../../image/icon/heart_fill.svg);
}

.n-icon\:heart::before {
  --icon: url(../../image/icon/heart.svg);
}

.n-icon\:height::before {
  --icon: url(../../image/icon/height.svg);
}

.n-icon\:highlight::before {
  --icon: url(../../image/icon/highlight.svg);
}

.n-icon\:home::before {
  --icon: url("../../image/icon/home.svg");
}

.n-icon\:house::before {
  --icon: url(../../image/icon/house.svg);
}

.n-icon\:house_fill::before {
  --icon: url(../../image/icon/house_fill.svg);
}

.n-icon\:household_supplies::before {
  --icon: url(../../image/icon/household_supplies.svg);
}

.n-icon\:image::before {
  --icon: url(../../image/icon/image.svg);
}

.n-icon\:image_fill::before {
  --icon: url(../../image/icon/image_fill.svg);
}

.n-icon\:info::before {
  --icon: url(../../image/icon/info.svg);
}

.n-icon\:info_fill::before {
  --icon: url(../../image/icon/info_fill.svg);
}

.n-icon\:ink_eraser::before {
  --icon: url(../../image/icon/ink_eraser.svg);
}

.n-icon\:ink_eraser_off::before {
  --icon: url(../../image/icon/ink_eraser_off.svg);
}

.n-icon\:ink_highlighter::before {
  --icon: url(../../image/icon/ink_highlighter.svg);
}

.n-icon\:ink_highlighter_move::before {
  --icon: url(../../image/icon/ink_highlighter_move.svg);
}

.n-icon\:ink_marker::before {
  --icon: url(../../image/icon/ink_marker.svg);
}

.n-icon\:ink_pen::before {
  --icon: url(../../image/icon/ink_pen.svg);
}

.n-icon\:insert_text::before {
  --icon: url(../../image/icon/insert_text.svg);
}

.n-icon\:lasso_select::before {
  --icon: url(../../image/icon/lasso_select.svg);
}

.n-icon\:link::before {
  --icon: url(../../image/icon/link.svg);
}

.n-icon\:link_off::before {
  --icon: url(../../image/icon/link_off.svg);
}

.n-icon\:list_bullets::before {
  --icon: url(../../image/icon/list_bullets.svg);
}

.n-icon\:list::before {
  --icon: url(../../image/icon/list.svg);
}

.n-icon\:local_cafe::before {
  --icon: url(../../image/icon/local_cafe_24dp_FILL0_wght400_GRAD0_opsz24.svg);
}

.n-icon\:lock_simple::before {
  --icon: url(../../image/icon/lock_simple.svg);
}

.n-icon\:lock_simple_open::before {
  --icon: url(../../image/icon/lock_simple_open.svg);
}

.n-icon\:logo_dev::before {
  --icon: url(../../image/icon/logo_dev.svg);
}

.n-icon\:manage::before {
  --icon: url(../../image/icon/manage.svg);
}

.n-icon\:magnifying_glass::before {
  --icon: url(../../image/icon/magnifying_glass.svg);
}

.n-icon\:magnifying_glass_minus::before {
  --icon: url(../../image/icon/magnifying_glass_minus.svg);
}

.n-icon\:magnifying_glass_plus::before {
  --icon: url(../../image/icon/magnifying_glass_plus.svg);
}

.n-icon\:map_pin::before {
  --icon: url(../../image/icon/map_pin.svg);
}

.n-icon\:map_pin_fill::before {
  --icon: url(../../image/icon/map_pin_fill.svg);
}

.n-icon\:map_trifold::before {
  --icon: url(../../image/icon/map_trifold.svg);
}

.n-icon\:map_trifold_fill::before {
  --icon: url(../../image/icon/map_trifold_fill.svg);
}

.n-icon\:markdown::before {
  --icon: url(../../image/icon/markdown.svg);
}

.n-icon\:markdown_copy::before {
  --icon: url(../../image/icon/markdown_copy.svg);
}

.n-icon\:markdown_paste::before {
  --icon: url(../../image/icon/markdown_paste.svg);
}

.n-icon\:media_bluetooth_on::before {
  --icon: url(../../image/icon/media_bluetooth_on.svg);
}

.n-icon\:media_link::before {
  --icon: url(../../image/icon/media_link.svg);
}

.n-icon\:media_output::before {
  --icon: url(../../image/icon/media_output.svg);
}

.n-icon\:media_output_off::before {
  --icon: url(../../image/icon/media_output_off.svg);
}

.n-icon\:mediation::before {
  --icon: url(../../image/icon/mediation.svg);
}

.n-icon\:megaphone::before {
  --icon: url(../../image/icon/megaphone.svg);
}

.n-icon\:megaphone_fill::before {
  --icon: url(../../image/icon/megaphone_fill.svg);
}

.n-icon\:menu::before {
  --icon: url(../../image/icon/menu.svg);
}

.n-icon\:mms::before {
  --icon: url(../../image/icon/mms.svg);
}

.n-icon\:movie::before {
  --icon: url(../../image/icon/movie.svg);
}

.n-icon\:monitor_play::before {
  --icon: url(../../image/icon/monitor_play.svg);
}

.n-icon\:monitor_play_fill::before {
  --icon: url(../../image/icon/monitor_play_fill.svg);
}

.n-icon\:moon::before {
  --icon: url(../../image/icon/moon.svg);
}

.n-icon\:moon_fill::before {
  --icon: url(../../image/icon/moon_fill.svg);
}

.n-icon\:navigation_arrow::before {
  --icon: url(../../image/icon/navigation_arrow.svg);
}

.n-icon\:newsmode::before {
  --icon: url(../../image/icon/newsmode.svg);
}

.n-icon\:newsstand::before {
  --icon: url(../../image/icon/newsstand.svg);
}

.n-icon\:not_started::before {
  --icon: url(../../image/icon/not_started.svg);
}

.n-icon\:not_stack::before {
  --icon: url(../../image/icon/not_stack.svg);
}

/* --- notifications ----------------------------------------------------------------- */
.n-icon\:notifications_active::before {
  --icon: url(../../image/icon/notifications_active_24dp_FILL0_wght400_GRAD0_opsz24.svg);
}

.n-icon\:notifications::before {
  --icon: url(../../image/icon/notifications_24dp_FILL0_wght400_GRAD0_opsz24.svg);
}

.n-icon\:notification_important::before {
  --icon: url(../../image/icon/notification_important_24dp_FILL0_wght400_GRAD0_opsz24.svg);
}

.n-icon\:notification_add::before {
  --icon: url(../../image/icon/notification_add_24dp_FILL0_wght400_GRAD0_opsz24.svg);
}

.n-icon\:page_control::before {
  --icon: url(../../image/icon/page_control.svg);
}

.n-icon\:pause::before {
  --icon: url(../../image/icon/pause.svg);
}

.n-icon\:pause_circle::before {
  --icon: url(../../image/icon/pause_circle.svg);
}

.n-icon\:play_circle::before {
  --icon: url(../../image/icon/play_circle.svg);
}

.n-icon\:play_disabled::before {
  --icon: url(../../image/icon/play_disabled.svg);
}

.n-icon\:play_lesson::before {
  --icon: url(../../image/icon/play_lesson.svg);
}

.n-icon\:play_pause::before {
  --icon: url(../../image/icon/play_pause.svg);
}

.n-icon\:pause_fill::before {
  --icon: url(../../image/icon/pause_fill.svg);
}

.n-icon\:pencil_simple::before {
  --icon: url(../../image/icon/pencil_simple.svg);
}

.n-icon\:pencil_simple_fill::before {
  --icon: url(../../image/icon/pencil_simple_fill.svg);
}

.n-icon\:phone_call::before {
  --icon: url(../../image/icon/phone_call.svg);
}

.n-icon\:play_fill::before {
  --icon: url(../../image/icon/play_fill.svg);
}

.n-icon\:play_pause_fill::before {
  --icon: url(../../image/icon/play_pause_fill.svg);
}

.n-icon\:plus::before {
  --icon: url(../../image/icon/plus.svg);
}

.n-icon\:post_add::before {
  --icon: url(../../image/icon/post_add.svg);
}

.n-icon\:add_task::before {
  --icon: url(../../image/icon/add_task.svg);
}

.n-icon\:preview::before {
  --icon: url(../../image/icon/preview.svg);
}

.n-icon\:problem::before {
  --icon: url(../../image/icon/problem.svg);
}

.n-icon\:push_pin::before {
  --icon: url(../../image/icon/push_pin.svg);
}

.n-icon\:push_pin_fill::before {
  --icon: url(../../image/icon/push_pin_fill.svg);
}

.n-icon\:question::before {
  --icon: url(../../image/icon/question.svg);
}

.n-icon\:quiz::before {
  --icon: url(../../image/icon/quiz.svg);
}

.n-icon\:qr_code::before {
  --icon: url(../../image/icon/qr_code.svg);
}

.n-icon\:qr_code_2::before {
  --icon: url(../../image/icon/qr_code_2.svg);
}

.n-icon\:qr_code_2_add::before {
  --icon: url(../../image/icon/qr_code_2_add.svg);
}

.n-icon\:qr_code_scanner::before {
  --icon: url(../../image/icon/qr_code_scanner.svg);
}

.n-icon\:radio::before {
  --icon: url(../../image/icon/radio.svg);
}

.n-icon\:radio_button_unchecked::before {
  --icon: url(../../image/icon/radio_button_unchecked.svg);
}

.n-icon\:radio_button_checked::before {
  --icon: url(../../image/icon/radio_button_checked.svg);
}

.n-icon\:recommend::before {
  --icon: url(../../image/icon/recommend.svg);
}

.n-icon\:remove_selection::before {
  --icon: url(../../image/icon/remove_selection.svg);
}

.n-icon\:repeat::before {
  --icon: url(../../image/icon/repeat.svg);
}

.n-icon\:repeat_one_on::before {
  --icon: url(../../image/icon/repeat_one_on.svg);
}

.n-icon\:resume::before {
  --icon: url(../../image/icon/resume.svg);
}

.n-icon\:save::before {
  --icon: url(../../image/icon/save.svg);
}

.n-icon\:search::before {
  --icon: url(../../image/icon/search.svg);
}

.n-icon\:share::before {
  --icon: url(../../image/icon/share.svg);
}

.n-icon\:share_fat::before {
  --icon: url(../../image/icon/share_fat.svg);
}

.n-icon\:share_fat_fill::before {
  --icon: url(../../image/icon/share_fat_fill.svg);
}

.n-icon\:share_off::before {
  --icon: url(../../image/icon/share_off.svg);
}

.n-icon\:share_network::before {
  --icon: url(../../image/icon/share_network.svg);
}

.n-icon\:share_network_fill::before {
  --icon: url(../../image/icon/share_network_fill.svg);
}

.n-icon\:settings::before {
  --icon: url(../../image/icon/settings.svg);
}

.n-icon\:shopping_bag::before {
  --icon: url(../../image/icon/shopping_bag.svg);
}

.n-icon\:shopping_cart::before {
  --icon: url(../../image/icon/shopping_cart.svg);
}

.n-icon\:shopping_cart_checkout::before {
  --icon: url(../../image/icon/shopping_cart_checkout.svg);
}

.n-icon\:shopping_cart_simple::before {
  --icon: url(../../image/icon/shopping_cart_simple.svg);
}

.n-icon\:shopping_cart_simple_fill::before {
  --icon: url(../../image/icon/shopping_cart_simple_fill.svg);
}

.n-icon\:shuffle_fill::before {
  --icon: url(../../image/icon/shuffle_fill.svg);
}

.n-icon\:sign_in::before {
  --icon: url(../../image/icon/sign_in.svg);
}

.n-icon\:sign_out::before {
  --icon: url(../../image/icon/sign_out.svg);
}

.n-icon\:skip_back_fill::before {
  --icon: url(../../image/icon/skip_back_fill.svg);
}

.n-icon\:skip_forward_fill::before {
  --icon: url(../../image/icon/skip_forward_fill.svg);
}

.n-icon\:sliders_horizontal::before {
  --icon: url(../../image/icon/sliders_horizontal.svg);
}

.n-icon\:sliders::before {
  --icon: url(../../image/icon/sliders.svg);
}

.n-icon\:speaker_simple_high_fill::before {
  --icon: url(../../image/icon/speaker_simple_high_fill.svg);
}

.n-icon\:speaker_simple_low_fill::before {
  --icon: url(../../image/icon/speaker_simple_low_fill.svg);
}

.n-icon\:speaker_simple_none_fill::before {
  --icon: url(../../image/icon/speaker_simple_none_fill.svg);
}

.n-icon\:speaker_simple_slash_fill::before {
  --icon: url(../../image/icon/speaker_simple_slash_fill.svg);
}

.n-icon\:squares_four::before {
  --icon: url(../../image/icon/squares_four.svg);
}

.n-icon\:squares_four_fill::before {
  --icon: url(../../image/icon/squares_four_fill.svg);
}

.n-icon\:star::before {
  --icon: url(../../image/icon/star.svg);
}

.n-icon\:star_fill::before {
  --icon: url(../../image/icon/star_fill.svg);
}

.n-icon\:stack::before {
  --icon: url(../../image/icon/stack.svg);
}

.n-icon\:stock_media::before {
  --icon: url(../../image/icon/stock_media.svg);
}

.n-icon\:stop_fill::before {
  --icon: url(../../image/icon/stop_fill.svg);
}

.n-icon\:strikethrough_s::before {
  --icon: url(../../image/icon/strikethrough_s.svg);
}

.n-icon\:student::before {
  --icon: url(../../image/icon/student.svg);
}

.n-icon\:subscript::before {
  --icon: url(../../image/icon/subscript.svg);
}

.n-icon\:subscriptions::before {
  --icon: url(../../image/icon/subscriptions.svg);
}

.n-icon\:subtitles::before {
  --icon: url(../../image/icon/subtitles.svg);
}

.n-icon\:sun::before {
  --icon: url(../../image/icon/sun.svg);
}

.n-icon\:sun_fill::before {
  --icon: url(../../image/icon/sun_fill.svg);
}

.n-icon\:superscript::before {
  --icon: url(../../image/icon/superscript.svg);
}

.n-icon\:tag::before {
  --icon: url(../../image/icon/tag.svg);
}

.n-icon\:text_a_underline::before {
  --icon: url(../../image/icon/text_a_underline.svg);
}

.n-icon\:text_aa::before {
  --icon: url(../../image/icon/text_aa.svg);
}

.n-icon\:text_align_center::before {
  --icon: url(../../image/icon/text_align_center.svg);
}

.n-icon\:text_align_justify::before {
  --icon: url(../../image/icon/text_align_justify.svg);
}

.n-icon\:text_align_left::before {
  --icon: url(../../image/icon/text_align_left.svg);
}

.n-icon\:text_align_right::before {
  --icon: url(../../image/icon/text_align_right.svg);
}

.n-icon\:text_b::before {
  --icon: url(../../image/icon/text_b.svg);
}

.n-icon\:text_strikethrough::before {
  --icon: url(../../image/icon/text_strikethrough.svg);
}

.n-icon\:text_t::before {
  --icon: url(../../image/icon/text_t.svg);
}

.n-icon\:text_underline::before {
  --icon: url(../../image/icon/text_underline.svg);
}

.n-icon\:thumbs_down::before {
  --icon: url(../../image/icon/thumbs_down.svg);
}

.n-icon\:thumbs_up::before {
  --icon: url(../../image/icon/thumbs_up.svg);
}

.n-icon\:timer_pause::before {
  --icon: url(../../image/icon/timer_pause.svg);
}

.n-icon\:timer_play::before {
  --icon: url(../../image/icon/timer_play.svg);
}

.n-icon\:toc::before {
  --icon: url(../../image/icon/toc.svg);
}

.n-icon\:toggle::before {
  --icon: url(../../image/icon/toggle.svg);
}

.n-icon\:toggle_off::before {
  --icon: url(../../image/icon/toggle_off.svg);
}

.n-icon\:topic::before {
  --icon: url(../../image/icon/topic.svg);
}

.n-icon\:trash::before {
  --icon: url(../../image/icon/trash.svg);
}

.n-icon\:trash_fill::before {
  --icon: url(../../image/icon/trash_fill.svg);
}

.n-icon\:trash_simple::before {
  --icon: url(../../image/icon/trash_simple.svg);
}

.n-icon\:trash_simple_fill::before {
  --icon: url(../../image/icon/trash_simple_fill.svg);
}

.n-icon\:trophy::before {
  --icon: url(../../image/icon/trophy.svg);
}

.n-icon\:tune::before {
  --icon: url(../../image/icon/tune.svg);
}

.n-icon\:upload_simple::before {
  --icon: url(../../image/icon/upload_simple.svg);
}

.n-icon\:user::before {
  --icon: url(../../image/icon/user.svg);
}

.n-icon\:user_circle_gear::before {
  --icon: url(../../image/icon/user_circle_gear.svg);
}

.n-icon\:user_fill::before {
  --icon: url(../../image/icon/user_fill.svg);
}

.n-icon\:vertical_align_bottom::before {
  --icon: url(../../image/icon/vertical_align_bottom.svg);
}

.n-icon\:vertical_align_center::before {
  --icon: url(../../image/icon/vertical_align_center.svg);
}

.n-icon\:vertical_align_top::before {
  --icon: url(../../image/icon/vertical_align_top.svg);
}

.n-icon\:view_list::before {
  --icon: url(../../image/icon/view_list.svg);
}

.n-icon\:warning::before {
  --icon: url(../../image/icon/warning.svg);
}

.n-icon\:warning_circle::before {
  --icon: url(../../image/icon/warning_circle.svg);
}

.n-icon\:warning_circle_fill::before {
  --icon: url(../../image/icon/warning_circle_fill.svg);
}

.n-icon\:warning_fill::before {
  --icon: url(../../image/icon/warning_fill.svg);
}

.n-icon\:wrap_text::before {
  --icon: url(../../image/icon/wrap_text.svg);
}

.n-icon\:x::before {
  --icon: url(../../image/icon/x.svg);
}

.n-icon\:x_circle_fill::before {
  --icon: url(../../image/icon/x_circle_fill.svg);
}

.n-icon\:youtube_logo_fill::before {
  --icon: url(../../image/icon/youtube_logo_fill.svg);
}

/* === decoration ========================= */
.n-deco {
  --deco-gap: 10px;
  --deco-size: 24px;

  width: auto;
  text-indent: initial;
  text-align: center;
  gap: var(--deco-gap);
}

/* deco-position ------------------------------------------------- */
.n-deco-pos\:top,
.n-deco-pos\:bottom {
  flex-direction: column;
  height: auto;
  gap: 0;
}

:is(li, dt, dd, td, th, div):has(>.n-deco-pos\:top),
:is(li, dt, dd, td, th, div):has(>.n-deco-pos\:bottom) {
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.n-deco-pos\:left::before,
.n-deco-pos\:top::before {
  order: unset;
}

.n-deco-pos\:right::before,
.n-deco-pos\:bottom::before {
  order: 1;
}

/* ---- deco-gap ------------------------------------------------- */

.n-deco-gap\:0 {
  --deco-gap: 0px;
}

.n-deco-gap\:1 {
  --deco-gap: 5px;
}

.n-deco-gap\:2 {
  --deco-gap: 10px;
}

@media screen and (min-width: 576px) {

  .sm\:n-icon {

    /* icon */
    --icon-size-1: 12px;
    --icon-size-2: 16px;
    --icon-size-3: 18px;
    --icon-size-4: 20px;
    --icon-size-5: 24px;
    --icon-size-6: 30px;
    --icon-size-7: 32px;
    --icon-size-8: 40px;
    --icon-size-9: 48px;
    --icon-size-ex: 0;

    --icon-size: 24px;
    --icon-color: #000;

    display: inline-flex;
    width: var(--icon-size);
    height: var(--icon-size);
    overflow: hidden;
    align-items: center;
  }

  .sm\:n-icon::before {
    /*icon 스타일*/

    flex-shrink: 0;

    content: "";
    display: inline-flex;
    width: var(--icon-size);
    height: var(--icon-size);
    overflow: hidden;

    background-color: var(--icon-color);
    background-repeat: no-repeat;
    mask-size: var(--icon-size);
    mask-image: var(--icon);
  }



  /* === color ======================================= */
  /*
  main 1/2/3
  sub 1/2/3
  accent 1/2/3
  base 1/2/3/4/5/6/7/8/9/10*/

  .sm\:n-icon-color\:main-1 {
    --icon-color: var(--color-main-1, #D86259);
  }

  .sm\:n-icon-color\:main-2 {
    --icon-color: var(--color-main-2, #905634);
  }

  .sm\:n-icon-color\:main-3 {
    --icon-color: var(--color-main-3, #5E2808);
  }

  .sm\:n-icon-color\:sub-1 {
    --icon-color: var(--color-sub-1, #F3E184);
  }

  .sm\:n-icon-color\:accent-1 {
    --icon-color: var(--color-accent-1, #334DCF);
  }

  /* ---- icon-size ------------------------------------------------- */
  .sm\:n-icon-size\:1 {
    --icon-size: var(--icon-size-1);
  }

  .sm\:n-icon-size\:2 {
    --icon-size: var(--icon-size-2);
  }

  .sm\:n-icon-size\:3 {
    --icon-size: var(--icon-size-3);
  }

  .sm\:n-icon-size\:4 {
    --icon-size: var(--icon-size-4);
  }

  .sm\:n-icon-size\:5 {
    --icon-size: var(--icon-size-5);
  }

  .sm\:n-icon-size\:6 {
    --icon-size: var(--icon-size-6);
  }

  .sm\:n-icon-size\:7 {
    --icon-size: var(--icon-size-7);
  }

  .sm\:n-icon-size\:8 {
    --icon-size: var(--icon-size-8);
  }

  .sm\:n-icon-size\:9 {
    --icon-size: var(--icon-size-9);
  }

  .sm\:n-icon-size\:ex {
    --icon-size: var(--icon-size-ex);
  }

  /* ---- icon-color ------------------------------------------------- */
  .sm\:n-icon-color\:main-1::before {
    background-color: var(--color-main-1);
  }

  .sm\:n-icon-color\:main-2::before {
    background-color: var(--color-main-2);
  }

  .sm\:n-icon-color\:main-3::before {
    background-color: var(--color-main-3);
  }

  .sm\:n-icon-color\:sub-1::before {
    background-color: var(--color-sub-1);
  }

  .sm\:n-icon-color\:sub-2::before {
    background-color: var(--color-sub-2);
  }

  .sm\:n-icon-color\:sub-3::before {
    background-color: var(--color-sub-3);
  }

  .sm\:n-icon-color\:accent-1::before {
    background-color: var(--color-accent-1);
  }

  .sm\:n-icon-color\:accent-2::before {
    background-color: var(--color-accent-2);
  }

  .sm\:n-icon-color\:accent-3::before {
    background-color: var(--color-accent-3);
  }

  .sm\:n-icon-color\:base-1::before {
    background-color: var(--color-base-1);
  }

  .sm\:n-icon-color\:base-2::before {
    background-color: var(--color-base-2);
  }

  .sm\:n-icon-color\:base-3::before {
    background-color: var(--color-base-3);
  }

  .sm\:n-icon-color\:base-4::before {
    background-color: var(--color-base-4);
  }

  .sm\:n-icon-color\:base-5::before {
    background-color: var(--color-base-5);
  }

  .sm\:n-icon-color\:base-6::before {
    background-color: var(--color-base-6);
  }

  .sm\:n-icon-color\:base-7::before {
    background-color: var(--color-base-7);
  }

  .sm\:n-icon-color\:base-8::before {
    background-color: var(--color-base-8);
  }

  .sm\:n-icon-color\:base-9::before {
    background-color: var(--color-base-9);
  }

  .sm\:n-icon-color\:base-10::before {
    background-color: var(--color-base-10);
  }


  /* === decoration ========================= */
  .sm\:n-deco {
    --deco-gap: 24px;
    --deco-size: 24px;

    width: auto;
    text-indent: initial;
    gap: var(--deco-gap);
  }

  /* deco-position ------------------------------------------------- */
  .sm\:n-deco-pos\:top,
  .sm\:n-deco-pos\:bottom {
    flex-direction: column;
    height: auto;
    gap: 0;
  }

  .sm\:n-deco-pos\:left,
  .sm\:n-deco-pos\:right {
    flex-direction: row;
    height: auto;
    width: auto;
    gap: var(--deco-gap);
  }

  :is(li, dt, dd, td, th, div):has(>.sm\:n-deco-pos\:top),
  :is(li, dt, dd, td, th, div):has(>.sm\:n-deco-pos\:bottom) {
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  :is(li, dt, dd, td, th, div):has(>.sm\:n-deco-pos\:left),
  :is(li, dt, dd, td, th, div):has(>.sm\:n-deco-pos\:right) {
    padding-top: unset;
    padding-bottom: unset;
  }

  .sm\:n-deco-pos\:left::before,
  .sm\:n-deco-pos\:top::before {
    order: unset;
  }

  .sm\:n-deco-pos\:right::before,
  .sm\:n-deco-pos\:bottom::before {
    order: 1;
  }

  /* ---- deco-gap ------------------------------------------------- */

  .sm\:n-deco-gap\:0 {
    --deco-gap: 0px;
  }

  .sm\:n-deco-gap\:1 {
    --deco-gap: 5px;
  }

  .sm\:n-deco-gap\:2 {
    --deco-gap: 10px;
  }

}


@media screen and (min-width: 768px) {
  .md\:n-icon {

    /* icon */
    --icon-size-1: 12px;
    --icon-size-2: 16px;
    --icon-size-3: 18px;
    --icon-size-4: 20px;
    --icon-size-5: 24px;
    --icon-size-6: 30px;
    --icon-size-7: 32px;
    --icon-size-8: 40px;
    --icon-size-9: 48px;
    --icon-size-ex: 0;

    --icon-size: 24px;
    --icon-color: #000;

    display: inline-flex;
    width: var(--icon-size);
    height: var(--icon-size);
    overflow: hidden;
    align-items: center;
  }

  .md\:n-icon::before {
    /*icon 스타일*/

    flex-shrink: 0;

    content: "";
    display: inline-flex;
    width: var(--icon-size);
    height: var(--icon-size);
    overflow: hidden;

    background-color: var(--icon-color);
    background-repeat: no-repeat;
    mask-size: var(--icon-size);
    mask-image: var(--icon);
  }



  /* === color ======================================= */
  /*
  main 1/2/3
  sub 1/2/3
  accent 1/2/3
  base 1/2/3/4/5/6/7/8/9/10*/

  .md\:n-icon-color\:main-1 {
    --icon-color: var(--color-main-1, #D86259);
  }

  .md\:n-icon-color\:main-2 {
    --icon-color: var(--color-main-2, #905634);
  }

  .md\:n-icon-color\:main-3 {
    --icon-color: var(--color-main-3, #5E2808);
  }

  .md\:n-icon-color\:sub-1 {
    --icon-color: var(--color-sub-1, #F3E184);
  }

  .md\:n-icon-color\:accent-1 {
    --icon-color: var(--color-accent-1, #334DCF);
  }

  /* ---- icon-size ------------------------------------------------- */
  .md\:n-icon-size\:1 {
    --icon-size: var(--icon-size-1);
  }

  .md\:n-icon-size\:2 {
    --icon-size: var(--icon-size-2);
  }

  .md\:n-icon-size\:3 {
    --icon-size: var(--icon-size-3);
  }

  .md\:n-icon-size\:4 {
    --icon-size: var(--icon-size-4);
  }

  .md\:n-icon-size\:5 {
    --icon-size: var(--icon-size-5);
  }

  .md\:n-icon-size\:6 {
    --icon-size: var(--icon-size-6);
  }

  .md\:n-icon-size\:7 {
    --icon-size: var(--icon-size-7);
  }

  .md\:n-icon-size\:8 {
    --icon-size: var(--icon-size-8);
  }

  .md\:n-icon-size\:9 {
    --icon-size: var(--icon-size-9);
  }

  .md\:n-icon-size\:ex {
    --icon-size: var(--icon-size-ex);
  }

  /* ---- icon-color ------------------------------------------------- */
  .md\:n-icon-color\:main-1::before {
    background-color: var(--color-main-1);
  }

  .md\:n-icon-color\:main-2::before {
    background-color: var(--color-main-2);
  }

  .md\:n-icon-color\:main-3::before {
    background-color: var(--color-main-3);
  }

  .md\:n-icon-color\:sub-1::before {
    background-color: var(--color-sub-1);
  }

  .md\:n-icon-color\:sub-2::before {
    background-color: var(--color-sub-2);
  }

  .md\:n-icon-color\:sub-3::before {
    background-color: var(--color-sub-3);
  }

  .md\:n-icon-color\:accent-1::before {
    background-color: var(--color-accent-1);
  }

  .md\:n-icon-color\:accent-2::before {
    background-color: var(--color-accent-2);
  }

  .md\:n-icon-color\:accent-3::before {
    background-color: var(--color-accent-3);
  }

  .md\:n-icon-color\:base-1::before {
    background-color: var(--color-base-1);
  }

  .md\:n-icon-color\:base-2::before {
    background-color: var(--color-base-2);
  }

  .md\:n-icon-color\:base-3::before {
    background-color: var(--color-base-3);
  }

  .md\:n-icon-color\:base-4::before {
    background-color: var(--color-base-4);
  }

  .md\:n-icon-color\:base-5::before {
    background-color: var(--color-base-5);
  }

  .md\:n-icon-color\:base-6::before {
    background-color: var(--color-base-6);
  }

  .md\:n-icon-color\:base-7::before {
    background-color: var(--color-base-7);
  }

  .md\:n-icon-color\:base-8::before {
    background-color: var(--color-base-8);
  }

  .md\:n-icon-color\:base-9::before {
    background-color: var(--color-base-9);
  }

  .md\:n-icon-color\:base-10::before {
    background-color: var(--color-base-10);
  }


  /* === decoration ========================= */
  .md\:n-deco {
    --deco-gap: 24px;
    --deco-size: 24px;

    width: auto;
    text-indent: initial;
    gap: var(--deco-gap);
  }

  /* deco-position ------------------------------------------------- */
  .md\:n-deco-pos\:top,
  .md\:n-deco-pos\:bottom {
    flex-direction: column;
    height: auto;
    gap: 0;
  }

  .md\:n-deco-pos\:left,
  .md\:n-deco-pos\:right {
    flex-direction: row;
    height: auto;
    width: auto;
    gap: var(--deco-gap);
  }

  :is(li, dt, dd, td, th, div):has(>.md\:n-deco-pos\:top),
  :is(li, dt, dd, td, th, div):has(>.md\:n-deco-pos\:bottom) {
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  :is(li, dt, dd, td, th, div):has(>.md\:n-deco-pos\:left),
  :is(li, dt, dd, td, th, div):has(>.md\:n-deco-pos\:right) {
    padding-top: unset;
    padding-bottom: unset;
  }

  .md\:n-deco-pos\:left::before,
  .md\:n-deco-pos\:top::before {
    order: unset;
  }

  .md\:n-deco-pos\:right::before,
  .md\:n-deco-pos\:bottom::before {
    order: 1;
  }

  /* ---- deco-gap ------------------------------------------------- */

  .md\:n-deco-gap\:0 {
    --deco-gap: 0px;
  }

  .md\:n-deco-gap\:1 {
    --deco-gap: 5px;
  }

  .md\:n-deco-gap\:2 {
    --deco-gap: 10px;
  }
}

@media screen and (min-width: 992px) {
  .lg\:n-icon {

    /* icon */
    --icon-size-1: 12px;
    --icon-size-2: 16px;
    --icon-size-3: 18px;
    --icon-size-4: 20px;
    --icon-size-5: 24px;
    --icon-size-6: 30px;
    --icon-size-7: 32px;
    --icon-size-8: 40px;
    --icon-size-9: 48px;
    --icon-size-ex: 0;

    --icon-size: 24px;
    --icon-color: #000;

    display: inline-flex;
    width: var(--icon-size);
    height: var(--icon-size);
    overflow: hidden;
    align-items: center;
  }

  .lg\:n-icon::before {
    /*icon 스타일*/

    flex-shrink: 0;

    content: "";
    display: inline-flex;
    width: var(--icon-size);
    height: var(--icon-size);
    overflow: hidden;

    background-color: var(--icon-color);
    background-repeat: no-repeat;
    mask-size: var(--icon-size);
    mask-image: var(--icon);
  }



  /* === color ======================================= */
  /*
  main 1/2/3
  sub 1/2/3
  accent 1/2/3
  base 1/2/3/4/5/6/7/8/9/10*/

  .lg\:n-icon-color\:main-1 {
    --icon-color: var(--color-main-1, #D86259);
  }

  .lg\:n-icon-color\:main-2 {
    --icon-color: var(--color-main-2, #905634);
  }

  .lg\:n-icon-color\:main-3 {
    --icon-color: var(--color-main-3, #5E2808);
  }

  .lg\:n-icon-color\:sub-1 {
    --icon-color: var(--color-sub-1, #F3E184);
  }

  .lg\:n-icon-color\:accent-1 {
    --icon-color: var(--color-accent-1, #334DCF);
  }

  /* ---- icon-size ------------------------------------------------- */
  .lg\:n-icon-size\:1 {
    --icon-size: var(--icon-size-1);
  }

  .lg\:n-icon-size\:2 {
    --icon-size: var(--icon-size-2);
  }

  .lg\:n-icon-size\:3 {
    --icon-size: var(--icon-size-3);
  }

  .lg\:n-icon-size\:4 {
    --icon-size: var(--icon-size-4);
  }

  .lg\:n-icon-size\:5 {
    --icon-size: var(--icon-size-5);
  }

  .lg\:n-icon-size\:6 {
    --icon-size: var(--icon-size-6);
  }

  .lg\:n-icon-size\:7 {
    --icon-size: var(--icon-size-7);
  }

  .lg\:n-icon-size\:8 {
    --icon-size: var(--icon-size-8);
  }

  .lg\:n-icon-size\:9 {
    --icon-size: var(--icon-size-9);
  }

  .lg\:n-icon-size\:ex {
    --icon-size: var(--icon-size-ex);
  }

  /* ---- icon-color ------------------------------------------------- */
  .lg\:n-icon-color\:main-1::before {
    background-color: var(--color-main-1);
  }

  .lg\:n-icon-color\:main-2::before {
    background-color: var(--color-main-2);
  }

  .lg\:n-icon-color\:main-3::before {
    background-color: var(--color-main-3);
  }

  .lg\:n-icon-color\:sub-1::before {
    background-color: var(--color-sub-1);
  }

  .lg\:n-icon-color\:sub-2::before {
    background-color: var(--color-sub-2);
  }

  .lg\:n-icon-color\:sub-3::before {
    background-color: var(--color-sub-3);
  }

  .lg\:n-icon-color\:accent-1::before {
    background-color: var(--color-accent-1);
  }

  .lg\:n-icon-color\:accent-2::before {
    background-color: var(--color-accent-2);
  }

  .lg\:n-icon-color\:accent-3::before {
    background-color: var(--color-accent-3);
  }

  .lg\:n-icon-color\:base-1::before {
    background-color: var(--color-base-1);
  }

  .lg\:n-icon-color\:base-2::before {
    background-color: var(--color-base-2);
  }

  .lg\:n-icon-color\:base-3::before {
    background-color: var(--color-base-3);
  }

  .lg\:n-icon-color\:base-4::before {
    background-color: var(--color-base-4);
  }

  .lg\:n-icon-color\:base-5::before {
    background-color: var(--color-base-5);
  }

  .lg\:n-icon-color\:base-6::before {
    background-color: var(--color-base-6);
  }

  .lg\:n-icon-color\:base-7::before {
    background-color: var(--color-base-7);
  }

  .lg\:n-icon-color\:base-8::before {
    background-color: var(--color-base-8);
  }

  .lg\:n-icon-color\:base-9::before {
    background-color: var(--color-base-9);
  }

  .lg\:n-icon-color\:base-10::before {
    background-color: var(--color-base-10);
  }


  /* === decoration ========================= */
  .lg\:n-deco {
    --deco-gap: 24px;
    --deco-size: 24px;

    width: auto;
    text-indent: initial;
    gap: var(--deco-gap);
  }

  /* deco-position ------------------------------------------------- */
  .lg\:n-deco-pos\:top,
  .lg\:n-deco-pos\:bottom {
    flex-direction: column;
    height: auto;
    gap: 0;
  }

  .lg\:n-deco-pos\:left,
  .lg\:n-deco-pos\:right {
    flex-direction: row;
    height: auto;
    width: auto;
    gap: var(--deco-gap);
  }

  :is(li, dt, dd, td, th, div):has(>.lg\:n-deco-pos\:top),
  :is(li, dt, dd, td, th, div):has(>.lg\:n-deco-pos\:bottom) {
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  :is(li, dt, dd, td, th, div):has(>.lg\:n-deco-pos\:left),
  :is(li, dt, dd, td, th, div):has(>.lg\:n-deco-pos\:right) {
    padding-top: unset;
    padding-bottom: unset;
  }

  .lg\:n-deco-pos\:left::before,
  .lg\:n-deco-pos\:top::before {
    order: unset;
  }

  .lg\:n-deco-pos\:right::before,
  .lg\:n-deco-pos\:bottom::before {
    order: 1;
  }

  /* ---- deco-gap ------------------------------------------------- */

  .lg\:n-deco-gap\:0 {
    --deco-gap: 0px;
  }

  .lg\:n-deco-gap\:1 {
    --deco-gap: 5px;
  }

  .lg\:n-deco-gap\:2 {
    --deco-gap: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .xl\:n-icon {

    /* icon */
    --icon-size-1: 12px;
    --icon-size-2: 16px;
    --icon-size-3: 18px;
    --icon-size-4: 20px;
    --icon-size-5: 24px;
    --icon-size-6: 30px;
    --icon-size-7: 32px;
    --icon-size-8: 40px;
    --icon-size-9: 48px;
    --icon-size-ex: 0;

    --icon-size: 24px;
    --icon-color: #000;

    display: inline-flex;
    width: var(--icon-size);
    height: var(--icon-size);
    overflow: hidden;
    align-items: center;
  }

  .xl\:n-icon::before {
    /*icon 스타일*/

    flex-shrink: 0;

    content: "";
    display: inline-flex;
    width: var(--icon-size);
    height: var(--icon-size);
    overflow: hidden;

    background-color: var(--icon-color);
    background-repeat: no-repeat;
    mask-size: var(--icon-size);
    mask-image: var(--icon);
  }



  /* === color ======================================= */
  /*
  main 1/2/3
  sub 1/2/3
  accent 1/2/3
  base 1/2/3/4/5/6/7/8/9/10*/

  .xl\:n-icon-color\:main-1 {
    --icon-color: var(--color-main-1, #D86259);
  }

  .xl\:n-icon-color\:main-2 {
    --icon-color: var(--color-main-2, #905634);
  }

  .xl\:n-icon-color\:main-3 {
    --icon-color: var(--color-main-3, #5E2808);
  }

  .xl\:n-icon-color\:sub-1 {
    --icon-color: var(--color-sub-1, #F3E184);
  }

  .xl\:n-icon-color\:accent-1 {
    --icon-color: var(--color-accent-1, #334DCF);
  }

  /* ---- icon-size ------------------------------------------------- */
  .xl\:n-icon-size\:1 {
    --icon-size: var(--icon-size-1);
  }

  .xl\:n-icon-size\:2 {
    --icon-size: var(--icon-size-2);
  }

  .xl\:n-icon-size\:3 {
    --icon-size: var(--icon-size-3);
  }

  .xl\:n-icon-size\:4 {
    --icon-size: var(--icon-size-4);
  }

  .xl\:n-icon-size\:5 {
    --icon-size: var(--icon-size-5);
  }

  .xl\:n-icon-size\:6 {
    --icon-size: var(--icon-size-6);
  }

  .xl\:n-icon-size\:7 {
    --icon-size: var(--icon-size-7);
  }

  .xl\:n-icon-size\:8 {
    --icon-size: var(--icon-size-8);
  }

  .xl\:n-icon-size\:9 {
    --icon-size: var(--icon-size-9);
  }

  .xl\:n-icon-size\:ex {
    --icon-size: var(--icon-size-ex);
  }

  /* ---- icon-color ------------------------------------------------- */
  .xl\:n-icon-color\:main-1::before {
    background-color: var(--color-main-1);
  }

  .xl\:n-icon-color\:main-2::before {
    background-color: var(--color-main-2);
  }

  .xl\:n-icon-color\:main-3::before {
    background-color: var(--color-main-3);
  }

  .xl\:n-icon-color\:sub-1::before {
    background-color: var(--color-sub-1);
  }

  .xl\:n-icon-color\:sub-2::before {
    background-color: var(--color-sub-2);
  }

  .xl\:n-icon-color\:sub-3::before {
    background-color: var(--color-sub-3);
  }

  .xl\:n-icon-color\:accent-1::before {
    background-color: var(--color-accent-1);
  }

  .xl\:n-icon-color\:accent-2::before {
    background-color: var(--color-accent-2);
  }

  .xl\:n-icon-color\:accent-3::before {
    background-color: var(--color-accent-3);
  }

  .xl\:n-icon-color\:base-1::before {
    background-color: var(--color-base-1);
  }

  .xl\:n-icon-color\:base-2::before {
    background-color: var(--color-base-2);
  }

  .xl\:n-icon-color\:base-3::before {
    background-color: var(--color-base-3);
  }

  .xl\:n-icon-color\:base-4::before {
    background-color: var(--color-base-4);
  }

  .xl\:n-icon-color\:base-5::before {
    background-color: var(--color-base-5);
  }

  .xl\:n-icon-color\:base-6::before {
    background-color: var(--color-base-6);
  }

  .xl\:n-icon-color\:base-7::before {
    background-color: var(--color-base-7);
  }

  .xl\:n-icon-color\:base-8::before {
    background-color: var(--color-base-8);
  }

  .xl\:n-icon-color\:base-9::before {
    background-color: var(--color-base-9);
  }

  .xl\:n-icon-color\:base-10::before {
    background-color: var(--color-base-10);
  }


  /* === decoration ========================= */
  .xl\:n-deco {
    --deco-gap: 24px;
    --deco-size: 24px;

    width: auto;
    text-indent: initial;
    gap: var(--deco-gap);
  }

  /* deco-position ------------------------------------------------- */
  .xl\:n-deco-pos\:top,
  .xl\:n-deco-pos\:bottom {
    flex-direction: column;
    height: auto;
    gap: 0;
  }

  .xl\:n-deco-pos\:left,
  .xl\:n-deco-pos\:right {
    flex-direction: row;
    height: auto;
    width: auto;
    gap: var(--deco-gap);
  }

  :is(li, dt, dd, td, th, div):has(>.xl\:n-deco-pos\:top),
  :is(li, dt, dd, td, th, div):has(>.xl\:n-deco-pos\:bottom) {
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  :is(li, dt, dd, td, th, div):has(>.xl\:n-deco-pos\:left),
  :is(li, dt, dd, td, th, div):has(>.xl\:n-deco-pos\:right) {
    padding-top: unset;
    padding-bottom: unset;
  }

  .xl\:n-deco-pos\:left::before,
  .xl\:n-deco-pos\:top::before {
    order: unset;
  }

  .xl\:n-deco-pos\:right::before,
  .xl\:n-deco-pos\:bottom::before {
    order: 1;
  }

  /* ---- deco-gap ------------------------------------------------- */

  .xl\:n-deco-gap\:0 {
    --deco-gap: 0px;
  }

  .xl\:n-deco-gap\:1 {
    --deco-gap: 5px;
  }

  .xl\:n-deco-gap\:2 {
    --deco-gap: 10px;
  }
}