/* ───────────────────────────────────
 * n-icon 
 	+ n-icon:name:필수
	+ n-icon:border-* or bd-* 옵션
 
 * deco
 * deco-position
 * deco-size
 * deco-margin
 * icon-size
 * icon-color
 * icon list
 * ───────────────────────────────────    */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.n-icon {
	/* icon */
	--icon-size-1: 12px;
	--icon-size-2: 16px;
	--icon-size-3: 18px;
	--icon-size-4: 20px;
	--icon-size-5: 24px;
	--icon-size-6: 30px;
	--icon-size-7: 32px;
	--icon-size-8: 40px;
	--icon-size-9: 48px;
	--icon-size-ex: 0;

	--icon-size: 24px;
	--icon-color: #000;

	display: inline-flex;
	width: var(--icon-size);
	height: var(--icon-size);
	overflow: hidden;
	align-items: center;
	/* justify-content: center; */

	visibility: visible;

	transition: all 0.2s ease-in-out;

	&::before {
		/*icon 스타일*/

		flex-shrink: 0;

		content: "";
		display: inline-flex;
		align-items: center;
		justify-content: center;

		width: var(--icon-size);
		height: var(--icon-size);
		overflow: hidden;

		/* margin-right: 999px; */

		/* background-color: var(--icon-color);
    background-repeat: no-repeat;
    mask-size: var(--icon-size);
    mask-image: var(--icon); */

		font-family: "Material Symbols Outlined";
		font-size: var(--icon-size);
	}

	&.n-hover:not(.n-deco):hover {
		border-radius: 50%;
		/* border: 1px solid var(--color-base-5); */
		background-color: var(--color-base-3);
		transform: scale(1.4);

		&::before {
			transform: scale(0.72);
		}
	}
}
/* === border  =============================== */

.icon-border,
.icon-bd,
.icon-border\:circle,
.icon-bd\:circle,
.icon-border\:radius,
.icon-bd\:radius {
	width: calc(var(--icon-size) + 4px);
	height: calc(var(--icon-size) + 4px);
	/* 아이콘 위치 보정 */
	padding-left: 1px;

	&::before {
		/* 텍스트를 박스 밖으로 밀어내기 */
		margin-right: 2px;
	}

	&:hover {
		background-color: var(--color-base-3);
		color: var(--color-main-1);
	}

	border: 1px solid var(--border-color, var(--color-base-5));
}

.icon-border\:circle,
.icon-bd\:circle {
	border-radius: 50%;
}

.icon-border\:radius,
.icon-bd\:radius {
	border-radius: var(--border-radius, 8px);
}

/* === style  =============================== */

.icon-style\:outlined::before {
	font-family: "Material Symbols Outlined";
}

.icon-style\:filled::before {
	font-variation-settings: "FILL" 1;
}

.icon-style\:rounded::before {
	font-family: "Material Symbols Rounded";
}

.icon-style\:sharp::before {
	font-family: "Material Symbols Sharp";
}

/* === color ======================================= */
/*
main 1/2/3
sub 1/2/3
accent 1/2/3
base 1/2/3/4/5/6/7/8/9/10*/

.icon-color\:main-1::before {
	color: var(--color-main-1);
}

.icon-color\:main-2::before {
	color: var(--color-main-2);
}

.icon-color\:main-3::before {
	color: var(--color-main-3);
}

.icon-color\:sub-1::before {
	color: var(--color-sub-1);
}

.icon-color\:sub-2::before {
	color: var(--color-sub-2);
}

.icon-color\:sub-3::before {
	color: var(--color-sub-3);
}

.icon-color\:accent-1::before {
	color: var(--color-accent-1);
}

.icon-color\:accent-2::before {
	color: var(--color-accent-2);
}

.icon-color\:accent-3::before {
	color: var(--color-accent-3);
}

.icon-color\:base-1::before {
	color: var(--color-base-1);
}

.icon-color\:base-2::before {
	color: var(--color-base-2);
}

.icon-color\:base-3::before {
	color: var(--color-base-3);
}

.icon-color\:base-4::before {
	color: var(--color-base-4);
}

.icon-color\:base-5::before {
	color: var(--color-base-5);
}

.icon-color\:base-6::before {
	color: var(--color-base-6);
}

.icon-color\:base-7::before {
	color: var(--color-base-7);
}

.icon-color\:base-8::before {
	color: var(--color-base-8);
}

.icon-color\:base-9::before {
	color: var(--color-base-9);
}

.icon-color\:base-10::before {
	color: var(--color-base-10);
}

/* ---- icon-size ------------------------------------------------- */

.icon-size\:1 {
	--icon-size: var(--icon-size-1);
}

.icon-size\:1::before {
	font-size: var(--icon-size-1);
}

.icon-size\:2 {
	--icon-size: var(--icon-size-2);
}

.icon-size\:2::before {
	font-size: var(--icon-size-2);
}

.icon-size\:3 {
	--icon-size: var(--icon-size-3);
}

.icon-size\:3::before {
	font-size: var(--icon-size-3);
}

.icon-size\:4 {
	--icon-size: var(--icon-size-4);
}

.icon-size\:4::before {
	font-size: var(--icon-size-4);
}

.icon-size\:5 {
	--icon-size: var(--icon-size-5);
}

.icon-size\:5::before {
	font-size: var(--icon-size-5);
}

.icon-size\:6 {
	--icon-size: var(--icon-size-6);
	&.icon-border,
	&.icon-bd,
	&.icon-border\:circle,
	&.icon-bd\:circle,
	&.icon-border\:radius,
	&.icon-bd\:radius {
		width: calc(var(--icon-size) + 6px);
		height: calc(var(--icon-size) + 6px);
		padding-left: 3px;
	}
}

.icon-size\:6::before {
	font-size: var(--icon-size-6);
	margin-right: 3px;
}

.icon-size\:7 {
	--icon-size: var(--icon-size-7);
	&.icon-border,
	&.icon-bd,
	&.icon-border\:circle,
	&.icon-bd\:circle,
	&.icon-border\:radius,
	&.icon-bd\:radius {
		width: calc(var(--icon-size) + 10px);
		height: calc(var(--icon-size) + 10px);
		padding-left: 4px;
	}
}

.icon-size\:7::before {
	font-size: var(--icon-size-7);
	margin-right: 4px;
}

.icon-size\:8 {
	--icon-size: var(--icon-size-8);

	&.icon-border,
	&.icon-bd,
	&.icon-border\:circle,
	&.icon-bd\:circle,
	&.icon-border\:radius,
	&.icon-bd\:radius {
		width: calc(var(--icon-size) + 12px);
		height: calc(var(--icon-size) + 12px);
		padding-left: 5px;
	}

	&::before {
		margin-right: 5px;
		font-size: var(--icon-size-8);
	}
}

.icon-size\:9 {
	--icon-size: var(--icon-size-9);
}

.icon-size\:ex {
	--icon-size: var(--icon-size-ex);
}

.icon-size\:ex::before {
	font-size: var(--icon-size-ex);
}

/* --- icon-padding ------------------------------------ */
.icon-pd\:1,
.icon-padding\:1 {
	width: calc(var(--icon-size) + 8px);
	height: calc(var(--icon-size) + 8px);
	padding-left: 3px;

	&::before {
		margin-right: 3px;
	}
}

.icon-pd\:2,
.icon-padding\:2 {
	width: calc(var(--icon-size) + 12px);
	height: calc(var(--icon-size) + 12px);
	padding-left: 5px;

	&::before {
		margin-right: 5px;
	}
}

.icon-pd\:3,
.icon-padding\:3 {
	width: calc(var(--icon-size) + 16px);
	height: calc(var(--icon-size) + 16px);
	padding-left: 7px;

	&::before {
		margin-right: 7px;
	}
}

.icon-pd\:4,
.icon-padding\:4 {
	width: calc(var(--icon-size) + 20px);
	height: calc(var(--icon-size) + 20px);
	padding-left: 9px;

	&::before {
		margin-right: 9px;
	}
}

.icon-pd\:5,
.icon-padding\:5 {
	width: calc(var(--icon-size) + 28px);
	height: calc(var(--icon-size) + 28px);
	padding-left: 13px;

	&::before {
		margin-right: 13px;
	}
}

/* === decoration ========================= */
.n-deco {
	--deco-gap: 10px;
	--deco-size: 24px;

	width: auto;
	text-indent: initial;
	text-align: center;
	gap: var(--deco-gap);
}

/* deco-position ------------------------------------------------- */

.n-deco-pos\:top,
.n-deco-pos\:bottom {
	flex-direction: column;
	height: auto;
	gap: 0;
}

:is(li, dt, dd, td, th, div):has(> .n-deco-pos\:top),
:is(li, dt, dd, td, th, div):has(> .n-deco-pos\:bottom) {
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

.n-deco-pos\:left::before,
.n-deco-pos\:top::before {
	order: unset;
}

.n-deco-pos\:right::before,
.n-deco-pos\:bottom::before {
	order: 1;
}

.n-deco-pos\:top,
.n-deco-pos\:bottom {
	width: auto;
}

:not(.n-deco).n-deco-pos\:left,
:not(.n-deco).n-deco-pos\:right,
:not(.n-deco).n-deco-pos\:top,
:not(.n-deco).n-deco-pos\:bottom {
	flex-direction: row;
	/* height: var(--icon-size);
  width: var(--icon-size); */
	position: relative;
	overflow: visible;

	display: flex;
	align-items: center;
	justify-content: center;
}

:not(.n-deco).n-deco-pos\:left::before,
:not(.n-deco).n-deco-pos\:right::before,
:not(.n-deco).n-deco-pos\:top::before,
:not(.n-deco).n-deco-pos\:bottom::before {
	font-family: Arial, Helvetica, sans-serif;
	content: "Error: n-deco is missing.";
	/* content: "에러 데코 클래스가 빠졌습니다."; */
	display: flex;

	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 100%;
	border: 1px solid red;
	font-size: 12px;
	color: red;
}

/* ---- deco-gap ------------------------------------------------- */

.n-deco-gap\:0 {
	--deco-gap: 0px;
}

.n-deco-gap\:1 {
	--deco-gap: 5px;
}

.n-deco-gap\:2 {
	--deco-gap: 10px;
}

@media screen and (min-width: 576px) {
	.sm\:n-icon {
		/* icon */
		--icon-size-1: 12px;
		--icon-size-2: 16px;
		--icon-size-3: 18px;
		--icon-size-4: 20px;
		--icon-size-5: 24px;
		--icon-size-6: 30px;
		--icon-size-7: 32px;
		--icon-size-8: 40px;
		--icon-size-9: 48px;
		--icon-size-ex: 0;

		--icon-size: 24px;
		--icon-color: #000;

		display: inline-flex;
		width: var(--icon-size);
		height: var(--icon-size);
		overflow: hidden;
		align-items: center;
	}

	.sm\:n-icon::before {
		/*icon 스타일*/

		content: "\e87d";
		/* favorite 아이콘의 유니코드 값 */
		font-family: "Material Symbols Outlined";
		font-size: var(--icon-size);
	}

	/* === color ======================================= */
	/*
  main 1/2/3
  sub 1/2/3
  accent 1/2/3
  base 1/2/3/4/5/6/7/8/9/10*/

	.sm\:icon-color\:main-1::before {
		color: var(--color-main-1);
	}

	.sm\:icon-color\:main-2::before {
		color: var(--color-main-2);
	}

	.sm\:icon-color\:main-3::before {
		color: var(--color-main-3);
	}

	.sm\:icon-color\:sub-1::before {
		color: var(--color-sub-1);
	}

	.sm\:icon-color\:sub-2::before {
		color: var(--color-sub-2);
	}

	.sm\:icon-color\:sub-3::before {
		color: var(--color-sub-3);
	}

	.sm\:icon-color\:accent-1::before {
		color: var(--color-accent-1);
	}

	.sm\:icon-color\:accent-2::before {
		color: var(--color-accent-2);
	}

	.sm\:icon-color\:accent-3::before {
		color: var(--color-accent-3);
	}

	.sm\:icon-color\:base-1::before {
		color: var(--color-base-1);
	}

	.sm\:icon-color\:base-2::before {
		color: var(--color-base-2);
	}

	.sm\:icon-color\:base-3::before {
		color: var(--color-base-3);
	}

	.sm\:icon-color\:base-4::before {
		color: var(--color-base-4);
	}

	.sm\:icon-color\:base-5::before {
		color: var(--color-base-5);
	}

	.sm\:icon-color\:base-6::before {
		color: var(--color-base-6);
	}

	.sm\:icon-color\:base-7::before {
		color: var(--color-base-7);
	}

	.sm\:icon-color\:base-8::before {
		color: var(--color-base-8);
	}

	.sm\:icon-color\:base-9::before {
		color: var(--color-base-9);
	}

	.sm\:icon-color\:base-10::before {
		color: var(--color-base-10);
	}

	/* ---- icon-size ------------------------------------------------- */
	.sm\:icon-size\:1::before {
		font-size: var(--icon-size-1);
	}

	.sm\:icon-size\:2::before {
		font-size: var(--icon-size-2);
	}

	.sm\:icon-size\:3::before {
		font-size: var(--icon-size-3);
	}

	.sm\:icon-size\:4::before {
		font-size: var(--icon-size-4);
	}

	.sm\:icon-size\:5::before {
		font-size: var(--icon-size-5);
	}

	.sm\:icon-size\:6::before {
		/* --icon-size: var(--icon-size-6); */
		font-size: var(--icon-size-6);
	}

	.sm\:icon-size\:7::before {
		font-size: var(--icon-size-7);
	}

	.sm\:icon-size\:8::before {
		font-size: var(--icon-size-8);
	}

	.sm\:icon-size\:9::before {
		font-size: var(--icon-size-9);
	}

	.sm\:icon-size\:ex::before {
		font-size: var(--icon-size-ex);
	}

	/* === decoration ========================= */
	.sm\:n-deco {
		--deco-gap: 10px;
		--deco-size: 24px;

		width: auto;
		text-indent: initial;
		text-align: center;
		gap: var(--deco-gap);
	}

	/* deco-position ------------------------------------------------- */
	.sm\:n-deco-pos\:top,
	.sm\:n-deco-pos\:bottom {
		flex-direction: column;
		height: auto;
		gap: 0;
	}

	:is(li, dt, dd, td, th, div):has(> .sm\:n-deco-pos\:top),
	:is(li, dt, dd, td, th, div):has(> .sm\:n-deco-pos\:bottom) {
		height: auto;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.sm\:n-deco-pos\:left,
	.sm\:n-deco-pos\:top {
		&::before {
			order: unset;
		}
	}

	.sm\:n-deco-pos\:right::before,
	.sm\:n-deco-pos\:bottom::before {
		order: 1;
	}

	.sm\:n-deco-pos\:left,
	.sm\:n-deco-pos\:right {
		flex-direction: row;
		gap: var(--deco-gap);
	}

	/* ---- deco-gap ------------------------------------------------- */

	.sm\:n-deco-gap\:0 {
		--deco-gap: 0px;
	}

	.sm\:n-deco-gap\:1 {
		--deco-gap: 5px;
	}

	.sm\:n-deco-gap\:2 {
		--deco-gap: 10px;
	}
}

@media screen and (min-width: 768px) {
	.md\:n-icon {
		/* icon */
		--icon-size-1: 12px;
		--icon-size-2: 16px;
		--icon-size-3: 18px;
		--icon-size-4: 20px;
		--icon-size-5: 24px;
		--icon-size-6: 30px;
		--icon-size-7: 32px;
		--icon-size-8: 40px;
		--icon-size-9: 48px;
		--icon-size-ex: 0;

		--icon-size: 24px;
		--icon-color: #000;

		display: inline-flex;
		width: var(--icon-size);
		height: var(--icon-size);
		overflow: hidden;
		align-items: center;
	}

	.md\:n-icon::before {
		/*icon 스타일*/

		font-family: "Material Symbols Outlined";
		font-size: var(--icon-size);
	}

	/* === color ======================================= */
	/*
  main 1/2/3
  sub 1/2/3
  accent 1/2/3
  base 1/2/3/4/5/6/7/8/9/10*/

	.md\:icon-color\:main-1::before {
		color: var(--color-main-1);
	}

	.md\:icon-color\:main-2::before {
		color: var(--color-main-2);
	}

	.md\:icon-color\:main-3::before {
		color: var(--color-main-3);
	}

	.md\:icon-color\:sub-1::before {
		color: var(--color-sub-1);
	}

	.md\:icon-color\:sub-2::before {
		color: var(--color-sub-2);
	}

	.md\:icon-color\:sub-3::before {
		color: var(--color-sub-3);
	}

	.md\:icon-color\:accent-1::before {
		color: var(--color-accent-1);
	}

	.md\:icon-color\:accent-2::before {
		color: var(--color-accent-2);
	}

	.md\:icon-color\:accent-3::before {
		color: var(--color-accent-3);
	}

	.md\:icon-color\:base-1::before {
		color: var(--color-base-1);
	}

	.md\:icon-color\:base-2::before {
		color: var(--color-base-2);
	}

	.md\:icon-color\:base-3::before {
		color: var(--color-base-3);
	}

	.md\:icon-color\:base-4::before {
		color: var(--color-base-4);
	}

	.md\:icon-color\:base-5::before {
		color: var(--color-base-5);
	}

	.md\:icon-color\:base-6::before {
		color: var(--color-base-6);
	}

	.md\:icon-color\:base-7::before {
		color: var(--color-base-7);
	}

	.md\:icon-color\:base-8::before {
		color: var(--color-base-8);
	}

	.md\:icon-color\:base-9::before {
		color: var(--color-base-9);
	}

	.md\:icon-color\:base-10::before {
		color: var(--color-base-10);
	}

	/* ---- icon-size ------------------------------------------------- */
	.md\:icon-size\:1::before {
		font-size: var(--icon-size-1);
	}

	.md\:icon-size\:2::before {
		font-size: var(--icon-size-2);
	}

	.md\:icon-size\:3::before {
		font-size: var(--icon-size-3);
	}

	.md\:icon-size\:4::before {
		font-size: var(--icon-size-4);
	}

	.md\:icon-size\:5::before {
		font-size: var(--icon-size-5);
	}

	.md\:icon-size\:6::before {
		/* --icon-size: var(--icon-size-6); */
		font-size: var(--icon-size-6);
	}

	.md\:icon-size\:7::before {
		font-size: var(--icon-size-7);
	}

	.md\:icon-size\:8::before {
		font-size: var(--icon-size-8);
	}

	.md\:icon-size\:9::before {
		font-size: var(--icon-size-9);
	}

	.md\:icon-size\:ex::before {
		font-size: var(--icon-size-ex);
	}

	/* === decoration ========================= */
	.md\:n-deco {
		--deco-gap: 10px;
		--deco-size: 24px;

		width: auto;
		text-indent: initial;
		text-align: center;
		gap: var(--deco-gap);
	}

	/* deco-position ------------------------------------------------- */
	.md\:n-deco-pos\:top,
	.md\:n-deco-pos\:bottom {
		flex-direction: column;
		height: auto;
		gap: 0;
	}

	:is(li, dt, dd, td, th, div):has(> .md\:n-deco-pos\:top),
	:is(li, dt, dd, td, th, div):has(> .md\:n-deco-pos\:bottom) {
		height: auto;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.md\:n-deco-pos\:left,
	.md\:n-deco-pos\:top {
		&::before {
			order: unset;
		}
	}

	.md\:n-deco-pos\:right::before,
	.md\:n-deco-pos\:bottom::before {
		order: 1;
	}

	.md\:n-deco-pos\:left,
	.md\:n-deco-pos\:right {
		flex-direction: row;
		gap: var(--deco-gap);
	}

	/* ---- deco-gap ------------------------------------------------- */

	.md\:n-deco-gap\:0 {
		--deco-gap: 0px;
	}

	.md\:n-deco-gap\:1 {
		--deco-gap: 5px;
	}

	.md\:n-deco-gap\:2 {
		--deco-gap: 10px;
	}
}

@media screen and (min-width: 992px) {
	.lg\:n-icon {
		/* icon */
		--icon-size-1: 12px;
		--icon-size-2: 16px;
		--icon-size-3: 18px;
		--icon-size-4: 20px;
		--icon-size-5: 24px;
		--icon-size-6: 30px;
		--icon-size-7: 32px;
		--icon-size-8: 40px;
		--icon-size-9: 48px;
		--icon-size-ex: 0;

		--icon-size: 24px;
		--icon-color: #000;

		display: inline-flex;
		width: var(--icon-size);
		height: var(--icon-size);
		overflow: hidden;
		align-items: center;
	}

	.lg\:n-icon::before {
		/*icon 스타일*/

		font-family: "Material Symbols Outlined";
		font-size: var(--icon-size);
	}

	/* === color ======================================= */
	/*
  main 1/2/3
  sub 1/2/3
  accent 1/2/3
  base 1/2/3/4/5/6/7/8/9/10*/

	.lg\:icon-color\:main-1::before {
		color: var(--color-main-1);
	}

	.lg\:icon-color\:main-2::before {
		color: var(--color-main-2);
	}

	.lg\:icon-color\:main-3::before {
		color: var(--color-main-3);
	}

	.lg\:icon-color\:sub-1::before {
		color: var(--color-sub-1);
	}

	.lg\:icon-color\:sub-2::before {
		color: var(--color-sub-2);
	}

	.lg\:icon-color\:sub-3::before {
		color: var(--color-sub-3);
	}

	.lg\:icon-color\:accent-1::before {
		color: var(--color-accent-1);
	}

	.lg\:icon-color\:accent-2::before {
		color: var(--color-accent-2);
	}

	.lg\:icon-color\:accent-3::before {
		color: var(--color-accent-3);
	}

	.lg\:icon-color\:base-1::before {
		color: var(--color-base-1);
	}

	.lg\:icon-color\:base-2::before {
		color: var(--color-base-2);
	}

	.lg\:icon-color\:base-3::before {
		color: var(--color-base-3);
	}

	.lg\:icon-color\:base-4::before {
		color: var(--color-base-4);
	}

	.lg\:icon-color\:base-5::before {
		color: var(--color-base-5);
	}

	.lg\:icon-color\:base-6::before {
		color: var(--color-base-6);
	}

	.lg\:icon-color\:base-7::before {
		color: var(--color-base-7);
	}

	.lg\:icon-color\:base-8::before {
		color: var(--color-base-8);
	}

	.lg\:icon-color\:base-9::before {
		color: var(--color-base-9);
	}

	.lg\:icon-color\:base-10::before {
		color: var(--color-base-10);
	}

	/* ---- icon-size ------------------------------------------------- */
	.lg\:icon-size\:1::before {
		font-size: var(--icon-size-1);
	}

	.lg\:icon-size\:2::before {
		font-size: var(--icon-size-2);
	}

	.lg\:icon-size\:3::before {
		font-size: var(--icon-size-3);
	}

	.lg\:icon-size\:4::before {
		font-size: var(--icon-size-4);
	}

	.lg\:icon-size\:5::before {
		font-size: var(--icon-size-5);
	}

	.lg\:icon-size\:6::before {
		/* --icon-size: var(--icon-size-6); */
		font-size: var(--icon-size-6);
	}

	.lg\:icon-size\:7::before {
		font-size: var(--icon-size-7);
	}

	.lg\:icon-size\:8::before {
		font-size: var(--icon-size-8);
	}

	.lg\:icon-size\:9::before {
		font-size: var(--icon-size-9);
	}

	.lg\:icon-size\:ex::before {
		font-size: var(--icon-size-ex);
	}

	/* === decoration ========================= */
	.lg\:n-deco {
		--deco-gap: 10px;
		--deco-size: 24px;

		width: auto;
		text-indent: initial;
		text-align: center;
		gap: var(--deco-gap);
	}

	/* deco-position ------------------------------------------------- */
	.lg\:n-deco-pos\:top,
	.lg\:n-deco-pos\:bottom {
		flex-direction: column;
		height: auto;
		gap: 0;
	}

	:is(li, dt, dd, td, th, div):has(> .lg\:n-deco-pos\:top),
	:is(li, dt, dd, td, th, div):has(> .lg\:n-deco-pos\:bottom) {
		height: auto;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.lg\:n-deco-pos\:left,
	.lg\:n-deco-pos\:top {
		&::before {
			order: unset;
		}
	}

	.lg\:n-deco-pos\:right::before,
	.lg\:n-deco-pos\:bottom::before {
		order: 1;
	}

	.lg\:n-deco-pos\:left,
	.lg\:n-deco-pos\:right {
		flex-direction: row;
		gap: var(--deco-gap);
	}

	/* ---- deco-gap ------------------------------------------------- */

	.lg\:n-deco-gap\:0 {
		--deco-gap: 0px;
	}

	.lg\:n-deco-gap\:1 {
		--deco-gap: 5px;
	}

	.lg\:n-deco-gap\:2 {
		--deco-gap: 10px;
	}
}

@media screen and (min-width: 1200px) {
	.xl\:n-icon {
		/* icon */
		--icon-size-1: 12px;
		--icon-size-2: 16px;
		--icon-size-3: 18px;
		--icon-size-4: 20px;
		--icon-size-5: 24px;
		--icon-size-6: 30px;
		--icon-size-7: 32px;
		--icon-size-8: 40px;
		--icon-size-9: 48px;
		--icon-size-ex: 0;

		--icon-size: 24px;
		--icon-color: #000;

		display: inline-flex;
		width: var(--icon-size);
		height: var(--icon-size);
		overflow: hidden;
		align-items: center;
	}

	.xl\:n-icon::before {
		/*icon 스타일*/
		font-family: "Material Symbols Outlined";
		font-size: var(--icon-size);
	}

	/* === color ======================================= */
	/*
  main 1/2/3
  sub 1/2/3
  accent 1/2/3
  base 1/2/3/4/5/6/7/8/9/10*/

	.xl\:icon-color\:main-1::before {
		color: var(--color-main-1);
	}

	.xl\:icon-color\:main-2::before {
		color: var(--color-main-2);
	}

	.xl\:icon-color\:main-3::before {
		color: var(--color-main-3);
	}

	.xl\:icon-color\:sub-1::before {
		color: var(--color-sub-1);
	}

	.xl\:icon-color\:sub-2::before {
		color: var(--color-sub-2);
	}

	.xl\:icon-color\:sub-3::before {
		color: var(--color-sub-3);
	}

	.xl\:icon-color\:accent-1::before {
		color: var(--color-accent-1);
	}

	.xl\:icon-color\:accent-2::before {
		color: var(--color-accent-2);
	}

	.xl\:icon-color\:accent-3::before {
		color: var(--color-accent-3);
	}

	.xl\:icon-color\:base-1::before {
		color: var(--color-base-1);
	}

	.xl\:icon-color\:base-2::before {
		color: var(--color-base-2);
	}

	.xl\:icon-color\:base-3::before {
		color: var(--color-base-3);
	}

	.xl\:icon-color\:base-4::before {
		color: var(--color-base-4);
	}

	.xl\:icon-color\:base-5::before {
		color: var(--color-base-5);
	}

	.xl\:icon-color\:base-6::before {
		color: var(--color-base-6);
	}

	.xl\:icon-color\:base-7::before {
		color: var(--color-base-7);
	}

	.xl\:icon-color\:base-8::before {
		color: var(--color-base-8);
	}

	.xl\:icon-color\:base-9::before {
		color: var(--color-base-9);
	}

	.xl\:icon-color\:base-10::before {
		color: var(--color-base-10);
	}

	/* ---- icon-size ------------------------------------------------- */
	.xl\:icon-size\:1::before {
		font-size: var(--icon-size-1);
	}

	.xl\:icon-size\:2::before {
		font-size: var(--icon-size-2);
	}

	.xl\:icon-size\:3::before {
		font-size: var(--icon-size-3);
	}

	.xl\:icon-size\:4::before {
		font-size: var(--icon-size-4);
	}

	.xl\:icon-size\:5::before {
		font-size: var(--icon-size-5);
	}

	.xl\:icon-size\:6::before {
		/* --icon-size: var(--icon-size-6); */
		font-size: var(--icon-size-6);
	}

	.xl\:icon-size\:7::before {
		font-size: var(--icon-size-7);
	}

	.xl\:icon-size\:8::before {
		font-size: var(--icon-size-8);
	}

	.xl\:icon-size\:9::before {
		font-size: var(--icon-size-9);
	}

	.xl\:icon-size\:ex::before {
		font-size: var(--icon-size-ex);
	}

	/* === decoration ========================= */
	.xl\:n-deco {
		--deco-gap: 10px;
		--deco-size: 24px;

		width: auto;
		text-indent: initial;
		text-align: center;
		gap: var (--deco-gap);
	}

	/* deco-position ------------------------------------------------- */
	.xl\:n-deco-pos\:top,
	.xl\:n-deco-pos\:bottom {
		flex-direction: column;
		height: auto;
		gap: 0;
	}

	:is(li, dt, dd, td, th, div):has(> .xl\:n-deco-pos\:top),
	:is(li, dt, dd, td, th, div):has(> .xl\:n-deco-pos\:bottom) {
		height: auto;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.xl\:n-deco-pos\:left,
	.xl\:n-deco-pos\:top {
		&::before {
			order: unset;
		}
	}

	.xl\:n-deco-pos\:right::before,
	.xl\:n-deco-pos\:bottom::before {
		order: 1;
	}

	.xl\:n-deco-pos\:left,
	.xl\:n-deco-pos\:right {
		flex-direction: row;
		gap: var(--deco-gap);
	}

	/* ---- deco-gap ------------------------------------------------- */

	.xl\:n-deco-gap\:0 {
		--deco-gap: 0px;
	}

	.xl\:n-deco-gap\:1 {
		--deco-gap: 5px;
	}

	.xl\:n-deco-gap\:2 {
		--deco-gap: 10px;
	}
}
