:is(.n-item,
    .n-item\:simple,
    .n-item\:fold) {
    

    width: 100%;
    /* border: 0.5px solid var(--item-border-color, var(--color-base-5)); */
    /* border-top-left-radius : var(--item_border-radius, 10px);
        border-top-right-radius : var(--item_border-radius, 10px);
        border-bottom-left-radius : var(--item_border-radius, 10px);
        border-bottom-right-radius : var(--item_border-radius, 10px);
        box-shadow: 1px 1px 5px 0px var(--item-box-shadow-color, var(--color-base-3)); */
    /* padding: var(--item_padding, var(--gap-4, 10px)); */
    background-color: var(--item_bg-color, var(--color-base-1));

    display: flex;
    flex-direction: row;
    align-items: center;

    >h1 {
        /* font-size: var(--item-header-h1_font-size, 18px); */
        font-weight: var(--item-header-h1_font-weight, 400);
    }

    >header {
        height: var(--item-header_height, 100px);
        padding: var(--item-header_padding, 16px);
        border-top-left-radius: var(--item_border-radius, 10px);
        border-top-right-radius: var(--item_border-radius, 10px);
        background-color: var(--item-header_bg-color, var(--color-base-7));

        font-family: "Google Sans", Roboto, Arial, sans-serif;
        line-height: var(--item_line-height, 1.75rem);
        color: var(--item-header_color, #fff);

        >h1 {
            font-size: var(--item-header-h1_font-size, 18px);
            font-weight: var(--item-header-h1_font-weight, 400);
        }

        >h2 {
            font-size: var(--item-header-h2_font-size, 14px);

            width: 100%;
            /* 원하는 제목 길이 설정 */
            white-space: nowrap;
            /* 한 줄로 유지 */
            overflow: hidden;
            /* 넘어가는 부분 숨김 */
            text-overflow: ellipsis;
            /* 생략 표시 설정 */
        }
    }
}

.n-item\:simple {
    padding: 1em;
    border: 0.5px solid var(--item-border-color, var(--color-base-3));

    >header {}
}

.n-item\:fold {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: var(--item_bg-image, url(/image/assets/bg-lecture-normal.png));

    >header {}
}

.n-item\:fold.event {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: var(--item_bg-image, url(/image/assets/bg-lecture-event.png));

    >header {
        background-color: var(--item-header_bg-color, var(--color-accent-2));
    }
}



/* ================================================= */

.n-item.n-item-dir\:column {
    flex-direction: column;

}