.n-list\:aside-menu {
  flex-direction: column;
  display: flex;

  overflow: hidden;

  li {
      display: flex;
      align-items: center;
      padding: 10px;
      border: none;

      width: 250px;
      flex-shrink: 0;      
      overflow: hidden;
  }

  li.active {
      background-color: var(--color-main-1);
      color: white;
  }

  li:hover {
      background-color: var(--color-base-5);
      color: white;
  }
}