.n-list{
  display: flex;
  flex-direction: column;
}

.n-list>.n-content{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.n-list.n-list\:horiz,
.n-list.n-list\:horizontal{    
    flex-wrap: wrap;
    
}
