/*
<variable>───────────────────────────────────

--panel-height, auto
--panel-bg-color, transparent
--panel-valign, start
--panel-align, center

<type>───────────────────────────────────────

.n-panel
.n-panel:frame

.n-panel:outlined-list
.n-panel:ruled-list

<option>─────────────────────────────────────
.content-pos:left, center, right

<example>────────────────────────────────────

<section class="n-panel">
</section>
+-------------------------------------------------------------+
|                                                           X |
|                                                             |
|                                                             |
+-------------------------------------------------------------+
+-------------------------------------------------------------+
|+-------------------------------------+                    X |
||             .content                |                      |
|+-------------------------------------+                      |
+-------------------------------------------------------------+

<section class="n-panel content-pos:center">
</section>
+-------------------------------------------------------------+
|           +-------------------------------------+         X |
|           |              .content               |           |
|           +-------------------------------------+           |
+-------------------------------------------------------------+

*/
/* 공통 스타일 집중화 */
:where(
		.n-panel,
		.n-panel\:1,
		.n-panel\:2,
		.n-panel\:3,
		.n-panel\:slide,
		.n-frame,
		.n-frame\:1,
		.n-frame\:2,
		.n-frame\:3
	) {
	--n-padding: 24px;
	--n-bd-radius: 12px;

	box-sizing: border-box;
	padding: var(--n-padding);
	border: 1px solid rgba(0, 0, 0, 0.1);

	display: flex;
	flex-direction: column;

	overflow: hidden;
}

.n-panel,
.n-frame {
	padding: var(--n-padding);

	background-color: var(--panel-bg-color, transparent);
}

.n-panel\:1,
.n-frame\:1 {
	border: 1px solid rgba(var(--rgb-base-1), 0.4);

	box-shadow: 0 1px 3px -1px rgba(22, 26, 32, 0.05),
		0 2px 8px -1px rgba(50, 50, 93, 0.13);
	border-radius: var(--n-bd-radius);
}

.n-panel\:2,
.n-frame\:2 {
	box-shadow: 0 1px 3px -1px rgba(22, 26, 32, 0.05),
		0 2px 8px -1px rgba(50, 50, 93, 0.13);
	padding: var(--n-padding);
}

.n-panel\:3,
.n-frame\:3 {
	border-radius: var(--n-bd-radius);
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: var(--n-padding);
	box-shadow: 0 1px 3px -1px rgba(22, 26, 32, 0.05),
		0 2px 8px -1px rgba(50, 50, 93, 0.13);
}

.n-panel\:slide {
	position: relative;

	.slide-cliper {
		margin-right: var(--gap-6);
		height: 100%;
		overflow: hidden;
		position: relative;

		> .n-list {
			/* 클리퍼 영역이 사라지지 않으면서 이동을 할 수 있도록 rlative로 설정 */
			position: relative;
			/* 위치 이동 */
			/* left: -100px; */
		}
	}

	/* > :has(:not(.slide-cliper))::after { */
	&:not(:has(.slide-cliper))::after {
		content: "오류 : n-panel:slide는 .slide-cliper를 찾을 수 없습니다.";
		display: flex;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(255, 255, 255, 0.7);

		justify-content: center;
		align-items: center;
		flex-grow: 1;
		color: red;
	}
}

:where(.n-frame, .n-frame\:1, .n-frame\:2, .n-frame\:3) {
	--n-padding: 0px;

	> h1,
	> header {
		display: flex;
		/* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
		padding: var(--gap-4) var(--gap-6);

		> h1 {
			display: flex;
			align-items: center;
		}
	}

	> h1 ~ *,
	> header ~ * {
		height: auto;
		padding: var(--gap-4) var(--gap-6);
		border-top: 1px solid rgba(var(--rgb-base-1), 0.3);

		transition: height 0.3s ease, overflow 0.3s ease;
	}

	> footer {
	}
}

/* ---- 토글 ------------------- */

:where(.n-frame, .n-frame\:1, .n-frame\:2, .n-frame\:3).n-expandable {
	> h1:has(.n-btn\:expander),
	> header:has(.n-btn\:expander) {
		cursor: pointer;

		.n-icon\:arrow_drop_down:has(.n-btn\:expander:checked)::before {
			content: "\e5c7";
		}
	}

	> h1 ~ *,
	> header ~ * {
		overflow: hidden;
		height: 0;
		padding: 0;
		border-top: none;
	}

	> h1:not(:has(.n-btn\:expander)),
	> header:not(:has(.n-btn\:expander)) {
		&::after {
			content: "오류 : n-expandable은 n-btn:expander 버튼이 필요합니다.";
			display: inline-flex;
			justify-content: flex-end;
			align-items: center;
			flex-grow: 1;
			color: red;
		}
	}

	> h1:has(.n-btn\:expander:checked) ~ *,
	> header:has(.n-btn\:expander:checked) ~ * {
		height: auto;
		padding: var(--gap-4) var(--gap-6);
		border-top: 1px solid rgba(0, 0, 0, 0.1);

		transition: height 0.3s ease, overflow 0.3s ease;
	}
}

/*==== 슈도 패널 ==========================================================*/
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}
