/*
<variable>───────────────────────────────────

--panel-height, auto
--panel-bg-color, transparent
--panel-valign, start
--panel-align, center

<type>───────────────────────────────────────

.n-panel
.n-panel:frame

.n-panel:outlined-list
.n-panel:ruled-list

<option>─────────────────────────────────────
.content-pos:left, center, right

<example>────────────────────────────────────

<section class="n-panel">
</section>
+-------------------------------------------------------------+
|                                                           X |
|                                                             |
|                                                             |
+-------------------------------------------------------------+
+-------------------------------------------------------------+
|+-------------------------------------+                    X |
||             .content                |                      |
|+-------------------------------------+                      |
+-------------------------------------------------------------+

<section class="n-panel content-pos:center">
</section>
+-------------------------------------------------------------+
|           +-------------------------------------+         X |
|           |              .content               |           |
|           +-------------------------------------+           |
+-------------------------------------------------------------+

*/
/* 공통 스타일 집중화 */
:where(.n-panel, .n-panel\:rounded-shadow, .n-frame, .n-frame\:rounded-shadow) {
  --n-panel-padding: 14px 10px;
  /* --n-panel-bg-color: var(--color-base-1); */
  --n-panel-bd-radius: 12px;

  padding: var(--n-panel-padding);
  /* background-color: var(--n-panel-bg-color); */
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &.n-panel\:card-list {
    & > div {
      gap: 20px;
      /* 아이템 간 간격 */

      width: 100%;
      flex-wrap: nowrap;
      overflow: hidden;
      /*border: 1px solid var(--color-base-3);*/
      padding: 5px;
      /*box-shadow: inset 0 0 3px var(--color-base-5);*/

      /*---- 상세 정보를 보여주는 경우의 스타일 ----------------*/
      > section {
        /*transform: translateX(-100px);*/

        flex-shrink: 0;
        width: 250px;
        padding: 20px;
        background-color: var(--n-panel-bg-color);
        border: none;
        box-sizing: border-box;
        border-radius: var(--n-panel-bd-radius);
        box-shadow: 0 1px 3px -1px rgba(22, 26, 32, 0.05),
          0 2px 8px -1px rgba(50, 50, 93, 0.13);

        *:has(img) {
          overflow: hidden;
        }

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &.n-panel\:card-grid {
    & > div {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      /* 핵심 */
      gap: 20px;
      /* 아이템 간 간격 */

      /*---- 상세 정보를 보여주는 경우의 스타일 ----------------*/
      section {
        padding: 20px;
        background-color: var(--n-panel-bg-color);
        border: none;
        box-sizing: border-box;
        border-radius: var(--n-panel-bd-radius);
        box-shadow: 0 1px 3px -1px rgba(22, 26, 32, 0.05),
          0 2px 8px -1px rgba(50, 50, 93, 0.13);

        *:has(img) {
          overflow: hidden;
        }

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.n-panel\:rounded-shadow,
.n-frame\:rounded-shadow {
  border-radius: var(--n-panel-bd-radius);
  box-shadow: 0 1px 3px -1px rgba(22, 26, 32, 0.05),
    0 2px 8px -1px rgba(50, 50, 93, 0.13);
}

.n-frame,
.n-frame\:rounded-shadow {
  /* checkbox 설정을 위한 스타일 */
  &:has(.n-panel-expander) {
    padding-top: 10px;
    padding-bottom: 10px;

    transition: padding-top 0.5s ease, padding-bottom 0.5s ease;
  }

  &:has(.n-panel-expander:checked) {
    padding: var(--n-panel-padding);
  }

  > h1,
  > header {
    padding: 0 0 16px 0;
    border-bottom: 1px solid var(--color-base-3);

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    /* checkbox 설정을 위한 스타일 */
    &:has(.n-panel-expander) {
      padding-bottom: 0;
      border-bottom: none;

      & + * {
        display: none;
      }
    }

    &:has(.n-panel-expander:checked) {
      padding-bottom: 10px;
      border-bottom: 1px solid var(--color-base-3);

      & + * {
        display: flex;
      }
    }
  }

  > h1,
  > header > h1 {
    font-size: 16px;
    font-weight: bold;

    display: flex;
    align-items: center;
  }

  /*checkbox 아이콘 스타일 수정*/
  label:has(.n-panel-expander:not(:checked))::before {
    font-family: "Material Symbols Outlined";
    font-size: 24px;
    content: "\e5c5"; /* favorite 아이콘의 유니코드 값 */
  }

  label:has(.n-panel-expander:checked)::before {
    font-family: "Material Symbols Outlined";
    font-size: 24px;
    content: "\e5c7";
  }
}

:is(
    .n-frame > h1,
    .n-frame > header,
    .n-frame\:rounded-shadow > h1,
    .n-frame\:rounded-shadow > header
  )
  + * {
  margin-top: 24px;
}

/*==== 슈도 패널 ==========================================================*/
@media screen and (min-width: 576px) {
  :where(
      .n-panel,
      .n-panel\:rounded-shadow,
      .n-frame,
      .n-frame\:rounded-shadow
    ) {
    --n-panel-padding: 24px;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}
