
/* === .n-section 옵션 ====

.n-content-toggle:hide

============================================================== */

.n-section {
	--padding: var(--space-4);
	--gap: var(--space-4);
	--bd-color: var(--color-base-5);
	--bd-color-hover: var(--color-base-8);
	--bd-width: 1px;
	--bd-radius: var(--space-3);
	--title-color: var(--color-base-7);
	--title-size: var(--size-8);
	--title-fw: var(--font-weight-7);	
	--bg-color-glass: rgba(var(--rgb-base-2), 0.4);
	--bg-color-glass-hover: rgba(var(--rgb-base-4), 0.4);
}

@media (prefers-color-scheme: dark) {
	.n-section {
		--title-color: var(--color-base-1);
		--bd-color: var(--color-base-6);
		--bd-color-hover: var(--color-base-2);
		--bd-width: 0.5px;
		--bg-color-glass: rgba(var(--rgb-base-8), 0.4);
		--bg-color-glass-hover: rgba(var(--rgb-base-8), 0.6);
	}
}

.n-section {
	display: flex;
	flex-direction: column;	
	overflow: clip;
	
	/* ===== SECTION TYPE ===== */
	/* TYPE : card, glass, elevated */
	/* AND 연산 가능한 클래스 조합 가능한 형태로 설계 */

	&.hover:hover{	
		cursor: pointer;
	}

	&.section\:card{
		border: var(--bd-width) solid var(--bd-color);	
		border-radius: var(--bd-radius);
		
		&.hover:hover{
			border: var(--border-width-1) solid var(--bd-color-hover);			
		}
	}

	&.section\:glass{		
		background: var(--bg-color-glass);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);		

		transition: background 0.3s ease, backdrop-filter 0.3s ease, border 0.3s ease;

		&.hover:hover{
			background: var(--bg-color-glass-hover);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);			
		}
	}


	&.section\:elevated{
		box-shadow: var(--shadow-lg);

		&.hover:hover{
			box-shadow: var(--shadow-xl);
		}
	}

	

	/* ===== 자식 엘리먼트 스타일 ===== 
	────┰───────────────────────────  
		┠─── SECTION HEADER */

	&>h1,
	&>header {
		font-size: var(--title-size);
		font-weight: var(--title-fw);
		color: var(--title-color);

		overflow: hidden;
		width: 100%;
		min-width: 0;
		max-width: 100%;
		text-overflow: ellipsis;
		white-space: nowrap;
		
		padding: var(--padding);

		display: flex;
		align-items: center;
		border-bottom: var(--bd-width) solid var(--bd-color);
	}

	/* header에 종속된 h1 스타일 */
	&>header>h1{
		font-size: var(--title-size);
		font-weight: var(--title-fw);
		color: var(--title-color);
		display: flex;
		align-items: center;
	}

	&>h1+*,
	&>header+* {
		max-height: 2000px; /* 충분히 큰 값 */
		overflow: hidden;
		padding: var(--padding);
		transition: max-height 0.6s ease, opacity 0.6s ease, padding 0.6s ease;
		opacity: 1;
	}

	/* ===== 자식 엘리먼트 스타일 ===== 
	────┰───────────────────────────  
		┠─── SECTION HEADER 
	 	┠─── SECTION CONTENT */

	/* 혹시 n-list 가 포함되어 있고 방향이 column 방향이면 콘텐츠 영역 패딩을 없앰 */
	&:has(.n-list.list-dir\:column),
	&:has(.n-list.list-direction\:column)>* {
		&>h1+*,
		&>header+* {
			padding: 0;
		}
	}

	/* ===== SECTION ACTIONS ===== */

	&.content-toggle\:hide{
		&>h1,
		&>header {
			border-bottom: none;
		}

		&>h1+*,
		&>header+* {
			max-height: 0;
			opacity: 0;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}
