.n-tab {
    display: flex;

    gap: 10px;
}

.n-tab\:aside {
    flex-direction: column;
    display: flex;

    li {
        display: flex;
        align-items: center;
        padding: 10px;
        border: none;
    }

    li.active {
        background-color: var(--color-main-1);
        color: white;
    }

    li:hover {
        background-color: var(--color-base-5);
        color: white;
    }
}