/**
  <div class="n-progress" role="progressbar">
    <div style="width: 25%"></div>
  </div>
 */

.n-progress {
  --progress-height: 6px;
  --progress-border-radius: 999px;
  --progress-background-color: rgba(var(--rgb-base-6), 0.2);

  --progressbar-color-main: var(--color-main-1);
  --progressbar-color-sub: var(--color-sub-1);
  --progressbar-color-accent: var(--color-accent-1);
  --progressbar-color-base: var(--color-base-6);
}

.n-progress {
  display: flex;
  width: 100%;
  height: var(--progress-height);
  background-color: var(--progress-background-color);
  border-radius: var(--progress-border-radius);
  overflow: hidden;
}

.n-progress > div:first-child, /* default */
.n-progress-color\:main > div:first-child {
  background-color: var(--progressbar-color-main);
}

.n-progress-color\:sub > div:first-child {
  background-color: var(--progressbar-color-sub);
}

.n-progress-color\:accent > div:first-child {
  background-color: var(--progressbar-color-accent);
}

.n-progress-color\:base > div:first-child {
  background-color: var(--progressbar-color-base);
}
