/**
 * table
 * cell-height   : 1 / 2 / 3
 * table-style   : normal / striped
 * table-border
 * table-border-bottom
 * table-hover
 * column-border
 * 
 * bbs-table
 * cell-width    : 1 / 2 / 3
 */
/**

* how to use

<table class="n-table n-bbs-table n-table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Last Login</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Tom</td>
      <td>male</td>
      <td>2020-11-01</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Olivia</td>
      <td>female</td>
      <td>2021-03-01</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Jerry</td>
      <td>male</td>
      <td>2021-03-01</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Kenneth</td>
      <td>female</td>
      <td>2021-03-02</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Robert</td>
      <td>male</td>
      <td>2021-02-04</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Anthony</td>
      <td>female</td>
      <td>2020-12-30</td>
    </tr>
  </tbody>
</table>

*/

/* ------------------------------- */
/*              table              */
/* ------------------------------- */
.n-table {
  --table-border-radius: 16px;
  --table-border-radius-1: 0;
  --table-border-radius-2: 4px;
  --table-border-radius-3: 8px;
  --table-border-radius-4: 12px;
  --table-border-radius-5: 16px;
  
  --table-background-color: var(--color-base-1);
  --table-background-color-hover: rgba(var(--rgb-base-10), 0.05);

  --table-thead-background-color: var(--color-base-1);

  --table-row-height: 40px;
  --table-row-height-1: 32px;
  --table-row-height-2: 40px;
  --table-row-height-3: 48px;
  --table-cell-padding-x: 16px;
  
  table-layout: fixed;
  border-collapse: collapse;

  background-color: var(--table-background-color);
  
  width: 100%;
}

/* -------- [ default style ] -------- */
.n-table > thead {
  background-color: var(--table-thead-background-color);
}

/* row style */
.n-table > * > *  {
  height: var(--table-row-height);
}

/* thead row style */
.n-table > thead > * {
  border-bottom: 1px solid var(--color-base-4);
}

/* tbody row style */
.n-table > tbody > * {
  transition: background-color 0.12s;
}
.n-table > tbody > *:not(:last-child) {
  border-bottom: 1px solid var(--color-base-2);
}

/* cell style */
.n-table > * > * > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  padding-left: var(--table-cell-padding-x);
  padding-right: var(--table-cell-padding-x);
}

/* thead cell style */
.n-table > thead > * > * {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

/* tbody cell style */
.n-table > tbody > * > * {
  font-weight: 400;
}

/* ----------- var [ row-height ] ----------- */
.n-table.n-row-height\:1 > * > * ,
.n-table.n-row-h\:1 > * > *  {
  height: var(--table-row-height-1);
}

.n-table.n-row-height\:2 > * > *,
.n-table.n-row-h\:2 > * > * {
  height: var(--table-row-height-2);
}
.n-table.n-row-height\:3 > * > *,
.n-table.n-row-h\:3 > * > * {
  height: var(--table-row-height-3);
}

/* ----------- var [ table-style ] -----------  */
.n-table.n-table-style\:striped > tbody > :nth-child(odd),
.n-table.n-table\:striped > tbody > :nth-child(odd) {
  background-color: rgba(var(--rgb-base-10), 0.02);
}

/* ----------- var [ table-border ] ----------- */
/* border (all) */
.n-table.n-table-border,
.n-table.n-table-bd {
  border-radius: var(--table-border-radius);
  border-style: hidden;
  box-shadow: 0 0 0 1px var(--color-base-2);
}

/* for thead background-color */
.n-table.n-table-border > thead th:first-child,
.n-table.n-table-bd > thead th:first-child {
  border-top-left-radius: var(--table-border-radius);
}

.n-table.n-table-border > thead th:last-child,
.n-table.n-table-bd > thead th:last-child {
  border-top-right-radius: var(--table-border-radius);
}

/* for hover */
.n-table.n-table-border > tbody > tr:last-child > :first-child,
.n-table.n-table-bd > tbody > tr:last-child > :first-child {
  border-bottom-left-radius: var(--table-border-radius);
}

.n-table.n-table-border > tbody > tr:last-child > :last-child,
.n-table.n-table-bd > tbody > tr:last-child > :last-child {
  border-bottom-right-radius: var(--table-border-radius);
}

/* border-bottom */
.n-table.n-table-border\:bottom > tbody > tr:last-child,
.n-table.n-table-bd\:bottom > tbody > tr:last-child {
  border-bottom: 1px solid var(--color-base-2);
}

/* border-column */
.n-table.n-table-border\:column > * > * > *:not(:last-child),
.n-table.n-table-bd\:column > * > * > *:not(:last-child),
.n-table.n-table-bd\:col > * > * > *:not(:last-child) {
  border-right: 1px solid var(--color-base-2);
}

/* border-radius */
/* 1 */
.n-table.n-table-border-radius\:1,
.n-table.n-table-bd-radius\:1 {
  border-radius: var(--table-border-radius-1);
}

.n-table.n-table-border-radius\:1 > thead th:first-child,
.n-table.n-table-bd-radius\:1 > thead th:first-child {
  border-top-left-radius: var(--table-border-radius-1);
}

.n-table.n-table-border-radius\:1 > thead th:last-child,
.n-table.n-table-bd-radius\:1 > thead th:last-child {
  border-top-right-radius: var(--table-border-radius-1);
}

.n-table.n-table-border-radius\:1 > tbody > tr:last-child > :first-child,
.n-table.n-table-bd-radius\:1 > tbody > tr:last-child > :first-child {
  border-bottom-left-radius: var(--table-border-radius-1);
}

.n-table.n-table-border-radius\:1 > tbody > tr:last-child > :last-child,
.n-table.n-table-bd-radius\:1 > tbody > tr:last-child > :last-child {
  border-bottom-right-radius: var(--table-border-radius-1);
}

/* 2 */
.n-table.n-table-border-radius\:2,
.n-table.n-table-bd-radius\:2 {
  border-radius: var(--table-border-radius-2);
}

.n-table.n-table-border-radius\:2 > thead th:first-child,
.n-table.n-table-bd-radius\:2 > thead th:first-child {
  border-top-left-radius: var(--table-border-radius-2);
}

.n-table.n-table-border-radius\:2 > thead th:last-child,
.n-table.n-table-bd-radius\:2 > thead th:last-child {
  border-top-right-radius: var(--table-border-radius-2);
}

.n-table.n-table-border-radius\:2 > tbody > tr:last-child > :first-child,
.n-table.n-table-bd-radius\:2 > tbody > tr:last-child > :first-child {
  border-bottom-left-radius: var(--table-border-radius-2);
}

.n-table.n-table-border-radius\:2 > tbody > tr:last-child > :last-child,
.n-table.n-table-bd-radius\:2 > tbody > tr:last-child > :last-child {
  border-bottom-right-radius: var(--table-border-radius-2);
}

/* 3 */
.n-table.n-table-border-radius\:3,
.n-table.n-table-bd-radius\:3 {
  border-radius: var(--table-border-radius-3);
}

.n-table.n-table-border-radius\:3 > thead th:first-child,
.n-table.n-table-bd-radius\:3 > thead th:first-child {
  border-top-left-radius: var(--table-border-radius-3);
}

.n-table.n-table-border-radius\:3 > thead th:last-child,
.n-table.n-table-bd-radius\:3 > thead th:last-child {
  border-top-right-radius: var(--table-border-radius-3);
}

.n-table.n-table-border-radius\:3 > tbody > tr:last-child > :first-child,
.n-table.n-table-bd-radius\:3 > tbody > tr:last-child > :first-child {
  border-bottom-left-radius: var(--table-border-radius-3);
}

.n-table.n-table-border-radius\:3 > tbody > tr:last-child > :last-child,
.n-table.n-table-bd-radius\:3 > tbody > tr:last-child > :last-child {
  border-bottom-right-radius: var(--table-border-radius-3);
}

/* 4 */
.n-table.n-table-border-radius\:4,
.n-table.n-table-bd-radius\:4 {
  border-radius: var(--table-border-radius-4);
}

.n-table.n-table-border-radius\:4 > thead th:first-child,
.n-table.n-table-bd-radius\:4 > thead th:first-child {
  border-top-left-radius: var(--table-border-radius-4);
}

.n-table.n-table-border-radius\:4 > thead th:last-child,
.n-table.n-table-bd-radius\:4 > thead th:last-child {
  border-top-right-radius: var(--table-border-radius-4);
}

.n-table.n-table-border-radius\:4 > tbody > tr:last-child > :first-child,
.n-table.n-table-bd-radius\:4 > tbody > tr:last-child > :first-child {
  border-bottom-left-radius: var(--table-border-radius-4);
}

.n-table.n-table-border-radius\:4 > tbody > tr:last-child > :last-child,
.n-table.n-table-bd-radius\:4 > tbody > tr:last-child > :last-child {
  border-bottom-right-radius: var(--table-border-radius-4);
}

/* 5 */
.n-table.n-table-border-radius\:5,
.n-table.n-table-bd-radius\:5 {
  border-radius: var(--table-border-radius-5);
}

.n-table.n-table-border-radius\:5 > thead th:first-child,
.n-table.n-table-bd-radius\:5 > thead th:first-child {
  border-top-left-radius: var(--table-border-radius-5);
}

.n-table.n-table-border-radius\:5 > thead th:last-child,
.n-table.n-table-bd-radius\:5 > thead th:last-child {
  border-top-right-radius: var(--table-border-radius-5);
}

.n-table.n-table-border-radius\:5 > tbody > tr:last-child > :first-child,
.n-table.n-table-bd-radius\:5 > tbody > tr:last-child > :first-child {
  border-bottom-left-radius: var(--table-border-radius-5);
}

.n-table.n-table-border-radius\:5 > tbody > tr:last-child > :last-child,
.n-table.n-table-bd-radius\:5 > tbody > tr:last-child > :last-child {
  border-bottom-right-radius: var(--table-border-radius-5);
}

/* ----------- var [ n-table-hover ] -----------  */
.n-table.n-table-hover > tbody > tr:hover {
  background-color: var(--table-background-color-hover);
}

/* ------------------------------- */
/*             bbs-table           */
/* ------------------------------- */

.n-table {
  --bbs-table-first-column-width: 50px;
  --bbs-table-last-column-width: 100px;

  --bbs-table-detail-column-width: 120px;
  --bbs-table-detail-column-width-1: 100px;
  --bbs-table-detail-column-width-2: 120px;
  --bbs-table-detail-column-width-3: 140px;
}

/* -------- [ default style ] -------- */
/* first column */
.n-bbs-table > * > * > :first-child {
  width: var(--bbs-table-first-column-width);
}

/* last column */
.n-bbs-table > * > * > :last-child {
  width: var(--bbs-table-last-column-width);
}

/* (3rd ~ last-1) column hidden */
.n-bbs-table > * > * > :nth-child(n + 3):not(:nth-last-child(-n + 1)) {
  display: none;
}

/* mobile */
@media (min-width: 1200px) {
  /* (3rd ~ last-1) column show */
  .n-bbs-table > * > * > :nth-child(n + 3):not(:nth-last-child(-n + 1)) {
    display: table-cell;
  }
  
  .n-bbs-table > * > * > :nth-child(n + 3):not(:nth-last-child(-n + 1)),
  .n-bbs-table > * > * > :nth-child(n + 3):not(:nth-last-child(-n + 1)) {
    width: var(--bbs-table-detail-column-width);
  }

  /* ------------ var [ column-width ] ------------ */
.n-bbs-table.n-column-width\:1 > * > * > :nth-child(n + 3):not(:nth-last-child(-n + 1)),
.n-bbs-table.n-column-w\:1 > * > * > :nth-child(n + 3):not(:nth-last-child(-n + 1)) {
  width: var(--bbs-table-detail-column-width-1);
}

.n-bbs-table.n-column-width\:2 > * > * > :nth-child(n + 3):not(:nth-last-child(-n + 1)),
.n-bbs-table.n-column-w\:2 > * > * > :nth-child(n + 3):not(:nth-last-child(-n + 1)) {
  width: var(--bbs-table-detail-column-width-2);
}

.n-bbs-table.n-column-width\:3 > * > * > :nth-child(n + 3):not(:nth-last-child(-n + 1)),
.n-bbs-table.n-column-w\:3 > * > * > :nth-child(n + 3):not(:nth-last-child(-n + 1)) {
  width: var(--bbs-table-detail-column-width-3);
}
}
