/* ───────────────────────────────────
 * n-textbox
 * n-textbox-type
 * n-textbox-status
    * focus
    * success
    * warning
    * disabled
 * placehoder      
 * n-textbox-label  
 * ───────────────────────────────────    */

/* ----n-textbox ------------------------------------------------- */

.n-textbox {
  /* textbox-size */
  --textbox-padding-x: 12px;
  --textbox-input-height: 36px;
  --textbox-textarea-min-height: 58px;
  
  /* textbox-border-color */
  --textbox-border-color: var(--color-base-3);
  
  /* textbox-border-radius */
  --textbox-border-radius: 6px;

  /* textbox-border-width */
  --textbox-underline-border-width: 1.6px;

  /* textbox-status:focus */
  --textbox-border-color-focus: var(--color-sub-2);

  /* textbox-status:success */
  --textbox-border-color-success: #37b24d;

  /* textbox-status:warning */
  --textbox-color-warning: var(--color-accent-1);
  --textbox-border-color-warning: var(--color-accent-1);
}

.n-textbox,
input[type="email"].n-textbox,
input[type="number"].n-textbox,
input[type="password"].n-textbox,
input[type="search"].n-textbox,
input[type="tel"].n-textbox,
input[type="text"].n-textbox,
input[type="url"].n-textbox,
textarea.n-textbox {
  width: 100%;
  padding: 4px var(--textbox-padding-x);
  color: rgba(var(--rgb-base-10), 0.85);
  background-color: var(--color-base-1);
  border: 1px solid var(--textbox-border-color);
  border-radius: var(--textbox-border-radius);
  box-shadow: 0px 1px 1.5px 0px rgba(0, 0, 0, 0.05);
}

/* ----n-textbox-type ------------------------------------------------- */

.n-textbox,
input[type="email"].n-textbox,
input[type="number"].n-textbox,
input[type="password"].n-textbox,
input[type="search"].n-textbox,
input[type="tel"].n-textbox,
input[type="text"].n-textbox,
input[type="url"].n-textbox,
.n-textbox-type\:outline,
input[type="email"].n-textbox-type\:outline,
input[type="number"].n-textbox-type\:outline,
input[type="password"].n-textbox-type\:outline,
input[type="search"].n-textbox-type\:outline,
input[type="tel"].n-textbox-type\:outline,
input[type="text"].n-textbox-type\:outline,
input[type="url"].n-textbox-type\:outline,
.n-textbox\:outline,
input[type="email"].n-textbox\:outline,
input[type="number"].n-textbox\:outline,
input[type="password"].n-textbox\:outline,
input[type="search"].n-textbox\:outline,
input[type="tel"].n-textbox\:outline,
input[type="text"].n-textbox\:outline,
input[type="url"].n-textbox\:outline {
  height: var(--textbox-input-height);
}

.n-textbox-type\:underline,
input[type="email"].n-textbox-type\:underline,
input[type="number"].n-textbox-type\:underline,
input[type="password"].n-textbox-type\:underline,
input[type="search"].n-textbox-type\:underline,
input[type="tel"].n-textbox-type\:underline,
input[type="text"].n-textbox-type\:underline,
input[type="url"].n-textbox-type\:underline,
.n-textbox\:underline,
input[type="email"].n-textbox\:underline,
input[type="number"].n-textbox\:underline,
input[type="password"].n-textbox\:underline,
input[type="search"].n-textbox\:underline,
input[type="tel"].n-textbox\:underline,
input[type="text"].n-textbox\:underline,
input[type="url"].n-textbox\:underline {
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: var(--textbox-underline-border-width);
  border-radius: 0px;
  box-shadow: none;
  background-color: transparent;

  transition-property: border-color;
  transition-duration: 200ms;
}

textarea.n-textbox {
  height: 100%;
  min-height: var(--textbox-textarea-min-height);
  resize: none;
}

/* ----n-textbox-status ------------------------------------------------- */

input[type="email"].n-textbox:focus,
input[type="number"].n-textbox:focus,
input[type="password"].n-textbox:focus,
input[type="search"].n-textbox:focus,
input[type="tel"].n-textbox:focus,
input[type="text"].n-textbox:focus,
input[type="url"].n-textbox:focus,
textarea.n-textbox:focus,
input[type="email"].n-textbox.n-textbox-status\:focus,
input[type="number"].n-textbox.n-textbox-status\:focus,
input[type="password"].n-textbox.n-textbox-status\:focus,
input[type="search"].n-textbox.n-textbox-status\:focus,
input[type="tel"].n-textbox.n-textbox-status\:focus,
input[type="text"].n-textbox.n-textbox-status\:focus,
input[type="url"].n-textbox.n-textbox-status\:focus,
textarea.n-textbox.n-textbox-status\:focus,
.n-textbox.n-textbox-status\:focus {
  border-color: var(--textbox-border-color-focus);
}


input[type="email"].n-textbox.n-textbox-status\:success,
input[type="number"].n-textbox.n-textbox-status\:success,
input[type="password"].n-textbox.n-textbox-status\:success,
input[type="search"].n-textbox.n-textbox-status\:success,
input[type="tel"].n-textbox.n-textbox-status\:success,
input[type="text"].n-textbox.n-textbox-status\:success,
input[type="url"].n-textbox.n-textbox-status\:success,
textarea.n-textbox.n-textbox-status\:success,
.n-textbox.n-textbox-status\:success {
  border-color: var(--textbox-border-color-success);
}

input[type="email"].n-textbox.n-textbox-status\:warning,
input[type="number"].n-textbox.n-textbox-status\:warning,
input[type="password"].n-textbox.n-textbox-status\:warning,
input[type="search"].n-textbox.n-textbox-status\:warning,
input[type="tel"].n-textbox.n-textbox-status\:warning,
input[type="text"].n-textbox.n-textbox-status\:warning,
input[type="url"].n-textbox.n-textbox-status\:warning,
textarea.n-textbox.n-textbox-status\:warning,
.n-textbox.n-textbox-status\:warning {
  color: var(--textbox-color-warning);
  border-color: var(--textbox-border-color-warning);
}

input[type="email"].n-textbox:disabled,
input[type="number"].n-textbox:disabled,
input[type="password"].n-textbox:disabled,
input[type="search"].n-textbox:disabled,
input[type="tel"].n-textbox:disabled,
input[type="text"].n-textbox:disabled,
input[type="url"].n-textbox:disabled,
input[type="email"].n-textbox.n-textbox-status\:disabled,
input[type="number"].n-textbox.n-textbox-status\:disabled,
input[type="password"].n-textbox.n-textbox-status\:disabled,
input[type="search"].n-textbox.n-textbox-status\:disabled,
input[type="tel"].n-textbox.n-textbox-status\:disabled,
input[type="text"].n-textbox.n-textbox-status\:disabled,
input[type="url"].n-textbox.n-textbox-status\:disabled,
textarea.n-textbox:disabled,
textarea.n-textbox.n-textbox-status\:disabled,
.n-textbox.n-textbox-status\:disabled {
  color: rgba(var(--rgb-base-10), 0.27);
  background-color: rgba(var(--rgb-base-2), 0.6);
  border-color: var(--color-base-4);
  cursor: not-allowed;
}

/* ----placeholder ------------------------------------------------- */

.n-textbox::placeholder {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-1);
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--color-base-5);
}

.n-textbox:disabled::placeholder,
.n-textbox.n-textbox-status\:disabled::placeholder {
  color: rgba(var(--rgb-base-10), 0.27);
}

/* ----n-textbox-label ------------------------------------------------- */

label:has(+ .n-textbox){
  display: flex;
  align-items: center;
  margin-right: var(--gap-2);

  font-size: var(--font-size-2);
  font-weight: var(--font-weight-2);
  line-height: 150%;
  letter-spacing: -0.02em;
}

.n-textbox + label{
  display: flex;
  align-items: center;
  margin-left: var(--gap-2);

  font-size: var(--font-size-2);
  font-weight: var(--font-weight-2);
  line-height: 150%;
  letter-spacing: -0.02em;
}

label:has(.n-textbox){
  display: flex;
  align-items: center;
  gap: var(--gap-2);

  width: 100%;

  font-size: var(--font-size-2);
  font-weight: var(--font-weight-2);
  line-height: 150%;
  letter-spacing: -0.02em;
}

label:has(.n-textbox.n-textbox-label\:top) {
  gap: var(--gap-1);
  flex-direction: column;
  align-items: start;
}

label:has(.n-textbox.n-textbox-label\:bottom) {
  gap: var(--gap-1);
  flex-direction: column-reverse;
  align-items: start;
}
