.n-bar{
    /* --n-height:60px; */
    /* --n-bg-color:#333; */
    /* --n-color:#fff; */
    /* --n-shadow:0 2px 4px rgba(0,0,0,0.1); */

    display: flex;
}

.n-bar.n-bar-dir\:row{
    flex-direction: row;  
}

.n-bar.n-bar-dir\:column{
    flex-direction: column;
}

.n-bar.n-bar-gap\:1{    
    gap:var(--gap-1);
}

.n-bar.n-bar-gap\:2{    
    gap:var(--gap-2);
}

.n-bar.n-bar-gap\:3{    
    gap:var(--gap-3);
}

@media screen and (min-width: 768px) {
    

}


@media screen and (min-width: 1200px) {

}