/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

/* BOX-SIZING */

.box-sizing\:border-box,
.bs\:border-box {
	box-sizing: border-box !important;
}

.box-sizing\:content-box,
.bs\:content-box {
	box-sizing: content-box !important;
}

/* BOX-DECORATION-BREAK */

.box-decoration-break\:slice,
.bdb\:slice {
	box-decoration-break: slice !important;
}

.box-decoration-break\:clone,
.bdb\:clone {
	box-decoration-break: clone !important;
}


/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

/* BOX-SIZING */

.hover\:box-sizing\:border-box:hover,
.hover\:bs\:border-box:hover {
	box-sizing: border-box !important;
}

.hover\:box-sizing\:content-box:hover,
.hover\:bs\:content-box:hover {
	box-sizing: content-box !important;
}

/* BOX-DECORATION-BREAK */

.hover\:box-decoration-break\:slice:hover,
.hover\:bdb\:slice:hover {
	box-decoration-break: slice !important;
}

.hover\:box-decoration-break\:clone:hover,
.hover\:bdb\:clone:hover {
	box-decoration-break: clone !important;
}


/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

/* BOX-SIZING */

.focus\:box-sizing\:border-box:focus,
.focus\:bs\:border-box:focus {
	box-sizing: border-box !important;
}

.focus\:box-sizing\:content-box:focus,
.focus\:bs\:content-box:focus {
	box-sizing: content-box !important;
}

/* BOX-DECORATION-BREAK */

.focus\:box-decoration-break\:slice:focus,
.focus\:bdb\:slice:focus {
	box-decoration-break: slice !important;
}

.focus\:box-decoration-break\:clone:focus,
.focus\:bdb\:clone:focus {
	box-decoration-break: clone !important;
}


/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

/* BOX-SIZING */

.focus-visible\:box-sizing\:border-box:focus-visible,
.focus-visible\:bs\:border-box:focus-visible {
	box-sizing: border-box !important;
}

.focus-visible\:box-sizing\:content-box:focus-visible,
.focus-visible\:bs\:content-box:focus-visible {
	box-sizing: content-box !important;
}

/* BOX-DECORATION-BREAK */

.focus-visible\:box-decoration-break\:slice:focus-visible,
.focus-visible\:bdb\:slice:focus-visible {
	box-decoration-break: slice !important;
}

.focus-visible\:box-decoration-break\:clone:focus-visible,
.focus-visible\:bdb\:clone:focus-visible {
	box-decoration-break: clone !important;
}


/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

/* BOX-SIZING */

.focus-within\:box-sizing\:border-box:focus-within,
.focus-within\:bs\:border-box:focus-within {
	box-sizing: border-box !important;
}

.focus-within\:box-sizing\:content-box:focus-within,
.focus-within\:bs\:content-box:focus-within {
	box-sizing: content-box !important;
}

/* BOX-DECORATION-BREAK */

.focus-within\:box-decoration-break\:slice:focus-within,
.focus-within\:bdb\:slice:focus-within {
	box-decoration-break: slice !important;
}

.focus-within\:box-decoration-break\:clone:focus-within,
.focus-within\:bdb\:clone:focus-within {
	box-decoration-break: clone !important;
}


/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

/* BOX-SIZING */

.active\:box-sizing\:border-box:active,
.active\:bs\:border-box:active {
	box-sizing: border-box !important;
}

.active\:box-sizing\:content-box:active,
.active\:bs\:content-box:active {
	box-sizing: content-box !important;
}

/* BOX-DECORATION-BREAK */

.active\:box-decoration-break\:slice:active,
.active\:bdb\:slice:active {
	box-decoration-break: slice !important;
}

.active\:box-decoration-break\:clone:active,
.active\:bdb\:clone:active {
	box-decoration-break: clone !important;
}


/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

/* BOX-SIZING */

.disabled\:box-sizing\:border-box:disabled,
.disabled\:bs\:border-box:disabled {
	box-sizing: border-box !important;
}

.disabled\:box-sizing\:content-box:disabled,
.disabled\:bs\:content-box:disabled {
	box-sizing: content-box !important;
}

/* BOX-DECORATION-BREAK */

.disabled\:box-decoration-break\:slice:disabled,
.disabled\:bdb\:slice:disabled {
	box-decoration-break: slice !important;
}

.disabled\:box-decoration-break\:clone:disabled,
.disabled\:bdb\:clone:disabled {
	box-decoration-break: clone !important;
}


/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

/* BOX-SIZING */

.checked\:box-sizing\:border-box:checked,
.checked\:bs\:border-box:checked {
	box-sizing: border-box !important;
}

.checked\:box-sizing\:content-box:checked,
.checked\:bs\:content-box:checked {
	box-sizing: content-box !important;
}

/* BOX-DECORATION-BREAK */

.checked\:box-decoration-break\:slice:checked,
.checked\:bdb\:slice:checked {
	box-decoration-break: slice !important;
}

.checked\:box-decoration-break\:clone:checked,
.checked\:bdb\:clone:checked {
	box-decoration-break: clone !important;
}


/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

/* BOX-SIZING */

.visited\:box-sizing\:border-box:visited,
.visited\:bs\:border-box:visited {
	box-sizing: border-box !important;
}

.visited\:box-sizing\:content-box:visited,
.visited\:bs\:content-box:visited {
	box-sizing: content-box !important;
}

/* BOX-DECORATION-BREAK */

.visited\:box-decoration-break\:slice:visited,
.visited\:bdb\:slice:visited {
	box-decoration-break: slice !important;
}

.visited\:box-decoration-break\:clone:visited,
.visited\:bdb\:clone:visited {
	box-decoration-break: clone !important;
}


@media (min-width: 640px) {
	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.sm\:box-sizing\:border-box,
	.sm\:bs\:border-box {
		box-sizing: border-box !important;
	}

	.sm\:box-sizing\:content-box,
	.sm\:bs\:content-box {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.sm\:box-decoration-break\:slice,
	.sm\:bdb\:slice {
		box-decoration-break: slice !important;
	}

	.sm\:box-decoration-break\:clone,
	.sm\:bdb\:clone {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.sm\:hover\:box-sizing\:border-box:hover,
	.sm\:hover\:bs\:border-box:hover {
		box-sizing: border-box !important;
	}

	.sm\:hover\:box-sizing\:content-box:hover,
	.sm\:hover\:bs\:content-box:hover {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.sm\:hover\:box-decoration-break\:slice:hover,
	.sm\:hover\:bdb\:slice:hover {
		box-decoration-break: slice !important;
	}

	.sm\:hover\:box-decoration-break\:clone:hover,
	.sm\:hover\:bdb\:clone:hover {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.sm\:focus\:box-sizing\:border-box:focus,
	.sm\:focus\:bs\:border-box:focus {
		box-sizing: border-box !important;
	}

	.sm\:focus\:box-sizing\:content-box:focus,
	.sm\:focus\:bs\:content-box:focus {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.sm\:focus\:box-decoration-break\:slice:focus,
	.sm\:focus\:bdb\:slice:focus {
		box-decoration-break: slice !important;
	}

	.sm\:focus\:box-decoration-break\:clone:focus,
	.sm\:focus\:bdb\:clone:focus {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.sm\:focus-visible\:box-sizing\:border-box:focus-visible,
	.sm\:focus-visible\:bs\:border-box:focus-visible {
		box-sizing: border-box !important;
	}

	.sm\:focus-visible\:box-sizing\:content-box:focus-visible,
	.sm\:focus-visible\:bs\:content-box:focus-visible {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.sm\:focus-visible\:box-decoration-break\:slice:focus-visible,
	.sm\:focus-visible\:bdb\:slice:focus-visible {
		box-decoration-break: slice !important;
	}

	.sm\:focus-visible\:box-decoration-break\:clone:focus-visible,
	.sm\:focus-visible\:bdb\:clone:focus-visible {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.sm\:focus-within\:box-sizing\:border-box:focus-within,
	.sm\:focus-within\:bs\:border-box:focus-within {
		box-sizing: border-box !important;
	}

	.sm\:focus-within\:box-sizing\:content-box:focus-within,
	.sm\:focus-within\:bs\:content-box:focus-within {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.sm\:focus-within\:box-decoration-break\:slice:focus-within,
	.sm\:focus-within\:bdb\:slice:focus-within {
		box-decoration-break: slice !important;
	}

	.sm\:focus-within\:box-decoration-break\:clone:focus-within,
	.sm\:focus-within\:bdb\:clone:focus-within {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.sm\:active\:box-sizing\:border-box:active,
	.sm\:active\:bs\:border-box:active {
		box-sizing: border-box !important;
	}

	.sm\:active\:box-sizing\:content-box:active,
	.sm\:active\:bs\:content-box:active {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.sm\:active\:box-decoration-break\:slice:active,
	.sm\:active\:bdb\:slice:active {
		box-decoration-break: slice !important;
	}

	.sm\:active\:box-decoration-break\:clone:active,
	.sm\:active\:bdb\:clone:active {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.sm\:disabled\:box-sizing\:border-box:disabled,
	.sm\:disabled\:bs\:border-box:disabled {
		box-sizing: border-box !important;
	}

	.sm\:disabled\:box-sizing\:content-box:disabled,
	.sm\:disabled\:bs\:content-box:disabled {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.sm\:disabled\:box-decoration-break\:slice:disabled,
	.sm\:disabled\:bdb\:slice:disabled {
		box-decoration-break: slice !important;
	}

	.sm\:disabled\:box-decoration-break\:clone:disabled,
	.sm\:disabled\:bdb\:clone:disabled {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.sm\:checked\:box-sizing\:border-box:checked,
	.sm\:checked\:bs\:border-box:checked {
		box-sizing: border-box !important;
	}

	.sm\:checked\:box-sizing\:content-box:checked,
	.sm\:checked\:bs\:content-box:checked {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.sm\:checked\:box-decoration-break\:slice:checked,
	.sm\:checked\:bdb\:slice:checked {
		box-decoration-break: slice !important;
	}

	.sm\:checked\:box-decoration-break\:clone:checked,
	.sm\:checked\:bdb\:clone:checked {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.sm\:visited\:box-sizing\:border-box:visited,
	.sm\:visited\:bs\:border-box:visited {
		box-sizing: border-box !important;
	}

	.sm\:visited\:box-sizing\:content-box:visited,
	.sm\:visited\:bs\:content-box:visited {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.sm\:visited\:box-decoration-break\:slice:visited,
	.sm\:visited\:bdb\:slice:visited {
		box-decoration-break: slice !important;
	}

	.sm\:visited\:box-decoration-break\:clone:visited,
	.sm\:visited\:bdb\:clone:visited {
		box-decoration-break: clone !important;
	}

}

@media (min-width: 768px) {
	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.md\:box-sizing\:border-box,
	.md\:bs\:border-box {
		box-sizing: border-box !important;
	}

	.md\:box-sizing\:content-box,
	.md\:bs\:content-box {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.md\:box-decoration-break\:slice,
	.md\:bdb\:slice {
		box-decoration-break: slice !important;
	}

	.md\:box-decoration-break\:clone,
	.md\:bdb\:clone {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.md\:hover\:box-sizing\:border-box:hover,
	.md\:hover\:bs\:border-box:hover {
		box-sizing: border-box !important;
	}

	.md\:hover\:box-sizing\:content-box:hover,
	.md\:hover\:bs\:content-box:hover {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.md\:hover\:box-decoration-break\:slice:hover,
	.md\:hover\:bdb\:slice:hover {
		box-decoration-break: slice !important;
	}

	.md\:hover\:box-decoration-break\:clone:hover,
	.md\:hover\:bdb\:clone:hover {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.md\:focus\:box-sizing\:border-box:focus,
	.md\:focus\:bs\:border-box:focus {
		box-sizing: border-box !important;
	}

	.md\:focus\:box-sizing\:content-box:focus,
	.md\:focus\:bs\:content-box:focus {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.md\:focus\:box-decoration-break\:slice:focus,
	.md\:focus\:bdb\:slice:focus {
		box-decoration-break: slice !important;
	}

	.md\:focus\:box-decoration-break\:clone:focus,
	.md\:focus\:bdb\:clone:focus {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.md\:focus-visible\:box-sizing\:border-box:focus-visible,
	.md\:focus-visible\:bs\:border-box:focus-visible {
		box-sizing: border-box !important;
	}

	.md\:focus-visible\:box-sizing\:content-box:focus-visible,
	.md\:focus-visible\:bs\:content-box:focus-visible {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.md\:focus-visible\:box-decoration-break\:slice:focus-visible,
	.md\:focus-visible\:bdb\:slice:focus-visible {
		box-decoration-break: slice !important;
	}

	.md\:focus-visible\:box-decoration-break\:clone:focus-visible,
	.md\:focus-visible\:bdb\:clone:focus-visible {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.md\:focus-within\:box-sizing\:border-box:focus-within,
	.md\:focus-within\:bs\:border-box:focus-within {
		box-sizing: border-box !important;
	}

	.md\:focus-within\:box-sizing\:content-box:focus-within,
	.md\:focus-within\:bs\:content-box:focus-within {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.md\:focus-within\:box-decoration-break\:slice:focus-within,
	.md\:focus-within\:bdb\:slice:focus-within {
		box-decoration-break: slice !important;
	}

	.md\:focus-within\:box-decoration-break\:clone:focus-within,
	.md\:focus-within\:bdb\:clone:focus-within {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.md\:active\:box-sizing\:border-box:active,
	.md\:active\:bs\:border-box:active {
		box-sizing: border-box !important;
	}

	.md\:active\:box-sizing\:content-box:active,
	.md\:active\:bs\:content-box:active {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.md\:active\:box-decoration-break\:slice:active,
	.md\:active\:bdb\:slice:active {
		box-decoration-break: slice !important;
	}

	.md\:active\:box-decoration-break\:clone:active,
	.md\:active\:bdb\:clone:active {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.md\:disabled\:box-sizing\:border-box:disabled,
	.md\:disabled\:bs\:border-box:disabled {
		box-sizing: border-box !important;
	}

	.md\:disabled\:box-sizing\:content-box:disabled,
	.md\:disabled\:bs\:content-box:disabled {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.md\:disabled\:box-decoration-break\:slice:disabled,
	.md\:disabled\:bdb\:slice:disabled {
		box-decoration-break: slice !important;
	}

	.md\:disabled\:box-decoration-break\:clone:disabled,
	.md\:disabled\:bdb\:clone:disabled {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.md\:checked\:box-sizing\:border-box:checked,
	.md\:checked\:bs\:border-box:checked {
		box-sizing: border-box !important;
	}

	.md\:checked\:box-sizing\:content-box:checked,
	.md\:checked\:bs\:content-box:checked {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.md\:checked\:box-decoration-break\:slice:checked,
	.md\:checked\:bdb\:slice:checked {
		box-decoration-break: slice !important;
	}

	.md\:checked\:box-decoration-break\:clone:checked,
	.md\:checked\:bdb\:clone:checked {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.md\:visited\:box-sizing\:border-box:visited,
	.md\:visited\:bs\:border-box:visited {
		box-sizing: border-box !important;
	}

	.md\:visited\:box-sizing\:content-box:visited,
	.md\:visited\:bs\:content-box:visited {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.md\:visited\:box-decoration-break\:slice:visited,
	.md\:visited\:bdb\:slice:visited {
		box-decoration-break: slice !important;
	}

	.md\:visited\:box-decoration-break\:clone:visited,
	.md\:visited\:bdb\:clone:visited {
		box-decoration-break: clone !important;
	}

}

@media (min-width: 1024px) {
	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.lg\:box-sizing\:border-box,
	.lg\:bs\:border-box {
		box-sizing: border-box !important;
	}

	.lg\:box-sizing\:content-box,
	.lg\:bs\:content-box {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.lg\:box-decoration-break\:slice,
	.lg\:bdb\:slice {
		box-decoration-break: slice !important;
	}

	.lg\:box-decoration-break\:clone,
	.lg\:bdb\:clone {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.lg\:hover\:box-sizing\:border-box:hover,
	.lg\:hover\:bs\:border-box:hover {
		box-sizing: border-box !important;
	}

	.lg\:hover\:box-sizing\:content-box:hover,
	.lg\:hover\:bs\:content-box:hover {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.lg\:hover\:box-decoration-break\:slice:hover,
	.lg\:hover\:bdb\:slice:hover {
		box-decoration-break: slice !important;
	}

	.lg\:hover\:box-decoration-break\:clone:hover,
	.lg\:hover\:bdb\:clone:hover {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.lg\:focus\:box-sizing\:border-box:focus,
	.lg\:focus\:bs\:border-box:focus {
		box-sizing: border-box !important;
	}

	.lg\:focus\:box-sizing\:content-box:focus,
	.lg\:focus\:bs\:content-box:focus {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.lg\:focus\:box-decoration-break\:slice:focus,
	.lg\:focus\:bdb\:slice:focus {
		box-decoration-break: slice !important;
	}

	.lg\:focus\:box-decoration-break\:clone:focus,
	.lg\:focus\:bdb\:clone:focus {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.lg\:focus-visible\:box-sizing\:border-box:focus-visible,
	.lg\:focus-visible\:bs\:border-box:focus-visible {
		box-sizing: border-box !important;
	}

	.lg\:focus-visible\:box-sizing\:content-box:focus-visible,
	.lg\:focus-visible\:bs\:content-box:focus-visible {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.lg\:focus-visible\:box-decoration-break\:slice:focus-visible,
	.lg\:focus-visible\:bdb\:slice:focus-visible {
		box-decoration-break: slice !important;
	}

	.lg\:focus-visible\:box-decoration-break\:clone:focus-visible,
	.lg\:focus-visible\:bdb\:clone:focus-visible {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.lg\:focus-within\:box-sizing\:border-box:focus-within,
	.lg\:focus-within\:bs\:border-box:focus-within {
		box-sizing: border-box !important;
	}

	.lg\:focus-within\:box-sizing\:content-box:focus-within,
	.lg\:focus-within\:bs\:content-box:focus-within {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.lg\:focus-within\:box-decoration-break\:slice:focus-within,
	.lg\:focus-within\:bdb\:slice:focus-within {
		box-decoration-break: slice !important;
	}

	.lg\:focus-within\:box-decoration-break\:clone:focus-within,
	.lg\:focus-within\:bdb\:clone:focus-within {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.lg\:active\:box-sizing\:border-box:active,
	.lg\:active\:bs\:border-box:active {
		box-sizing: border-box !important;
	}

	.lg\:active\:box-sizing\:content-box:active,
	.lg\:active\:bs\:content-box:active {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.lg\:active\:box-decoration-break\:slice:active,
	.lg\:active\:bdb\:slice:active {
		box-decoration-break: slice !important;
	}

	.lg\:active\:box-decoration-break\:clone:active,
	.lg\:active\:bdb\:clone:active {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.lg\:disabled\:box-sizing\:border-box:disabled,
	.lg\:disabled\:bs\:border-box:disabled {
		box-sizing: border-box !important;
	}

	.lg\:disabled\:box-sizing\:content-box:disabled,
	.lg\:disabled\:bs\:content-box:disabled {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.lg\:disabled\:box-decoration-break\:slice:disabled,
	.lg\:disabled\:bdb\:slice:disabled {
		box-decoration-break: slice !important;
	}

	.lg\:disabled\:box-decoration-break\:clone:disabled,
	.lg\:disabled\:bdb\:clone:disabled {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.lg\:checked\:box-sizing\:border-box:checked,
	.lg\:checked\:bs\:border-box:checked {
		box-sizing: border-box !important;
	}

	.lg\:checked\:box-sizing\:content-box:checked,
	.lg\:checked\:bs\:content-box:checked {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.lg\:checked\:box-decoration-break\:slice:checked,
	.lg\:checked\:bdb\:slice:checked {
		box-decoration-break: slice !important;
	}

	.lg\:checked\:box-decoration-break\:clone:checked,
	.lg\:checked\:bdb\:clone:checked {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.lg\:visited\:box-sizing\:border-box:visited,
	.lg\:visited\:bs\:border-box:visited {
		box-sizing: border-box !important;
	}

	.lg\:visited\:box-sizing\:content-box:visited,
	.lg\:visited\:bs\:content-box:visited {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.lg\:visited\:box-decoration-break\:slice:visited,
	.lg\:visited\:bdb\:slice:visited {
		box-decoration-break: slice !important;
	}

	.lg\:visited\:box-decoration-break\:clone:visited,
	.lg\:visited\:bdb\:clone:visited {
		box-decoration-break: clone !important;
	}

}

@media (min-width: 1280px) {
	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.xl\:box-sizing\:border-box,
	.xl\:bs\:border-box {
		box-sizing: border-box !important;
	}

	.xl\:box-sizing\:content-box,
	.xl\:bs\:content-box {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.xl\:box-decoration-break\:slice,
	.xl\:bdb\:slice {
		box-decoration-break: slice !important;
	}

	.xl\:box-decoration-break\:clone,
	.xl\:bdb\:clone {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.xl\:hover\:box-sizing\:border-box:hover,
	.xl\:hover\:bs\:border-box:hover {
		box-sizing: border-box !important;
	}

	.xl\:hover\:box-sizing\:content-box:hover,
	.xl\:hover\:bs\:content-box:hover {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.xl\:hover\:box-decoration-break\:slice:hover,
	.xl\:hover\:bdb\:slice:hover {
		box-decoration-break: slice !important;
	}

	.xl\:hover\:box-decoration-break\:clone:hover,
	.xl\:hover\:bdb\:clone:hover {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.xl\:focus\:box-sizing\:border-box:focus,
	.xl\:focus\:bs\:border-box:focus {
		box-sizing: border-box !important;
	}

	.xl\:focus\:box-sizing\:content-box:focus,
	.xl\:focus\:bs\:content-box:focus {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.xl\:focus\:box-decoration-break\:slice:focus,
	.xl\:focus\:bdb\:slice:focus {
		box-decoration-break: slice !important;
	}

	.xl\:focus\:box-decoration-break\:clone:focus,
	.xl\:focus\:bdb\:clone:focus {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.xl\:focus-visible\:box-sizing\:border-box:focus-visible,
	.xl\:focus-visible\:bs\:border-box:focus-visible {
		box-sizing: border-box !important;
	}

	.xl\:focus-visible\:box-sizing\:content-box:focus-visible,
	.xl\:focus-visible\:bs\:content-box:focus-visible {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.xl\:focus-visible\:box-decoration-break\:slice:focus-visible,
	.xl\:focus-visible\:bdb\:slice:focus-visible {
		box-decoration-break: slice !important;
	}

	.xl\:focus-visible\:box-decoration-break\:clone:focus-visible,
	.xl\:focus-visible\:bdb\:clone:focus-visible {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.xl\:focus-within\:box-sizing\:border-box:focus-within,
	.xl\:focus-within\:bs\:border-box:focus-within {
		box-sizing: border-box !important;
	}

	.xl\:focus-within\:box-sizing\:content-box:focus-within,
	.xl\:focus-within\:bs\:content-box:focus-within {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.xl\:focus-within\:box-decoration-break\:slice:focus-within,
	.xl\:focus-within\:bdb\:slice:focus-within {
		box-decoration-break: slice !important;
	}

	.xl\:focus-within\:box-decoration-break\:clone:focus-within,
	.xl\:focus-within\:bdb\:clone:focus-within {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.xl\:active\:box-sizing\:border-box:active,
	.xl\:active\:bs\:border-box:active {
		box-sizing: border-box !important;
	}

	.xl\:active\:box-sizing\:content-box:active,
	.xl\:active\:bs\:content-box:active {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.xl\:active\:box-decoration-break\:slice:active,
	.xl\:active\:bdb\:slice:active {
		box-decoration-break: slice !important;
	}

	.xl\:active\:box-decoration-break\:clone:active,
	.xl\:active\:bdb\:clone:active {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.xl\:disabled\:box-sizing\:border-box:disabled,
	.xl\:disabled\:bs\:border-box:disabled {
		box-sizing: border-box !important;
	}

	.xl\:disabled\:box-sizing\:content-box:disabled,
	.xl\:disabled\:bs\:content-box:disabled {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.xl\:disabled\:box-decoration-break\:slice:disabled,
	.xl\:disabled\:bdb\:slice:disabled {
		box-decoration-break: slice !important;
	}

	.xl\:disabled\:box-decoration-break\:clone:disabled,
	.xl\:disabled\:bdb\:clone:disabled {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.xl\:checked\:box-sizing\:border-box:checked,
	.xl\:checked\:bs\:border-box:checked {
		box-sizing: border-box !important;
	}

	.xl\:checked\:box-sizing\:content-box:checked,
	.xl\:checked\:bs\:content-box:checked {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.xl\:checked\:box-decoration-break\:slice:checked,
	.xl\:checked\:bdb\:slice:checked {
		box-decoration-break: slice !important;
	}

	.xl\:checked\:box-decoration-break\:clone:checked,
	.xl\:checked\:bdb\:clone:checked {
		box-decoration-break: clone !important;
	}


	/* ===== BOX UTILITIES — box-sizing, box-decoration-break ===== */

	/* BOX-SIZING */

	.xl\:visited\:box-sizing\:border-box:visited,
	.xl\:visited\:bs\:border-box:visited {
		box-sizing: border-box !important;
	}

	.xl\:visited\:box-sizing\:content-box:visited,
	.xl\:visited\:bs\:content-box:visited {
		box-sizing: content-box !important;
	}

	/* BOX-DECORATION-BREAK */

	.xl\:visited\:box-decoration-break\:slice:visited,
	.xl\:visited\:bdb\:slice:visited {
		box-decoration-break: slice !important;
	}

	.xl\:visited\:box-decoration-break\:clone:visited,
	.xl\:visited\:bdb\:clone:visited {
		box-decoration-break: clone !important;
	}

}
