/* ===== COLOR UTILITIES — color, background-color, border-color ===== */

/* COLOR */

.color\:transparent,
.c\:transparent {
	color: transparent !important;
}

.color\:white,
.c\:white {
	color: #ffffff !important;
}

.color\:black,
.c\:black {
	color: #000000 !important;
}

.color\:current,
.c\:current {
	color: currentColor !important;
}

.color\:inherit,
.c\:inherit {
	color: inherit !important;
}

.color\:primary,
.c\:primary {
	color: var(--color-primary) !important;
}

.color\:primary-hover,
.c\:primary-hover {
	color: var(--color-primary-hover) !important;
}

.color\:primary-active,
.c\:primary-active {
	color: var(--color-primary-active) !important;
}

.color\:primary-subtle,
.c\:primary-subtle {
	color: var(--color-primary-subtle) !important;
}

.color\:on-primary,
.c\:on-primary {
	color: var(--color-on-primary) !important;
}

.color\:secondary,
.c\:secondary {
	color: var(--color-secondary) !important;
}

.color\:secondary-hover,
.c\:secondary-hover {
	color: var(--color-secondary-hover) !important;
}

.color\:secondary-active,
.c\:secondary-active {
	color: var(--color-secondary-active) !important;
}

.color\:secondary-subtle,
.c\:secondary-subtle {
	color: var(--color-secondary-subtle) !important;
}

.color\:on-secondary,
.c\:on-secondary {
	color: var(--color-on-secondary) !important;
}

.color\:tertiary,
.c\:tertiary {
	color: var(--color-tertiary) !important;
}

.color\:tertiary-hover,
.c\:tertiary-hover {
	color: var(--color-tertiary-hover) !important;
}

.color\:tertiary-active,
.c\:tertiary-active {
	color: var(--color-tertiary-active) !important;
}

.color\:tertiary-subtle,
.c\:tertiary-subtle {
	color: var(--color-tertiary-subtle) !important;
}

.color\:on-tertiary,
.c\:on-tertiary {
	color: var(--color-on-tertiary) !important;
}

.color\:surface,
.c\:surface {
	color: var(--color-surface) !important;
}

.color\:surface-subtle,
.c\:surface-subtle {
	color: var(--color-surface-subtle) !important;
}

.color\:surface-muted,
.c\:surface-muted {
	color: var(--color-surface-muted) !important;
}

.color\:surface-inverse,
.c\:surface-inverse {
	color: var(--color-surface-inverse) !important;
}

.color\:on-surface,
.c\:on-surface {
	color: var(--color-on-surface) !important;
}

.color\:on-surface-inverse,
.c\:on-surface-inverse {
	color: var(--color-on-surface-inverse) !important;
}

.color\:text,
.c\:text {
	color: var(--color-text) !important;
}

.color\:text-muted,
.c\:text-muted {
	color: var(--color-text-muted) !important;
}

.color\:text-subtle,
.c\:text-subtle {
	color: var(--color-text-subtle) !important;
}

.color\:text-inverse,
.c\:text-inverse {
	color: var(--color-text-inverse) !important;
}

.color\:border,
.c\:border {
	color: var(--color-border) !important;
}

.color\:border-strong,
.c\:border-strong {
	color: var(--color-border-strong) !important;
}

.color\:border-subtle,
.c\:border-subtle {
	color: var(--color-border-subtle) !important;
}

.color\:success,
.c\:success {
	color: var(--color-success) !important;
}

.color\:success-hover,
.c\:success-hover {
	color: var(--color-success-hover) !important;
}

.color\:success-active,
.c\:success-active {
	color: var(--color-success-active) !important;
}

.color\:success-subtle,
.c\:success-subtle {
	color: var(--color-success-subtle) !important;
}

.color\:on-success,
.c\:on-success {
	color: var(--color-on-success) !important;
}

.color\:warning,
.c\:warning {
	color: var(--color-warning) !important;
}

.color\:warning-hover,
.c\:warning-hover {
	color: var(--color-warning-hover) !important;
}

.color\:warning-active,
.c\:warning-active {
	color: var(--color-warning-active) !important;
}

.color\:warning-subtle,
.c\:warning-subtle {
	color: var(--color-warning-subtle) !important;
}

.color\:on-warning,
.c\:on-warning {
	color: var(--color-on-warning) !important;
}

.color\:danger,
.c\:danger {
	color: var(--color-danger) !important;
}

.color\:danger-hover,
.c\:danger-hover {
	color: var(--color-danger-hover) !important;
}

.color\:danger-active,
.c\:danger-active {
	color: var(--color-danger-active) !important;
}

.color\:danger-subtle,
.c\:danger-subtle {
	color: var(--color-danger-subtle) !important;
}

.color\:on-danger,
.c\:on-danger {
	color: var(--color-on-danger) !important;
}

.color\:focus-ring,
.c\:focus-ring {
	color: var(--color-focus-ring) !important;
}

/* BACKGROUND-COLOR */

.background-color\:transparent,
.bg\:transparent {
	background-color: transparent !important;
}

.background-color\:white,
.bg\:white {
	background-color: #ffffff !important;
}

.background-color\:black,
.bg\:black {
	background-color: #000000 !important;
}

.background-color\:current,
.bg\:current {
	background-color: currentColor !important;
}

.background-color\:inherit,
.bg\:inherit {
	background-color: inherit !important;
}

.background-color\:primary,
.bg\:primary {
	background-color: var(--color-primary) !important;
}

.background-color\:primary-hover,
.bg\:primary-hover {
	background-color: var(--color-primary-hover) !important;
}

.background-color\:primary-active,
.bg\:primary-active {
	background-color: var(--color-primary-active) !important;
}

.background-color\:primary-subtle,
.bg\:primary-subtle {
	background-color: var(--color-primary-subtle) !important;
}

.background-color\:on-primary,
.bg\:on-primary {
	background-color: var(--color-on-primary) !important;
}

.background-color\:secondary,
.bg\:secondary {
	background-color: var(--color-secondary) !important;
}

.background-color\:secondary-hover,
.bg\:secondary-hover {
	background-color: var(--color-secondary-hover) !important;
}

.background-color\:secondary-active,
.bg\:secondary-active {
	background-color: var(--color-secondary-active) !important;
}

.background-color\:secondary-subtle,
.bg\:secondary-subtle {
	background-color: var(--color-secondary-subtle) !important;
}

.background-color\:on-secondary,
.bg\:on-secondary {
	background-color: var(--color-on-secondary) !important;
}

.background-color\:tertiary,
.bg\:tertiary {
	background-color: var(--color-tertiary) !important;
}

.background-color\:tertiary-hover,
.bg\:tertiary-hover {
	background-color: var(--color-tertiary-hover) !important;
}

.background-color\:tertiary-active,
.bg\:tertiary-active {
	background-color: var(--color-tertiary-active) !important;
}

.background-color\:tertiary-subtle,
.bg\:tertiary-subtle {
	background-color: var(--color-tertiary-subtle) !important;
}

.background-color\:on-tertiary,
.bg\:on-tertiary {
	background-color: var(--color-on-tertiary) !important;
}

.background-color\:surface,
.bg\:surface {
	background-color: var(--color-surface) !important;
}

.background-color\:surface-subtle,
.bg\:surface-subtle {
	background-color: var(--color-surface-subtle) !important;
}

.background-color\:surface-muted,
.bg\:surface-muted {
	background-color: var(--color-surface-muted) !important;
}

.background-color\:surface-inverse,
.bg\:surface-inverse {
	background-color: var(--color-surface-inverse) !important;
}

.background-color\:on-surface,
.bg\:on-surface {
	background-color: var(--color-on-surface) !important;
}

.background-color\:on-surface-inverse,
.bg\:on-surface-inverse {
	background-color: var(--color-on-surface-inverse) !important;
}

.background-color\:text,
.bg\:text {
	background-color: var(--color-text) !important;
}

.background-color\:text-muted,
.bg\:text-muted {
	background-color: var(--color-text-muted) !important;
}

.background-color\:text-subtle,
.bg\:text-subtle {
	background-color: var(--color-text-subtle) !important;
}

.background-color\:text-inverse,
.bg\:text-inverse {
	background-color: var(--color-text-inverse) !important;
}

.background-color\:border,
.bg\:border {
	background-color: var(--color-border) !important;
}

.background-color\:border-strong,
.bg\:border-strong {
	background-color: var(--color-border-strong) !important;
}

.background-color\:border-subtle,
.bg\:border-subtle {
	background-color: var(--color-border-subtle) !important;
}

.background-color\:success,
.bg\:success {
	background-color: var(--color-success) !important;
}

.background-color\:success-hover,
.bg\:success-hover {
	background-color: var(--color-success-hover) !important;
}

.background-color\:success-active,
.bg\:success-active {
	background-color: var(--color-success-active) !important;
}

.background-color\:success-subtle,
.bg\:success-subtle {
	background-color: var(--color-success-subtle) !important;
}

.background-color\:on-success,
.bg\:on-success {
	background-color: var(--color-on-success) !important;
}

.background-color\:warning,
.bg\:warning {
	background-color: var(--color-warning) !important;
}

.background-color\:warning-hover,
.bg\:warning-hover {
	background-color: var(--color-warning-hover) !important;
}

.background-color\:warning-active,
.bg\:warning-active {
	background-color: var(--color-warning-active) !important;
}

.background-color\:warning-subtle,
.bg\:warning-subtle {
	background-color: var(--color-warning-subtle) !important;
}

.background-color\:on-warning,
.bg\:on-warning {
	background-color: var(--color-on-warning) !important;
}

.background-color\:danger,
.bg\:danger {
	background-color: var(--color-danger) !important;
}

.background-color\:danger-hover,
.bg\:danger-hover {
	background-color: var(--color-danger-hover) !important;
}

.background-color\:danger-active,
.bg\:danger-active {
	background-color: var(--color-danger-active) !important;
}

.background-color\:danger-subtle,
.bg\:danger-subtle {
	background-color: var(--color-danger-subtle) !important;
}

.background-color\:on-danger,
.bg\:on-danger {
	background-color: var(--color-on-danger) !important;
}

.background-color\:focus-ring,
.bg\:focus-ring {
	background-color: var(--color-focus-ring) !important;
}

/* BORDER-COLOR */

.border-color\:transparent,
.bdc\:transparent {
	border-color: transparent !important;
}

.border-color\:white,
.bdc\:white {
	border-color: #ffffff !important;
}

.border-color\:black,
.bdc\:black {
	border-color: #000000 !important;
}

.border-color\:current,
.bdc\:current {
	border-color: currentColor !important;
}

.border-color\:inherit,
.bdc\:inherit {
	border-color: inherit !important;
}

.border-color\:primary,
.bdc\:primary {
	border-color: var(--color-primary) !important;
}

.border-color\:primary-hover,
.bdc\:primary-hover {
	border-color: var(--color-primary-hover) !important;
}

.border-color\:primary-active,
.bdc\:primary-active {
	border-color: var(--color-primary-active) !important;
}

.border-color\:primary-subtle,
.bdc\:primary-subtle {
	border-color: var(--color-primary-subtle) !important;
}

.border-color\:on-primary,
.bdc\:on-primary {
	border-color: var(--color-on-primary) !important;
}

.border-color\:secondary,
.bdc\:secondary {
	border-color: var(--color-secondary) !important;
}

.border-color\:secondary-hover,
.bdc\:secondary-hover {
	border-color: var(--color-secondary-hover) !important;
}

.border-color\:secondary-active,
.bdc\:secondary-active {
	border-color: var(--color-secondary-active) !important;
}

.border-color\:secondary-subtle,
.bdc\:secondary-subtle {
	border-color: var(--color-secondary-subtle) !important;
}

.border-color\:on-secondary,
.bdc\:on-secondary {
	border-color: var(--color-on-secondary) !important;
}

.border-color\:tertiary,
.bdc\:tertiary {
	border-color: var(--color-tertiary) !important;
}

.border-color\:tertiary-hover,
.bdc\:tertiary-hover {
	border-color: var(--color-tertiary-hover) !important;
}

.border-color\:tertiary-active,
.bdc\:tertiary-active {
	border-color: var(--color-tertiary-active) !important;
}

.border-color\:tertiary-subtle,
.bdc\:tertiary-subtle {
	border-color: var(--color-tertiary-subtle) !important;
}

.border-color\:on-tertiary,
.bdc\:on-tertiary {
	border-color: var(--color-on-tertiary) !important;
}

.border-color\:surface,
.bdc\:surface {
	border-color: var(--color-surface) !important;
}

.border-color\:surface-subtle,
.bdc\:surface-subtle {
	border-color: var(--color-surface-subtle) !important;
}

.border-color\:surface-muted,
.bdc\:surface-muted {
	border-color: var(--color-surface-muted) !important;
}

.border-color\:surface-inverse,
.bdc\:surface-inverse {
	border-color: var(--color-surface-inverse) !important;
}

.border-color\:on-surface,
.bdc\:on-surface {
	border-color: var(--color-on-surface) !important;
}

.border-color\:on-surface-inverse,
.bdc\:on-surface-inverse {
	border-color: var(--color-on-surface-inverse) !important;
}

.border-color\:text,
.bdc\:text {
	border-color: var(--color-text) !important;
}

.border-color\:text-muted,
.bdc\:text-muted {
	border-color: var(--color-text-muted) !important;
}

.border-color\:text-subtle,
.bdc\:text-subtle {
	border-color: var(--color-text-subtle) !important;
}

.border-color\:text-inverse,
.bdc\:text-inverse {
	border-color: var(--color-text-inverse) !important;
}

.border-color\:border,
.bdc\:border {
	border-color: var(--color-border) !important;
}

.border-color\:border-strong,
.bdc\:border-strong {
	border-color: var(--color-border-strong) !important;
}

.border-color\:border-subtle,
.bdc\:border-subtle {
	border-color: var(--color-border-subtle) !important;
}

.border-color\:success,
.bdc\:success {
	border-color: var(--color-success) !important;
}

.border-color\:success-hover,
.bdc\:success-hover {
	border-color: var(--color-success-hover) !important;
}

.border-color\:success-active,
.bdc\:success-active {
	border-color: var(--color-success-active) !important;
}

.border-color\:success-subtle,
.bdc\:success-subtle {
	border-color: var(--color-success-subtle) !important;
}

.border-color\:on-success,
.bdc\:on-success {
	border-color: var(--color-on-success) !important;
}

.border-color\:warning,
.bdc\:warning {
	border-color: var(--color-warning) !important;
}

.border-color\:warning-hover,
.bdc\:warning-hover {
	border-color: var(--color-warning-hover) !important;
}

.border-color\:warning-active,
.bdc\:warning-active {
	border-color: var(--color-warning-active) !important;
}

.border-color\:warning-subtle,
.bdc\:warning-subtle {
	border-color: var(--color-warning-subtle) !important;
}

.border-color\:on-warning,
.bdc\:on-warning {
	border-color: var(--color-on-warning) !important;
}

.border-color\:danger,
.bdc\:danger {
	border-color: var(--color-danger) !important;
}

.border-color\:danger-hover,
.bdc\:danger-hover {
	border-color: var(--color-danger-hover) !important;
}

.border-color\:danger-active,
.bdc\:danger-active {
	border-color: var(--color-danger-active) !important;
}

.border-color\:danger-subtle,
.bdc\:danger-subtle {
	border-color: var(--color-danger-subtle) !important;
}

.border-color\:on-danger,
.bdc\:on-danger {
	border-color: var(--color-on-danger) !important;
}

.border-color\:focus-ring,
.bdc\:focus-ring {
	border-color: var(--color-focus-ring) !important;
}
