/* ===== DISPLAY UTILITIES ===== */

.display\:none,
.d\:none {
	display: none !important;
}

.display\:block,
.d\:block {
	display: block !important;
}

.display\:inline,
.d\:inline {
	display: inline !important;
}

.display\:inline-block,
.d\:inline-block {
	display: inline-block !important;
}

.display\:flex,
.d\:flex {
	display: flex !important;
}

.display\:inline-flex,
.d\:inline-flex {
	display: inline-flex !important;
}

.display\:grid,
.d\:grid {
	display: grid !important;
}

.display\:inline-grid,
.d\:inline-grid {
	display: inline-grid !important;
}

.display\:flow-root,
.d\:flow-root {
	display: flow-root !important;
}

.display\:contents,
.d\:contents {
	display: contents !important;
}

.display\:list-item,
.d\:list-item {
	display: list-item !important;
}

.display\:table,
.d\:table {
	display: table !important;
}

.display\:table-row,
.d\:table-row {
	display: table-row !important;
}

.display\:table-cell,
.d\:table-cell {
	display: table-cell !important;
}


@media (min-width: 640px) {
	/* ===== DISPLAY UTILITIES ===== */

	.sm\:display\:none,
	.sm\:d\:none {
		display: none !important;
	}

	.sm\:display\:block,
	.sm\:d\:block {
		display: block !important;
	}

	.sm\:display\:inline,
	.sm\:d\:inline {
		display: inline !important;
	}

	.sm\:display\:inline-block,
	.sm\:d\:inline-block {
		display: inline-block !important;
	}

	.sm\:display\:flex,
	.sm\:d\:flex {
		display: flex !important;
	}

	.sm\:display\:inline-flex,
	.sm\:d\:inline-flex {
		display: inline-flex !important;
	}

	.sm\:display\:grid,
	.sm\:d\:grid {
		display: grid !important;
	}

	.sm\:display\:inline-grid,
	.sm\:d\:inline-grid {
		display: inline-grid !important;
	}

	.sm\:display\:flow-root,
	.sm\:d\:flow-root {
		display: flow-root !important;
	}

	.sm\:display\:contents,
	.sm\:d\:contents {
		display: contents !important;
	}

	.sm\:display\:list-item,
	.sm\:d\:list-item {
		display: list-item !important;
	}

	.sm\:display\:table,
	.sm\:d\:table {
		display: table !important;
	}

	.sm\:display\:table-row,
	.sm\:d\:table-row {
		display: table-row !important;
	}

	.sm\:display\:table-cell,
	.sm\:d\:table-cell {
		display: table-cell !important;
	}

}

@media (min-width: 768px) {
	/* ===== DISPLAY UTILITIES ===== */

	.md\:display\:none,
	.md\:d\:none {
		display: none !important;
	}

	.md\:display\:block,
	.md\:d\:block {
		display: block !important;
	}

	.md\:display\:inline,
	.md\:d\:inline {
		display: inline !important;
	}

	.md\:display\:inline-block,
	.md\:d\:inline-block {
		display: inline-block !important;
	}

	.md\:display\:flex,
	.md\:d\:flex {
		display: flex !important;
	}

	.md\:display\:inline-flex,
	.md\:d\:inline-flex {
		display: inline-flex !important;
	}

	.md\:display\:grid,
	.md\:d\:grid {
		display: grid !important;
	}

	.md\:display\:inline-grid,
	.md\:d\:inline-grid {
		display: inline-grid !important;
	}

	.md\:display\:flow-root,
	.md\:d\:flow-root {
		display: flow-root !important;
	}

	.md\:display\:contents,
	.md\:d\:contents {
		display: contents !important;
	}

	.md\:display\:list-item,
	.md\:d\:list-item {
		display: list-item !important;
	}

	.md\:display\:table,
	.md\:d\:table {
		display: table !important;
	}

	.md\:display\:table-row,
	.md\:d\:table-row {
		display: table-row !important;
	}

	.md\:display\:table-cell,
	.md\:d\:table-cell {
		display: table-cell !important;
	}

}

@media (min-width: 1024px) {
	/* ===== DISPLAY UTILITIES ===== */

	.lg\:display\:none,
	.lg\:d\:none {
		display: none !important;
	}

	.lg\:display\:block,
	.lg\:d\:block {
		display: block !important;
	}

	.lg\:display\:inline,
	.lg\:d\:inline {
		display: inline !important;
	}

	.lg\:display\:inline-block,
	.lg\:d\:inline-block {
		display: inline-block !important;
	}

	.lg\:display\:flex,
	.lg\:d\:flex {
		display: flex !important;
	}

	.lg\:display\:inline-flex,
	.lg\:d\:inline-flex {
		display: inline-flex !important;
	}

	.lg\:display\:grid,
	.lg\:d\:grid {
		display: grid !important;
	}

	.lg\:display\:inline-grid,
	.lg\:d\:inline-grid {
		display: inline-grid !important;
	}

	.lg\:display\:flow-root,
	.lg\:d\:flow-root {
		display: flow-root !important;
	}

	.lg\:display\:contents,
	.lg\:d\:contents {
		display: contents !important;
	}

	.lg\:display\:list-item,
	.lg\:d\:list-item {
		display: list-item !important;
	}

	.lg\:display\:table,
	.lg\:d\:table {
		display: table !important;
	}

	.lg\:display\:table-row,
	.lg\:d\:table-row {
		display: table-row !important;
	}

	.lg\:display\:table-cell,
	.lg\:d\:table-cell {
		display: table-cell !important;
	}

}

@media (min-width: 1280px) {
	/* ===== DISPLAY UTILITIES ===== */

	.xl\:display\:none,
	.xl\:d\:none {
		display: none !important;
	}

	.xl\:display\:block,
	.xl\:d\:block {
		display: block !important;
	}

	.xl\:display\:inline,
	.xl\:d\:inline {
		display: inline !important;
	}

	.xl\:display\:inline-block,
	.xl\:d\:inline-block {
		display: inline-block !important;
	}

	.xl\:display\:flex,
	.xl\:d\:flex {
		display: flex !important;
	}

	.xl\:display\:inline-flex,
	.xl\:d\:inline-flex {
		display: inline-flex !important;
	}

	.xl\:display\:grid,
	.xl\:d\:grid {
		display: grid !important;
	}

	.xl\:display\:inline-grid,
	.xl\:d\:inline-grid {
		display: inline-grid !important;
	}

	.xl\:display\:flow-root,
	.xl\:d\:flow-root {
		display: flow-root !important;
	}

	.xl\:display\:contents,
	.xl\:d\:contents {
		display: contents !important;
	}

	.xl\:display\:list-item,
	.xl\:d\:list-item {
		display: list-item !important;
	}

	.xl\:display\:table,
	.xl\:d\:table {
		display: table !important;
	}

	.xl\:display\:table-row,
	.xl\:d\:table-row {
		display: table-row !important;
	}

	.xl\:display\:table-cell,
	.xl\:d\:table-cell {
		display: table-cell !important;
	}

}
