/* ===== DISPLAY UTILITIES ===== */

.display\:none,
.d\:none {
	display: none !important;
}

.display\:block,
.d\:block {
	display: block !important;
}

.display\:inline,
.d\:inline {
	display: inline !important;
}

.display\:inline-block,
.d\:inline-block {
	display: inline-block !important;
}

.display\:flex,
.d\:flex {
	display: flex !important;
}

.display\:inline-flex,
.d\:inline-flex {
	display: inline-flex !important;
}

.display\:grid,
.d\:grid {
	display: grid !important;
}

.display\:inline-grid,
.d\:inline-grid {
	display: inline-grid !important;
}

.display\:flow-root,
.d\:flow-root {
	display: flow-root !important;
}

.display\:contents,
.d\:contents {
	display: contents !important;
}

.display\:list-item,
.d\:list-item {
	display: list-item !important;
}

.display\:table,
.d\:table {
	display: table !important;
}

.display\:table-row,
.d\:table-row {
	display: table-row !important;
}

.display\:table-cell,
.d\:table-cell {
	display: table-cell !important;
}
