/* ===== FONT-FAMILY UTILITIES ===== */

.font-family\:sans,
.ff\:sans {
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
}

.font-family\:serif,
.ff\:serif {
	font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
}

.font-family\:mono,
.ff\:mono {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
}

.font-family\:system-ui,
.ff\:system-ui {
	font-family: system-ui !important;
}

.font-family\:inherit,
.ff\:inherit {
	font-family: inherit !important;
}


@media (min-width: 640px) {
	/* ===== FONT-FAMILY UTILITIES ===== */

	.sm\:font-family\:sans,
	.sm\:ff\:sans {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.sm\:font-family\:serif,
	.sm\:ff\:serif {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.sm\:font-family\:mono,
	.sm\:ff\:mono {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.sm\:font-family\:system-ui,
	.sm\:ff\:system-ui {
		font-family: system-ui !important;
	}

	.sm\:font-family\:inherit,
	.sm\:ff\:inherit {
		font-family: inherit !important;
	}

}

@media (min-width: 768px) {
	/* ===== FONT-FAMILY UTILITIES ===== */

	.md\:font-family\:sans,
	.md\:ff\:sans {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.md\:font-family\:serif,
	.md\:ff\:serif {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.md\:font-family\:mono,
	.md\:ff\:mono {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.md\:font-family\:system-ui,
	.md\:ff\:system-ui {
		font-family: system-ui !important;
	}

	.md\:font-family\:inherit,
	.md\:ff\:inherit {
		font-family: inherit !important;
	}

}

@media (min-width: 1024px) {
	/* ===== FONT-FAMILY UTILITIES ===== */

	.lg\:font-family\:sans,
	.lg\:ff\:sans {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.lg\:font-family\:serif,
	.lg\:ff\:serif {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.lg\:font-family\:mono,
	.lg\:ff\:mono {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.lg\:font-family\:system-ui,
	.lg\:ff\:system-ui {
		font-family: system-ui !important;
	}

	.lg\:font-family\:inherit,
	.lg\:ff\:inherit {
		font-family: inherit !important;
	}

}

@media (min-width: 1280px) {
	/* ===== FONT-FAMILY UTILITIES ===== */

	.xl\:font-family\:sans,
	.xl\:ff\:sans {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.xl\:font-family\:serif,
	.xl\:ff\:serif {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.xl\:font-family\:mono,
	.xl\:ff\:mono {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.xl\:font-family\:system-ui,
	.xl\:ff\:system-ui {
		font-family: system-ui !important;
	}

	.xl\:font-family\:inherit,
	.xl\:ff\:inherit {
		font-family: inherit !important;
	}

}
