/* ===== FONT-FAMILY UTILITIES ===== */

.font-family\:sans,
.ff\:sans {
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
}

.font-family\:serif,
.ff\:serif {
	font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
}

.font-family\:mono,
.ff\:mono {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
}

.font-family\:system-ui,
.ff\:system-ui {
	font-family: system-ui !important;
}

.font-family\:inherit,
.ff\:inherit {
	font-family: inherit !important;
}


/* ===== FONT-FAMILY UTILITIES ===== */

.hover\:font-family\:sans:hover,
.hover\:ff\:sans:hover {
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
}

.hover\:font-family\:serif:hover,
.hover\:ff\:serif:hover {
	font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
}

.hover\:font-family\:mono:hover,
.hover\:ff\:mono:hover {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
}

.hover\:font-family\:system-ui:hover,
.hover\:ff\:system-ui:hover {
	font-family: system-ui !important;
}

.hover\:font-family\:inherit:hover,
.hover\:ff\:inherit:hover {
	font-family: inherit !important;
}


/* ===== FONT-FAMILY UTILITIES ===== */

.focus\:font-family\:sans:focus,
.focus\:ff\:sans:focus {
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
}

.focus\:font-family\:serif:focus,
.focus\:ff\:serif:focus {
	font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
}

.focus\:font-family\:mono:focus,
.focus\:ff\:mono:focus {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
}

.focus\:font-family\:system-ui:focus,
.focus\:ff\:system-ui:focus {
	font-family: system-ui !important;
}

.focus\:font-family\:inherit:focus,
.focus\:ff\:inherit:focus {
	font-family: inherit !important;
}


/* ===== FONT-FAMILY UTILITIES ===== */

.focus-visible\:font-family\:sans:focus-visible,
.focus-visible\:ff\:sans:focus-visible {
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
}

.focus-visible\:font-family\:serif:focus-visible,
.focus-visible\:ff\:serif:focus-visible {
	font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
}

.focus-visible\:font-family\:mono:focus-visible,
.focus-visible\:ff\:mono:focus-visible {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
}

.focus-visible\:font-family\:system-ui:focus-visible,
.focus-visible\:ff\:system-ui:focus-visible {
	font-family: system-ui !important;
}

.focus-visible\:font-family\:inherit:focus-visible,
.focus-visible\:ff\:inherit:focus-visible {
	font-family: inherit !important;
}


/* ===== FONT-FAMILY UTILITIES ===== */

.focus-within\:font-family\:sans:focus-within,
.focus-within\:ff\:sans:focus-within {
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
}

.focus-within\:font-family\:serif:focus-within,
.focus-within\:ff\:serif:focus-within {
	font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
}

.focus-within\:font-family\:mono:focus-within,
.focus-within\:ff\:mono:focus-within {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
}

.focus-within\:font-family\:system-ui:focus-within,
.focus-within\:ff\:system-ui:focus-within {
	font-family: system-ui !important;
}

.focus-within\:font-family\:inherit:focus-within,
.focus-within\:ff\:inherit:focus-within {
	font-family: inherit !important;
}


/* ===== FONT-FAMILY UTILITIES ===== */

.active\:font-family\:sans:active,
.active\:ff\:sans:active {
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
}

.active\:font-family\:serif:active,
.active\:ff\:serif:active {
	font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
}

.active\:font-family\:mono:active,
.active\:ff\:mono:active {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
}

.active\:font-family\:system-ui:active,
.active\:ff\:system-ui:active {
	font-family: system-ui !important;
}

.active\:font-family\:inherit:active,
.active\:ff\:inherit:active {
	font-family: inherit !important;
}


/* ===== FONT-FAMILY UTILITIES ===== */

.disabled\:font-family\:sans:disabled,
.disabled\:ff\:sans:disabled {
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
}

.disabled\:font-family\:serif:disabled,
.disabled\:ff\:serif:disabled {
	font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
}

.disabled\:font-family\:mono:disabled,
.disabled\:ff\:mono:disabled {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
}

.disabled\:font-family\:system-ui:disabled,
.disabled\:ff\:system-ui:disabled {
	font-family: system-ui !important;
}

.disabled\:font-family\:inherit:disabled,
.disabled\:ff\:inherit:disabled {
	font-family: inherit !important;
}


/* ===== FONT-FAMILY UTILITIES ===== */

.checked\:font-family\:sans:checked,
.checked\:ff\:sans:checked {
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
}

.checked\:font-family\:serif:checked,
.checked\:ff\:serif:checked {
	font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
}

.checked\:font-family\:mono:checked,
.checked\:ff\:mono:checked {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
}

.checked\:font-family\:system-ui:checked,
.checked\:ff\:system-ui:checked {
	font-family: system-ui !important;
}

.checked\:font-family\:inherit:checked,
.checked\:ff\:inherit:checked {
	font-family: inherit !important;
}


/* ===== FONT-FAMILY UTILITIES ===== */

.visited\:font-family\:sans:visited,
.visited\:ff\:sans:visited {
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
}

.visited\:font-family\:serif:visited,
.visited\:ff\:serif:visited {
	font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
}

.visited\:font-family\:mono:visited,
.visited\:ff\:mono:visited {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
}

.visited\:font-family\:system-ui:visited,
.visited\:ff\:system-ui:visited {
	font-family: system-ui !important;
}

.visited\:font-family\:inherit:visited,
.visited\:ff\:inherit:visited {
	font-family: inherit !important;
}


@media (min-width: 640px) {
	/* ===== FONT-FAMILY UTILITIES ===== */

	.sm\:font-family\:sans,
	.sm\:ff\:sans {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.sm\:font-family\:serif,
	.sm\:ff\:serif {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.sm\:font-family\:mono,
	.sm\:ff\:mono {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.sm\:font-family\:system-ui,
	.sm\:ff\:system-ui {
		font-family: system-ui !important;
	}

	.sm\:font-family\:inherit,
	.sm\:ff\:inherit {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.sm\:hover\:font-family\:sans:hover,
	.sm\:hover\:ff\:sans:hover {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.sm\:hover\:font-family\:serif:hover,
	.sm\:hover\:ff\:serif:hover {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.sm\:hover\:font-family\:mono:hover,
	.sm\:hover\:ff\:mono:hover {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.sm\:hover\:font-family\:system-ui:hover,
	.sm\:hover\:ff\:system-ui:hover {
		font-family: system-ui !important;
	}

	.sm\:hover\:font-family\:inherit:hover,
	.sm\:hover\:ff\:inherit:hover {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.sm\:focus\:font-family\:sans:focus,
	.sm\:focus\:ff\:sans:focus {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.sm\:focus\:font-family\:serif:focus,
	.sm\:focus\:ff\:serif:focus {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.sm\:focus\:font-family\:mono:focus,
	.sm\:focus\:ff\:mono:focus {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.sm\:focus\:font-family\:system-ui:focus,
	.sm\:focus\:ff\:system-ui:focus {
		font-family: system-ui !important;
	}

	.sm\:focus\:font-family\:inherit:focus,
	.sm\:focus\:ff\:inherit:focus {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.sm\:focus-visible\:font-family\:sans:focus-visible,
	.sm\:focus-visible\:ff\:sans:focus-visible {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.sm\:focus-visible\:font-family\:serif:focus-visible,
	.sm\:focus-visible\:ff\:serif:focus-visible {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.sm\:focus-visible\:font-family\:mono:focus-visible,
	.sm\:focus-visible\:ff\:mono:focus-visible {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.sm\:focus-visible\:font-family\:system-ui:focus-visible,
	.sm\:focus-visible\:ff\:system-ui:focus-visible {
		font-family: system-ui !important;
	}

	.sm\:focus-visible\:font-family\:inherit:focus-visible,
	.sm\:focus-visible\:ff\:inherit:focus-visible {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.sm\:focus-within\:font-family\:sans:focus-within,
	.sm\:focus-within\:ff\:sans:focus-within {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.sm\:focus-within\:font-family\:serif:focus-within,
	.sm\:focus-within\:ff\:serif:focus-within {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.sm\:focus-within\:font-family\:mono:focus-within,
	.sm\:focus-within\:ff\:mono:focus-within {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.sm\:focus-within\:font-family\:system-ui:focus-within,
	.sm\:focus-within\:ff\:system-ui:focus-within {
		font-family: system-ui !important;
	}

	.sm\:focus-within\:font-family\:inherit:focus-within,
	.sm\:focus-within\:ff\:inherit:focus-within {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.sm\:active\:font-family\:sans:active,
	.sm\:active\:ff\:sans:active {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.sm\:active\:font-family\:serif:active,
	.sm\:active\:ff\:serif:active {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.sm\:active\:font-family\:mono:active,
	.sm\:active\:ff\:mono:active {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.sm\:active\:font-family\:system-ui:active,
	.sm\:active\:ff\:system-ui:active {
		font-family: system-ui !important;
	}

	.sm\:active\:font-family\:inherit:active,
	.sm\:active\:ff\:inherit:active {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.sm\:disabled\:font-family\:sans:disabled,
	.sm\:disabled\:ff\:sans:disabled {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.sm\:disabled\:font-family\:serif:disabled,
	.sm\:disabled\:ff\:serif:disabled {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.sm\:disabled\:font-family\:mono:disabled,
	.sm\:disabled\:ff\:mono:disabled {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.sm\:disabled\:font-family\:system-ui:disabled,
	.sm\:disabled\:ff\:system-ui:disabled {
		font-family: system-ui !important;
	}

	.sm\:disabled\:font-family\:inherit:disabled,
	.sm\:disabled\:ff\:inherit:disabled {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.sm\:checked\:font-family\:sans:checked,
	.sm\:checked\:ff\:sans:checked {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.sm\:checked\:font-family\:serif:checked,
	.sm\:checked\:ff\:serif:checked {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.sm\:checked\:font-family\:mono:checked,
	.sm\:checked\:ff\:mono:checked {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.sm\:checked\:font-family\:system-ui:checked,
	.sm\:checked\:ff\:system-ui:checked {
		font-family: system-ui !important;
	}

	.sm\:checked\:font-family\:inherit:checked,
	.sm\:checked\:ff\:inherit:checked {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.sm\:visited\:font-family\:sans:visited,
	.sm\:visited\:ff\:sans:visited {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.sm\:visited\:font-family\:serif:visited,
	.sm\:visited\:ff\:serif:visited {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.sm\:visited\:font-family\:mono:visited,
	.sm\:visited\:ff\:mono:visited {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.sm\:visited\:font-family\:system-ui:visited,
	.sm\:visited\:ff\:system-ui:visited {
		font-family: system-ui !important;
	}

	.sm\:visited\:font-family\:inherit:visited,
	.sm\:visited\:ff\:inherit:visited {
		font-family: inherit !important;
	}

}

@media (min-width: 768px) {
	/* ===== FONT-FAMILY UTILITIES ===== */

	.md\:font-family\:sans,
	.md\:ff\:sans {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.md\:font-family\:serif,
	.md\:ff\:serif {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.md\:font-family\:mono,
	.md\:ff\:mono {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.md\:font-family\:system-ui,
	.md\:ff\:system-ui {
		font-family: system-ui !important;
	}

	.md\:font-family\:inherit,
	.md\:ff\:inherit {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.md\:hover\:font-family\:sans:hover,
	.md\:hover\:ff\:sans:hover {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.md\:hover\:font-family\:serif:hover,
	.md\:hover\:ff\:serif:hover {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.md\:hover\:font-family\:mono:hover,
	.md\:hover\:ff\:mono:hover {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.md\:hover\:font-family\:system-ui:hover,
	.md\:hover\:ff\:system-ui:hover {
		font-family: system-ui !important;
	}

	.md\:hover\:font-family\:inherit:hover,
	.md\:hover\:ff\:inherit:hover {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.md\:focus\:font-family\:sans:focus,
	.md\:focus\:ff\:sans:focus {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.md\:focus\:font-family\:serif:focus,
	.md\:focus\:ff\:serif:focus {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.md\:focus\:font-family\:mono:focus,
	.md\:focus\:ff\:mono:focus {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.md\:focus\:font-family\:system-ui:focus,
	.md\:focus\:ff\:system-ui:focus {
		font-family: system-ui !important;
	}

	.md\:focus\:font-family\:inherit:focus,
	.md\:focus\:ff\:inherit:focus {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.md\:focus-visible\:font-family\:sans:focus-visible,
	.md\:focus-visible\:ff\:sans:focus-visible {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.md\:focus-visible\:font-family\:serif:focus-visible,
	.md\:focus-visible\:ff\:serif:focus-visible {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.md\:focus-visible\:font-family\:mono:focus-visible,
	.md\:focus-visible\:ff\:mono:focus-visible {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.md\:focus-visible\:font-family\:system-ui:focus-visible,
	.md\:focus-visible\:ff\:system-ui:focus-visible {
		font-family: system-ui !important;
	}

	.md\:focus-visible\:font-family\:inherit:focus-visible,
	.md\:focus-visible\:ff\:inherit:focus-visible {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.md\:focus-within\:font-family\:sans:focus-within,
	.md\:focus-within\:ff\:sans:focus-within {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.md\:focus-within\:font-family\:serif:focus-within,
	.md\:focus-within\:ff\:serif:focus-within {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.md\:focus-within\:font-family\:mono:focus-within,
	.md\:focus-within\:ff\:mono:focus-within {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.md\:focus-within\:font-family\:system-ui:focus-within,
	.md\:focus-within\:ff\:system-ui:focus-within {
		font-family: system-ui !important;
	}

	.md\:focus-within\:font-family\:inherit:focus-within,
	.md\:focus-within\:ff\:inherit:focus-within {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.md\:active\:font-family\:sans:active,
	.md\:active\:ff\:sans:active {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.md\:active\:font-family\:serif:active,
	.md\:active\:ff\:serif:active {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.md\:active\:font-family\:mono:active,
	.md\:active\:ff\:mono:active {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.md\:active\:font-family\:system-ui:active,
	.md\:active\:ff\:system-ui:active {
		font-family: system-ui !important;
	}

	.md\:active\:font-family\:inherit:active,
	.md\:active\:ff\:inherit:active {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.md\:disabled\:font-family\:sans:disabled,
	.md\:disabled\:ff\:sans:disabled {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.md\:disabled\:font-family\:serif:disabled,
	.md\:disabled\:ff\:serif:disabled {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.md\:disabled\:font-family\:mono:disabled,
	.md\:disabled\:ff\:mono:disabled {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.md\:disabled\:font-family\:system-ui:disabled,
	.md\:disabled\:ff\:system-ui:disabled {
		font-family: system-ui !important;
	}

	.md\:disabled\:font-family\:inherit:disabled,
	.md\:disabled\:ff\:inherit:disabled {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.md\:checked\:font-family\:sans:checked,
	.md\:checked\:ff\:sans:checked {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.md\:checked\:font-family\:serif:checked,
	.md\:checked\:ff\:serif:checked {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.md\:checked\:font-family\:mono:checked,
	.md\:checked\:ff\:mono:checked {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.md\:checked\:font-family\:system-ui:checked,
	.md\:checked\:ff\:system-ui:checked {
		font-family: system-ui !important;
	}

	.md\:checked\:font-family\:inherit:checked,
	.md\:checked\:ff\:inherit:checked {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.md\:visited\:font-family\:sans:visited,
	.md\:visited\:ff\:sans:visited {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.md\:visited\:font-family\:serif:visited,
	.md\:visited\:ff\:serif:visited {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.md\:visited\:font-family\:mono:visited,
	.md\:visited\:ff\:mono:visited {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.md\:visited\:font-family\:system-ui:visited,
	.md\:visited\:ff\:system-ui:visited {
		font-family: system-ui !important;
	}

	.md\:visited\:font-family\:inherit:visited,
	.md\:visited\:ff\:inherit:visited {
		font-family: inherit !important;
	}

}

@media (min-width: 1024px) {
	/* ===== FONT-FAMILY UTILITIES ===== */

	.lg\:font-family\:sans,
	.lg\:ff\:sans {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.lg\:font-family\:serif,
	.lg\:ff\:serif {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.lg\:font-family\:mono,
	.lg\:ff\:mono {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.lg\:font-family\:system-ui,
	.lg\:ff\:system-ui {
		font-family: system-ui !important;
	}

	.lg\:font-family\:inherit,
	.lg\:ff\:inherit {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.lg\:hover\:font-family\:sans:hover,
	.lg\:hover\:ff\:sans:hover {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.lg\:hover\:font-family\:serif:hover,
	.lg\:hover\:ff\:serif:hover {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.lg\:hover\:font-family\:mono:hover,
	.lg\:hover\:ff\:mono:hover {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.lg\:hover\:font-family\:system-ui:hover,
	.lg\:hover\:ff\:system-ui:hover {
		font-family: system-ui !important;
	}

	.lg\:hover\:font-family\:inherit:hover,
	.lg\:hover\:ff\:inherit:hover {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.lg\:focus\:font-family\:sans:focus,
	.lg\:focus\:ff\:sans:focus {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.lg\:focus\:font-family\:serif:focus,
	.lg\:focus\:ff\:serif:focus {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.lg\:focus\:font-family\:mono:focus,
	.lg\:focus\:ff\:mono:focus {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.lg\:focus\:font-family\:system-ui:focus,
	.lg\:focus\:ff\:system-ui:focus {
		font-family: system-ui !important;
	}

	.lg\:focus\:font-family\:inherit:focus,
	.lg\:focus\:ff\:inherit:focus {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.lg\:focus-visible\:font-family\:sans:focus-visible,
	.lg\:focus-visible\:ff\:sans:focus-visible {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.lg\:focus-visible\:font-family\:serif:focus-visible,
	.lg\:focus-visible\:ff\:serif:focus-visible {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.lg\:focus-visible\:font-family\:mono:focus-visible,
	.lg\:focus-visible\:ff\:mono:focus-visible {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.lg\:focus-visible\:font-family\:system-ui:focus-visible,
	.lg\:focus-visible\:ff\:system-ui:focus-visible {
		font-family: system-ui !important;
	}

	.lg\:focus-visible\:font-family\:inherit:focus-visible,
	.lg\:focus-visible\:ff\:inherit:focus-visible {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.lg\:focus-within\:font-family\:sans:focus-within,
	.lg\:focus-within\:ff\:sans:focus-within {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.lg\:focus-within\:font-family\:serif:focus-within,
	.lg\:focus-within\:ff\:serif:focus-within {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.lg\:focus-within\:font-family\:mono:focus-within,
	.lg\:focus-within\:ff\:mono:focus-within {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.lg\:focus-within\:font-family\:system-ui:focus-within,
	.lg\:focus-within\:ff\:system-ui:focus-within {
		font-family: system-ui !important;
	}

	.lg\:focus-within\:font-family\:inherit:focus-within,
	.lg\:focus-within\:ff\:inherit:focus-within {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.lg\:active\:font-family\:sans:active,
	.lg\:active\:ff\:sans:active {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.lg\:active\:font-family\:serif:active,
	.lg\:active\:ff\:serif:active {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.lg\:active\:font-family\:mono:active,
	.lg\:active\:ff\:mono:active {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.lg\:active\:font-family\:system-ui:active,
	.lg\:active\:ff\:system-ui:active {
		font-family: system-ui !important;
	}

	.lg\:active\:font-family\:inherit:active,
	.lg\:active\:ff\:inherit:active {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.lg\:disabled\:font-family\:sans:disabled,
	.lg\:disabled\:ff\:sans:disabled {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.lg\:disabled\:font-family\:serif:disabled,
	.lg\:disabled\:ff\:serif:disabled {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.lg\:disabled\:font-family\:mono:disabled,
	.lg\:disabled\:ff\:mono:disabled {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.lg\:disabled\:font-family\:system-ui:disabled,
	.lg\:disabled\:ff\:system-ui:disabled {
		font-family: system-ui !important;
	}

	.lg\:disabled\:font-family\:inherit:disabled,
	.lg\:disabled\:ff\:inherit:disabled {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.lg\:checked\:font-family\:sans:checked,
	.lg\:checked\:ff\:sans:checked {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.lg\:checked\:font-family\:serif:checked,
	.lg\:checked\:ff\:serif:checked {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.lg\:checked\:font-family\:mono:checked,
	.lg\:checked\:ff\:mono:checked {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.lg\:checked\:font-family\:system-ui:checked,
	.lg\:checked\:ff\:system-ui:checked {
		font-family: system-ui !important;
	}

	.lg\:checked\:font-family\:inherit:checked,
	.lg\:checked\:ff\:inherit:checked {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.lg\:visited\:font-family\:sans:visited,
	.lg\:visited\:ff\:sans:visited {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.lg\:visited\:font-family\:serif:visited,
	.lg\:visited\:ff\:serif:visited {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.lg\:visited\:font-family\:mono:visited,
	.lg\:visited\:ff\:mono:visited {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.lg\:visited\:font-family\:system-ui:visited,
	.lg\:visited\:ff\:system-ui:visited {
		font-family: system-ui !important;
	}

	.lg\:visited\:font-family\:inherit:visited,
	.lg\:visited\:ff\:inherit:visited {
		font-family: inherit !important;
	}

}

@media (min-width: 1280px) {
	/* ===== FONT-FAMILY UTILITIES ===== */

	.xl\:font-family\:sans,
	.xl\:ff\:sans {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.xl\:font-family\:serif,
	.xl\:ff\:serif {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.xl\:font-family\:mono,
	.xl\:ff\:mono {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.xl\:font-family\:system-ui,
	.xl\:ff\:system-ui {
		font-family: system-ui !important;
	}

	.xl\:font-family\:inherit,
	.xl\:ff\:inherit {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.xl\:hover\:font-family\:sans:hover,
	.xl\:hover\:ff\:sans:hover {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.xl\:hover\:font-family\:serif:hover,
	.xl\:hover\:ff\:serif:hover {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.xl\:hover\:font-family\:mono:hover,
	.xl\:hover\:ff\:mono:hover {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.xl\:hover\:font-family\:system-ui:hover,
	.xl\:hover\:ff\:system-ui:hover {
		font-family: system-ui !important;
	}

	.xl\:hover\:font-family\:inherit:hover,
	.xl\:hover\:ff\:inherit:hover {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.xl\:focus\:font-family\:sans:focus,
	.xl\:focus\:ff\:sans:focus {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.xl\:focus\:font-family\:serif:focus,
	.xl\:focus\:ff\:serif:focus {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.xl\:focus\:font-family\:mono:focus,
	.xl\:focus\:ff\:mono:focus {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.xl\:focus\:font-family\:system-ui:focus,
	.xl\:focus\:ff\:system-ui:focus {
		font-family: system-ui !important;
	}

	.xl\:focus\:font-family\:inherit:focus,
	.xl\:focus\:ff\:inherit:focus {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.xl\:focus-visible\:font-family\:sans:focus-visible,
	.xl\:focus-visible\:ff\:sans:focus-visible {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.xl\:focus-visible\:font-family\:serif:focus-visible,
	.xl\:focus-visible\:ff\:serif:focus-visible {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.xl\:focus-visible\:font-family\:mono:focus-visible,
	.xl\:focus-visible\:ff\:mono:focus-visible {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.xl\:focus-visible\:font-family\:system-ui:focus-visible,
	.xl\:focus-visible\:ff\:system-ui:focus-visible {
		font-family: system-ui !important;
	}

	.xl\:focus-visible\:font-family\:inherit:focus-visible,
	.xl\:focus-visible\:ff\:inherit:focus-visible {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.xl\:focus-within\:font-family\:sans:focus-within,
	.xl\:focus-within\:ff\:sans:focus-within {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.xl\:focus-within\:font-family\:serif:focus-within,
	.xl\:focus-within\:ff\:serif:focus-within {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.xl\:focus-within\:font-family\:mono:focus-within,
	.xl\:focus-within\:ff\:mono:focus-within {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.xl\:focus-within\:font-family\:system-ui:focus-within,
	.xl\:focus-within\:ff\:system-ui:focus-within {
		font-family: system-ui !important;
	}

	.xl\:focus-within\:font-family\:inherit:focus-within,
	.xl\:focus-within\:ff\:inherit:focus-within {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.xl\:active\:font-family\:sans:active,
	.xl\:active\:ff\:sans:active {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.xl\:active\:font-family\:serif:active,
	.xl\:active\:ff\:serif:active {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.xl\:active\:font-family\:mono:active,
	.xl\:active\:ff\:mono:active {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.xl\:active\:font-family\:system-ui:active,
	.xl\:active\:ff\:system-ui:active {
		font-family: system-ui !important;
	}

	.xl\:active\:font-family\:inherit:active,
	.xl\:active\:ff\:inherit:active {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.xl\:disabled\:font-family\:sans:disabled,
	.xl\:disabled\:ff\:sans:disabled {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.xl\:disabled\:font-family\:serif:disabled,
	.xl\:disabled\:ff\:serif:disabled {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.xl\:disabled\:font-family\:mono:disabled,
	.xl\:disabled\:ff\:mono:disabled {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.xl\:disabled\:font-family\:system-ui:disabled,
	.xl\:disabled\:ff\:system-ui:disabled {
		font-family: system-ui !important;
	}

	.xl\:disabled\:font-family\:inherit:disabled,
	.xl\:disabled\:ff\:inherit:disabled {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.xl\:checked\:font-family\:sans:checked,
	.xl\:checked\:ff\:sans:checked {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.xl\:checked\:font-family\:serif:checked,
	.xl\:checked\:ff\:serif:checked {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.xl\:checked\:font-family\:mono:checked,
	.xl\:checked\:ff\:mono:checked {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.xl\:checked\:font-family\:system-ui:checked,
	.xl\:checked\:ff\:system-ui:checked {
		font-family: system-ui !important;
	}

	.xl\:checked\:font-family\:inherit:checked,
	.xl\:checked\:ff\:inherit:checked {
		font-family: inherit !important;
	}


	/* ===== FONT-FAMILY UTILITIES ===== */

	.xl\:visited\:font-family\:sans:visited,
	.xl\:visited\:ff\:sans:visited {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
	}

	.xl\:visited\:font-family\:serif:visited,
	.xl\:visited\:ff\:serif:visited {
		font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif !important;
	}

	.xl\:visited\:font-family\:mono:visited,
	.xl\:visited\:ff\:mono:visited {
		font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
	}

	.xl\:visited\:font-family\:system-ui:visited,
	.xl\:visited\:ff\:system-ui:visited {
		font-family: system-ui !important;
	}

	.xl\:visited\:font-family\:inherit:visited,
	.xl\:visited\:ff\:inherit:visited {
		font-family: inherit !important;
	}

}
