/* ===== LEGACY LAYOUT — float, clear ===== */

/* FLOAT */

.float\:none,
.fl\:none {
	float: none !important;
}

.float\:left,
.fl\:left {
	float: left !important;
}

.float\:right,
.fl\:right {
	float: right !important;
}

.float\:inline-start,
.fl\:inline-start {
	float: inline-start !important;
}

.float\:inline-end,
.fl\:inline-end {
	float: inline-end !important;
}

/* CLEAR */

.clear\:none,
.cl\:none {
	clear: none !important;
}

.clear\:left,
.cl\:left {
	clear: left !important;
}

.clear\:right,
.cl\:right {
	clear: right !important;
}

.clear\:both,
.cl\:both {
	clear: both !important;
}

.clear\:inline-start,
.cl\:inline-start {
	clear: inline-start !important;
}

.clear\:inline-end,
.cl\:inline-end {
	clear: inline-end !important;
}


/* ===== LEGACY LAYOUT — float, clear ===== */

/* FLOAT */

.hover\:float\:none:hover,
.hover\:fl\:none:hover {
	float: none !important;
}

.hover\:float\:left:hover,
.hover\:fl\:left:hover {
	float: left !important;
}

.hover\:float\:right:hover,
.hover\:fl\:right:hover {
	float: right !important;
}

.hover\:float\:inline-start:hover,
.hover\:fl\:inline-start:hover {
	float: inline-start !important;
}

.hover\:float\:inline-end:hover,
.hover\:fl\:inline-end:hover {
	float: inline-end !important;
}

/* CLEAR */

.hover\:clear\:none:hover,
.hover\:cl\:none:hover {
	clear: none !important;
}

.hover\:clear\:left:hover,
.hover\:cl\:left:hover {
	clear: left !important;
}

.hover\:clear\:right:hover,
.hover\:cl\:right:hover {
	clear: right !important;
}

.hover\:clear\:both:hover,
.hover\:cl\:both:hover {
	clear: both !important;
}

.hover\:clear\:inline-start:hover,
.hover\:cl\:inline-start:hover {
	clear: inline-start !important;
}

.hover\:clear\:inline-end:hover,
.hover\:cl\:inline-end:hover {
	clear: inline-end !important;
}


/* ===== LEGACY LAYOUT — float, clear ===== */

/* FLOAT */

.focus\:float\:none:focus,
.focus\:fl\:none:focus {
	float: none !important;
}

.focus\:float\:left:focus,
.focus\:fl\:left:focus {
	float: left !important;
}

.focus\:float\:right:focus,
.focus\:fl\:right:focus {
	float: right !important;
}

.focus\:float\:inline-start:focus,
.focus\:fl\:inline-start:focus {
	float: inline-start !important;
}

.focus\:float\:inline-end:focus,
.focus\:fl\:inline-end:focus {
	float: inline-end !important;
}

/* CLEAR */

.focus\:clear\:none:focus,
.focus\:cl\:none:focus {
	clear: none !important;
}

.focus\:clear\:left:focus,
.focus\:cl\:left:focus {
	clear: left !important;
}

.focus\:clear\:right:focus,
.focus\:cl\:right:focus {
	clear: right !important;
}

.focus\:clear\:both:focus,
.focus\:cl\:both:focus {
	clear: both !important;
}

.focus\:clear\:inline-start:focus,
.focus\:cl\:inline-start:focus {
	clear: inline-start !important;
}

.focus\:clear\:inline-end:focus,
.focus\:cl\:inline-end:focus {
	clear: inline-end !important;
}


/* ===== LEGACY LAYOUT — float, clear ===== */

/* FLOAT */

.focus-visible\:float\:none:focus-visible,
.focus-visible\:fl\:none:focus-visible {
	float: none !important;
}

.focus-visible\:float\:left:focus-visible,
.focus-visible\:fl\:left:focus-visible {
	float: left !important;
}

.focus-visible\:float\:right:focus-visible,
.focus-visible\:fl\:right:focus-visible {
	float: right !important;
}

.focus-visible\:float\:inline-start:focus-visible,
.focus-visible\:fl\:inline-start:focus-visible {
	float: inline-start !important;
}

.focus-visible\:float\:inline-end:focus-visible,
.focus-visible\:fl\:inline-end:focus-visible {
	float: inline-end !important;
}

/* CLEAR */

.focus-visible\:clear\:none:focus-visible,
.focus-visible\:cl\:none:focus-visible {
	clear: none !important;
}

.focus-visible\:clear\:left:focus-visible,
.focus-visible\:cl\:left:focus-visible {
	clear: left !important;
}

.focus-visible\:clear\:right:focus-visible,
.focus-visible\:cl\:right:focus-visible {
	clear: right !important;
}

.focus-visible\:clear\:both:focus-visible,
.focus-visible\:cl\:both:focus-visible {
	clear: both !important;
}

.focus-visible\:clear\:inline-start:focus-visible,
.focus-visible\:cl\:inline-start:focus-visible {
	clear: inline-start !important;
}

.focus-visible\:clear\:inline-end:focus-visible,
.focus-visible\:cl\:inline-end:focus-visible {
	clear: inline-end !important;
}


/* ===== LEGACY LAYOUT — float, clear ===== */

/* FLOAT */

.focus-within\:float\:none:focus-within,
.focus-within\:fl\:none:focus-within {
	float: none !important;
}

.focus-within\:float\:left:focus-within,
.focus-within\:fl\:left:focus-within {
	float: left !important;
}

.focus-within\:float\:right:focus-within,
.focus-within\:fl\:right:focus-within {
	float: right !important;
}

.focus-within\:float\:inline-start:focus-within,
.focus-within\:fl\:inline-start:focus-within {
	float: inline-start !important;
}

.focus-within\:float\:inline-end:focus-within,
.focus-within\:fl\:inline-end:focus-within {
	float: inline-end !important;
}

/* CLEAR */

.focus-within\:clear\:none:focus-within,
.focus-within\:cl\:none:focus-within {
	clear: none !important;
}

.focus-within\:clear\:left:focus-within,
.focus-within\:cl\:left:focus-within {
	clear: left !important;
}

.focus-within\:clear\:right:focus-within,
.focus-within\:cl\:right:focus-within {
	clear: right !important;
}

.focus-within\:clear\:both:focus-within,
.focus-within\:cl\:both:focus-within {
	clear: both !important;
}

.focus-within\:clear\:inline-start:focus-within,
.focus-within\:cl\:inline-start:focus-within {
	clear: inline-start !important;
}

.focus-within\:clear\:inline-end:focus-within,
.focus-within\:cl\:inline-end:focus-within {
	clear: inline-end !important;
}


/* ===== LEGACY LAYOUT — float, clear ===== */

/* FLOAT */

.active\:float\:none:active,
.active\:fl\:none:active {
	float: none !important;
}

.active\:float\:left:active,
.active\:fl\:left:active {
	float: left !important;
}

.active\:float\:right:active,
.active\:fl\:right:active {
	float: right !important;
}

.active\:float\:inline-start:active,
.active\:fl\:inline-start:active {
	float: inline-start !important;
}

.active\:float\:inline-end:active,
.active\:fl\:inline-end:active {
	float: inline-end !important;
}

/* CLEAR */

.active\:clear\:none:active,
.active\:cl\:none:active {
	clear: none !important;
}

.active\:clear\:left:active,
.active\:cl\:left:active {
	clear: left !important;
}

.active\:clear\:right:active,
.active\:cl\:right:active {
	clear: right !important;
}

.active\:clear\:both:active,
.active\:cl\:both:active {
	clear: both !important;
}

.active\:clear\:inline-start:active,
.active\:cl\:inline-start:active {
	clear: inline-start !important;
}

.active\:clear\:inline-end:active,
.active\:cl\:inline-end:active {
	clear: inline-end !important;
}


/* ===== LEGACY LAYOUT — float, clear ===== */

/* FLOAT */

.disabled\:float\:none:disabled,
.disabled\:fl\:none:disabled {
	float: none !important;
}

.disabled\:float\:left:disabled,
.disabled\:fl\:left:disabled {
	float: left !important;
}

.disabled\:float\:right:disabled,
.disabled\:fl\:right:disabled {
	float: right !important;
}

.disabled\:float\:inline-start:disabled,
.disabled\:fl\:inline-start:disabled {
	float: inline-start !important;
}

.disabled\:float\:inline-end:disabled,
.disabled\:fl\:inline-end:disabled {
	float: inline-end !important;
}

/* CLEAR */

.disabled\:clear\:none:disabled,
.disabled\:cl\:none:disabled {
	clear: none !important;
}

.disabled\:clear\:left:disabled,
.disabled\:cl\:left:disabled {
	clear: left !important;
}

.disabled\:clear\:right:disabled,
.disabled\:cl\:right:disabled {
	clear: right !important;
}

.disabled\:clear\:both:disabled,
.disabled\:cl\:both:disabled {
	clear: both !important;
}

.disabled\:clear\:inline-start:disabled,
.disabled\:cl\:inline-start:disabled {
	clear: inline-start !important;
}

.disabled\:clear\:inline-end:disabled,
.disabled\:cl\:inline-end:disabled {
	clear: inline-end !important;
}


/* ===== LEGACY LAYOUT — float, clear ===== */

/* FLOAT */

.checked\:float\:none:checked,
.checked\:fl\:none:checked {
	float: none !important;
}

.checked\:float\:left:checked,
.checked\:fl\:left:checked {
	float: left !important;
}

.checked\:float\:right:checked,
.checked\:fl\:right:checked {
	float: right !important;
}

.checked\:float\:inline-start:checked,
.checked\:fl\:inline-start:checked {
	float: inline-start !important;
}

.checked\:float\:inline-end:checked,
.checked\:fl\:inline-end:checked {
	float: inline-end !important;
}

/* CLEAR */

.checked\:clear\:none:checked,
.checked\:cl\:none:checked {
	clear: none !important;
}

.checked\:clear\:left:checked,
.checked\:cl\:left:checked {
	clear: left !important;
}

.checked\:clear\:right:checked,
.checked\:cl\:right:checked {
	clear: right !important;
}

.checked\:clear\:both:checked,
.checked\:cl\:both:checked {
	clear: both !important;
}

.checked\:clear\:inline-start:checked,
.checked\:cl\:inline-start:checked {
	clear: inline-start !important;
}

.checked\:clear\:inline-end:checked,
.checked\:cl\:inline-end:checked {
	clear: inline-end !important;
}


/* ===== LEGACY LAYOUT — float, clear ===== */

/* FLOAT */

.visited\:float\:none:visited,
.visited\:fl\:none:visited {
	float: none !important;
}

.visited\:float\:left:visited,
.visited\:fl\:left:visited {
	float: left !important;
}

.visited\:float\:right:visited,
.visited\:fl\:right:visited {
	float: right !important;
}

.visited\:float\:inline-start:visited,
.visited\:fl\:inline-start:visited {
	float: inline-start !important;
}

.visited\:float\:inline-end:visited,
.visited\:fl\:inline-end:visited {
	float: inline-end !important;
}

/* CLEAR */

.visited\:clear\:none:visited,
.visited\:cl\:none:visited {
	clear: none !important;
}

.visited\:clear\:left:visited,
.visited\:cl\:left:visited {
	clear: left !important;
}

.visited\:clear\:right:visited,
.visited\:cl\:right:visited {
	clear: right !important;
}

.visited\:clear\:both:visited,
.visited\:cl\:both:visited {
	clear: both !important;
}

.visited\:clear\:inline-start:visited,
.visited\:cl\:inline-start:visited {
	clear: inline-start !important;
}

.visited\:clear\:inline-end:visited,
.visited\:cl\:inline-end:visited {
	clear: inline-end !important;
}


@media (min-width: 640px) {
	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.sm\:float\:none,
	.sm\:fl\:none {
		float: none !important;
	}

	.sm\:float\:left,
	.sm\:fl\:left {
		float: left !important;
	}

	.sm\:float\:right,
	.sm\:fl\:right {
		float: right !important;
	}

	.sm\:float\:inline-start,
	.sm\:fl\:inline-start {
		float: inline-start !important;
	}

	.sm\:float\:inline-end,
	.sm\:fl\:inline-end {
		float: inline-end !important;
	}

	/* CLEAR */

	.sm\:clear\:none,
	.sm\:cl\:none {
		clear: none !important;
	}

	.sm\:clear\:left,
	.sm\:cl\:left {
		clear: left !important;
	}

	.sm\:clear\:right,
	.sm\:cl\:right {
		clear: right !important;
	}

	.sm\:clear\:both,
	.sm\:cl\:both {
		clear: both !important;
	}

	.sm\:clear\:inline-start,
	.sm\:cl\:inline-start {
		clear: inline-start !important;
	}

	.sm\:clear\:inline-end,
	.sm\:cl\:inline-end {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.sm\:hover\:float\:none:hover,
	.sm\:hover\:fl\:none:hover {
		float: none !important;
	}

	.sm\:hover\:float\:left:hover,
	.sm\:hover\:fl\:left:hover {
		float: left !important;
	}

	.sm\:hover\:float\:right:hover,
	.sm\:hover\:fl\:right:hover {
		float: right !important;
	}

	.sm\:hover\:float\:inline-start:hover,
	.sm\:hover\:fl\:inline-start:hover {
		float: inline-start !important;
	}

	.sm\:hover\:float\:inline-end:hover,
	.sm\:hover\:fl\:inline-end:hover {
		float: inline-end !important;
	}

	/* CLEAR */

	.sm\:hover\:clear\:none:hover,
	.sm\:hover\:cl\:none:hover {
		clear: none !important;
	}

	.sm\:hover\:clear\:left:hover,
	.sm\:hover\:cl\:left:hover {
		clear: left !important;
	}

	.sm\:hover\:clear\:right:hover,
	.sm\:hover\:cl\:right:hover {
		clear: right !important;
	}

	.sm\:hover\:clear\:both:hover,
	.sm\:hover\:cl\:both:hover {
		clear: both !important;
	}

	.sm\:hover\:clear\:inline-start:hover,
	.sm\:hover\:cl\:inline-start:hover {
		clear: inline-start !important;
	}

	.sm\:hover\:clear\:inline-end:hover,
	.sm\:hover\:cl\:inline-end:hover {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.sm\:focus\:float\:none:focus,
	.sm\:focus\:fl\:none:focus {
		float: none !important;
	}

	.sm\:focus\:float\:left:focus,
	.sm\:focus\:fl\:left:focus {
		float: left !important;
	}

	.sm\:focus\:float\:right:focus,
	.sm\:focus\:fl\:right:focus {
		float: right !important;
	}

	.sm\:focus\:float\:inline-start:focus,
	.sm\:focus\:fl\:inline-start:focus {
		float: inline-start !important;
	}

	.sm\:focus\:float\:inline-end:focus,
	.sm\:focus\:fl\:inline-end:focus {
		float: inline-end !important;
	}

	/* CLEAR */

	.sm\:focus\:clear\:none:focus,
	.sm\:focus\:cl\:none:focus {
		clear: none !important;
	}

	.sm\:focus\:clear\:left:focus,
	.sm\:focus\:cl\:left:focus {
		clear: left !important;
	}

	.sm\:focus\:clear\:right:focus,
	.sm\:focus\:cl\:right:focus {
		clear: right !important;
	}

	.sm\:focus\:clear\:both:focus,
	.sm\:focus\:cl\:both:focus {
		clear: both !important;
	}

	.sm\:focus\:clear\:inline-start:focus,
	.sm\:focus\:cl\:inline-start:focus {
		clear: inline-start !important;
	}

	.sm\:focus\:clear\:inline-end:focus,
	.sm\:focus\:cl\:inline-end:focus {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.sm\:focus-visible\:float\:none:focus-visible,
	.sm\:focus-visible\:fl\:none:focus-visible {
		float: none !important;
	}

	.sm\:focus-visible\:float\:left:focus-visible,
	.sm\:focus-visible\:fl\:left:focus-visible {
		float: left !important;
	}

	.sm\:focus-visible\:float\:right:focus-visible,
	.sm\:focus-visible\:fl\:right:focus-visible {
		float: right !important;
	}

	.sm\:focus-visible\:float\:inline-start:focus-visible,
	.sm\:focus-visible\:fl\:inline-start:focus-visible {
		float: inline-start !important;
	}

	.sm\:focus-visible\:float\:inline-end:focus-visible,
	.sm\:focus-visible\:fl\:inline-end:focus-visible {
		float: inline-end !important;
	}

	/* CLEAR */

	.sm\:focus-visible\:clear\:none:focus-visible,
	.sm\:focus-visible\:cl\:none:focus-visible {
		clear: none !important;
	}

	.sm\:focus-visible\:clear\:left:focus-visible,
	.sm\:focus-visible\:cl\:left:focus-visible {
		clear: left !important;
	}

	.sm\:focus-visible\:clear\:right:focus-visible,
	.sm\:focus-visible\:cl\:right:focus-visible {
		clear: right !important;
	}

	.sm\:focus-visible\:clear\:both:focus-visible,
	.sm\:focus-visible\:cl\:both:focus-visible {
		clear: both !important;
	}

	.sm\:focus-visible\:clear\:inline-start:focus-visible,
	.sm\:focus-visible\:cl\:inline-start:focus-visible {
		clear: inline-start !important;
	}

	.sm\:focus-visible\:clear\:inline-end:focus-visible,
	.sm\:focus-visible\:cl\:inline-end:focus-visible {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.sm\:focus-within\:float\:none:focus-within,
	.sm\:focus-within\:fl\:none:focus-within {
		float: none !important;
	}

	.sm\:focus-within\:float\:left:focus-within,
	.sm\:focus-within\:fl\:left:focus-within {
		float: left !important;
	}

	.sm\:focus-within\:float\:right:focus-within,
	.sm\:focus-within\:fl\:right:focus-within {
		float: right !important;
	}

	.sm\:focus-within\:float\:inline-start:focus-within,
	.sm\:focus-within\:fl\:inline-start:focus-within {
		float: inline-start !important;
	}

	.sm\:focus-within\:float\:inline-end:focus-within,
	.sm\:focus-within\:fl\:inline-end:focus-within {
		float: inline-end !important;
	}

	/* CLEAR */

	.sm\:focus-within\:clear\:none:focus-within,
	.sm\:focus-within\:cl\:none:focus-within {
		clear: none !important;
	}

	.sm\:focus-within\:clear\:left:focus-within,
	.sm\:focus-within\:cl\:left:focus-within {
		clear: left !important;
	}

	.sm\:focus-within\:clear\:right:focus-within,
	.sm\:focus-within\:cl\:right:focus-within {
		clear: right !important;
	}

	.sm\:focus-within\:clear\:both:focus-within,
	.sm\:focus-within\:cl\:both:focus-within {
		clear: both !important;
	}

	.sm\:focus-within\:clear\:inline-start:focus-within,
	.sm\:focus-within\:cl\:inline-start:focus-within {
		clear: inline-start !important;
	}

	.sm\:focus-within\:clear\:inline-end:focus-within,
	.sm\:focus-within\:cl\:inline-end:focus-within {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.sm\:active\:float\:none:active,
	.sm\:active\:fl\:none:active {
		float: none !important;
	}

	.sm\:active\:float\:left:active,
	.sm\:active\:fl\:left:active {
		float: left !important;
	}

	.sm\:active\:float\:right:active,
	.sm\:active\:fl\:right:active {
		float: right !important;
	}

	.sm\:active\:float\:inline-start:active,
	.sm\:active\:fl\:inline-start:active {
		float: inline-start !important;
	}

	.sm\:active\:float\:inline-end:active,
	.sm\:active\:fl\:inline-end:active {
		float: inline-end !important;
	}

	/* CLEAR */

	.sm\:active\:clear\:none:active,
	.sm\:active\:cl\:none:active {
		clear: none !important;
	}

	.sm\:active\:clear\:left:active,
	.sm\:active\:cl\:left:active {
		clear: left !important;
	}

	.sm\:active\:clear\:right:active,
	.sm\:active\:cl\:right:active {
		clear: right !important;
	}

	.sm\:active\:clear\:both:active,
	.sm\:active\:cl\:both:active {
		clear: both !important;
	}

	.sm\:active\:clear\:inline-start:active,
	.sm\:active\:cl\:inline-start:active {
		clear: inline-start !important;
	}

	.sm\:active\:clear\:inline-end:active,
	.sm\:active\:cl\:inline-end:active {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.sm\:disabled\:float\:none:disabled,
	.sm\:disabled\:fl\:none:disabled {
		float: none !important;
	}

	.sm\:disabled\:float\:left:disabled,
	.sm\:disabled\:fl\:left:disabled {
		float: left !important;
	}

	.sm\:disabled\:float\:right:disabled,
	.sm\:disabled\:fl\:right:disabled {
		float: right !important;
	}

	.sm\:disabled\:float\:inline-start:disabled,
	.sm\:disabled\:fl\:inline-start:disabled {
		float: inline-start !important;
	}

	.sm\:disabled\:float\:inline-end:disabled,
	.sm\:disabled\:fl\:inline-end:disabled {
		float: inline-end !important;
	}

	/* CLEAR */

	.sm\:disabled\:clear\:none:disabled,
	.sm\:disabled\:cl\:none:disabled {
		clear: none !important;
	}

	.sm\:disabled\:clear\:left:disabled,
	.sm\:disabled\:cl\:left:disabled {
		clear: left !important;
	}

	.sm\:disabled\:clear\:right:disabled,
	.sm\:disabled\:cl\:right:disabled {
		clear: right !important;
	}

	.sm\:disabled\:clear\:both:disabled,
	.sm\:disabled\:cl\:both:disabled {
		clear: both !important;
	}

	.sm\:disabled\:clear\:inline-start:disabled,
	.sm\:disabled\:cl\:inline-start:disabled {
		clear: inline-start !important;
	}

	.sm\:disabled\:clear\:inline-end:disabled,
	.sm\:disabled\:cl\:inline-end:disabled {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.sm\:checked\:float\:none:checked,
	.sm\:checked\:fl\:none:checked {
		float: none !important;
	}

	.sm\:checked\:float\:left:checked,
	.sm\:checked\:fl\:left:checked {
		float: left !important;
	}

	.sm\:checked\:float\:right:checked,
	.sm\:checked\:fl\:right:checked {
		float: right !important;
	}

	.sm\:checked\:float\:inline-start:checked,
	.sm\:checked\:fl\:inline-start:checked {
		float: inline-start !important;
	}

	.sm\:checked\:float\:inline-end:checked,
	.sm\:checked\:fl\:inline-end:checked {
		float: inline-end !important;
	}

	/* CLEAR */

	.sm\:checked\:clear\:none:checked,
	.sm\:checked\:cl\:none:checked {
		clear: none !important;
	}

	.sm\:checked\:clear\:left:checked,
	.sm\:checked\:cl\:left:checked {
		clear: left !important;
	}

	.sm\:checked\:clear\:right:checked,
	.sm\:checked\:cl\:right:checked {
		clear: right !important;
	}

	.sm\:checked\:clear\:both:checked,
	.sm\:checked\:cl\:both:checked {
		clear: both !important;
	}

	.sm\:checked\:clear\:inline-start:checked,
	.sm\:checked\:cl\:inline-start:checked {
		clear: inline-start !important;
	}

	.sm\:checked\:clear\:inline-end:checked,
	.sm\:checked\:cl\:inline-end:checked {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.sm\:visited\:float\:none:visited,
	.sm\:visited\:fl\:none:visited {
		float: none !important;
	}

	.sm\:visited\:float\:left:visited,
	.sm\:visited\:fl\:left:visited {
		float: left !important;
	}

	.sm\:visited\:float\:right:visited,
	.sm\:visited\:fl\:right:visited {
		float: right !important;
	}

	.sm\:visited\:float\:inline-start:visited,
	.sm\:visited\:fl\:inline-start:visited {
		float: inline-start !important;
	}

	.sm\:visited\:float\:inline-end:visited,
	.sm\:visited\:fl\:inline-end:visited {
		float: inline-end !important;
	}

	/* CLEAR */

	.sm\:visited\:clear\:none:visited,
	.sm\:visited\:cl\:none:visited {
		clear: none !important;
	}

	.sm\:visited\:clear\:left:visited,
	.sm\:visited\:cl\:left:visited {
		clear: left !important;
	}

	.sm\:visited\:clear\:right:visited,
	.sm\:visited\:cl\:right:visited {
		clear: right !important;
	}

	.sm\:visited\:clear\:both:visited,
	.sm\:visited\:cl\:both:visited {
		clear: both !important;
	}

	.sm\:visited\:clear\:inline-start:visited,
	.sm\:visited\:cl\:inline-start:visited {
		clear: inline-start !important;
	}

	.sm\:visited\:clear\:inline-end:visited,
	.sm\:visited\:cl\:inline-end:visited {
		clear: inline-end !important;
	}

}

@media (min-width: 768px) {
	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.md\:float\:none,
	.md\:fl\:none {
		float: none !important;
	}

	.md\:float\:left,
	.md\:fl\:left {
		float: left !important;
	}

	.md\:float\:right,
	.md\:fl\:right {
		float: right !important;
	}

	.md\:float\:inline-start,
	.md\:fl\:inline-start {
		float: inline-start !important;
	}

	.md\:float\:inline-end,
	.md\:fl\:inline-end {
		float: inline-end !important;
	}

	/* CLEAR */

	.md\:clear\:none,
	.md\:cl\:none {
		clear: none !important;
	}

	.md\:clear\:left,
	.md\:cl\:left {
		clear: left !important;
	}

	.md\:clear\:right,
	.md\:cl\:right {
		clear: right !important;
	}

	.md\:clear\:both,
	.md\:cl\:both {
		clear: both !important;
	}

	.md\:clear\:inline-start,
	.md\:cl\:inline-start {
		clear: inline-start !important;
	}

	.md\:clear\:inline-end,
	.md\:cl\:inline-end {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.md\:hover\:float\:none:hover,
	.md\:hover\:fl\:none:hover {
		float: none !important;
	}

	.md\:hover\:float\:left:hover,
	.md\:hover\:fl\:left:hover {
		float: left !important;
	}

	.md\:hover\:float\:right:hover,
	.md\:hover\:fl\:right:hover {
		float: right !important;
	}

	.md\:hover\:float\:inline-start:hover,
	.md\:hover\:fl\:inline-start:hover {
		float: inline-start !important;
	}

	.md\:hover\:float\:inline-end:hover,
	.md\:hover\:fl\:inline-end:hover {
		float: inline-end !important;
	}

	/* CLEAR */

	.md\:hover\:clear\:none:hover,
	.md\:hover\:cl\:none:hover {
		clear: none !important;
	}

	.md\:hover\:clear\:left:hover,
	.md\:hover\:cl\:left:hover {
		clear: left !important;
	}

	.md\:hover\:clear\:right:hover,
	.md\:hover\:cl\:right:hover {
		clear: right !important;
	}

	.md\:hover\:clear\:both:hover,
	.md\:hover\:cl\:both:hover {
		clear: both !important;
	}

	.md\:hover\:clear\:inline-start:hover,
	.md\:hover\:cl\:inline-start:hover {
		clear: inline-start !important;
	}

	.md\:hover\:clear\:inline-end:hover,
	.md\:hover\:cl\:inline-end:hover {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.md\:focus\:float\:none:focus,
	.md\:focus\:fl\:none:focus {
		float: none !important;
	}

	.md\:focus\:float\:left:focus,
	.md\:focus\:fl\:left:focus {
		float: left !important;
	}

	.md\:focus\:float\:right:focus,
	.md\:focus\:fl\:right:focus {
		float: right !important;
	}

	.md\:focus\:float\:inline-start:focus,
	.md\:focus\:fl\:inline-start:focus {
		float: inline-start !important;
	}

	.md\:focus\:float\:inline-end:focus,
	.md\:focus\:fl\:inline-end:focus {
		float: inline-end !important;
	}

	/* CLEAR */

	.md\:focus\:clear\:none:focus,
	.md\:focus\:cl\:none:focus {
		clear: none !important;
	}

	.md\:focus\:clear\:left:focus,
	.md\:focus\:cl\:left:focus {
		clear: left !important;
	}

	.md\:focus\:clear\:right:focus,
	.md\:focus\:cl\:right:focus {
		clear: right !important;
	}

	.md\:focus\:clear\:both:focus,
	.md\:focus\:cl\:both:focus {
		clear: both !important;
	}

	.md\:focus\:clear\:inline-start:focus,
	.md\:focus\:cl\:inline-start:focus {
		clear: inline-start !important;
	}

	.md\:focus\:clear\:inline-end:focus,
	.md\:focus\:cl\:inline-end:focus {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.md\:focus-visible\:float\:none:focus-visible,
	.md\:focus-visible\:fl\:none:focus-visible {
		float: none !important;
	}

	.md\:focus-visible\:float\:left:focus-visible,
	.md\:focus-visible\:fl\:left:focus-visible {
		float: left !important;
	}

	.md\:focus-visible\:float\:right:focus-visible,
	.md\:focus-visible\:fl\:right:focus-visible {
		float: right !important;
	}

	.md\:focus-visible\:float\:inline-start:focus-visible,
	.md\:focus-visible\:fl\:inline-start:focus-visible {
		float: inline-start !important;
	}

	.md\:focus-visible\:float\:inline-end:focus-visible,
	.md\:focus-visible\:fl\:inline-end:focus-visible {
		float: inline-end !important;
	}

	/* CLEAR */

	.md\:focus-visible\:clear\:none:focus-visible,
	.md\:focus-visible\:cl\:none:focus-visible {
		clear: none !important;
	}

	.md\:focus-visible\:clear\:left:focus-visible,
	.md\:focus-visible\:cl\:left:focus-visible {
		clear: left !important;
	}

	.md\:focus-visible\:clear\:right:focus-visible,
	.md\:focus-visible\:cl\:right:focus-visible {
		clear: right !important;
	}

	.md\:focus-visible\:clear\:both:focus-visible,
	.md\:focus-visible\:cl\:both:focus-visible {
		clear: both !important;
	}

	.md\:focus-visible\:clear\:inline-start:focus-visible,
	.md\:focus-visible\:cl\:inline-start:focus-visible {
		clear: inline-start !important;
	}

	.md\:focus-visible\:clear\:inline-end:focus-visible,
	.md\:focus-visible\:cl\:inline-end:focus-visible {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.md\:focus-within\:float\:none:focus-within,
	.md\:focus-within\:fl\:none:focus-within {
		float: none !important;
	}

	.md\:focus-within\:float\:left:focus-within,
	.md\:focus-within\:fl\:left:focus-within {
		float: left !important;
	}

	.md\:focus-within\:float\:right:focus-within,
	.md\:focus-within\:fl\:right:focus-within {
		float: right !important;
	}

	.md\:focus-within\:float\:inline-start:focus-within,
	.md\:focus-within\:fl\:inline-start:focus-within {
		float: inline-start !important;
	}

	.md\:focus-within\:float\:inline-end:focus-within,
	.md\:focus-within\:fl\:inline-end:focus-within {
		float: inline-end !important;
	}

	/* CLEAR */

	.md\:focus-within\:clear\:none:focus-within,
	.md\:focus-within\:cl\:none:focus-within {
		clear: none !important;
	}

	.md\:focus-within\:clear\:left:focus-within,
	.md\:focus-within\:cl\:left:focus-within {
		clear: left !important;
	}

	.md\:focus-within\:clear\:right:focus-within,
	.md\:focus-within\:cl\:right:focus-within {
		clear: right !important;
	}

	.md\:focus-within\:clear\:both:focus-within,
	.md\:focus-within\:cl\:both:focus-within {
		clear: both !important;
	}

	.md\:focus-within\:clear\:inline-start:focus-within,
	.md\:focus-within\:cl\:inline-start:focus-within {
		clear: inline-start !important;
	}

	.md\:focus-within\:clear\:inline-end:focus-within,
	.md\:focus-within\:cl\:inline-end:focus-within {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.md\:active\:float\:none:active,
	.md\:active\:fl\:none:active {
		float: none !important;
	}

	.md\:active\:float\:left:active,
	.md\:active\:fl\:left:active {
		float: left !important;
	}

	.md\:active\:float\:right:active,
	.md\:active\:fl\:right:active {
		float: right !important;
	}

	.md\:active\:float\:inline-start:active,
	.md\:active\:fl\:inline-start:active {
		float: inline-start !important;
	}

	.md\:active\:float\:inline-end:active,
	.md\:active\:fl\:inline-end:active {
		float: inline-end !important;
	}

	/* CLEAR */

	.md\:active\:clear\:none:active,
	.md\:active\:cl\:none:active {
		clear: none !important;
	}

	.md\:active\:clear\:left:active,
	.md\:active\:cl\:left:active {
		clear: left !important;
	}

	.md\:active\:clear\:right:active,
	.md\:active\:cl\:right:active {
		clear: right !important;
	}

	.md\:active\:clear\:both:active,
	.md\:active\:cl\:both:active {
		clear: both !important;
	}

	.md\:active\:clear\:inline-start:active,
	.md\:active\:cl\:inline-start:active {
		clear: inline-start !important;
	}

	.md\:active\:clear\:inline-end:active,
	.md\:active\:cl\:inline-end:active {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.md\:disabled\:float\:none:disabled,
	.md\:disabled\:fl\:none:disabled {
		float: none !important;
	}

	.md\:disabled\:float\:left:disabled,
	.md\:disabled\:fl\:left:disabled {
		float: left !important;
	}

	.md\:disabled\:float\:right:disabled,
	.md\:disabled\:fl\:right:disabled {
		float: right !important;
	}

	.md\:disabled\:float\:inline-start:disabled,
	.md\:disabled\:fl\:inline-start:disabled {
		float: inline-start !important;
	}

	.md\:disabled\:float\:inline-end:disabled,
	.md\:disabled\:fl\:inline-end:disabled {
		float: inline-end !important;
	}

	/* CLEAR */

	.md\:disabled\:clear\:none:disabled,
	.md\:disabled\:cl\:none:disabled {
		clear: none !important;
	}

	.md\:disabled\:clear\:left:disabled,
	.md\:disabled\:cl\:left:disabled {
		clear: left !important;
	}

	.md\:disabled\:clear\:right:disabled,
	.md\:disabled\:cl\:right:disabled {
		clear: right !important;
	}

	.md\:disabled\:clear\:both:disabled,
	.md\:disabled\:cl\:both:disabled {
		clear: both !important;
	}

	.md\:disabled\:clear\:inline-start:disabled,
	.md\:disabled\:cl\:inline-start:disabled {
		clear: inline-start !important;
	}

	.md\:disabled\:clear\:inline-end:disabled,
	.md\:disabled\:cl\:inline-end:disabled {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.md\:checked\:float\:none:checked,
	.md\:checked\:fl\:none:checked {
		float: none !important;
	}

	.md\:checked\:float\:left:checked,
	.md\:checked\:fl\:left:checked {
		float: left !important;
	}

	.md\:checked\:float\:right:checked,
	.md\:checked\:fl\:right:checked {
		float: right !important;
	}

	.md\:checked\:float\:inline-start:checked,
	.md\:checked\:fl\:inline-start:checked {
		float: inline-start !important;
	}

	.md\:checked\:float\:inline-end:checked,
	.md\:checked\:fl\:inline-end:checked {
		float: inline-end !important;
	}

	/* CLEAR */

	.md\:checked\:clear\:none:checked,
	.md\:checked\:cl\:none:checked {
		clear: none !important;
	}

	.md\:checked\:clear\:left:checked,
	.md\:checked\:cl\:left:checked {
		clear: left !important;
	}

	.md\:checked\:clear\:right:checked,
	.md\:checked\:cl\:right:checked {
		clear: right !important;
	}

	.md\:checked\:clear\:both:checked,
	.md\:checked\:cl\:both:checked {
		clear: both !important;
	}

	.md\:checked\:clear\:inline-start:checked,
	.md\:checked\:cl\:inline-start:checked {
		clear: inline-start !important;
	}

	.md\:checked\:clear\:inline-end:checked,
	.md\:checked\:cl\:inline-end:checked {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.md\:visited\:float\:none:visited,
	.md\:visited\:fl\:none:visited {
		float: none !important;
	}

	.md\:visited\:float\:left:visited,
	.md\:visited\:fl\:left:visited {
		float: left !important;
	}

	.md\:visited\:float\:right:visited,
	.md\:visited\:fl\:right:visited {
		float: right !important;
	}

	.md\:visited\:float\:inline-start:visited,
	.md\:visited\:fl\:inline-start:visited {
		float: inline-start !important;
	}

	.md\:visited\:float\:inline-end:visited,
	.md\:visited\:fl\:inline-end:visited {
		float: inline-end !important;
	}

	/* CLEAR */

	.md\:visited\:clear\:none:visited,
	.md\:visited\:cl\:none:visited {
		clear: none !important;
	}

	.md\:visited\:clear\:left:visited,
	.md\:visited\:cl\:left:visited {
		clear: left !important;
	}

	.md\:visited\:clear\:right:visited,
	.md\:visited\:cl\:right:visited {
		clear: right !important;
	}

	.md\:visited\:clear\:both:visited,
	.md\:visited\:cl\:both:visited {
		clear: both !important;
	}

	.md\:visited\:clear\:inline-start:visited,
	.md\:visited\:cl\:inline-start:visited {
		clear: inline-start !important;
	}

	.md\:visited\:clear\:inline-end:visited,
	.md\:visited\:cl\:inline-end:visited {
		clear: inline-end !important;
	}

}

@media (min-width: 1024px) {
	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.lg\:float\:none,
	.lg\:fl\:none {
		float: none !important;
	}

	.lg\:float\:left,
	.lg\:fl\:left {
		float: left !important;
	}

	.lg\:float\:right,
	.lg\:fl\:right {
		float: right !important;
	}

	.lg\:float\:inline-start,
	.lg\:fl\:inline-start {
		float: inline-start !important;
	}

	.lg\:float\:inline-end,
	.lg\:fl\:inline-end {
		float: inline-end !important;
	}

	/* CLEAR */

	.lg\:clear\:none,
	.lg\:cl\:none {
		clear: none !important;
	}

	.lg\:clear\:left,
	.lg\:cl\:left {
		clear: left !important;
	}

	.lg\:clear\:right,
	.lg\:cl\:right {
		clear: right !important;
	}

	.lg\:clear\:both,
	.lg\:cl\:both {
		clear: both !important;
	}

	.lg\:clear\:inline-start,
	.lg\:cl\:inline-start {
		clear: inline-start !important;
	}

	.lg\:clear\:inline-end,
	.lg\:cl\:inline-end {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.lg\:hover\:float\:none:hover,
	.lg\:hover\:fl\:none:hover {
		float: none !important;
	}

	.lg\:hover\:float\:left:hover,
	.lg\:hover\:fl\:left:hover {
		float: left !important;
	}

	.lg\:hover\:float\:right:hover,
	.lg\:hover\:fl\:right:hover {
		float: right !important;
	}

	.lg\:hover\:float\:inline-start:hover,
	.lg\:hover\:fl\:inline-start:hover {
		float: inline-start !important;
	}

	.lg\:hover\:float\:inline-end:hover,
	.lg\:hover\:fl\:inline-end:hover {
		float: inline-end !important;
	}

	/* CLEAR */

	.lg\:hover\:clear\:none:hover,
	.lg\:hover\:cl\:none:hover {
		clear: none !important;
	}

	.lg\:hover\:clear\:left:hover,
	.lg\:hover\:cl\:left:hover {
		clear: left !important;
	}

	.lg\:hover\:clear\:right:hover,
	.lg\:hover\:cl\:right:hover {
		clear: right !important;
	}

	.lg\:hover\:clear\:both:hover,
	.lg\:hover\:cl\:both:hover {
		clear: both !important;
	}

	.lg\:hover\:clear\:inline-start:hover,
	.lg\:hover\:cl\:inline-start:hover {
		clear: inline-start !important;
	}

	.lg\:hover\:clear\:inline-end:hover,
	.lg\:hover\:cl\:inline-end:hover {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.lg\:focus\:float\:none:focus,
	.lg\:focus\:fl\:none:focus {
		float: none !important;
	}

	.lg\:focus\:float\:left:focus,
	.lg\:focus\:fl\:left:focus {
		float: left !important;
	}

	.lg\:focus\:float\:right:focus,
	.lg\:focus\:fl\:right:focus {
		float: right !important;
	}

	.lg\:focus\:float\:inline-start:focus,
	.lg\:focus\:fl\:inline-start:focus {
		float: inline-start !important;
	}

	.lg\:focus\:float\:inline-end:focus,
	.lg\:focus\:fl\:inline-end:focus {
		float: inline-end !important;
	}

	/* CLEAR */

	.lg\:focus\:clear\:none:focus,
	.lg\:focus\:cl\:none:focus {
		clear: none !important;
	}

	.lg\:focus\:clear\:left:focus,
	.lg\:focus\:cl\:left:focus {
		clear: left !important;
	}

	.lg\:focus\:clear\:right:focus,
	.lg\:focus\:cl\:right:focus {
		clear: right !important;
	}

	.lg\:focus\:clear\:both:focus,
	.lg\:focus\:cl\:both:focus {
		clear: both !important;
	}

	.lg\:focus\:clear\:inline-start:focus,
	.lg\:focus\:cl\:inline-start:focus {
		clear: inline-start !important;
	}

	.lg\:focus\:clear\:inline-end:focus,
	.lg\:focus\:cl\:inline-end:focus {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.lg\:focus-visible\:float\:none:focus-visible,
	.lg\:focus-visible\:fl\:none:focus-visible {
		float: none !important;
	}

	.lg\:focus-visible\:float\:left:focus-visible,
	.lg\:focus-visible\:fl\:left:focus-visible {
		float: left !important;
	}

	.lg\:focus-visible\:float\:right:focus-visible,
	.lg\:focus-visible\:fl\:right:focus-visible {
		float: right !important;
	}

	.lg\:focus-visible\:float\:inline-start:focus-visible,
	.lg\:focus-visible\:fl\:inline-start:focus-visible {
		float: inline-start !important;
	}

	.lg\:focus-visible\:float\:inline-end:focus-visible,
	.lg\:focus-visible\:fl\:inline-end:focus-visible {
		float: inline-end !important;
	}

	/* CLEAR */

	.lg\:focus-visible\:clear\:none:focus-visible,
	.lg\:focus-visible\:cl\:none:focus-visible {
		clear: none !important;
	}

	.lg\:focus-visible\:clear\:left:focus-visible,
	.lg\:focus-visible\:cl\:left:focus-visible {
		clear: left !important;
	}

	.lg\:focus-visible\:clear\:right:focus-visible,
	.lg\:focus-visible\:cl\:right:focus-visible {
		clear: right !important;
	}

	.lg\:focus-visible\:clear\:both:focus-visible,
	.lg\:focus-visible\:cl\:both:focus-visible {
		clear: both !important;
	}

	.lg\:focus-visible\:clear\:inline-start:focus-visible,
	.lg\:focus-visible\:cl\:inline-start:focus-visible {
		clear: inline-start !important;
	}

	.lg\:focus-visible\:clear\:inline-end:focus-visible,
	.lg\:focus-visible\:cl\:inline-end:focus-visible {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.lg\:focus-within\:float\:none:focus-within,
	.lg\:focus-within\:fl\:none:focus-within {
		float: none !important;
	}

	.lg\:focus-within\:float\:left:focus-within,
	.lg\:focus-within\:fl\:left:focus-within {
		float: left !important;
	}

	.lg\:focus-within\:float\:right:focus-within,
	.lg\:focus-within\:fl\:right:focus-within {
		float: right !important;
	}

	.lg\:focus-within\:float\:inline-start:focus-within,
	.lg\:focus-within\:fl\:inline-start:focus-within {
		float: inline-start !important;
	}

	.lg\:focus-within\:float\:inline-end:focus-within,
	.lg\:focus-within\:fl\:inline-end:focus-within {
		float: inline-end !important;
	}

	/* CLEAR */

	.lg\:focus-within\:clear\:none:focus-within,
	.lg\:focus-within\:cl\:none:focus-within {
		clear: none !important;
	}

	.lg\:focus-within\:clear\:left:focus-within,
	.lg\:focus-within\:cl\:left:focus-within {
		clear: left !important;
	}

	.lg\:focus-within\:clear\:right:focus-within,
	.lg\:focus-within\:cl\:right:focus-within {
		clear: right !important;
	}

	.lg\:focus-within\:clear\:both:focus-within,
	.lg\:focus-within\:cl\:both:focus-within {
		clear: both !important;
	}

	.lg\:focus-within\:clear\:inline-start:focus-within,
	.lg\:focus-within\:cl\:inline-start:focus-within {
		clear: inline-start !important;
	}

	.lg\:focus-within\:clear\:inline-end:focus-within,
	.lg\:focus-within\:cl\:inline-end:focus-within {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.lg\:active\:float\:none:active,
	.lg\:active\:fl\:none:active {
		float: none !important;
	}

	.lg\:active\:float\:left:active,
	.lg\:active\:fl\:left:active {
		float: left !important;
	}

	.lg\:active\:float\:right:active,
	.lg\:active\:fl\:right:active {
		float: right !important;
	}

	.lg\:active\:float\:inline-start:active,
	.lg\:active\:fl\:inline-start:active {
		float: inline-start !important;
	}

	.lg\:active\:float\:inline-end:active,
	.lg\:active\:fl\:inline-end:active {
		float: inline-end !important;
	}

	/* CLEAR */

	.lg\:active\:clear\:none:active,
	.lg\:active\:cl\:none:active {
		clear: none !important;
	}

	.lg\:active\:clear\:left:active,
	.lg\:active\:cl\:left:active {
		clear: left !important;
	}

	.lg\:active\:clear\:right:active,
	.lg\:active\:cl\:right:active {
		clear: right !important;
	}

	.lg\:active\:clear\:both:active,
	.lg\:active\:cl\:both:active {
		clear: both !important;
	}

	.lg\:active\:clear\:inline-start:active,
	.lg\:active\:cl\:inline-start:active {
		clear: inline-start !important;
	}

	.lg\:active\:clear\:inline-end:active,
	.lg\:active\:cl\:inline-end:active {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.lg\:disabled\:float\:none:disabled,
	.lg\:disabled\:fl\:none:disabled {
		float: none !important;
	}

	.lg\:disabled\:float\:left:disabled,
	.lg\:disabled\:fl\:left:disabled {
		float: left !important;
	}

	.lg\:disabled\:float\:right:disabled,
	.lg\:disabled\:fl\:right:disabled {
		float: right !important;
	}

	.lg\:disabled\:float\:inline-start:disabled,
	.lg\:disabled\:fl\:inline-start:disabled {
		float: inline-start !important;
	}

	.lg\:disabled\:float\:inline-end:disabled,
	.lg\:disabled\:fl\:inline-end:disabled {
		float: inline-end !important;
	}

	/* CLEAR */

	.lg\:disabled\:clear\:none:disabled,
	.lg\:disabled\:cl\:none:disabled {
		clear: none !important;
	}

	.lg\:disabled\:clear\:left:disabled,
	.lg\:disabled\:cl\:left:disabled {
		clear: left !important;
	}

	.lg\:disabled\:clear\:right:disabled,
	.lg\:disabled\:cl\:right:disabled {
		clear: right !important;
	}

	.lg\:disabled\:clear\:both:disabled,
	.lg\:disabled\:cl\:both:disabled {
		clear: both !important;
	}

	.lg\:disabled\:clear\:inline-start:disabled,
	.lg\:disabled\:cl\:inline-start:disabled {
		clear: inline-start !important;
	}

	.lg\:disabled\:clear\:inline-end:disabled,
	.lg\:disabled\:cl\:inline-end:disabled {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.lg\:checked\:float\:none:checked,
	.lg\:checked\:fl\:none:checked {
		float: none !important;
	}

	.lg\:checked\:float\:left:checked,
	.lg\:checked\:fl\:left:checked {
		float: left !important;
	}

	.lg\:checked\:float\:right:checked,
	.lg\:checked\:fl\:right:checked {
		float: right !important;
	}

	.lg\:checked\:float\:inline-start:checked,
	.lg\:checked\:fl\:inline-start:checked {
		float: inline-start !important;
	}

	.lg\:checked\:float\:inline-end:checked,
	.lg\:checked\:fl\:inline-end:checked {
		float: inline-end !important;
	}

	/* CLEAR */

	.lg\:checked\:clear\:none:checked,
	.lg\:checked\:cl\:none:checked {
		clear: none !important;
	}

	.lg\:checked\:clear\:left:checked,
	.lg\:checked\:cl\:left:checked {
		clear: left !important;
	}

	.lg\:checked\:clear\:right:checked,
	.lg\:checked\:cl\:right:checked {
		clear: right !important;
	}

	.lg\:checked\:clear\:both:checked,
	.lg\:checked\:cl\:both:checked {
		clear: both !important;
	}

	.lg\:checked\:clear\:inline-start:checked,
	.lg\:checked\:cl\:inline-start:checked {
		clear: inline-start !important;
	}

	.lg\:checked\:clear\:inline-end:checked,
	.lg\:checked\:cl\:inline-end:checked {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.lg\:visited\:float\:none:visited,
	.lg\:visited\:fl\:none:visited {
		float: none !important;
	}

	.lg\:visited\:float\:left:visited,
	.lg\:visited\:fl\:left:visited {
		float: left !important;
	}

	.lg\:visited\:float\:right:visited,
	.lg\:visited\:fl\:right:visited {
		float: right !important;
	}

	.lg\:visited\:float\:inline-start:visited,
	.lg\:visited\:fl\:inline-start:visited {
		float: inline-start !important;
	}

	.lg\:visited\:float\:inline-end:visited,
	.lg\:visited\:fl\:inline-end:visited {
		float: inline-end !important;
	}

	/* CLEAR */

	.lg\:visited\:clear\:none:visited,
	.lg\:visited\:cl\:none:visited {
		clear: none !important;
	}

	.lg\:visited\:clear\:left:visited,
	.lg\:visited\:cl\:left:visited {
		clear: left !important;
	}

	.lg\:visited\:clear\:right:visited,
	.lg\:visited\:cl\:right:visited {
		clear: right !important;
	}

	.lg\:visited\:clear\:both:visited,
	.lg\:visited\:cl\:both:visited {
		clear: both !important;
	}

	.lg\:visited\:clear\:inline-start:visited,
	.lg\:visited\:cl\:inline-start:visited {
		clear: inline-start !important;
	}

	.lg\:visited\:clear\:inline-end:visited,
	.lg\:visited\:cl\:inline-end:visited {
		clear: inline-end !important;
	}

}

@media (min-width: 1280px) {
	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.xl\:float\:none,
	.xl\:fl\:none {
		float: none !important;
	}

	.xl\:float\:left,
	.xl\:fl\:left {
		float: left !important;
	}

	.xl\:float\:right,
	.xl\:fl\:right {
		float: right !important;
	}

	.xl\:float\:inline-start,
	.xl\:fl\:inline-start {
		float: inline-start !important;
	}

	.xl\:float\:inline-end,
	.xl\:fl\:inline-end {
		float: inline-end !important;
	}

	/* CLEAR */

	.xl\:clear\:none,
	.xl\:cl\:none {
		clear: none !important;
	}

	.xl\:clear\:left,
	.xl\:cl\:left {
		clear: left !important;
	}

	.xl\:clear\:right,
	.xl\:cl\:right {
		clear: right !important;
	}

	.xl\:clear\:both,
	.xl\:cl\:both {
		clear: both !important;
	}

	.xl\:clear\:inline-start,
	.xl\:cl\:inline-start {
		clear: inline-start !important;
	}

	.xl\:clear\:inline-end,
	.xl\:cl\:inline-end {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.xl\:hover\:float\:none:hover,
	.xl\:hover\:fl\:none:hover {
		float: none !important;
	}

	.xl\:hover\:float\:left:hover,
	.xl\:hover\:fl\:left:hover {
		float: left !important;
	}

	.xl\:hover\:float\:right:hover,
	.xl\:hover\:fl\:right:hover {
		float: right !important;
	}

	.xl\:hover\:float\:inline-start:hover,
	.xl\:hover\:fl\:inline-start:hover {
		float: inline-start !important;
	}

	.xl\:hover\:float\:inline-end:hover,
	.xl\:hover\:fl\:inline-end:hover {
		float: inline-end !important;
	}

	/* CLEAR */

	.xl\:hover\:clear\:none:hover,
	.xl\:hover\:cl\:none:hover {
		clear: none !important;
	}

	.xl\:hover\:clear\:left:hover,
	.xl\:hover\:cl\:left:hover {
		clear: left !important;
	}

	.xl\:hover\:clear\:right:hover,
	.xl\:hover\:cl\:right:hover {
		clear: right !important;
	}

	.xl\:hover\:clear\:both:hover,
	.xl\:hover\:cl\:both:hover {
		clear: both !important;
	}

	.xl\:hover\:clear\:inline-start:hover,
	.xl\:hover\:cl\:inline-start:hover {
		clear: inline-start !important;
	}

	.xl\:hover\:clear\:inline-end:hover,
	.xl\:hover\:cl\:inline-end:hover {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.xl\:focus\:float\:none:focus,
	.xl\:focus\:fl\:none:focus {
		float: none !important;
	}

	.xl\:focus\:float\:left:focus,
	.xl\:focus\:fl\:left:focus {
		float: left !important;
	}

	.xl\:focus\:float\:right:focus,
	.xl\:focus\:fl\:right:focus {
		float: right !important;
	}

	.xl\:focus\:float\:inline-start:focus,
	.xl\:focus\:fl\:inline-start:focus {
		float: inline-start !important;
	}

	.xl\:focus\:float\:inline-end:focus,
	.xl\:focus\:fl\:inline-end:focus {
		float: inline-end !important;
	}

	/* CLEAR */

	.xl\:focus\:clear\:none:focus,
	.xl\:focus\:cl\:none:focus {
		clear: none !important;
	}

	.xl\:focus\:clear\:left:focus,
	.xl\:focus\:cl\:left:focus {
		clear: left !important;
	}

	.xl\:focus\:clear\:right:focus,
	.xl\:focus\:cl\:right:focus {
		clear: right !important;
	}

	.xl\:focus\:clear\:both:focus,
	.xl\:focus\:cl\:both:focus {
		clear: both !important;
	}

	.xl\:focus\:clear\:inline-start:focus,
	.xl\:focus\:cl\:inline-start:focus {
		clear: inline-start !important;
	}

	.xl\:focus\:clear\:inline-end:focus,
	.xl\:focus\:cl\:inline-end:focus {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.xl\:focus-visible\:float\:none:focus-visible,
	.xl\:focus-visible\:fl\:none:focus-visible {
		float: none !important;
	}

	.xl\:focus-visible\:float\:left:focus-visible,
	.xl\:focus-visible\:fl\:left:focus-visible {
		float: left !important;
	}

	.xl\:focus-visible\:float\:right:focus-visible,
	.xl\:focus-visible\:fl\:right:focus-visible {
		float: right !important;
	}

	.xl\:focus-visible\:float\:inline-start:focus-visible,
	.xl\:focus-visible\:fl\:inline-start:focus-visible {
		float: inline-start !important;
	}

	.xl\:focus-visible\:float\:inline-end:focus-visible,
	.xl\:focus-visible\:fl\:inline-end:focus-visible {
		float: inline-end !important;
	}

	/* CLEAR */

	.xl\:focus-visible\:clear\:none:focus-visible,
	.xl\:focus-visible\:cl\:none:focus-visible {
		clear: none !important;
	}

	.xl\:focus-visible\:clear\:left:focus-visible,
	.xl\:focus-visible\:cl\:left:focus-visible {
		clear: left !important;
	}

	.xl\:focus-visible\:clear\:right:focus-visible,
	.xl\:focus-visible\:cl\:right:focus-visible {
		clear: right !important;
	}

	.xl\:focus-visible\:clear\:both:focus-visible,
	.xl\:focus-visible\:cl\:both:focus-visible {
		clear: both !important;
	}

	.xl\:focus-visible\:clear\:inline-start:focus-visible,
	.xl\:focus-visible\:cl\:inline-start:focus-visible {
		clear: inline-start !important;
	}

	.xl\:focus-visible\:clear\:inline-end:focus-visible,
	.xl\:focus-visible\:cl\:inline-end:focus-visible {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.xl\:focus-within\:float\:none:focus-within,
	.xl\:focus-within\:fl\:none:focus-within {
		float: none !important;
	}

	.xl\:focus-within\:float\:left:focus-within,
	.xl\:focus-within\:fl\:left:focus-within {
		float: left !important;
	}

	.xl\:focus-within\:float\:right:focus-within,
	.xl\:focus-within\:fl\:right:focus-within {
		float: right !important;
	}

	.xl\:focus-within\:float\:inline-start:focus-within,
	.xl\:focus-within\:fl\:inline-start:focus-within {
		float: inline-start !important;
	}

	.xl\:focus-within\:float\:inline-end:focus-within,
	.xl\:focus-within\:fl\:inline-end:focus-within {
		float: inline-end !important;
	}

	/* CLEAR */

	.xl\:focus-within\:clear\:none:focus-within,
	.xl\:focus-within\:cl\:none:focus-within {
		clear: none !important;
	}

	.xl\:focus-within\:clear\:left:focus-within,
	.xl\:focus-within\:cl\:left:focus-within {
		clear: left !important;
	}

	.xl\:focus-within\:clear\:right:focus-within,
	.xl\:focus-within\:cl\:right:focus-within {
		clear: right !important;
	}

	.xl\:focus-within\:clear\:both:focus-within,
	.xl\:focus-within\:cl\:both:focus-within {
		clear: both !important;
	}

	.xl\:focus-within\:clear\:inline-start:focus-within,
	.xl\:focus-within\:cl\:inline-start:focus-within {
		clear: inline-start !important;
	}

	.xl\:focus-within\:clear\:inline-end:focus-within,
	.xl\:focus-within\:cl\:inline-end:focus-within {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.xl\:active\:float\:none:active,
	.xl\:active\:fl\:none:active {
		float: none !important;
	}

	.xl\:active\:float\:left:active,
	.xl\:active\:fl\:left:active {
		float: left !important;
	}

	.xl\:active\:float\:right:active,
	.xl\:active\:fl\:right:active {
		float: right !important;
	}

	.xl\:active\:float\:inline-start:active,
	.xl\:active\:fl\:inline-start:active {
		float: inline-start !important;
	}

	.xl\:active\:float\:inline-end:active,
	.xl\:active\:fl\:inline-end:active {
		float: inline-end !important;
	}

	/* CLEAR */

	.xl\:active\:clear\:none:active,
	.xl\:active\:cl\:none:active {
		clear: none !important;
	}

	.xl\:active\:clear\:left:active,
	.xl\:active\:cl\:left:active {
		clear: left !important;
	}

	.xl\:active\:clear\:right:active,
	.xl\:active\:cl\:right:active {
		clear: right !important;
	}

	.xl\:active\:clear\:both:active,
	.xl\:active\:cl\:both:active {
		clear: both !important;
	}

	.xl\:active\:clear\:inline-start:active,
	.xl\:active\:cl\:inline-start:active {
		clear: inline-start !important;
	}

	.xl\:active\:clear\:inline-end:active,
	.xl\:active\:cl\:inline-end:active {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.xl\:disabled\:float\:none:disabled,
	.xl\:disabled\:fl\:none:disabled {
		float: none !important;
	}

	.xl\:disabled\:float\:left:disabled,
	.xl\:disabled\:fl\:left:disabled {
		float: left !important;
	}

	.xl\:disabled\:float\:right:disabled,
	.xl\:disabled\:fl\:right:disabled {
		float: right !important;
	}

	.xl\:disabled\:float\:inline-start:disabled,
	.xl\:disabled\:fl\:inline-start:disabled {
		float: inline-start !important;
	}

	.xl\:disabled\:float\:inline-end:disabled,
	.xl\:disabled\:fl\:inline-end:disabled {
		float: inline-end !important;
	}

	/* CLEAR */

	.xl\:disabled\:clear\:none:disabled,
	.xl\:disabled\:cl\:none:disabled {
		clear: none !important;
	}

	.xl\:disabled\:clear\:left:disabled,
	.xl\:disabled\:cl\:left:disabled {
		clear: left !important;
	}

	.xl\:disabled\:clear\:right:disabled,
	.xl\:disabled\:cl\:right:disabled {
		clear: right !important;
	}

	.xl\:disabled\:clear\:both:disabled,
	.xl\:disabled\:cl\:both:disabled {
		clear: both !important;
	}

	.xl\:disabled\:clear\:inline-start:disabled,
	.xl\:disabled\:cl\:inline-start:disabled {
		clear: inline-start !important;
	}

	.xl\:disabled\:clear\:inline-end:disabled,
	.xl\:disabled\:cl\:inline-end:disabled {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.xl\:checked\:float\:none:checked,
	.xl\:checked\:fl\:none:checked {
		float: none !important;
	}

	.xl\:checked\:float\:left:checked,
	.xl\:checked\:fl\:left:checked {
		float: left !important;
	}

	.xl\:checked\:float\:right:checked,
	.xl\:checked\:fl\:right:checked {
		float: right !important;
	}

	.xl\:checked\:float\:inline-start:checked,
	.xl\:checked\:fl\:inline-start:checked {
		float: inline-start !important;
	}

	.xl\:checked\:float\:inline-end:checked,
	.xl\:checked\:fl\:inline-end:checked {
		float: inline-end !important;
	}

	/* CLEAR */

	.xl\:checked\:clear\:none:checked,
	.xl\:checked\:cl\:none:checked {
		clear: none !important;
	}

	.xl\:checked\:clear\:left:checked,
	.xl\:checked\:cl\:left:checked {
		clear: left !important;
	}

	.xl\:checked\:clear\:right:checked,
	.xl\:checked\:cl\:right:checked {
		clear: right !important;
	}

	.xl\:checked\:clear\:both:checked,
	.xl\:checked\:cl\:both:checked {
		clear: both !important;
	}

	.xl\:checked\:clear\:inline-start:checked,
	.xl\:checked\:cl\:inline-start:checked {
		clear: inline-start !important;
	}

	.xl\:checked\:clear\:inline-end:checked,
	.xl\:checked\:cl\:inline-end:checked {
		clear: inline-end !important;
	}


	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.xl\:visited\:float\:none:visited,
	.xl\:visited\:fl\:none:visited {
		float: none !important;
	}

	.xl\:visited\:float\:left:visited,
	.xl\:visited\:fl\:left:visited {
		float: left !important;
	}

	.xl\:visited\:float\:right:visited,
	.xl\:visited\:fl\:right:visited {
		float: right !important;
	}

	.xl\:visited\:float\:inline-start:visited,
	.xl\:visited\:fl\:inline-start:visited {
		float: inline-start !important;
	}

	.xl\:visited\:float\:inline-end:visited,
	.xl\:visited\:fl\:inline-end:visited {
		float: inline-end !important;
	}

	/* CLEAR */

	.xl\:visited\:clear\:none:visited,
	.xl\:visited\:cl\:none:visited {
		clear: none !important;
	}

	.xl\:visited\:clear\:left:visited,
	.xl\:visited\:cl\:left:visited {
		clear: left !important;
	}

	.xl\:visited\:clear\:right:visited,
	.xl\:visited\:cl\:right:visited {
		clear: right !important;
	}

	.xl\:visited\:clear\:both:visited,
	.xl\:visited\:cl\:both:visited {
		clear: both !important;
	}

	.xl\:visited\:clear\:inline-start:visited,
	.xl\:visited\:cl\:inline-start:visited {
		clear: inline-start !important;
	}

	.xl\:visited\:clear\:inline-end:visited,
	.xl\:visited\:cl\:inline-end:visited {
		clear: inline-end !important;
	}

}
