/* ===== LEGACY LAYOUT — float, clear ===== */

/* FLOAT */

.float\:none,
.fl\:none {
	float: none !important;
}

.float\:left,
.fl\:left {
	float: left !important;
}

.float\:right,
.fl\:right {
	float: right !important;
}

.float\:inline-start,
.fl\:inline-start {
	float: inline-start !important;
}

.float\:inline-end,
.fl\:inline-end {
	float: inline-end !important;
}

/* CLEAR */

.clear\:none,
.cl\:none {
	clear: none !important;
}

.clear\:left,
.cl\:left {
	clear: left !important;
}

.clear\:right,
.cl\:right {
	clear: right !important;
}

.clear\:both,
.cl\:both {
	clear: both !important;
}

.clear\:inline-start,
.cl\:inline-start {
	clear: inline-start !important;
}

.clear\:inline-end,
.cl\:inline-end {
	clear: inline-end !important;
}


@media (min-width: 640px) {
	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.sm\:float\:none,
	.sm\:fl\:none {
		float: none !important;
	}

	.sm\:float\:left,
	.sm\:fl\:left {
		float: left !important;
	}

	.sm\:float\:right,
	.sm\:fl\:right {
		float: right !important;
	}

	.sm\:float\:inline-start,
	.sm\:fl\:inline-start {
		float: inline-start !important;
	}

	.sm\:float\:inline-end,
	.sm\:fl\:inline-end {
		float: inline-end !important;
	}

	/* CLEAR */

	.sm\:clear\:none,
	.sm\:cl\:none {
		clear: none !important;
	}

	.sm\:clear\:left,
	.sm\:cl\:left {
		clear: left !important;
	}

	.sm\:clear\:right,
	.sm\:cl\:right {
		clear: right !important;
	}

	.sm\:clear\:both,
	.sm\:cl\:both {
		clear: both !important;
	}

	.sm\:clear\:inline-start,
	.sm\:cl\:inline-start {
		clear: inline-start !important;
	}

	.sm\:clear\:inline-end,
	.sm\:cl\:inline-end {
		clear: inline-end !important;
	}

}

@media (min-width: 768px) {
	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.md\:float\:none,
	.md\:fl\:none {
		float: none !important;
	}

	.md\:float\:left,
	.md\:fl\:left {
		float: left !important;
	}

	.md\:float\:right,
	.md\:fl\:right {
		float: right !important;
	}

	.md\:float\:inline-start,
	.md\:fl\:inline-start {
		float: inline-start !important;
	}

	.md\:float\:inline-end,
	.md\:fl\:inline-end {
		float: inline-end !important;
	}

	/* CLEAR */

	.md\:clear\:none,
	.md\:cl\:none {
		clear: none !important;
	}

	.md\:clear\:left,
	.md\:cl\:left {
		clear: left !important;
	}

	.md\:clear\:right,
	.md\:cl\:right {
		clear: right !important;
	}

	.md\:clear\:both,
	.md\:cl\:both {
		clear: both !important;
	}

	.md\:clear\:inline-start,
	.md\:cl\:inline-start {
		clear: inline-start !important;
	}

	.md\:clear\:inline-end,
	.md\:cl\:inline-end {
		clear: inline-end !important;
	}

}

@media (min-width: 1024px) {
	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.lg\:float\:none,
	.lg\:fl\:none {
		float: none !important;
	}

	.lg\:float\:left,
	.lg\:fl\:left {
		float: left !important;
	}

	.lg\:float\:right,
	.lg\:fl\:right {
		float: right !important;
	}

	.lg\:float\:inline-start,
	.lg\:fl\:inline-start {
		float: inline-start !important;
	}

	.lg\:float\:inline-end,
	.lg\:fl\:inline-end {
		float: inline-end !important;
	}

	/* CLEAR */

	.lg\:clear\:none,
	.lg\:cl\:none {
		clear: none !important;
	}

	.lg\:clear\:left,
	.lg\:cl\:left {
		clear: left !important;
	}

	.lg\:clear\:right,
	.lg\:cl\:right {
		clear: right !important;
	}

	.lg\:clear\:both,
	.lg\:cl\:both {
		clear: both !important;
	}

	.lg\:clear\:inline-start,
	.lg\:cl\:inline-start {
		clear: inline-start !important;
	}

	.lg\:clear\:inline-end,
	.lg\:cl\:inline-end {
		clear: inline-end !important;
	}

}

@media (min-width: 1280px) {
	/* ===== LEGACY LAYOUT — float, clear ===== */

	/* FLOAT */

	.xl\:float\:none,
	.xl\:fl\:none {
		float: none !important;
	}

	.xl\:float\:left,
	.xl\:fl\:left {
		float: left !important;
	}

	.xl\:float\:right,
	.xl\:fl\:right {
		float: right !important;
	}

	.xl\:float\:inline-start,
	.xl\:fl\:inline-start {
		float: inline-start !important;
	}

	.xl\:float\:inline-end,
	.xl\:fl\:inline-end {
		float: inline-end !important;
	}

	/* CLEAR */

	.xl\:clear\:none,
	.xl\:cl\:none {
		clear: none !important;
	}

	.xl\:clear\:left,
	.xl\:cl\:left {
		clear: left !important;
	}

	.xl\:clear\:right,
	.xl\:cl\:right {
		clear: right !important;
	}

	.xl\:clear\:both,
	.xl\:cl\:both {
		clear: both !important;
	}

	.xl\:clear\:inline-start,
	.xl\:cl\:inline-start {
		clear: inline-start !important;
	}

	.xl\:clear\:inline-end,
	.xl\:cl\:inline-end {
		clear: inline-end !important;
	}

}
