/* ===== LIST UTILITIES ===== */

/* LIST-STYLE-TYPE */

.list-style-type\:none,
.lst\:none {
	list-style-type: none !important;
}

.list-style-type\:disc,
.lst\:disc {
	list-style-type: disc !important;
}

.list-style-type\:circle,
.lst\:circle {
	list-style-type: circle !important;
}

.list-style-type\:square,
.lst\:square {
	list-style-type: square !important;
}

.list-style-type\:decimal,
.lst\:decimal {
	list-style-type: decimal !important;
}

.list-style-type\:decimal-leading-zero,
.lst\:decimal-leading-zero {
	list-style-type: decimal-leading-zero !important;
}

.list-style-type\:lower-roman,
.lst\:lower-roman {
	list-style-type: lower-roman !important;
}

.list-style-type\:upper-roman,
.lst\:upper-roman {
	list-style-type: upper-roman !important;
}

.list-style-type\:lower-alpha,
.lst\:lower-alpha {
	list-style-type: lower-alpha !important;
}

.list-style-type\:upper-alpha,
.lst\:upper-alpha {
	list-style-type: upper-alpha !important;
}

.list-style-type\:lower-greek,
.lst\:lower-greek {
	list-style-type: lower-greek !important;
}

/* LIST-STYLE-POSITION */

.list-style-position\:inside,
.lsp\:inside {
	list-style-position: inside !important;
}

.list-style-position\:outside,
.lsp\:outside {
	list-style-position: outside !important;
}


@media (min-width: 640px) {
	/* ===== LIST UTILITIES ===== */

	/* LIST-STYLE-TYPE */

	.sm\:list-style-type\:none,
	.sm\:lst\:none {
		list-style-type: none !important;
	}

	.sm\:list-style-type\:disc,
	.sm\:lst\:disc {
		list-style-type: disc !important;
	}

	.sm\:list-style-type\:circle,
	.sm\:lst\:circle {
		list-style-type: circle !important;
	}

	.sm\:list-style-type\:square,
	.sm\:lst\:square {
		list-style-type: square !important;
	}

	.sm\:list-style-type\:decimal,
	.sm\:lst\:decimal {
		list-style-type: decimal !important;
	}

	.sm\:list-style-type\:decimal-leading-zero,
	.sm\:lst\:decimal-leading-zero {
		list-style-type: decimal-leading-zero !important;
	}

	.sm\:list-style-type\:lower-roman,
	.sm\:lst\:lower-roman {
		list-style-type: lower-roman !important;
	}

	.sm\:list-style-type\:upper-roman,
	.sm\:lst\:upper-roman {
		list-style-type: upper-roman !important;
	}

	.sm\:list-style-type\:lower-alpha,
	.sm\:lst\:lower-alpha {
		list-style-type: lower-alpha !important;
	}

	.sm\:list-style-type\:upper-alpha,
	.sm\:lst\:upper-alpha {
		list-style-type: upper-alpha !important;
	}

	.sm\:list-style-type\:lower-greek,
	.sm\:lst\:lower-greek {
		list-style-type: lower-greek !important;
	}

	/* LIST-STYLE-POSITION */

	.sm\:list-style-position\:inside,
	.sm\:lsp\:inside {
		list-style-position: inside !important;
	}

	.sm\:list-style-position\:outside,
	.sm\:lsp\:outside {
		list-style-position: outside !important;
	}

}

@media (min-width: 768px) {
	/* ===== LIST UTILITIES ===== */

	/* LIST-STYLE-TYPE */

	.md\:list-style-type\:none,
	.md\:lst\:none {
		list-style-type: none !important;
	}

	.md\:list-style-type\:disc,
	.md\:lst\:disc {
		list-style-type: disc !important;
	}

	.md\:list-style-type\:circle,
	.md\:lst\:circle {
		list-style-type: circle !important;
	}

	.md\:list-style-type\:square,
	.md\:lst\:square {
		list-style-type: square !important;
	}

	.md\:list-style-type\:decimal,
	.md\:lst\:decimal {
		list-style-type: decimal !important;
	}

	.md\:list-style-type\:decimal-leading-zero,
	.md\:lst\:decimal-leading-zero {
		list-style-type: decimal-leading-zero !important;
	}

	.md\:list-style-type\:lower-roman,
	.md\:lst\:lower-roman {
		list-style-type: lower-roman !important;
	}

	.md\:list-style-type\:upper-roman,
	.md\:lst\:upper-roman {
		list-style-type: upper-roman !important;
	}

	.md\:list-style-type\:lower-alpha,
	.md\:lst\:lower-alpha {
		list-style-type: lower-alpha !important;
	}

	.md\:list-style-type\:upper-alpha,
	.md\:lst\:upper-alpha {
		list-style-type: upper-alpha !important;
	}

	.md\:list-style-type\:lower-greek,
	.md\:lst\:lower-greek {
		list-style-type: lower-greek !important;
	}

	/* LIST-STYLE-POSITION */

	.md\:list-style-position\:inside,
	.md\:lsp\:inside {
		list-style-position: inside !important;
	}

	.md\:list-style-position\:outside,
	.md\:lsp\:outside {
		list-style-position: outside !important;
	}

}

@media (min-width: 1024px) {
	/* ===== LIST UTILITIES ===== */

	/* LIST-STYLE-TYPE */

	.lg\:list-style-type\:none,
	.lg\:lst\:none {
		list-style-type: none !important;
	}

	.lg\:list-style-type\:disc,
	.lg\:lst\:disc {
		list-style-type: disc !important;
	}

	.lg\:list-style-type\:circle,
	.lg\:lst\:circle {
		list-style-type: circle !important;
	}

	.lg\:list-style-type\:square,
	.lg\:lst\:square {
		list-style-type: square !important;
	}

	.lg\:list-style-type\:decimal,
	.lg\:lst\:decimal {
		list-style-type: decimal !important;
	}

	.lg\:list-style-type\:decimal-leading-zero,
	.lg\:lst\:decimal-leading-zero {
		list-style-type: decimal-leading-zero !important;
	}

	.lg\:list-style-type\:lower-roman,
	.lg\:lst\:lower-roman {
		list-style-type: lower-roman !important;
	}

	.lg\:list-style-type\:upper-roman,
	.lg\:lst\:upper-roman {
		list-style-type: upper-roman !important;
	}

	.lg\:list-style-type\:lower-alpha,
	.lg\:lst\:lower-alpha {
		list-style-type: lower-alpha !important;
	}

	.lg\:list-style-type\:upper-alpha,
	.lg\:lst\:upper-alpha {
		list-style-type: upper-alpha !important;
	}

	.lg\:list-style-type\:lower-greek,
	.lg\:lst\:lower-greek {
		list-style-type: lower-greek !important;
	}

	/* LIST-STYLE-POSITION */

	.lg\:list-style-position\:inside,
	.lg\:lsp\:inside {
		list-style-position: inside !important;
	}

	.lg\:list-style-position\:outside,
	.lg\:lsp\:outside {
		list-style-position: outside !important;
	}

}

@media (min-width: 1280px) {
	/* ===== LIST UTILITIES ===== */

	/* LIST-STYLE-TYPE */

	.xl\:list-style-type\:none,
	.xl\:lst\:none {
		list-style-type: none !important;
	}

	.xl\:list-style-type\:disc,
	.xl\:lst\:disc {
		list-style-type: disc !important;
	}

	.xl\:list-style-type\:circle,
	.xl\:lst\:circle {
		list-style-type: circle !important;
	}

	.xl\:list-style-type\:square,
	.xl\:lst\:square {
		list-style-type: square !important;
	}

	.xl\:list-style-type\:decimal,
	.xl\:lst\:decimal {
		list-style-type: decimal !important;
	}

	.xl\:list-style-type\:decimal-leading-zero,
	.xl\:lst\:decimal-leading-zero {
		list-style-type: decimal-leading-zero !important;
	}

	.xl\:list-style-type\:lower-roman,
	.xl\:lst\:lower-roman {
		list-style-type: lower-roman !important;
	}

	.xl\:list-style-type\:upper-roman,
	.xl\:lst\:upper-roman {
		list-style-type: upper-roman !important;
	}

	.xl\:list-style-type\:lower-alpha,
	.xl\:lst\:lower-alpha {
		list-style-type: lower-alpha !important;
	}

	.xl\:list-style-type\:upper-alpha,
	.xl\:lst\:upper-alpha {
		list-style-type: upper-alpha !important;
	}

	.xl\:list-style-type\:lower-greek,
	.xl\:lst\:lower-greek {
		list-style-type: lower-greek !important;
	}

	/* LIST-STYLE-POSITION */

	.xl\:list-style-position\:inside,
	.xl\:lsp\:inside {
		list-style-position: inside !important;
	}

	.xl\:list-style-position\:outside,
	.xl\:lsp\:outside {
		list-style-position: outside !important;
	}

}
