/* ===== OBJECT UTILITIES — object-fit + object-position ===== */

/* OBJECT-FIT */

.object-fit\:none,
.ofit\:none {
	object-fit: none !important;
}

.object-fit\:contain,
.ofit\:contain {
	object-fit: contain !important;
}

.object-fit\:cover,
.ofit\:cover {
	object-fit: cover !important;
}

.object-fit\:fill,
.ofit\:fill {
	object-fit: fill !important;
}

.object-fit\:scale-down,
.ofit\:scale-down {
	object-fit: scale-down !important;
}

/* OBJECT-POSITION */

.object-position\:center,
.opos\:center {
	object-position: center !important;
}

.object-position\:top,
.opos\:top {
	object-position: top !important;
}

.object-position\:top-right,
.opos\:top-right {
	object-position: top right !important;
}

.object-position\:right,
.opos\:right {
	object-position: right !important;
}

.object-position\:bottom-right,
.opos\:bottom-right {
	object-position: bottom right !important;
}

.object-position\:bottom,
.opos\:bottom {
	object-position: bottom !important;
}

.object-position\:bottom-left,
.opos\:bottom-left {
	object-position: bottom left !important;
}

.object-position\:left,
.opos\:left {
	object-position: left !important;
}

.object-position\:top-left,
.opos\:top-left {
	object-position: top left !important;
}


@media (min-width: 640px) {
	/* ===== OBJECT UTILITIES — object-fit + object-position ===== */

	/* OBJECT-FIT */

	.sm\:object-fit\:none,
	.sm\:ofit\:none {
		object-fit: none !important;
	}

	.sm\:object-fit\:contain,
	.sm\:ofit\:contain {
		object-fit: contain !important;
	}

	.sm\:object-fit\:cover,
	.sm\:ofit\:cover {
		object-fit: cover !important;
	}

	.sm\:object-fit\:fill,
	.sm\:ofit\:fill {
		object-fit: fill !important;
	}

	.sm\:object-fit\:scale-down,
	.sm\:ofit\:scale-down {
		object-fit: scale-down !important;
	}

	/* OBJECT-POSITION */

	.sm\:object-position\:center,
	.sm\:opos\:center {
		object-position: center !important;
	}

	.sm\:object-position\:top,
	.sm\:opos\:top {
		object-position: top !important;
	}

	.sm\:object-position\:top-right,
	.sm\:opos\:top-right {
		object-position: top right !important;
	}

	.sm\:object-position\:right,
	.sm\:opos\:right {
		object-position: right !important;
	}

	.sm\:object-position\:bottom-right,
	.sm\:opos\:bottom-right {
		object-position: bottom right !important;
	}

	.sm\:object-position\:bottom,
	.sm\:opos\:bottom {
		object-position: bottom !important;
	}

	.sm\:object-position\:bottom-left,
	.sm\:opos\:bottom-left {
		object-position: bottom left !important;
	}

	.sm\:object-position\:left,
	.sm\:opos\:left {
		object-position: left !important;
	}

	.sm\:object-position\:top-left,
	.sm\:opos\:top-left {
		object-position: top left !important;
	}

}

@media (min-width: 768px) {
	/* ===== OBJECT UTILITIES — object-fit + object-position ===== */

	/* OBJECT-FIT */

	.md\:object-fit\:none,
	.md\:ofit\:none {
		object-fit: none !important;
	}

	.md\:object-fit\:contain,
	.md\:ofit\:contain {
		object-fit: contain !important;
	}

	.md\:object-fit\:cover,
	.md\:ofit\:cover {
		object-fit: cover !important;
	}

	.md\:object-fit\:fill,
	.md\:ofit\:fill {
		object-fit: fill !important;
	}

	.md\:object-fit\:scale-down,
	.md\:ofit\:scale-down {
		object-fit: scale-down !important;
	}

	/* OBJECT-POSITION */

	.md\:object-position\:center,
	.md\:opos\:center {
		object-position: center !important;
	}

	.md\:object-position\:top,
	.md\:opos\:top {
		object-position: top !important;
	}

	.md\:object-position\:top-right,
	.md\:opos\:top-right {
		object-position: top right !important;
	}

	.md\:object-position\:right,
	.md\:opos\:right {
		object-position: right !important;
	}

	.md\:object-position\:bottom-right,
	.md\:opos\:bottom-right {
		object-position: bottom right !important;
	}

	.md\:object-position\:bottom,
	.md\:opos\:bottom {
		object-position: bottom !important;
	}

	.md\:object-position\:bottom-left,
	.md\:opos\:bottom-left {
		object-position: bottom left !important;
	}

	.md\:object-position\:left,
	.md\:opos\:left {
		object-position: left !important;
	}

	.md\:object-position\:top-left,
	.md\:opos\:top-left {
		object-position: top left !important;
	}

}

@media (min-width: 1024px) {
	/* ===== OBJECT UTILITIES — object-fit + object-position ===== */

	/* OBJECT-FIT */

	.lg\:object-fit\:none,
	.lg\:ofit\:none {
		object-fit: none !important;
	}

	.lg\:object-fit\:contain,
	.lg\:ofit\:contain {
		object-fit: contain !important;
	}

	.lg\:object-fit\:cover,
	.lg\:ofit\:cover {
		object-fit: cover !important;
	}

	.lg\:object-fit\:fill,
	.lg\:ofit\:fill {
		object-fit: fill !important;
	}

	.lg\:object-fit\:scale-down,
	.lg\:ofit\:scale-down {
		object-fit: scale-down !important;
	}

	/* OBJECT-POSITION */

	.lg\:object-position\:center,
	.lg\:opos\:center {
		object-position: center !important;
	}

	.lg\:object-position\:top,
	.lg\:opos\:top {
		object-position: top !important;
	}

	.lg\:object-position\:top-right,
	.lg\:opos\:top-right {
		object-position: top right !important;
	}

	.lg\:object-position\:right,
	.lg\:opos\:right {
		object-position: right !important;
	}

	.lg\:object-position\:bottom-right,
	.lg\:opos\:bottom-right {
		object-position: bottom right !important;
	}

	.lg\:object-position\:bottom,
	.lg\:opos\:bottom {
		object-position: bottom !important;
	}

	.lg\:object-position\:bottom-left,
	.lg\:opos\:bottom-left {
		object-position: bottom left !important;
	}

	.lg\:object-position\:left,
	.lg\:opos\:left {
		object-position: left !important;
	}

	.lg\:object-position\:top-left,
	.lg\:opos\:top-left {
		object-position: top left !important;
	}

}

@media (min-width: 1280px) {
	/* ===== OBJECT UTILITIES — object-fit + object-position ===== */

	/* OBJECT-FIT */

	.xl\:object-fit\:none,
	.xl\:ofit\:none {
		object-fit: none !important;
	}

	.xl\:object-fit\:contain,
	.xl\:ofit\:contain {
		object-fit: contain !important;
	}

	.xl\:object-fit\:cover,
	.xl\:ofit\:cover {
		object-fit: cover !important;
	}

	.xl\:object-fit\:fill,
	.xl\:ofit\:fill {
		object-fit: fill !important;
	}

	.xl\:object-fit\:scale-down,
	.xl\:ofit\:scale-down {
		object-fit: scale-down !important;
	}

	/* OBJECT-POSITION */

	.xl\:object-position\:center,
	.xl\:opos\:center {
		object-position: center !important;
	}

	.xl\:object-position\:top,
	.xl\:opos\:top {
		object-position: top !important;
	}

	.xl\:object-position\:top-right,
	.xl\:opos\:top-right {
		object-position: top right !important;
	}

	.xl\:object-position\:right,
	.xl\:opos\:right {
		object-position: right !important;
	}

	.xl\:object-position\:bottom-right,
	.xl\:opos\:bottom-right {
		object-position: bottom right !important;
	}

	.xl\:object-position\:bottom,
	.xl\:opos\:bottom {
		object-position: bottom !important;
	}

	.xl\:object-position\:bottom-left,
	.xl\:opos\:bottom-left {
		object-position: bottom left !important;
	}

	.xl\:object-position\:left,
	.xl\:opos\:left {
		object-position: left !important;
	}

	.xl\:object-position\:top-left,
	.xl\:opos\:top-left {
		object-position: top left !important;
	}

}
