/* ===== SPACING UTILITIES — margin, padding, gap ===== */

/* MARGIN */

.margin\:0,
.m\:0 {
	margin: var(--space-0) !important;
}

.margin\:1,
.m\:1 {
	margin: var(--space-1) !important;
}

.margin\:2,
.m\:2 {
	margin: var(--space-2) !important;
}

.margin\:3,
.m\:3 {
	margin: var(--space-3) !important;
}

.margin\:4,
.m\:4 {
	margin: var(--space-4) !important;
}

.margin\:5,
.m\:5 {
	margin: var(--space-5) !important;
}

.margin\:6,
.m\:6 {
	margin: var(--space-6) !important;
}

.margin\:7,
.m\:7 {
	margin: var(--space-7) !important;
}

.margin\:8,
.m\:8 {
	margin: var(--space-8) !important;
}

.margin\:9,
.m\:9 {
	margin: var(--space-9) !important;
}

.margin\:10,
.m\:10 {
	margin: var(--space-10) !important;
}

.margin\:11,
.m\:11 {
	margin: var(--space-11) !important;
}

.margin\:12,
.m\:12 {
	margin: var(--space-12) !important;
}

.margin\:13,
.m\:13 {
	margin: var(--space-13) !important;
}

.margin\:14,
.m\:14 {
	margin: var(--space-14) !important;
}

.margin\:auto,
.m\:auto {
	margin: auto !important;
}

.margin-top\:0,
.mt\:0 {
	margin-top: var(--space-0) !important;
}

.margin-top\:1,
.mt\:1 {
	margin-top: var(--space-1) !important;
}

.margin-top\:2,
.mt\:2 {
	margin-top: var(--space-2) !important;
}

.margin-top\:3,
.mt\:3 {
	margin-top: var(--space-3) !important;
}

.margin-top\:4,
.mt\:4 {
	margin-top: var(--space-4) !important;
}

.margin-top\:5,
.mt\:5 {
	margin-top: var(--space-5) !important;
}

.margin-top\:6,
.mt\:6 {
	margin-top: var(--space-6) !important;
}

.margin-top\:7,
.mt\:7 {
	margin-top: var(--space-7) !important;
}

.margin-top\:8,
.mt\:8 {
	margin-top: var(--space-8) !important;
}

.margin-top\:9,
.mt\:9 {
	margin-top: var(--space-9) !important;
}

.margin-top\:10,
.mt\:10 {
	margin-top: var(--space-10) !important;
}

.margin-top\:11,
.mt\:11 {
	margin-top: var(--space-11) !important;
}

.margin-top\:12,
.mt\:12 {
	margin-top: var(--space-12) !important;
}

.margin-top\:13,
.mt\:13 {
	margin-top: var(--space-13) !important;
}

.margin-top\:14,
.mt\:14 {
	margin-top: var(--space-14) !important;
}

.margin-top\:auto,
.mt\:auto {
	margin-top: auto !important;
}

.margin-right\:0,
.mr\:0 {
	margin-right: var(--space-0) !important;
}

.margin-right\:1,
.mr\:1 {
	margin-right: var(--space-1) !important;
}

.margin-right\:2,
.mr\:2 {
	margin-right: var(--space-2) !important;
}

.margin-right\:3,
.mr\:3 {
	margin-right: var(--space-3) !important;
}

.margin-right\:4,
.mr\:4 {
	margin-right: var(--space-4) !important;
}

.margin-right\:5,
.mr\:5 {
	margin-right: var(--space-5) !important;
}

.margin-right\:6,
.mr\:6 {
	margin-right: var(--space-6) !important;
}

.margin-right\:7,
.mr\:7 {
	margin-right: var(--space-7) !important;
}

.margin-right\:8,
.mr\:8 {
	margin-right: var(--space-8) !important;
}

.margin-right\:9,
.mr\:9 {
	margin-right: var(--space-9) !important;
}

.margin-right\:10,
.mr\:10 {
	margin-right: var(--space-10) !important;
}

.margin-right\:11,
.mr\:11 {
	margin-right: var(--space-11) !important;
}

.margin-right\:12,
.mr\:12 {
	margin-right: var(--space-12) !important;
}

.margin-right\:13,
.mr\:13 {
	margin-right: var(--space-13) !important;
}

.margin-right\:14,
.mr\:14 {
	margin-right: var(--space-14) !important;
}

.margin-right\:auto,
.mr\:auto {
	margin-right: auto !important;
}

.margin-bottom\:0,
.mb\:0 {
	margin-bottom: var(--space-0) !important;
}

.margin-bottom\:1,
.mb\:1 {
	margin-bottom: var(--space-1) !important;
}

.margin-bottom\:2,
.mb\:2 {
	margin-bottom: var(--space-2) !important;
}

.margin-bottom\:3,
.mb\:3 {
	margin-bottom: var(--space-3) !important;
}

.margin-bottom\:4,
.mb\:4 {
	margin-bottom: var(--space-4) !important;
}

.margin-bottom\:5,
.mb\:5 {
	margin-bottom: var(--space-5) !important;
}

.margin-bottom\:6,
.mb\:6 {
	margin-bottom: var(--space-6) !important;
}

.margin-bottom\:7,
.mb\:7 {
	margin-bottom: var(--space-7) !important;
}

.margin-bottom\:8,
.mb\:8 {
	margin-bottom: var(--space-8) !important;
}

.margin-bottom\:9,
.mb\:9 {
	margin-bottom: var(--space-9) !important;
}

.margin-bottom\:10,
.mb\:10 {
	margin-bottom: var(--space-10) !important;
}

.margin-bottom\:11,
.mb\:11 {
	margin-bottom: var(--space-11) !important;
}

.margin-bottom\:12,
.mb\:12 {
	margin-bottom: var(--space-12) !important;
}

.margin-bottom\:13,
.mb\:13 {
	margin-bottom: var(--space-13) !important;
}

.margin-bottom\:14,
.mb\:14 {
	margin-bottom: var(--space-14) !important;
}

.margin-bottom\:auto,
.mb\:auto {
	margin-bottom: auto !important;
}

.margin-left\:0,
.ml\:0 {
	margin-left: var(--space-0) !important;
}

.margin-left\:1,
.ml\:1 {
	margin-left: var(--space-1) !important;
}

.margin-left\:2,
.ml\:2 {
	margin-left: var(--space-2) !important;
}

.margin-left\:3,
.ml\:3 {
	margin-left: var(--space-3) !important;
}

.margin-left\:4,
.ml\:4 {
	margin-left: var(--space-4) !important;
}

.margin-left\:5,
.ml\:5 {
	margin-left: var(--space-5) !important;
}

.margin-left\:6,
.ml\:6 {
	margin-left: var(--space-6) !important;
}

.margin-left\:7,
.ml\:7 {
	margin-left: var(--space-7) !important;
}

.margin-left\:8,
.ml\:8 {
	margin-left: var(--space-8) !important;
}

.margin-left\:9,
.ml\:9 {
	margin-left: var(--space-9) !important;
}

.margin-left\:10,
.ml\:10 {
	margin-left: var(--space-10) !important;
}

.margin-left\:11,
.ml\:11 {
	margin-left: var(--space-11) !important;
}

.margin-left\:12,
.ml\:12 {
	margin-left: var(--space-12) !important;
}

.margin-left\:13,
.ml\:13 {
	margin-left: var(--space-13) !important;
}

.margin-left\:14,
.ml\:14 {
	margin-left: var(--space-14) !important;
}

.margin-left\:auto,
.ml\:auto {
	margin-left: auto !important;
}

.margin-x\:0,
.mx\:0 {
	margin-left: var(--space-0) !important;
	margin-right: var(--space-0) !important;
}

.margin-x\:1,
.mx\:1 {
	margin-left: var(--space-1) !important;
	margin-right: var(--space-1) !important;
}

.margin-x\:2,
.mx\:2 {
	margin-left: var(--space-2) !important;
	margin-right: var(--space-2) !important;
}

.margin-x\:3,
.mx\:3 {
	margin-left: var(--space-3) !important;
	margin-right: var(--space-3) !important;
}

.margin-x\:4,
.mx\:4 {
	margin-left: var(--space-4) !important;
	margin-right: var(--space-4) !important;
}

.margin-x\:5,
.mx\:5 {
	margin-left: var(--space-5) !important;
	margin-right: var(--space-5) !important;
}

.margin-x\:6,
.mx\:6 {
	margin-left: var(--space-6) !important;
	margin-right: var(--space-6) !important;
}

.margin-x\:7,
.mx\:7 {
	margin-left: var(--space-7) !important;
	margin-right: var(--space-7) !important;
}

.margin-x\:8,
.mx\:8 {
	margin-left: var(--space-8) !important;
	margin-right: var(--space-8) !important;
}

.margin-x\:9,
.mx\:9 {
	margin-left: var(--space-9) !important;
	margin-right: var(--space-9) !important;
}

.margin-x\:10,
.mx\:10 {
	margin-left: var(--space-10) !important;
	margin-right: var(--space-10) !important;
}

.margin-x\:11,
.mx\:11 {
	margin-left: var(--space-11) !important;
	margin-right: var(--space-11) !important;
}

.margin-x\:12,
.mx\:12 {
	margin-left: var(--space-12) !important;
	margin-right: var(--space-12) !important;
}

.margin-x\:13,
.mx\:13 {
	margin-left: var(--space-13) !important;
	margin-right: var(--space-13) !important;
}

.margin-x\:14,
.mx\:14 {
	margin-left: var(--space-14) !important;
	margin-right: var(--space-14) !important;
}

.margin-x\:auto,
.mx\:auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.margin-y\:0,
.my\:0 {
	margin-top: var(--space-0) !important;
	margin-bottom: var(--space-0) !important;
}

.margin-y\:1,
.my\:1 {
	margin-top: var(--space-1) !important;
	margin-bottom: var(--space-1) !important;
}

.margin-y\:2,
.my\:2 {
	margin-top: var(--space-2) !important;
	margin-bottom: var(--space-2) !important;
}

.margin-y\:3,
.my\:3 {
	margin-top: var(--space-3) !important;
	margin-bottom: var(--space-3) !important;
}

.margin-y\:4,
.my\:4 {
	margin-top: var(--space-4) !important;
	margin-bottom: var(--space-4) !important;
}

.margin-y\:5,
.my\:5 {
	margin-top: var(--space-5) !important;
	margin-bottom: var(--space-5) !important;
}

.margin-y\:6,
.my\:6 {
	margin-top: var(--space-6) !important;
	margin-bottom: var(--space-6) !important;
}

.margin-y\:7,
.my\:7 {
	margin-top: var(--space-7) !important;
	margin-bottom: var(--space-7) !important;
}

.margin-y\:8,
.my\:8 {
	margin-top: var(--space-8) !important;
	margin-bottom: var(--space-8) !important;
}

.margin-y\:9,
.my\:9 {
	margin-top: var(--space-9) !important;
	margin-bottom: var(--space-9) !important;
}

.margin-y\:10,
.my\:10 {
	margin-top: var(--space-10) !important;
	margin-bottom: var(--space-10) !important;
}

.margin-y\:11,
.my\:11 {
	margin-top: var(--space-11) !important;
	margin-bottom: var(--space-11) !important;
}

.margin-y\:12,
.my\:12 {
	margin-top: var(--space-12) !important;
	margin-bottom: var(--space-12) !important;
}

.margin-y\:13,
.my\:13 {
	margin-top: var(--space-13) !important;
	margin-bottom: var(--space-13) !important;
}

.margin-y\:14,
.my\:14 {
	margin-top: var(--space-14) !important;
	margin-bottom: var(--space-14) !important;
}

.margin-y\:auto,
.my\:auto {
	margin-top: auto !important;
	margin-bottom: auto !important;
}

/* PADDING */

.padding\:0,
.p\:0 {
	padding: var(--space-0) !important;
}

.padding\:1,
.p\:1 {
	padding: var(--space-1) !important;
}

.padding\:2,
.p\:2 {
	padding: var(--space-2) !important;
}

.padding\:3,
.p\:3 {
	padding: var(--space-3) !important;
}

.padding\:4,
.p\:4 {
	padding: var(--space-4) !important;
}

.padding\:5,
.p\:5 {
	padding: var(--space-5) !important;
}

.padding\:6,
.p\:6 {
	padding: var(--space-6) !important;
}

.padding\:7,
.p\:7 {
	padding: var(--space-7) !important;
}

.padding\:8,
.p\:8 {
	padding: var(--space-8) !important;
}

.padding\:9,
.p\:9 {
	padding: var(--space-9) !important;
}

.padding\:10,
.p\:10 {
	padding: var(--space-10) !important;
}

.padding\:11,
.p\:11 {
	padding: var(--space-11) !important;
}

.padding\:12,
.p\:12 {
	padding: var(--space-12) !important;
}

.padding\:13,
.p\:13 {
	padding: var(--space-13) !important;
}

.padding\:14,
.p\:14 {
	padding: var(--space-14) !important;
}

.padding-top\:0,
.pt\:0 {
	padding-top: var(--space-0) !important;
}

.padding-top\:1,
.pt\:1 {
	padding-top: var(--space-1) !important;
}

.padding-top\:2,
.pt\:2 {
	padding-top: var(--space-2) !important;
}

.padding-top\:3,
.pt\:3 {
	padding-top: var(--space-3) !important;
}

.padding-top\:4,
.pt\:4 {
	padding-top: var(--space-4) !important;
}

.padding-top\:5,
.pt\:5 {
	padding-top: var(--space-5) !important;
}

.padding-top\:6,
.pt\:6 {
	padding-top: var(--space-6) !important;
}

.padding-top\:7,
.pt\:7 {
	padding-top: var(--space-7) !important;
}

.padding-top\:8,
.pt\:8 {
	padding-top: var(--space-8) !important;
}

.padding-top\:9,
.pt\:9 {
	padding-top: var(--space-9) !important;
}

.padding-top\:10,
.pt\:10 {
	padding-top: var(--space-10) !important;
}

.padding-top\:11,
.pt\:11 {
	padding-top: var(--space-11) !important;
}

.padding-top\:12,
.pt\:12 {
	padding-top: var(--space-12) !important;
}

.padding-top\:13,
.pt\:13 {
	padding-top: var(--space-13) !important;
}

.padding-top\:14,
.pt\:14 {
	padding-top: var(--space-14) !important;
}

.padding-right\:0,
.pr\:0 {
	padding-right: var(--space-0) !important;
}

.padding-right\:1,
.pr\:1 {
	padding-right: var(--space-1) !important;
}

.padding-right\:2,
.pr\:2 {
	padding-right: var(--space-2) !important;
}

.padding-right\:3,
.pr\:3 {
	padding-right: var(--space-3) !important;
}

.padding-right\:4,
.pr\:4 {
	padding-right: var(--space-4) !important;
}

.padding-right\:5,
.pr\:5 {
	padding-right: var(--space-5) !important;
}

.padding-right\:6,
.pr\:6 {
	padding-right: var(--space-6) !important;
}

.padding-right\:7,
.pr\:7 {
	padding-right: var(--space-7) !important;
}

.padding-right\:8,
.pr\:8 {
	padding-right: var(--space-8) !important;
}

.padding-right\:9,
.pr\:9 {
	padding-right: var(--space-9) !important;
}

.padding-right\:10,
.pr\:10 {
	padding-right: var(--space-10) !important;
}

.padding-right\:11,
.pr\:11 {
	padding-right: var(--space-11) !important;
}

.padding-right\:12,
.pr\:12 {
	padding-right: var(--space-12) !important;
}

.padding-right\:13,
.pr\:13 {
	padding-right: var(--space-13) !important;
}

.padding-right\:14,
.pr\:14 {
	padding-right: var(--space-14) !important;
}

.padding-bottom\:0,
.pb\:0 {
	padding-bottom: var(--space-0) !important;
}

.padding-bottom\:1,
.pb\:1 {
	padding-bottom: var(--space-1) !important;
}

.padding-bottom\:2,
.pb\:2 {
	padding-bottom: var(--space-2) !important;
}

.padding-bottom\:3,
.pb\:3 {
	padding-bottom: var(--space-3) !important;
}

.padding-bottom\:4,
.pb\:4 {
	padding-bottom: var(--space-4) !important;
}

.padding-bottom\:5,
.pb\:5 {
	padding-bottom: var(--space-5) !important;
}

.padding-bottom\:6,
.pb\:6 {
	padding-bottom: var(--space-6) !important;
}

.padding-bottom\:7,
.pb\:7 {
	padding-bottom: var(--space-7) !important;
}

.padding-bottom\:8,
.pb\:8 {
	padding-bottom: var(--space-8) !important;
}

.padding-bottom\:9,
.pb\:9 {
	padding-bottom: var(--space-9) !important;
}

.padding-bottom\:10,
.pb\:10 {
	padding-bottom: var(--space-10) !important;
}

.padding-bottom\:11,
.pb\:11 {
	padding-bottom: var(--space-11) !important;
}

.padding-bottom\:12,
.pb\:12 {
	padding-bottom: var(--space-12) !important;
}

.padding-bottom\:13,
.pb\:13 {
	padding-bottom: var(--space-13) !important;
}

.padding-bottom\:14,
.pb\:14 {
	padding-bottom: var(--space-14) !important;
}

.padding-left\:0,
.pl\:0 {
	padding-left: var(--space-0) !important;
}

.padding-left\:1,
.pl\:1 {
	padding-left: var(--space-1) !important;
}

.padding-left\:2,
.pl\:2 {
	padding-left: var(--space-2) !important;
}

.padding-left\:3,
.pl\:3 {
	padding-left: var(--space-3) !important;
}

.padding-left\:4,
.pl\:4 {
	padding-left: var(--space-4) !important;
}

.padding-left\:5,
.pl\:5 {
	padding-left: var(--space-5) !important;
}

.padding-left\:6,
.pl\:6 {
	padding-left: var(--space-6) !important;
}

.padding-left\:7,
.pl\:7 {
	padding-left: var(--space-7) !important;
}

.padding-left\:8,
.pl\:8 {
	padding-left: var(--space-8) !important;
}

.padding-left\:9,
.pl\:9 {
	padding-left: var(--space-9) !important;
}

.padding-left\:10,
.pl\:10 {
	padding-left: var(--space-10) !important;
}

.padding-left\:11,
.pl\:11 {
	padding-left: var(--space-11) !important;
}

.padding-left\:12,
.pl\:12 {
	padding-left: var(--space-12) !important;
}

.padding-left\:13,
.pl\:13 {
	padding-left: var(--space-13) !important;
}

.padding-left\:14,
.pl\:14 {
	padding-left: var(--space-14) !important;
}

.padding-x\:0,
.px\:0 {
	padding-left: var(--space-0) !important;
	padding-right: var(--space-0) !important;
}

.padding-x\:1,
.px\:1 {
	padding-left: var(--space-1) !important;
	padding-right: var(--space-1) !important;
}

.padding-x\:2,
.px\:2 {
	padding-left: var(--space-2) !important;
	padding-right: var(--space-2) !important;
}

.padding-x\:3,
.px\:3 {
	padding-left: var(--space-3) !important;
	padding-right: var(--space-3) !important;
}

.padding-x\:4,
.px\:4 {
	padding-left: var(--space-4) !important;
	padding-right: var(--space-4) !important;
}

.padding-x\:5,
.px\:5 {
	padding-left: var(--space-5) !important;
	padding-right: var(--space-5) !important;
}

.padding-x\:6,
.px\:6 {
	padding-left: var(--space-6) !important;
	padding-right: var(--space-6) !important;
}

.padding-x\:7,
.px\:7 {
	padding-left: var(--space-7) !important;
	padding-right: var(--space-7) !important;
}

.padding-x\:8,
.px\:8 {
	padding-left: var(--space-8) !important;
	padding-right: var(--space-8) !important;
}

.padding-x\:9,
.px\:9 {
	padding-left: var(--space-9) !important;
	padding-right: var(--space-9) !important;
}

.padding-x\:10,
.px\:10 {
	padding-left: var(--space-10) !important;
	padding-right: var(--space-10) !important;
}

.padding-x\:11,
.px\:11 {
	padding-left: var(--space-11) !important;
	padding-right: var(--space-11) !important;
}

.padding-x\:12,
.px\:12 {
	padding-left: var(--space-12) !important;
	padding-right: var(--space-12) !important;
}

.padding-x\:13,
.px\:13 {
	padding-left: var(--space-13) !important;
	padding-right: var(--space-13) !important;
}

.padding-x\:14,
.px\:14 {
	padding-left: var(--space-14) !important;
	padding-right: var(--space-14) !important;
}

.padding-y\:0,
.py\:0 {
	padding-top: var(--space-0) !important;
	padding-bottom: var(--space-0) !important;
}

.padding-y\:1,
.py\:1 {
	padding-top: var(--space-1) !important;
	padding-bottom: var(--space-1) !important;
}

.padding-y\:2,
.py\:2 {
	padding-top: var(--space-2) !important;
	padding-bottom: var(--space-2) !important;
}

.padding-y\:3,
.py\:3 {
	padding-top: var(--space-3) !important;
	padding-bottom: var(--space-3) !important;
}

.padding-y\:4,
.py\:4 {
	padding-top: var(--space-4) !important;
	padding-bottom: var(--space-4) !important;
}

.padding-y\:5,
.py\:5 {
	padding-top: var(--space-5) !important;
	padding-bottom: var(--space-5) !important;
}

.padding-y\:6,
.py\:6 {
	padding-top: var(--space-6) !important;
	padding-bottom: var(--space-6) !important;
}

.padding-y\:7,
.py\:7 {
	padding-top: var(--space-7) !important;
	padding-bottom: var(--space-7) !important;
}

.padding-y\:8,
.py\:8 {
	padding-top: var(--space-8) !important;
	padding-bottom: var(--space-8) !important;
}

.padding-y\:9,
.py\:9 {
	padding-top: var(--space-9) !important;
	padding-bottom: var(--space-9) !important;
}

.padding-y\:10,
.py\:10 {
	padding-top: var(--space-10) !important;
	padding-bottom: var(--space-10) !important;
}

.padding-y\:11,
.py\:11 {
	padding-top: var(--space-11) !important;
	padding-bottom: var(--space-11) !important;
}

.padding-y\:12,
.py\:12 {
	padding-top: var(--space-12) !important;
	padding-bottom: var(--space-12) !important;
}

.padding-y\:13,
.py\:13 {
	padding-top: var(--space-13) !important;
	padding-bottom: var(--space-13) !important;
}

.padding-y\:14,
.py\:14 {
	padding-top: var(--space-14) !important;
	padding-bottom: var(--space-14) !important;
}

/* GAP */

.gap\:0,
.g\:0 {
	gap: var(--space-0) !important;
}

.gap\:1,
.g\:1 {
	gap: var(--space-1) !important;
}

.gap\:2,
.g\:2 {
	gap: var(--space-2) !important;
}

.gap\:3,
.g\:3 {
	gap: var(--space-3) !important;
}

.gap\:4,
.g\:4 {
	gap: var(--space-4) !important;
}

.gap\:5,
.g\:5 {
	gap: var(--space-5) !important;
}

.gap\:6,
.g\:6 {
	gap: var(--space-6) !important;
}

.gap\:7,
.g\:7 {
	gap: var(--space-7) !important;
}

.gap\:8,
.g\:8 {
	gap: var(--space-8) !important;
}

.gap\:9,
.g\:9 {
	gap: var(--space-9) !important;
}

.gap\:10,
.g\:10 {
	gap: var(--space-10) !important;
}

.gap\:11,
.g\:11 {
	gap: var(--space-11) !important;
}

.gap\:12,
.g\:12 {
	gap: var(--space-12) !important;
}

.gap\:13,
.g\:13 {
	gap: var(--space-13) !important;
}

.gap\:14,
.g\:14 {
	gap: var(--space-14) !important;
}

.gap-row\:0,
.gr\:0 {
	row-gap: var(--space-0) !important;
}

.gap-row\:1,
.gr\:1 {
	row-gap: var(--space-1) !important;
}

.gap-row\:2,
.gr\:2 {
	row-gap: var(--space-2) !important;
}

.gap-row\:3,
.gr\:3 {
	row-gap: var(--space-3) !important;
}

.gap-row\:4,
.gr\:4 {
	row-gap: var(--space-4) !important;
}

.gap-row\:5,
.gr\:5 {
	row-gap: var(--space-5) !important;
}

.gap-row\:6,
.gr\:6 {
	row-gap: var(--space-6) !important;
}

.gap-row\:7,
.gr\:7 {
	row-gap: var(--space-7) !important;
}

.gap-row\:8,
.gr\:8 {
	row-gap: var(--space-8) !important;
}

.gap-row\:9,
.gr\:9 {
	row-gap: var(--space-9) !important;
}

.gap-row\:10,
.gr\:10 {
	row-gap: var(--space-10) !important;
}

.gap-row\:11,
.gr\:11 {
	row-gap: var(--space-11) !important;
}

.gap-row\:12,
.gr\:12 {
	row-gap: var(--space-12) !important;
}

.gap-row\:13,
.gr\:13 {
	row-gap: var(--space-13) !important;
}

.gap-row\:14,
.gr\:14 {
	row-gap: var(--space-14) !important;
}

.gap-column\:0,
.gc\:0 {
	column-gap: var(--space-0) !important;
}

.gap-column\:1,
.gc\:1 {
	column-gap: var(--space-1) !important;
}

.gap-column\:2,
.gc\:2 {
	column-gap: var(--space-2) !important;
}

.gap-column\:3,
.gc\:3 {
	column-gap: var(--space-3) !important;
}

.gap-column\:4,
.gc\:4 {
	column-gap: var(--space-4) !important;
}

.gap-column\:5,
.gc\:5 {
	column-gap: var(--space-5) !important;
}

.gap-column\:6,
.gc\:6 {
	column-gap: var(--space-6) !important;
}

.gap-column\:7,
.gc\:7 {
	column-gap: var(--space-7) !important;
}

.gap-column\:8,
.gc\:8 {
	column-gap: var(--space-8) !important;
}

.gap-column\:9,
.gc\:9 {
	column-gap: var(--space-9) !important;
}

.gap-column\:10,
.gc\:10 {
	column-gap: var(--space-10) !important;
}

.gap-column\:11,
.gc\:11 {
	column-gap: var(--space-11) !important;
}

.gap-column\:12,
.gc\:12 {
	column-gap: var(--space-12) !important;
}

.gap-column\:13,
.gc\:13 {
	column-gap: var(--space-13) !important;
}

.gap-column\:14,
.gc\:14 {
	column-gap: var(--space-14) !important;
}
