/* ===== TRANSITION UTILITIES ===== */

/* TRANSITION-PROPERTY */

.transition-property\:none,
.tp\:none {
	transition-property: none !important;
}

.transition-property\:all,
.tp\:all {
	transition-property: all !important;
}

.transition-property\:default,
.tp\:default {
	transition-property: color, background-color, border-color, outline-color, fill, stroke, opacity, box-shadow, transform, translate, rotate, scale, filter, backdrop-filter !important;
}

.transition-property\:colors,
.tp\:colors {
	transition-property: color, background-color, border-color, outline-color, fill, stroke !important;
}

.transition-property\:opacity,
.tp\:opacity {
	transition-property: opacity !important;
}

.transition-property\:shadow,
.tp\:shadow {
	transition-property: box-shadow !important;
}

.transition-property\:transform,
.tp\:transform {
	transition-property: transform, translate, rotate, scale !important;
}

/* TRANSITION-DURATION */

.transition-duration\:fast,
.tdur\:fast {
	transition-duration: var(--duration-fast) !important;
}

.transition-duration\:normal,
.tdur\:normal {
	transition-duration: var(--duration-normal) !important;
}

.transition-duration\:slow,
.tdur\:slow {
	transition-duration: var(--duration-slow) !important;
}

/* TRANSITION-TIMING-FUNCTION */

.transition-timing-function\:linear,
.ttf\:linear {
	transition-timing-function: var(--ease-linear) !important;
}

.transition-timing-function\:in,
.ttf\:in {
	transition-timing-function: var(--ease-in) !important;
}

.transition-timing-function\:out,
.ttf\:out {
	transition-timing-function: var(--ease-out) !important;
}

.transition-timing-function\:in-out,
.ttf\:in-out {
	transition-timing-function: var(--ease-in-out) !important;
}

/* TRANSITION-DELAY */

.transition-delay\:0,
.tdly\:0 {
	transition-delay: 0ms !important;
}

.transition-delay\:75,
.tdly\:75 {
	transition-delay: 75ms !important;
}

.transition-delay\:100,
.tdly\:100 {
	transition-delay: 100ms !important;
}

.transition-delay\:150,
.tdly\:150 {
	transition-delay: 150ms !important;
}

.transition-delay\:200,
.tdly\:200 {
	transition-delay: 200ms !important;
}

.transition-delay\:300,
.tdly\:300 {
	transition-delay: 300ms !important;
}

.transition-delay\:500,
.tdly\:500 {
	transition-delay: 500ms !important;
}

.transition-delay\:700,
.tdly\:700 {
	transition-delay: 700ms !important;
}

.transition-delay\:1000,
.tdly\:1000 {
	transition-delay: 1000ms !important;
}

/* TRANSITION (shorthand presets) */

.transition\:none,
.tr\:none {
	transition: none !important;
}

.transition\:all,
.tr\:all {
	transition: all var(--duration-normal) var(--ease-in-out) !important;
}

.transition\:default,
.tr\:default {
	transition: color, background-color, border-color, outline-color, fill, stroke, opacity, box-shadow, transform, translate, rotate, scale, filter, backdrop-filter var(--duration-normal) var(--ease-in-out) !important;
}


@media (min-width: 640px) {
	/* ===== TRANSITION UTILITIES ===== */

	/* TRANSITION-PROPERTY */

	.sm\:transition-property\:none,
	.sm\:tp\:none {
		transition-property: none !important;
	}

	.sm\:transition-property\:all,
	.sm\:tp\:all {
		transition-property: all !important;
	}

	.sm\:transition-property\:default,
	.sm\:tp\:default {
		transition-property: color, background-color, border-color, outline-color, fill, stroke, opacity, box-shadow, transform, translate, rotate, scale, filter, backdrop-filter !important;
	}

	.sm\:transition-property\:colors,
	.sm\:tp\:colors {
		transition-property: color, background-color, border-color, outline-color, fill, stroke !important;
	}

	.sm\:transition-property\:opacity,
	.sm\:tp\:opacity {
		transition-property: opacity !important;
	}

	.sm\:transition-property\:shadow,
	.sm\:tp\:shadow {
		transition-property: box-shadow !important;
	}

	.sm\:transition-property\:transform,
	.sm\:tp\:transform {
		transition-property: transform, translate, rotate, scale !important;
	}

	/* TRANSITION-DURATION */

	.sm\:transition-duration\:fast,
	.sm\:tdur\:fast {
		transition-duration: var(--duration-fast) !important;
	}

	.sm\:transition-duration\:normal,
	.sm\:tdur\:normal {
		transition-duration: var(--duration-normal) !important;
	}

	.sm\:transition-duration\:slow,
	.sm\:tdur\:slow {
		transition-duration: var(--duration-slow) !important;
	}

	/* TRANSITION-TIMING-FUNCTION */

	.sm\:transition-timing-function\:linear,
	.sm\:ttf\:linear {
		transition-timing-function: var(--ease-linear) !important;
	}

	.sm\:transition-timing-function\:in,
	.sm\:ttf\:in {
		transition-timing-function: var(--ease-in) !important;
	}

	.sm\:transition-timing-function\:out,
	.sm\:ttf\:out {
		transition-timing-function: var(--ease-out) !important;
	}

	.sm\:transition-timing-function\:in-out,
	.sm\:ttf\:in-out {
		transition-timing-function: var(--ease-in-out) !important;
	}

	/* TRANSITION-DELAY */

	.sm\:transition-delay\:0,
	.sm\:tdly\:0 {
		transition-delay: 0ms !important;
	}

	.sm\:transition-delay\:75,
	.sm\:tdly\:75 {
		transition-delay: 75ms !important;
	}

	.sm\:transition-delay\:100,
	.sm\:tdly\:100 {
		transition-delay: 100ms !important;
	}

	.sm\:transition-delay\:150,
	.sm\:tdly\:150 {
		transition-delay: 150ms !important;
	}

	.sm\:transition-delay\:200,
	.sm\:tdly\:200 {
		transition-delay: 200ms !important;
	}

	.sm\:transition-delay\:300,
	.sm\:tdly\:300 {
		transition-delay: 300ms !important;
	}

	.sm\:transition-delay\:500,
	.sm\:tdly\:500 {
		transition-delay: 500ms !important;
	}

	.sm\:transition-delay\:700,
	.sm\:tdly\:700 {
		transition-delay: 700ms !important;
	}

	.sm\:transition-delay\:1000,
	.sm\:tdly\:1000 {
		transition-delay: 1000ms !important;
	}

	/* TRANSITION (shorthand presets) */

	.sm\:transition\:none,
	.sm\:tr\:none {
		transition: none !important;
	}

	.sm\:transition\:all,
	.sm\:tr\:all {
		transition: all var(--duration-normal) var(--ease-in-out) !important;
	}

	.sm\:transition\:default,
	.sm\:tr\:default {
		transition: color, background-color, border-color, outline-color, fill, stroke, opacity, box-shadow, transform, translate, rotate, scale, filter, backdrop-filter var(--duration-normal) var(--ease-in-out) !important;
	}

}

@media (min-width: 768px) {
	/* ===== TRANSITION UTILITIES ===== */

	/* TRANSITION-PROPERTY */

	.md\:transition-property\:none,
	.md\:tp\:none {
		transition-property: none !important;
	}

	.md\:transition-property\:all,
	.md\:tp\:all {
		transition-property: all !important;
	}

	.md\:transition-property\:default,
	.md\:tp\:default {
		transition-property: color, background-color, border-color, outline-color, fill, stroke, opacity, box-shadow, transform, translate, rotate, scale, filter, backdrop-filter !important;
	}

	.md\:transition-property\:colors,
	.md\:tp\:colors {
		transition-property: color, background-color, border-color, outline-color, fill, stroke !important;
	}

	.md\:transition-property\:opacity,
	.md\:tp\:opacity {
		transition-property: opacity !important;
	}

	.md\:transition-property\:shadow,
	.md\:tp\:shadow {
		transition-property: box-shadow !important;
	}

	.md\:transition-property\:transform,
	.md\:tp\:transform {
		transition-property: transform, translate, rotate, scale !important;
	}

	/* TRANSITION-DURATION */

	.md\:transition-duration\:fast,
	.md\:tdur\:fast {
		transition-duration: var(--duration-fast) !important;
	}

	.md\:transition-duration\:normal,
	.md\:tdur\:normal {
		transition-duration: var(--duration-normal) !important;
	}

	.md\:transition-duration\:slow,
	.md\:tdur\:slow {
		transition-duration: var(--duration-slow) !important;
	}

	/* TRANSITION-TIMING-FUNCTION */

	.md\:transition-timing-function\:linear,
	.md\:ttf\:linear {
		transition-timing-function: var(--ease-linear) !important;
	}

	.md\:transition-timing-function\:in,
	.md\:ttf\:in {
		transition-timing-function: var(--ease-in) !important;
	}

	.md\:transition-timing-function\:out,
	.md\:ttf\:out {
		transition-timing-function: var(--ease-out) !important;
	}

	.md\:transition-timing-function\:in-out,
	.md\:ttf\:in-out {
		transition-timing-function: var(--ease-in-out) !important;
	}

	/* TRANSITION-DELAY */

	.md\:transition-delay\:0,
	.md\:tdly\:0 {
		transition-delay: 0ms !important;
	}

	.md\:transition-delay\:75,
	.md\:tdly\:75 {
		transition-delay: 75ms !important;
	}

	.md\:transition-delay\:100,
	.md\:tdly\:100 {
		transition-delay: 100ms !important;
	}

	.md\:transition-delay\:150,
	.md\:tdly\:150 {
		transition-delay: 150ms !important;
	}

	.md\:transition-delay\:200,
	.md\:tdly\:200 {
		transition-delay: 200ms !important;
	}

	.md\:transition-delay\:300,
	.md\:tdly\:300 {
		transition-delay: 300ms !important;
	}

	.md\:transition-delay\:500,
	.md\:tdly\:500 {
		transition-delay: 500ms !important;
	}

	.md\:transition-delay\:700,
	.md\:tdly\:700 {
		transition-delay: 700ms !important;
	}

	.md\:transition-delay\:1000,
	.md\:tdly\:1000 {
		transition-delay: 1000ms !important;
	}

	/* TRANSITION (shorthand presets) */

	.md\:transition\:none,
	.md\:tr\:none {
		transition: none !important;
	}

	.md\:transition\:all,
	.md\:tr\:all {
		transition: all var(--duration-normal) var(--ease-in-out) !important;
	}

	.md\:transition\:default,
	.md\:tr\:default {
		transition: color, background-color, border-color, outline-color, fill, stroke, opacity, box-shadow, transform, translate, rotate, scale, filter, backdrop-filter var(--duration-normal) var(--ease-in-out) !important;
	}

}

@media (min-width: 1024px) {
	/* ===== TRANSITION UTILITIES ===== */

	/* TRANSITION-PROPERTY */

	.lg\:transition-property\:none,
	.lg\:tp\:none {
		transition-property: none !important;
	}

	.lg\:transition-property\:all,
	.lg\:tp\:all {
		transition-property: all !important;
	}

	.lg\:transition-property\:default,
	.lg\:tp\:default {
		transition-property: color, background-color, border-color, outline-color, fill, stroke, opacity, box-shadow, transform, translate, rotate, scale, filter, backdrop-filter !important;
	}

	.lg\:transition-property\:colors,
	.lg\:tp\:colors {
		transition-property: color, background-color, border-color, outline-color, fill, stroke !important;
	}

	.lg\:transition-property\:opacity,
	.lg\:tp\:opacity {
		transition-property: opacity !important;
	}

	.lg\:transition-property\:shadow,
	.lg\:tp\:shadow {
		transition-property: box-shadow !important;
	}

	.lg\:transition-property\:transform,
	.lg\:tp\:transform {
		transition-property: transform, translate, rotate, scale !important;
	}

	/* TRANSITION-DURATION */

	.lg\:transition-duration\:fast,
	.lg\:tdur\:fast {
		transition-duration: var(--duration-fast) !important;
	}

	.lg\:transition-duration\:normal,
	.lg\:tdur\:normal {
		transition-duration: var(--duration-normal) !important;
	}

	.lg\:transition-duration\:slow,
	.lg\:tdur\:slow {
		transition-duration: var(--duration-slow) !important;
	}

	/* TRANSITION-TIMING-FUNCTION */

	.lg\:transition-timing-function\:linear,
	.lg\:ttf\:linear {
		transition-timing-function: var(--ease-linear) !important;
	}

	.lg\:transition-timing-function\:in,
	.lg\:ttf\:in {
		transition-timing-function: var(--ease-in) !important;
	}

	.lg\:transition-timing-function\:out,
	.lg\:ttf\:out {
		transition-timing-function: var(--ease-out) !important;
	}

	.lg\:transition-timing-function\:in-out,
	.lg\:ttf\:in-out {
		transition-timing-function: var(--ease-in-out) !important;
	}

	/* TRANSITION-DELAY */

	.lg\:transition-delay\:0,
	.lg\:tdly\:0 {
		transition-delay: 0ms !important;
	}

	.lg\:transition-delay\:75,
	.lg\:tdly\:75 {
		transition-delay: 75ms !important;
	}

	.lg\:transition-delay\:100,
	.lg\:tdly\:100 {
		transition-delay: 100ms !important;
	}

	.lg\:transition-delay\:150,
	.lg\:tdly\:150 {
		transition-delay: 150ms !important;
	}

	.lg\:transition-delay\:200,
	.lg\:tdly\:200 {
		transition-delay: 200ms !important;
	}

	.lg\:transition-delay\:300,
	.lg\:tdly\:300 {
		transition-delay: 300ms !important;
	}

	.lg\:transition-delay\:500,
	.lg\:tdly\:500 {
		transition-delay: 500ms !important;
	}

	.lg\:transition-delay\:700,
	.lg\:tdly\:700 {
		transition-delay: 700ms !important;
	}

	.lg\:transition-delay\:1000,
	.lg\:tdly\:1000 {
		transition-delay: 1000ms !important;
	}

	/* TRANSITION (shorthand presets) */

	.lg\:transition\:none,
	.lg\:tr\:none {
		transition: none !important;
	}

	.lg\:transition\:all,
	.lg\:tr\:all {
		transition: all var(--duration-normal) var(--ease-in-out) !important;
	}

	.lg\:transition\:default,
	.lg\:tr\:default {
		transition: color, background-color, border-color, outline-color, fill, stroke, opacity, box-shadow, transform, translate, rotate, scale, filter, backdrop-filter var(--duration-normal) var(--ease-in-out) !important;
	}

}

@media (min-width: 1280px) {
	/* ===== TRANSITION UTILITIES ===== */

	/* TRANSITION-PROPERTY */

	.xl\:transition-property\:none,
	.xl\:tp\:none {
		transition-property: none !important;
	}

	.xl\:transition-property\:all,
	.xl\:tp\:all {
		transition-property: all !important;
	}

	.xl\:transition-property\:default,
	.xl\:tp\:default {
		transition-property: color, background-color, border-color, outline-color, fill, stroke, opacity, box-shadow, transform, translate, rotate, scale, filter, backdrop-filter !important;
	}

	.xl\:transition-property\:colors,
	.xl\:tp\:colors {
		transition-property: color, background-color, border-color, outline-color, fill, stroke !important;
	}

	.xl\:transition-property\:opacity,
	.xl\:tp\:opacity {
		transition-property: opacity !important;
	}

	.xl\:transition-property\:shadow,
	.xl\:tp\:shadow {
		transition-property: box-shadow !important;
	}

	.xl\:transition-property\:transform,
	.xl\:tp\:transform {
		transition-property: transform, translate, rotate, scale !important;
	}

	/* TRANSITION-DURATION */

	.xl\:transition-duration\:fast,
	.xl\:tdur\:fast {
		transition-duration: var(--duration-fast) !important;
	}

	.xl\:transition-duration\:normal,
	.xl\:tdur\:normal {
		transition-duration: var(--duration-normal) !important;
	}

	.xl\:transition-duration\:slow,
	.xl\:tdur\:slow {
		transition-duration: var(--duration-slow) !important;
	}

	/* TRANSITION-TIMING-FUNCTION */

	.xl\:transition-timing-function\:linear,
	.xl\:ttf\:linear {
		transition-timing-function: var(--ease-linear) !important;
	}

	.xl\:transition-timing-function\:in,
	.xl\:ttf\:in {
		transition-timing-function: var(--ease-in) !important;
	}

	.xl\:transition-timing-function\:out,
	.xl\:ttf\:out {
		transition-timing-function: var(--ease-out) !important;
	}

	.xl\:transition-timing-function\:in-out,
	.xl\:ttf\:in-out {
		transition-timing-function: var(--ease-in-out) !important;
	}

	/* TRANSITION-DELAY */

	.xl\:transition-delay\:0,
	.xl\:tdly\:0 {
		transition-delay: 0ms !important;
	}

	.xl\:transition-delay\:75,
	.xl\:tdly\:75 {
		transition-delay: 75ms !important;
	}

	.xl\:transition-delay\:100,
	.xl\:tdly\:100 {
		transition-delay: 100ms !important;
	}

	.xl\:transition-delay\:150,
	.xl\:tdly\:150 {
		transition-delay: 150ms !important;
	}

	.xl\:transition-delay\:200,
	.xl\:tdly\:200 {
		transition-delay: 200ms !important;
	}

	.xl\:transition-delay\:300,
	.xl\:tdly\:300 {
		transition-delay: 300ms !important;
	}

	.xl\:transition-delay\:500,
	.xl\:tdly\:500 {
		transition-delay: 500ms !important;
	}

	.xl\:transition-delay\:700,
	.xl\:tdly\:700 {
		transition-delay: 700ms !important;
	}

	.xl\:transition-delay\:1000,
	.xl\:tdly\:1000 {
		transition-delay: 1000ms !important;
	}

	/* TRANSITION (shorthand presets) */

	.xl\:transition\:none,
	.xl\:tr\:none {
		transition: none !important;
	}

	.xl\:transition\:all,
	.xl\:tr\:all {
		transition: all var(--duration-normal) var(--ease-in-out) !important;
	}

	.xl\:transition\:default,
	.xl\:tr\:default {
		transition: color, background-color, border-color, outline-color, fill, stroke, opacity, box-shadow, transform, translate, rotate, scale, filter, backdrop-filter var(--duration-normal) var(--ease-in-out) !important;
	}

}
