.checkBox {

}

.checkBox:disabled,
.checkBox.disabled {

}

.checkBox:hover,
.checkBox.hover {

}

.checkBox:focus,
.checkBox.focus {

}

.checkBox:active,
.checkBox.active {

}

@media (prefers-color-scheme: dark) {

    .checkBox:disabled,
    .checkBox.disabled {

    }

    .checkBox:hover,
    .checkBox.hover {

    }

    .checkBox:focus,
    .checkBox.focus {

    }

    .checkBox:active,
    .checkBox.active {
        
    }
}