<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="m3-btn.css">
</head>

<body>
    <main>
        <div>
            <button class="m3-btn btn:filled btn-shape:square">Enabled</button>
            <button class="m3-btn btn:filled btn-shape:square btn-state:disabled" disabled>Disabled</button>
            <button class="m3-btn btn:filled btn-shape:square btn-state:focus">Focus</button>
            <button class="m3-btn btn:filled btn-shape:square btn-state:hover">Hover</button>
            <button class="m3-btn btn:filled btn-shape:square btn-state:active">Active</button>
        </div>
        <div>
            <input type="checkbox" id="btn-toggle" hidden>
            <label for="btn-toggle" class="m3-btn btn:filled">Toggle</label>
        </div>
    </main>
</body>

</html>