.n-btn {
    /* ----------상수변수-------------- */
    /* --btn-height: 32px, 40px, 56px, 96px, 136px */
    --btn-height: 40px;
    --btn-padding: 0 24px;
    --color-light-bg: #944813;
    --color-light-text: #ffffff;
    --color-dark-bg: #d48700;
    --color-dark-text: #5e2808;
    --color-disabled-light-bg: rgba(29, 27, 32, 0.1);
    --color-disabled-light-text: #1D1B20;
    --color-disabled-dark-bg: rgba(230, 224, 233, 0.1);
    --color-disabled-dark-text: #E6E0E9;
    --color-btn-light-outline: #625B71;
    --color-btn-dark-outline: #CCC2DC;
    --btn-size: 14px;
    --btn-weight: 500;
    --btn-fill: 1;
    --btn-transparent: 10%;
    --btn-radius-1: 12px;
    --btn-radius-2: 20px;
    --btn-outline: 3px;
    --btn-outline-style: solid;
    --btn-outline-offset: 2px;
}

.n-btn {
    /* boxing*/
    height: var(--btn-height);
    padding: var(--btn-padding);
    border-radius: 20px;
    border: 0px;
    background-color: var(--color-light-bg);
    color: var(--color-light-text);
    margin-right: 20px;
    /* content */
    font-size: var(--btn-size);
    font-weight: var(--btn-weight);
    font-variation-settings: 'FILL' var(--btn-fill);
    line-height: 20px;
    /* effect */
    transition:
        background-color 0.2s ease,
        color 0.2s ease,
        border-radius 0.2s ease,
        outline 0.2s ease;
}

.n-btn:disabled,
.n-btn.disabled {
    --color-light-bg: var(--color-disabled-light-bg);
    --color-light-text: var(--color-disabled-light-text);
    opacity: 0.38;
}

.n-btn:hover,
.n-btn.hover {
    background: color-mix(in srgb, var(--color-light-bg), transparent var(--btn-transparent));
}

.n-btn:focus,
.n-btn.focus {
    background: color-mix(in srgb, var(--color-light-bg), transparent var(--btn-transparent));
    outline: var(--btn-outline) var(--btn-outline-style) var(--color-btn-light-outline); 
    outline-offset: var(--btn-outline-offset);
    border: none;
}

.n-btn:active,
.n-btn.active {
    border-radius: 12px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1D1B20;
    }

    .n-btn {
        --color-light-bg: var(--color-dark-bg);
        --color-light-text: var(--color-dark-text);
    }

    .n-btn:disabled,
    .n-btn.disabled {
        --color-light-bg: var(--color-disabled-dark-bg);
        --color-light-text: var(--color-disabled-dark-text);
    }

    .n-btn:focus,
    .n-btn.focus {
        outline: var(--btn-outline) var(--btn-outline-style) var(--color-btn-dark-outline);
    }
}