
:root{
    padding: 50px;
}
.n-btn{
    /* ----------상수변수-------------- */
    /* 한정된 변수로 사용할때는 좋음 but 변수가 생기면 다 넣어야함 */
    /* --btn-height: 32px, 40px, 56px, 96px, 136px */
	/* --btn-padding: 0 12px, 0 16px, 0 24px, 0 48px, 0 64px */
 
    --btn-height-2: 40px;
    --btn-padding-3: 0 24px;

    --color-light-bg: #6750A4;
    --color-light-text: #fff;
    --color-dark-bg: #D0BCFF;
    --color-dark-text: #381E72;
    --color-disabled-light-bg:rgba(29, 27, 32, 0.1) ;
    --color-disabled-light-text: #1D1B20;;
    --color-disabled-dark-bg:rgba(230, 224, 233, 0.1) ;
    --color-disabled-dark-text: #E6E0E9;
    /* --------------변수---------------- */
    --btn-color: var(--color-light-bg);
    --btn-font: var(--color-light-text);
    --btn-size: 14px;
    --btn-weight: 500;
    --btn-height: var(--btn-height-2);
    --btn-padding: var(--btn-padding-3);
    --btn-fill: 1;
}
.n-btn{
        /* boxing*/
        height: var(--btn-height);
        padding: var(--btn-padding);
        border-radius: 20px;
        border: 0px;
        background-color: var(--btn-color);
        color:var(--btn-font);
        margin-right: 20px;
        /* content */
        font-size: var(--btn-size);
        font-weight: var(--btn-weight);
        font-variation-settings: 'FILL' var(--btn-fill);
        line-height: 20px;
        /* effect */
        transition:
        background-color 0.2s ease,
        color 0.2s ease,
        border-radius 0.2s ease,
        outline 0.2s ease
        ;
  }
    .n-btn:disabled,
    .n-btn.disabled{
        --btn-color: var(--color-disabled-light-bg);
        --btn-font: var(--color-disabled-light-text);
        opacity: 0.38;
    }
    .n-btn:hover,
    .n-btn.hover{
        background: color-mix(in srgb, var(--btn-color), transparent 30%);
    }
    .n-btn:focus,
    .n-btn.focus {
        background: color-mix(in srgb, var(--btn-color), transparent 30%);
        outline: 3px solid #625B71;
        outline-offset: 2px;
        border: none;
    }
    .n-btn:active,
    .n-btn.active{
        border-radius: 12px;
    }
    @media (prefers-color-scheme: dark){
        body {
            background-color: #1D1B20;
        }
        .n-btn {
            --btn-color: var(--color-dark-bg);
            --btn-font: var(--color-dark-text);
        }
        .n-btn:disabled,
        .n-btn.disabled{
            --btn-color: var(--color-disabled-dark-bg);
            --btn-font: var(--color-disabled-dark-text);
        }
        .n-btn:focus,
        .n-btn.focus {
            outline: 3px solid #CCC2DC;
        }
    }