<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Material Design 3 Card</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
  <link rel="stylesheet" href="m3-btn.css">
  <link rel="stylesheet" href="/css/components.css">
</head>

<body>

  <div class="m3-card">
    <!-- Header Section -->
    <div class="m3-card:header">
      <div class="m3-card:avatar">A</div>
      <div class="m3-card:header-text">
        <div class="m3-card:header-title">Header</div>
        <div class="m3-card:header-subtitle">Subhead</div>
      </div>
      <button class="m3-card:menu-btn">
      </button>
    </div>

    <!-- 메인; 이미지 영역 -->
    <div class="m3-card:image">
    </div>

    <!-- Content Section -->
    <div class="m3-card:content">
      <div class="m3-card:title">Title</div>
      <div class="m3-card:subtitle">Subtitle</div>
      <p class="m3-card_:text">text</p>

      <!---------- 버튼 ----------->
      <div class="m3-btn:location">
        <button class="m3-btn m3-btn:negative">아니요</button>
        <button class="m3-btn m3-btn:positive">예</button>
      </div>
    </div>
  </div>

  <script src="m3-btn.js"></script>

</body>

</html>