<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../util/layout.css">
    <link rel="stylesheet" href="../util/style.css">
    <link rel="stylesheet" href="m3-btn.css">
</head>
<body>
    <div>
         <button class="m3-btn">enabled</button>
         <button class="m3-btn btn-state:disabled" disabled>disabled</button>
         <button class="m3-btn btn-state:focus">focus</button>
         <button class="m3-btn btn-state:hover">hover</button>
         <button class="m3-btn btn-state:active">active</button>
     </div>
</body>
</html>