body{
    padding: 8px;
}

/* 체크박스 변수 */
.m3-checkbox {
    --checkbox-main-color: var(--color-main-2);
    --checkbox-icon-color: var(--color-transparent);
    --checkbox-border-color: var(--color-base-8);
    --checkbox-state-container-width: 18px;
    --checkbox-state-container-height: 18px;
}
/* -------------- */

.m3-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    /* optional: 클릭 가능한 최소 영역 확보 */
}

.m3-checkbox input[type="checkbox"] {
    position: absolute;
    width: 48px;
    height: 48px;
    opacity: 0;
    pointer-events: none;
}

.m3-checkbox .box {
    height:40px;
    width:40px;
    position: relative;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

.m3-checkbox .box::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 2px solid var(--checkbox-border-color);
    transition: background-color 0.2s, border-color 0.2s;
    box-sizing: border-box;
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: "Material Symbols Outlined";
    font-size: 18px;
    line-height: 1;
    font-weight: var(--font-weight-medium);
    color: var(--checkbox-icon-color);
    z-index: 1;
}

/* .m3-checkbox .box.checked::before{
    content: "\e5ca"; 
}    */

.m3-checkbox.indeterminate .box::before{
    content: "\f88a";
}  

.m3-checkbox input[type="checkbox"]:checked+.box::before {
    --checkbox-icon-color: var(--color-white);
    content: "\e5ca";
    background-color: var(--checkbox-main-color);
    border-color: var(--checkbox-main-color);
}

.m3-checkbox span.text {
    margin-left: 8px;
    font-size: 16px;
    color: var(--color-base-8);
}

/* disabled */
.m3-checkbox input[type="checkbox"]:disabled + .box{  
    opacity: 0.38;
}

/* hover */
.m3-checkbox input[type="checkbox"]:not(:disabled):hover + .box {
    background-color: color-mix(in srgb, var(--checkbox-main-color), transparent 90%);
}

/* focused */
.m3-checkbox input[type="checkbox"]:not(:disabled):focus + .box{
    border-color: var(--color-base-9);
}

/* active */
.m3-checkbox input[type="checkbox"]:not(:disabled):active + .box {
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%,
     rgba(106, 142, 41, 0.3) 50%, rgba(106, 142, 41, 0.5) 100%);
    opacity: 0.9;
    border: none;
}

@media (prefers-color-scheme: dark){
    /* body{
        background-color: black;
    } */
    .m3-checkbox input[type="checkbox"]:checked+.box::before {
        --checkbox-icon-color: var(--color-main-3);
        background-color: var(--color-main-1);
        border-color: var(--color-main-1);
    }
    .m3-checkbox input[type="checkbox"]:not(:disabled):hover + .box {
        background-color: color-mix(in srgb, var(--color-main-1), transparent 90%);
    }
    .m3-checkbox input[type="checkbox"]:not(:disabled):active + .box {
        background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%,
         rgba(140, 186, 53, 0.3) 50%, rgba(140, 186, 53, 0.5) 100%);
    }
}