.m3-card {
    /* 추가 변수 선언 */
    --overflow-hidden: hidden;
    --cursor-pointer: pointer;
    --cursor-grab: grab;
    --cursor-not-allowed: not-allowed;


    /* ========== 카드의 변수 선언(기본값) ========== */
    /* boxing */
    --card-background: var(--color-base-1);
    --card-width: auto;
    --card-height: auto;
    --card-padding: var(--space-10);
    --card-border: none;
    /* --card-border: var(--border-width-2) solid var(--color-base-2); */
    --card-border-radius: var(--radius-xl);
    --card-box-shadow: 0 var(--space-1) var(--space-3) rgba(0, 0, 0, var(--opacity-40)),
        0 var(--space-1) var(--space-2) rgba(0, 0, 0, var(--opacity-50));
    --card-opacity: var(--opacity-100);
    --card-outline: none;
    --card-outline-offset: 0;
    --card-transform: none;
    
    /* font */
    --card-font-color: var(--color-base-10);
    
    /* 상태별 변수 */
    --card-focused-outline-color: var(--color-base-10);
    --card-border-outline-color: var(--color-base-10);
    --card-outlined-color: var(--color-base-10);
    /* overlay */
    --card-overflow: var(--overflow-hidden);

    /* effect */
    --card-cursor: var(--cursor-pointer);
    --card-transition: box-shadow var(--duration-5) var(--ease-out),
        transform var(--duration-5) var(--ease-out),
        opacity var(--duration-5) var(--ease-out);
}
/* ====== 다크 모드 ====== */

@media (prefers-color-scheme: dark) {
    .m3-card {
        /* 다크모드에서 변경되는 변수들만 재정의 */
        --card-background: var(--color-base-2);
        --card-font-color: var(--color-base-10);
    }

    .card\:elevated.card-state\:focused{
        --card-focused-outline-color: var(--color-base-10);
    }
    .card\:filled.card-state\:focused{
        --card-focused-outline-color: var(--color-base-10);
    }
    .card\:outlined.card-state\:focused {
        --card-border: 1px solid var(--card-border-outline-color);
        --card-outlined-color: var(--color-base-10);
        --card-outline: 3px solid var(--card-outlined-color);
    }
}

/* ====== LIGHT MODE (Default) ====== */

/* 카드 컨테이너 */
.m3-card {
    /* boxing */
    background: var(--card-background);
    width: var(--card-width);
    height: var(--card-height);
    padding: var(--card-padding);
    border: var(--card-border);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);
    opacity: var(--card-opacity);
    outline: var(--card-outline);
    outline-offset: var(--card-outline-offset);
    transform: var(--card-transform);
    color: var(--card-font-color);
    /* layout */
    overflow: var(--card-overflow);

    /* effect */
    cursor: var(--card-cursor);
    transition: var(--card-transition);
}

/* ================ Elevated-type ================ */

.card\:elevated.card-state\:enabled {
    --card-opacity: var(--opacity-100);
    --card-box-shadow: 0 var(--space-1) var(--space-3) rgba(0, 0, 0, 0.12),
        0 var(--space-1) var(--space-2) rgba(0, 0, 0, 0.14);
}

.card\:elevated.card-state\:disabled {
    --card-opacity: 0.38;
    --card-box-shadow: 0 var(--space-2) var(--space-4) rgba(0, 0, 0, 0.14);
    --card-cursor: var(--cursor-not-allowed);
}

.card\:elevated.card-state\:hovered {
    --card-box-shadow: 0 var(--space-2) var(--space-4) rgba(0, 0, 0, 0.14),
        0 var(--space-3) var(--space-4) rgba(0, 0, 0, 0.12);
    filter: brightness(0.92);
}

.card\:elevated.card-state\:focused {
    --card-box-shadow: 0 var(--space-1) var(--space-3) rgba(0, 0, 0, 0.12),
        0 var(--space-1) var(--space-2) rgba(0, 0, 0, 0.14);
    --card-outline: 2px solid var(--card-focused-outline-color);
    --card-outline-offset: var(--space-2);
    filter: brightness(0.90);
}

.card\:elevated.card-state\:dragged {
    --card-box-shadow: 0 var(--space-6) var(--space-10) rgba(0, 0, 0, 0.14),
        0 var(--space-4) var(--space-5) rgba(0, 0, 0, 0.12);
    --card-transform: scale(1.02);
    --card-cursor: var(--cursor-grab);
    filter: brightness(0.84);
}

/* ================  Filled-type ================ */

.card\:filled.card-state\:enabled {
    --card-opacity: var(--opacity-100);
    --card-box-shadow: none;
}

.card\:filled.card-state\:disabled {
    --card-opacity: 0.38;
    --card-box-shadow: none;
    --card-cursor: var(--cursor-not-allowed);
}

.card\:filled.card-state\:hovered {
    --card-box-shadow: 0 var(--space-1) var(--space-3) rgba(0, 0, 0, 0.12),
        0 var(--space-1) var(--space-2) rgba(0, 0, 0, 0.14);
    filter: brightness(0.92);
}

.card\:filled.card-state\:focused {
    --card-box-shadow: none;
    --card-outline: 2px solid var(--card-focused-outline-color);
    --card-outline-offset: var(--space-2);
    filter: brightness(0.90);
}

.card\:filled.card-state\:dragged {
    --card-box-shadow: 0 var(--space-4) var(--space-8) rgba(0, 0, 0, 0.14),
        0 var(--space-3) var(--space-4) rgba(0, 0, 0, 0.12);
    --card-transform: scale(1.02);
    --card-cursor: var(--cursor-grab);
    filter: brightness(0.84);
}

/* ================ Outlined-type ================ */

.card\:outlined.card-state\:enabled {
    --card-opacity: var(--opacity-100);
    --card-box-shadow: none;
    --card-border: 1px solid var(--card-border-outline-color);
}

.card\:outlined.card-state\:disabled {
    --card-opacity: 0.38;
    --card-box-shadow: none;
    --card-border: 1px solid var(--card-border-outline-color);
    --card-cursor: var(--cursor-not-allowed);
}

.card\:outlined.card-state\:hovered {
    --card-box-shadow: 0 var(--space-1) var(--space-3) rgba(0, 0, 0, 0.12),
        0 var(--space-1) var(--space-2) rgba(0, 0, 0, 0.14);
    --card-border: 1px solid var(--card-border-outline-color);
    filter: brightness(0.92);
}

.card\:outlined.card-state\:focused {
    --card-box-shadow: none;
    --card-border: 1px solid var(--card-focused-outline-color);
    --card-outline: 2px solid var(--card-focused-outline-color);
    --card-outline-offset: var(--space-2);
    filter: brightness(0.90);
}


.card\:outlined.card-state\:dragged {
    --card-box-shadow: 0 var(--space-6) var(--space-10) rgba(0, 0, 0, 0.14),
        0 var(--space-4) var(--space-5) rgba(0, 0, 0, 0.12);
    --card-border: 1px solid var(--card-border-outline-color);
    --card-transform: scale(1.02);
    --card-cursor: var(--cursor-grab);
    filter: brightness(0.84);
}

/* 카드 컨텐츠 */
.m3-card .content {
    padding: var(--card-content-padding);
    
}
