/* 체크박스 변수 */
.checkBox {
    --checkBox-light-main-color: var(--color-main-2);
    --checkBox-light-icon-color: var(--color-white);
    --checkBox-dark-main-color: var(--color-main-1);
    --checkBox-dark-icon-color: var(--color-main-3);
}
/* -------------- */


/* 체크박스 기본값 */
.checkBox input[type="checkbox"]{
    height: 18px;
    width: 18px;
    border-radius: 2px;

    border: 2px solid var(--color-base-8);
    appearance: none;
    
}
/* -------------- */




.checkBox:disabled,
.checkBox.disabled {

}

.checkBox:hover,
.checkBox.hover {

}

.checkBox:focus,
.checkBox.focus {

}

.checkBox:active,
.checkBox.active {

}


/* 다크모드 */
@media (prefers-color-scheme: dark) {

    .checkBox:disabled,
    .checkBox.disabled {

    }

    .checkBox:hover,
    .checkBox.hover {

    }

    .checkBox:focus,
    .checkBox.focus {

    }

    .checkBox:active,
    .checkBox.active {

    }
}