<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>M3 Card</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=more_vert" />
    <link rel="stylesheet" href="m3-card.css"/>
    <link rel="stylesheet" href="../../components.css">
    <script src="m3-card.js" defer></script>
</head>

<body>
    <div class="m3-card" draggable="true">

        <!-- 헤더 영역 -->
        <div class="m3-card:header">
            <div class="m3-card:avatar">Admin</div>
            <div class="m3-card:header-text">
                <div class="m3-card:header-title">Header</div>
                <div class="m3-card:header-subtitle">Subhead</div>
            </div>
            <button class="m3-card:menu-btn"></button>
        </div>

        <!-- 메인; 이미지 영역 -->
        <div class="m3-card:image"></div>

        <!-- 컨텐츠 영역역 -->
        <div class="m3-card:content">
            <div class="m3-card:title">Title</div>
            <div class="m3-card:subtitle">Subtitle</div>
            <p class="m3-card_:text">text</p>

            <!---------- 버튼 ----------->
            <div class="m3-btn:location">
                <button class="m3-btn m3-btn:negative">아니요</button>
                <button class="m3-btn m3-btn:positive">예</button>
            </div>
        </div>
    </div>
    <!-- 가로형 카드 -->
    <div class="m3-card-horizontal" draggable="true">
        <div class="m3-card-horizontal:content">
            <div class="m3-card-horizontal:avatar">A</div>
            <div class="m3-card-horizontal:text">
                <div class="m3-card-horizontal:title">Header</div>
                <div class="m3-card-horizontal:subtitle">Subhead</div>
            </div>
        </div>
        <div class="m3-card-horizontal:icon-area">

        </div>
    </div>
</body>

</html>