.m-dialog {
    /* 공통 상수 초기화 */
    /* 공통 상수는 --dialog 로 시작하고, 변수는 --modal 로 시작한다 */
    /* color */
    --dialog-bg: #ECE6F0;
    --dialog-primary-color: #6750A4;
    --dialog-header-font-color: #1D1B20;
    --dialog-content-font-color: #49454F;

    /* dark color */
    --dialog-dark-bg: #2B2930;
    --dialog-dark-primary-color: #D0BCFF;
    --dialog-dark-header-font-color: #E6E0E9;
    --dialog-dark-content-font-color: #CAC4D0;

    /* font size */
    --dialog-font-size-1: 24px;
    --dialog-font-size-2: 14px;

    --dialog-font-weight-1: 400;
    --dialog-font-weight-2: 500;

    /* width, height */
    --dialog-min-width: 280px;
    --dialog-max-width: 560px;

    --dialog-btn-content-height: 88px;
    --dialog-btn-width: 85px;
    --dialog-btn-height: 48px;

    /* radius */
    --dialog-radius: 28px;

    /* opacity */
    --dialog-opacity-1: 0.08;
    --dialog-opacity-2: 0.1;

    /* elevation */
    --dialog-elevation-1: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.3);

    /* padding */
    --dialog-padding-1: 24px;
    --dialog-padding-2: 16px;
    --dialog-padding-3: 12px;
    --dialog-padding-4: 10px;

    /* margin */
    --dialog-margin-1: 24px;
    --dialog-margin-2: 16px;

    /* gap */
    --dialog-gap-1: 8px;

    /* line height */
    --dialog-line-height-1: 20px;


    /* 변수 */
    /* 여기서만 수정한다 */
    --modal-bg: var(--dialog-bg);
    --modal-radius: var(--dialog-radius);
    --modal-padding: var(--dialog-padding-1);
    --modal-min-width: var(--dialog-min-width);
    --modal-max-width: var(--dialog-max-width);
    --modal-elevation: var(--dialog-elevation-1);

    --modal-color: var(--dialog-content-font-color);

    --modal-headline-font-color: var(--dialog-header-font-color);
    --modal-headline-font-size: var(--dialog-font-size-1);
    --modal-headline-font-weight: var(--dialog-font-weight-1);
    --modal-headline-margin-bottom: var(--dialog-margin-2);

    --modal-content-font-color: var(--dialog-content-font-color);
    --modal-content-font-size: var(--dialog-font-size-2);
    --modal-content-margin-bottom: var(--dialog-margin-1);
    --modal-content-line-height: var(--dialog-line-height-1);

    --modal-actions-gap: var(--dialog-gap-1);

    --modal-btn-color: var(--dialog-primary-color);
    --modal-btn-padding: var(--dialog-padding-4) var(--dialog-padding-2);

    /* Text Button specific */
    --modal-hovered-bg: color-mix(in srgb, var(--modal-btn-color) 8%, transparent);
    --modal-focused-bg: color-mix(in srgb, var(--modal-btn-color) 10%, transparent);
    --modal-pressed-bg: color-mix(in srgb, var(--modal-btn-color) 10%, transparent);
}

@media (prefers-color-scheme: dark) {
    .m-content {
        --modal-bg: var(--dialog-dark-bg);
        --modal-headline-font-color: var(--dialog-dark-header-font-color);
        --modal-content-font-color: var(--dialog-dark-content-font-color);
        --modal-btn-color: var(--dialog-dark-primary-color);
    }
}

.m-dialog {
    padding: 0;
    border: none;
    background: transparent;
    max-width: fit-content;
    height: fit-content;
    margin: auto;
    overflow: visible;
}

.m-dialog ::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

.m-dialog .modal-content {
    background: var(--modal-bg);
    padding: var(--modal-padding);
    border-radius: var(--modal-radius);
    width: auto;
    min-width: var(--modal-min-width);
    max-width: var(--modal-max-width);
    box-shadow: var(--modal-elevation);

    color: var(--modal-color);

    display: flex;
    flex-direction: column;
}

.m-dialog .modal-headline {
    margin: 0 0 var(--modal-headline-margin-bottom) 0;
    color: var(--modal-headline-font-color);
    font-size: var(--modal-headline-font-size);
    font-weight: var(--modal-headline-font-weight);
}

.m-dialog .modal-text {
    margin: 0 0 var(--modal-content-margin-bottom) 0;
    color: var(--modal-content-font-color);
    font-size: var(--modal-content-font-size);
    line-height: var(--modal-content-line-height);
}

.m-dialog .modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: var(--modal-actions-gap);

    .n-btn {
        background-color: transparent;
        color: var(--modal-btn-color);
        border: none;
        border-radius: var(--modal-radius);
        padding: var(--modal-btn-padding);
    }

    /* hover, focus, active */
    .n-btn:hover {
        background-color: var(--modal-hovered-bg);
    }

    .n-btn:focus {
        background-color: var(--modal-focused-bg);
    }

    .n-btn:active {
        background-color: var(--modal-pressed-bg);
    }
}