.m3-dialog {
    /* 공통 상수 variables.css에서 정의 어떤값 사용했는지 주석으로 표시 */
    /* color */
    /* --color-base-10: #000000;
    --color-base-9: #191919;
    --color-base-8: #585858;
    --color-sub-2: #2570b6;
    --color-sub-1: #2983d7;
    --color-base-4: #b3b3b3;
    --color-base-2: #d7d7d7;
    --color-base-3: #e5e7eb; */

    /* font size */
    /* --space-15: 24px;
    --space-8: 14px;
     */

    /* radius */
    /* --space-17: 28px; */

    /* opacity */
    /* --opacity-10: 0.1; */

    /* padding */
    /* --space-15: 24px;
    --space-14: 22px;
    --space-13: 20px;
    --space-12: 18px;
    --space-10: 16px;
    --space-8: 14px;
    --space-6: 12px;
    --space-5: 10px;
    --space-4: 8px;
    --space-3: 4px;
    --space-2: 2px;
    --space-1: 1px; */


    /* margin */
    /* --space-15: 24px;
    --space-14: 22px;
    --space-13: 20px;
    --space-12: 18px;
    --space-10: 16px;
    --space-8: 14px;
    --space-6: 12px;
    --space-5: 10px;
    --space-4: 8px;
    --space-3: 4px;
    --space-2: 2px;
    --space-1: 1px; */

    /* gap */
    /* --space-4: 8px;
    --space-3: 4px;
    --space-2: 2px;
    --space-1: 1px; */

    /* line height */
    /* --space-13: 20px;
    --space-10: 16px;
    --space-6: 12px;
    --space-4: 8px;
    --space-3: 4px; */

    /* width, height */
    /* 이거 문서에 최소, 최대 넓이로 나와있어서 수정함 */
    --dialog-min-width: 280px;
    --dialog-max-width: 560px;

    /* 변수 */
    /* 여기서만 수정한다 */
    --modal-bg: var(--color-base-3);
    --modal-radius: var(--space-17);
    --modal-padding: var(--space-15);
    --modal-min-width: var(--dialog-min-width);
    --modal-max-width: var(--dialog-max-width);

    --modal-color: var(--color-base-8);

    --modal-headline-font-color: var(--color-base-10);
    --modal-headline-font-size: var(--space-15);
    --modal-headline-font-weight: var(--font-weight-4);
    --modal-headline-margin-bottom: var(--space-14);

    --modal-content-font-color: var(--color-base-8);
    --modal-content-font-size: var(--space-8);
    --modal-content-margin-bottom: var(--space-15);
    --modal-content-line-height: var(--space-13);

    --modal-actions-gap: var(--space-4);

    --modal-btn-color: var(--color-sub-2);
    --modal-btn-padding: var(--space-12) var(--space-10);

    /* Text Button specific */
    /* --dialog-opacity-1: 0.08 -> 8% */
    --modal-hovered-bg: color-mix(in srgb, var(--modal-btn-color) 8%, transparent);
    --modal-focused-bg: color-mix(in srgb, var(--modal-btn-color) 10%, transparent);
    --modal-pressed-bg: color-mix(in srgb, var(--modal-btn-color) 10%, transparent);
}

@media (prefers-color-scheme: dark) {
    .m3-dialog {
        --modal-bg: var(--color-base-2);
        --modal-headline-font-color: var(--color-base-7);
        --modal-content-font-color: var(--color-base-6);
        --modal-btn-color: var(--color-sub-5);
    }
}


/* css 가 동적으로 생성됨 */
.m3-dialog.open {
    display: flex;
}

/*  */
.m3-dialog {
    /* 처음에는 안보여야되니까 */
    display: none;
    position: fixed;
    /* top, right, bottom, left 값을 한 번에 지정하는 속성 */
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;

    /* backdrop */
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.4);

    /* moved from .modal-container */
    background: var(--modal-bg);
    padding: var(--modal-padding);
    border-radius: var(--modal-radius);
    min-width: var(--modal-min-width);
    max-width: var(--modal-max-width);
    box-sizing: border-box;

    color: var(--modal-color);
    /* 폰트 reset.css에서 덮어져서 적용 안됨 위로 올려도 안됨 */
    font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;

    flex-direction: column;

    .header {
        margin: 0 0 var(--modal-headline-margin-bottom) 0;
        color: var(--modal-headline-font-color);
        font-size: var(--modal-headline-font-size);
        font-weight: var(--modal-headline-font-weight);
    }

    .content {
        margin: 0 0 var(--modal-content-margin-bottom) 0;
        color: var(--modal-content-font-color);
        font-size: var(--modal-content-font-size);
        line-height: var(--modal-content-line-height);
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        gap: var(--modal-actions-gap);

        /* 공통으로 바꿀시 삭제 */
        .m3-btn {
            background-color: transparent;
            color: var(--modal-btn-color);
            border: none;
            border-radius: var(--modal-radius);
            padding: var(--modal-btn-padding);

            /* effect */
            transition: background-color 0.2s ease;
        }


        /* hover, focus, active */
        .m3-btn:hover {
            background-color: var(--modal-hovered-bg);
        }

        .m3-btn:focus {
            background-color: var(--modal-focused-bg);
        }

        .m3-btn:active {
            background-color: var(--modal-pressed-bg);
        }

    }
}