.m-dialog {
    /* 공통 상수 초기화 */
    /* 공통 상수는 --dialog 로 시작하고, 변수는 --modal 로 시작한다 */
    /* color */


    --dialog-primary-color-1: #1D1B20;
    --dialog-primary-color-2: #2B2930;
    --dialog-primary-color-3: #49454F;
    --dialog-primary-color-4: #6750A4;
    --dialog-primary-color-5: #D0BCFF;
    --dialog-primary-color-6: #CAC4D0;
    --dialog-primary-color-7: #E6E0E9;
    --dialog-primary-color-8: #ECE6F0;

    /* font size */
    --dialog-size-1: 24px;
    --dialog-size-2: 14px;


    --dialog-weight-1: 400;
    --dialog-weight-2: 500;

    /* width, height */
    /* 이거 문서에 최소, 최대 넓이로 나와있어서 수정함 */
    --dialog-min-width: 280px;
    --dialog-max-width: 560px;

    --dialog-btn-content-height: 88px;
    --dialog-btn-width: 85px;
    --dialog-btn-height: 48px;

    /* radius */
    --dialog-radius: 28px;

    /* opacity */
    --dialog-opacity-1: 0.08;
    --dialog-opacity-2: 0.1;

    /* padding */
    --dialog-padding-1: 24px;
    --dialog-padding-2: 22px;
    --dialog-padding-3: 20px;
    --dialog-padding-4: 18px;
    --dialog-padding-5: 16px;
    --dialog-padding-6: 14px;
    --dialog-padding-7: 12px;
    --dialog-padding-8: 10px;
    --dialog-padding-9: 8px;
    --dialog-padding-10: 6px;
    --dialog-padding-11: 4px;
    --dialog-padding-12: 2px;
    --dialog-padding-13: 1px;


    /* margin */
    --dialog-margin-1: 24px;
    --dialog-margin-2: 22px;
    --dialog-margin-3: 20px;
    --dialog-margin-4: 18px;
    --dialog-margin-5: 16px;
    --dialog-margin-6: 14px;
    --dialog-margin-7: 12px;
    --dialog-margin-8: 10px;
    --dialog-margin-9: 8px;
    --dialog-margin-10: 6px;
    --dialog-margin-11: 4px;
    --dialog-margin-12: 2px;
    --dialog-margin-13: 1px;

    /* gap */
    --dialog-gap-1: 8px;
    --dialog-gap-2: 6px;
    --dialog-gap-3: 4px;
    --dialog-gap-4: 2px;
    --dialog-gap-5: 1px;

    /* line height */
    --dialog-line-height-1: 20px;
    --dialog-line-height-2: 16px;
    --dialog-line-height-3: 12px;
    --dialog-line-height-4: 8px;
    --dialog-line-height-5: 4px;


    /* 변수 */
    /* 여기서만 수정한다 */
    --modal-bg: var(--dialog-primary-color-8);
    --modal-radius: var(--dialog-radius);
    --modal-padding: var(--dialog-padding-1);
    --modal-min-width: var(--dialog-min-width);
    --modal-max-width: var(--dialog-max-width);

    --modal-color: var(--dialog-primary-color-3);

    --modal-headline-font-color: var(--dialog-primary-color-1);
    --modal-headline-font-size: var(--dialog-size-1);
    --modal-headline-font-weight: var(--dialog-weight-1);
    --modal-headline-margin-bottom: var(--dialog-margin-2);

    --modal-content-font-color: var(--dialog-primary-color-3);
    --modal-content-font-size: var(--dialog-size-2);
    --modal-content-margin-bottom: var(--dialog-margin-1);
    --modal-content-line-height: var(--dialog-line-height-1);

    --modal-actions-gap: var(--dialog-gap-1);

    --modal-btn-color: var(--dialog-primary-color-4);
    --modal-btn-padding: var(--dialog-padding-4) var(--dialog-padding-2);

    /* Text Button specific */
    /* --dialog-opacity-1: 0.08 -> 8% */
    --modal-hovered-bg: color-mix(in srgb, var(--modal-btn-color) 8%, transparent);
    --modal-focused-bg: color-mix(in srgb, var(--modal-btn-color) 10%, transparent);
    --modal-pressed-bg: color-mix(in srgb, var(--modal-btn-color) 10%, transparent);
}

@media (prefers-color-scheme: dark) {
    .modal-content {
        --modal-bg: var(--dialog-primary-color-2);
        --modal-headline-font-color: var(--dialog-primary-color-7);
        --modal-content-font-color: var(--dialog-primary-color-6);
        --modal-btn-color: var(--dialog-primary-color-5);
    }
}


/* css 가 동적으로 생성됨 */
.m-dialog.open {
    display: flex;
}

/*  */
.m-dialog {
    /* 처음에는 안보여야되니까 */
    display: none;
    position: fixed;
    /* top, right, bottom, left 값을 한 번에 지정하는 속성 */
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;

    .modal-content {
        background: var(--modal-bg);
        padding: var(--modal-padding);
        border-radius: var(--modal-radius);
        width: auto;
        min-width: var(--modal-min-width);
        max-width: var(--modal-max-width);

        color: var(--modal-color);

        display: flex;
        flex-direction: column;
    }

    .modal-headline {
        margin: 0 0 var(--modal-headline-margin-bottom) 0;
        color: var(--modal-headline-font-color);
        font-size: var(--modal-headline-font-size);
        font-weight: var(--modal-headline-font-weight);
    }

    .modal-text {
        margin: 0 0 var(--modal-content-margin-bottom) 0;
        color: var(--modal-content-font-color);
        font-size: var(--modal-content-font-size);
        line-height: var(--modal-content-line-height);
    }

    .modal-actions {
        display: flex;
        justify-content: flex-end;
        gap: var(--modal-actions-gap);

        .n-btn {
            background-color: transparent;
            color: var(--modal-btn-color);
            border: none;
            border-radius: var(--modal-radius);
            padding: var(--modal-btn-padding);
        }


        /* hover, focus, active */
        .n-btn:hover {
            background-color: var(--modal-hovered-bg);
        }

        .n-btn:focus {
            background-color: var(--modal-focused-bg);
        }

        .n-btn:active {
            background-color: var(--modal-pressed-bg);
        }

    }
}