
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
	--icon-size: 24px;
	--icon-family: "Material Symbols Outlined";
	--icon-color: var(--color-base-9);
	--icon-fill: 0;
	--icon-weight: 400;
	--icon-grade: 0;
	--icon-optical-size: 24;
}

@media (prefers-color-scheme: dark) {
	:root {
		--icon-color: var(--color-base-2);
	}
}

.m3-icon {
	display: inline-flex;
	width: var(--icon-size);
	height: var(--icon-size);
	overflow: hidden;
	align-items: center;
	/* justify-content: center; */

	visibility: visible;

	transition: all 0.2s ease-in-out;

	&::before {

		flex-shrink: 0;

		display: inline-flex;
		align-items: center;
		vertical-align: top;

		width: var(--icon-size);
		height: var(--icon-size);
		overflow: hidden;


		color: inherit;
		font-family: var(--icon-family);
		font-size: var(--icon-size);
		font-variation-settings: 
			"FILL" var(--icon-fill, 0), 
			"wght" var(--icon-weight, 400), 
			"GRAD" var(--icon-grade, 0), 
			"OPSZ" var(--icon-optical-size, 24);
	}

	&.hover:not(.n-deco):hover {
		border-radius: 50%;
		background-color: var(--color-base-3);
		transform: scale(1.4);

		&::before {
			transform: scale(0.72);
		}
	}

	
	/* === style  =============================== */
	&.icon-style\:outlined::before { --icon-family: "Material Symbols Outlined"; }
	&.icon-style\:rounded::before { --icon-family: "Material Symbols Rounded"; }
	&.icon-style\:sharp::before { --icon-family: "Material Symbols Sharp"; }

	/* ==== variation/filled =============================== */
	&.icon-filled\:0::before { --icon-fill: 0; }
	&.icon-filled\:1::before { --icon-fill: 1; }

	/* ==== variation/weight =============================== */
	&.icon-weight\:100::before { --icon-weight: 100; }
	&.icon-weight\:200::before { --icon-weight: 200; }
	&.icon-weight\:300::before { --icon-weight: 300; }
	&.icon-weight\:400::before { --icon-weight: 400; }
	&.icon-weight\:500::before { --icon-weight: 500; }
	&.icon-weight\:600::before { --icon-weight: 600; }
	&.icon-weight\:700::before { --icon-weight: 700; }

	/* ==== variation/grade =============================== */
	&.icon-grade\:-25::before { --icon-grade: -25; }
	&.icon-grade\:0::before { --icon-grade: 0; }
	&.icon-grade\:200::before { --icon-grade: 200; }

	/* ==== variation/optical-size =============================== */
	&.icon-optical-size\:20::before { --icon-optical-size: 20px; }
	&.icon-optical-size\:24::before { --icon-optical-size: 24px; }
	&.icon-optical-size\:40::before { --icon-optical-size: 40px; }
	&.icon-optical-size\:48::before { --icon-optical-size: 48px; }


    /* === color ======================================= */ 
    &.icon-color\:main-1::before { color: var(--color-main-1); }
    &.icon-color\:main-2::before { color: var(--color-main-2); }
    &.icon-color\:main-3::before { color: var(--color-main-3); }
    &.icon-color\:sub-1::before { color: var(--color-sub-1); }
    &.icon-color\:sub-2::before { color: var(--color-sub-2); }
    &.icon-color\:sub-3::before { color: var(--color-sub-3); }
    &.icon-color\:accent-1::before { color: var(--color-accent-1); }
    &.icon-color\:accent-2::before { color: var(--color-accent-2); }
    &.icon-color\:accent-3::before { color: var(--color-accent-3); }
    &.icon-color\:base-1::before { color: var(--color-base-1); }
    &.icon-color\:base-2::before { color: var(--color-base-2); }
    &.icon-color\:base-3::before { color: var(--color-base-3); }
    &.icon-color\:base-4::before { color: var(--color-base-4); }
    &.icon-color\:base-5::before { color: var(--color-base-5); }
    &.icon-color\:base-6::before { color: var(--color-base-6); }
    &.icon-color\:base-7::before { color: var(--color-base-7); }
    &.icon-color\:base-8::before { color: var(--color-base-8); }
    &.icon-color\:base-9::before { color: var(--color-base-9); }
    &.icon-color\:base-10::before { color: var(--color-base-10); }


	/* ---- icon-size ------------------------------------------------- */
	&.icon-size\:20 { --icon-size: 20px; }
	&.icon-size\:24 { --icon-size: 24px; }
	&.icon-size\:40 { --icon-size: 40px; }
	&.icon-size\:48 { --icon-size: 48px; }
    

}


@media (min-width: 640px) {
	
}

@media (min-width: 768px) {
	
}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}
