.m3-deco,
.m3-btn,
.m3-icon {
	--icon-size: 24px;
	--icon-family: "Material Symbols Outlined";
	--icon-color: var(--color-base-9);
	--icon-fill: 0;
	--icon-weight: 400;
	--icon-grade: 0;
	--icon-optical-size: 24;
}

@media (prefers-color-scheme: dark) {
	.m3-deco,
	.m3-btn,
	.m3-icon {
		--icon-color: var(--color-base-2);
	}
}

.m3-deco,
.m3-btn,
.m3-icon {
	width: var(--icon-size);
	height: var(--icon-size);
	overflow: hidden;
	
	visibility: visible;
	
	/* layout */
	display: inline-flex;
	align-items: center;
	vertical-align: top;

	transition: all 0.2s ease-in-out;

	&::before {

		flex-shrink: 0;

		display: inline-flex;
		align-items: center;
		vertical-align: top;

		width: var(--icon-size);
		height: var(--icon-size);
		overflow: hidden;


		color: inherit;
		font-family: var(--icon-family);
		font-size: var(--icon-size);
		font-variation-settings: 
			"FILL" var(--icon-fill, 0), 
			"wght" var(--icon-weight, 400), 
			"GRAD" var(--icon-grade, 0), 
			"OPSZ" var(--icon-optical-size, 24);	

	}


	&.icon-hover:not(.n-deco):hover {
		border-radius: 50%;		
		transform: scale(1.4);

		&::before {
			transform: scale(0.8);
		}
	}

	
	/* === style  =============================== */
	&.icon-style\:outlined::before { --icon-family: "Material Symbols Outlined"; }
	&.icon-style\:rounded::before { --icon-family: "Material Symbols Rounded"; }
	&.icon-style\:sharp::before { --icon-family: "Material Symbols Sharp"; }

	/* ==== variation/filled =============================== */
	&.icon-filled\:0::before { --icon-fill: 0; }
	&.icon-filled\:1::before { --icon-fill: 1; }

	/* ==== variation/weight =============================== */
	&.icon-weight\:100::before { --icon-weight: 100; }
	&.icon-weight\:200::before { --icon-weight: 200; }
	&.icon-weight\:300::before { --icon-weight: 300; }
	&.icon-weight\:400::before { --icon-weight: 400; }
	&.icon-weight\:500::before { --icon-weight: 500; }
	&.icon-weight\:600::before { --icon-weight: 600; }
	&.icon-weight\:700::before { --icon-weight: 700; }

	/* ==== variation/grade =============================== */
	&.icon-grade\:1::before { --icon-grade: -25; }
	&.icon-grade\:2::before { --icon-grade: 0; }
	&.icon-grade\:3::before { --icon-grade: 200; }

	/* ==== variation/optical-size =============================== */
	&.icon-optical-size\:1::before { --icon-optical-size: 20; }
	&.icon-optical-size\:2::before { --icon-optical-size: 24; }
	&.icon-optical-size\:3::before { --icon-optical-size: 40; }
	&.icon-optical-size\:4::before { --icon-optical-size: 48; }


    /* === color ======================================= */ 
    &.icon-color\:main-1::before { color: var(--color-main-1); }
    &.icon-color\:main-2::before { color: var(--color-main-2); }
    &.icon-color\:main-3::before { color: var(--color-main-3); }
    &.icon-color\:sub-1::before { color: var(--color-sub-1); }
    &.icon-color\:sub-2::before { color: var(--color-sub-2); }
    &.icon-color\:sub-3::before { color: var(--color-sub-3); }
    &.icon-color\:accent-1::before { color: var(--color-accent-1); }
    &.icon-color\:accent-2::before { color: var(--color-accent-2); }
    &.icon-color\:accent-3::before { color: var(--color-accent-3); }
    &.icon-color\:base-1::before { color: var(--color-base-1); }
    &.icon-color\:base-2::before { color: var(--color-base-2); }
    &.icon-color\:base-3::before { color: var(--color-base-3); }
    &.icon-color\:base-4::before { color: var(--color-base-4); }
    &.icon-color\:base-5::before { color: var(--color-base-5); }
    &.icon-color\:base-6::before { color: var(--color-base-6); }
    &.icon-color\:base-7::before { color: var(--color-base-7); }
    &.icon-color\:base-8::before { color: var(--color-base-8); }
    &.icon-color\:base-9::before { color: var(--color-base-9); }
    &.icon-color\:base-10::before { color: var(--color-base-10); }
    &.icon-color\:warning-1::before { color: var(--color-warning-1); }
    &.icon-color\:warning-2::before { color: var(--color-warning-2); }
    &.icon-color\:warning-3::before { color: var(--color-warning-3); }
    &.icon-color\:danger-1::before { color: var(--color-danger-1); }
    &.icon-color\:danger-2::before { color: var(--color-danger-2); }
    &.icon-color\:danger-3::before { color: var(--color-danger-3); }


	/* ---- icon-size ------------------------------------------------- */
	&.icon-size\:1 { --icon-size: 20px; }
	&.icon-size\:2 { --icon-size: 24px; }
	&.icon-size\:3 { --icon-size: 40px; }
	&.icon-size\:4 { --icon-size: 48px; }

}

/* .m3-deco 지원을 위한 스타일 */
/* .m3-deco::before {

	flex-shrink: 0;

	display: inline-flex;
	align-items: center;
	vertical-align: top;

	width: var(--icon-size);
	height: var(--icon-size);
	overflow: hidden;


	color: inherit;
	font-family: var(--icon-family);
	font-size: var(--icon-size);
	font-variation-settings: 
		"FILL" var(--icon-fill, 0), 
		"wght" var(--icon-weight, 400), 
		"GRAD" var(--icon-grade, 0), 
		"OPSZ" var(--icon-optical-size, 24);	

} */


@media (min-width: 640px) {
	.sm\:m3-icon {
		/* === style  =============================== */
		&.icon-style\:outlined::before { --icon-family: "Material Symbols Outlined"; }
		&.icon-style\:rounded::before { --icon-family: "Material Symbols Rounded"; }
		&.icon-style\:sharp::before { --icon-family: "Material Symbols Sharp"; }

		/* ==== variation/filled =============================== */
		&.icon-filled\:0::before { --icon-fill: 0; }
		&.icon-filled\:1::before { --icon-fill: 1; }

		/* ==== variation/weight =============================== */
		&.icon-weight\:100::before { --icon-weight: 100; }
		&.icon-weight\:200::before { --icon-weight: 200; }
		&.icon-weight\:300::before { --icon-weight: 300; }
		&.icon-weight\:400::before { --icon-weight: 400; }
		&.icon-weight\:500::before { --icon-weight: 500; }
		&.icon-weight\:600::before { --icon-weight: 600; }
		&.icon-weight\:700::before { --icon-weight: 700; }

		/* ==== variation/grade =============================== */
		&.icon-grade\:1::before { --icon-grade: -25; }
		&.icon-grade\:2::before { --icon-grade: 0; }
		&.icon-grade\:3::before { --icon-grade: 200; }

		/* ==== variation/optical-size =============================== */
		&.icon-optical-size\:1::before { --icon-optical-size: 20; }
		&.icon-optical-size\:2::before { --icon-optical-size: 24; }
		&.icon-optical-size\:3::before { --icon-optical-size: 40; }
		&.icon-optical-size\:4::before { --icon-optical-size: 48; }


		/* === color ======================================= */ 
		&.icon-color\:main-1::before { color: var(--color-main-1); }
		&.icon-color\:main-2::before { color: var(--color-main-2); }
		&.icon-color\:main-3::before { color: var(--color-main-3); }
		&.icon-color\:sub-1::before { color: var(--color-sub-1); }
		&.icon-color\:sub-2::before { color: var(--color-sub-2); }
		&.icon-color\:sub-3::before { color: var(--color-sub-3); }
		&.icon-color\:accent-1::before { color: var(--color-accent-1); }
		&.icon-color\:accent-2::before { color: var(--color-accent-2); }
		&.icon-color\:accent-3::before { color: var(--color-accent-3); }
		&.icon-color\:base-1::before { color: var(--color-base-1); }
		&.icon-color\:base-2::before { color: var(--color-base-2); }
		&.icon-color\:base-3::before { color: var(--color-base-3); }
		&.icon-color\:base-4::before { color: var(--color-base-4); }
		&.icon-color\:base-5::before { color: var(--color-base-5); }
		&.icon-color\:base-6::before { color: var(--color-base-6); }
		&.icon-color\:base-7::before { color: var(--color-base-7); }
		&.icon-color\:base-8::before { color: var(--color-base-8); }
		&.icon-color\:base-9::before { color: var(--color-base-9); }
		&.icon-color\:base-10::before { color: var(--color-base-10); }
		&.icon-color\:warning-1::before { color: var(--color-warning-1); }
		&.icon-color\:warning-2::before { color: var(--color-warning-2); }
		&.icon-color\:warning-3::before { color: var(--color-warning-3); }
		&.icon-color\:danger-1::before { color: var(--color-danger-1); }
		&.icon-color\:danger-2::before { color: var(--color-danger-2); }
		&.icon-color\:danger-3::before { color: var(--color-danger-3); }


		/* ---- icon-size ------------------------------------------------- */
		&.icon-size\:1 { --icon-size: 20px; }
		&.icon-size\:2 { --icon-size: 24px; }
		&.icon-size\:3 { --icon-size: 40px; }
		&.icon-size\:4 { --icon-size: 48px; }
	}
}

@media (min-width: 768px) {
	
	.md\:m3-icon {
		/* === style  =============================== */
		&.icon-style\:outlined::before { --icon-family: "Material Symbols Outlined"; }
		&.icon-style\:rounded::before { --icon-family: "Material Symbols Rounded"; }
		&.icon-style\:sharp::before { --icon-family: "Material Symbols Sharp"; }

		/* ==== variation/filled =============================== */
		&.icon-filled\:0::before { --icon-fill: 0; }
		&.icon-filled\:1::before { --icon-fill: 1; }

		/* ==== variation/weight =============================== */
		&.icon-weight\:100::before { --icon-weight: 100; }
		&.icon-weight\:200::before { --icon-weight: 200; }
		&.icon-weight\:300::before { --icon-weight: 300; }
		&.icon-weight\:400::before { --icon-weight: 400; }
		&.icon-weight\:500::before { --icon-weight: 500; }
		&.icon-weight\:600::before { --icon-weight: 600; }
		&.icon-weight\:700::before { --icon-weight: 700; }

		/* ==== variation/grade =============================== */
		&.icon-grade\:1::before { --icon-grade: -25; }
		&.icon-grade\:2::before { --icon-grade: 0; }
		&.icon-grade\:3::before { --icon-grade: 200; }

		/* ==== variation/optical-size =============================== */
		&.icon-optical-size\:1::before { --icon-optical-size: 20; }
		&.icon-optical-size\:2::before { --icon-optical-size: 24; }
		&.icon-optical-size\:3::before { --icon-optical-size: 40; }
		&.icon-optical-size\:4::before { --icon-optical-size: 48; }


		/* === color ======================================= */ 
		&.icon-color\:main-1::before { color: var(--color-main-1); }
		&.icon-color\:main-2::before { color: var(--color-main-2); }
		&.icon-color\:main-3::before { color: var(--color-main-3); }
		&.icon-color\:sub-1::before { color: var(--color-sub-1); }
		&.icon-color\:sub-2::before { color: var(--color-sub-2); }
		&.icon-color\:sub-3::before { color: var(--color-sub-3); }
		&.icon-color\:accent-1::before { color: var(--color-accent-1); }
		&.icon-color\:accent-2::before { color: var(--color-accent-2); }
		&.icon-color\:accent-3::before { color: var(--color-accent-3); }
		&.icon-color\:base-1::before { color: var(--color-base-1); }
		&.icon-color\:base-2::before { color: var(--color-base-2); }
		&.icon-color\:base-3::before { color: var(--color-base-3); }
		&.icon-color\:base-4::before { color: var(--color-base-4); }
		&.icon-color\:base-5::before { color: var(--color-base-5); }
		&.icon-color\:base-6::before { color: var(--color-base-6); }
		&.icon-color\:base-7::before { color: var(--color-base-7); }
		&.icon-color\:base-8::before { color: var(--color-base-8); }
		&.icon-color\:base-9::before { color: var(--color-base-9); }
		&.icon-color\:base-10::before { color: var(--color-base-10); }
		&.icon-color\:warning-1::before { color: var(--color-warning-1); }
		&.icon-color\:warning-2::before { color: var(--color-warning-2); }
		&.icon-color\:warning-3::before { color: var(--color-warning-3); }
		&.icon-color\:danger-1::before { color: var(--color-danger-1); }
		&.icon-color\:danger-2::before { color: var(--color-danger-2); }
		&.icon-color\:danger-3::before { color: var(--color-danger-3); }


		/* ---- icon-size ------------------------------------------------- */
		&.icon-size\:1 { --icon-size: 20px; }
		&.icon-size\:2 { --icon-size: 24px; }
		&.icon-size\:3 { --icon-size: 40px; }
		&.icon-size\:4 { --icon-size: 48px; }
	}
}

@media (min-width: 1024px) {

	.lg\:m3-icon {
		/* === style  =============================== */
		&.icon-style\:outlined::before { --icon-family: "Material Symbols Outlined"; }
		&.icon-style\:rounded::before { --icon-family: "Material Symbols Rounded"; }
		&.icon-style\:sharp::before { --icon-family: "Material Symbols Sharp"; }

		/* ==== variation/filled =============================== */
		&.icon-filled\:0::before { --icon-fill: 0; }
		&.icon-filled\:1::before { --icon-fill: 1; }

		/* ==== variation/weight =============================== */
		&.icon-weight\:100::before { --icon-weight: 100; }
		&.icon-weight\:200::before { --icon-weight: 200; }
		&.icon-weight\:300::before { --icon-weight: 300; }
		&.icon-weight\:400::before { --icon-weight: 400; }
		&.icon-weight\:500::before { --icon-weight: 500; }
		&.icon-weight\:600::before { --icon-weight: 600; }
		&.icon-weight\:700::before { --icon-weight: 700; }

		/* ==== variation/grade =============================== */
		&.icon-grade\:1::before { --icon-grade: -25; }
		&.icon-grade\:2::before { --icon-grade: 0; }
		&.icon-grade\:3::before { --icon-grade: 200; }

		/* ==== variation/optical-size =============================== */
		&.icon-optical-size\:1::before { --icon-optical-size: 20; }
		&.icon-optical-size\:2::before { --icon-optical-size: 24; }
		&.icon-optical-size\:3::before { --icon-optical-size: 40; }
		&.icon-optical-size\:4::before { --icon-optical-size: 48; }


		/* === color ======================================= */ 
		&.icon-color\:main-1::before { color: var(--color-main-1); }
		&.icon-color\:main-2::before { color: var(--color-main-2); }
		&.icon-color\:main-3::before { color: var(--color-main-3); }
		&.icon-color\:sub-1::before { color: var(--color-sub-1); }
		&.icon-color\:sub-2::before { color: var(--color-sub-2); }
		&.icon-color\:sub-3::before { color: var(--color-sub-3); }
		&.icon-color\:accent-1::before { color: var(--color-accent-1); }
		&.icon-color\:accent-2::before { color: var(--color-accent-2); }
		&.icon-color\:accent-3::before { color: var(--color-accent-3); }
		&.icon-color\:base-1::before { color: var(--color-base-1); }
		&.icon-color\:base-2::before { color: var(--color-base-2); }
		&.icon-color\:base-3::before { color: var(--color-base-3); }
		&.icon-color\:base-4::before { color: var(--color-base-4); }
		&.icon-color\:base-5::before { color: var(--color-base-5); }
		&.icon-color\:base-6::before { color: var(--color-base-6); }
		&.icon-color\:base-7::before { color: var(--color-base-7); }
		&.icon-color\:base-8::before { color: var(--color-base-8); }
		&.icon-color\:base-9::before { color: var(--color-base-9); }
		&.icon-color\:base-10::before { color: var(--color-base-10); }
		&.icon-color\:warning-1::before { color: var(--color-warning-1); }
		&.icon-color\:warning-2::before { color: var(--color-warning-2); }
		&.icon-color\:warning-3::before { color: var(--color-warning-3); }
		&.icon-color\:danger-1::before { color: var(--color-danger-1); }
		&.icon-color\:danger-2::before { color: var(--color-danger-2); }
		&.icon-color\:danger-3::before { color: var(--color-danger-3); }


		/* ---- icon-size ------------------------------------------------- */
		&.icon-size\:1 { --icon-size: 20px; }
		&.icon-size\:2 { --icon-size: 24px; }
		&.icon-size\:3 { --icon-size: 40px; }
		&.icon-size\:4 { --icon-size: 48px; }
	}
}

@media (min-width: 1280px) {

	.xl\:m3-icon {
		/* === style  =============================== */
		&.icon-style\:outlined::before { --icon-family: "Material Symbols Outlined"; }
		&.icon-style\:rounded::before { --icon-family: "Material Symbols Rounded"; }
		&.icon-style\:sharp::before { --icon-family: "Material Symbols Sharp"; }

		/* ==== variation/filled =============================== */
		&.icon-filled\:0::before { --icon-fill: 0; }
		&.icon-filled\:1::before { --icon-fill: 1; }

		/* ==== variation/weight =============================== */
		&.icon-weight\:100::before { --icon-weight: 100; }
		&.icon-weight\:200::before { --icon-weight: 200; }
		&.icon-weight\:300::before { --icon-weight: 300; }
		&.icon-weight\:400::before { --icon-weight: 400; }
		&.icon-weight\:500::before { --icon-weight: 500; }
		&.icon-weight\:600::before { --icon-weight: 600; }
		&.icon-weight\:700::before { --icon-weight: 700; }

		/* ==== variation/grade =============================== */
		&.icon-grade\:1::before { --icon-grade: -25; }
		&.icon-grade\:2::before { --icon-grade: 0; }
		&.icon-grade\:3::before { --icon-grade: 200; }

		/* ==== variation/optical-size =============================== */
		&.icon-optical-size\:1::before { --icon-optical-size: 20; }
		&.icon-optical-size\:2::before { --icon-optical-size: 24; }
		&.icon-optical-size\:3::before { --icon-optical-size: 40; }
		&.icon-optical-size\:4::before { --icon-optical-size: 48; }


		/* === color ======================================= */ 
		&.icon-color\:main-1::before { color: var(--color-main-1); }
		&.icon-color\:main-2::before { color: var(--color-main-2); }
		&.icon-color\:main-3::before { color: var(--color-main-3); }
		&.icon-color\:sub-1::before { color: var(--color-sub-1); }
		&.icon-color\:sub-2::before { color: var(--color-sub-2); }
		&.icon-color\:sub-3::before { color: var(--color-sub-3); }
		&.icon-color\:accent-1::before { color: var(--color-accent-1); }
		&.icon-color\:accent-2::before { color: var(--color-accent-2); }
		&.icon-color\:accent-3::before { color: var(--color-accent-3); }
		&.icon-color\:base-1::before { color: var(--color-base-1); }
		&.icon-color\:base-2::before { color: var(--color-base-2); }
		&.icon-color\:base-3::before { color: var(--color-base-3); }
		&.icon-color\:base-4::before { color: var(--color-base-4); }
		&.icon-color\:base-5::before { color: var(--color-base-5); }
		&.icon-color\:base-6::before { color: var(--color-base-6); }
		&.icon-color\:base-7::before { color: var(--color-base-7); }
		&.icon-color\:base-8::before { color: var(--color-base-8); }
		&.icon-color\:base-9::before { color: var(--color-base-9); }
		&.icon-color\:base-10::before { color: var(--color-base-10); }
		&.icon-color\:warning-1::before { color: var(--color-warning-1); }
		&.icon-color\:warning-2::before { color: var(--color-warning-2); }
		&.icon-color\:warning-3::before { color: var(--color-warning-3); }
		&.icon-color\:danger-1::before { color: var(--color-danger-1); }
		&.icon-color\:danger-2::before { color: var(--color-danger-2); }
		&.icon-color\:danger-3::before { color: var(--color-danger-3); }


		/* ---- icon-size ------------------------------------------------- */
		&.icon-size\:1 { --icon-size: 20px; }
		&.icon-size\:2 { --icon-size: 24px; }
		&.icon-size\:3 { --icon-size: 40px; }
		&.icon-size\:4 { --icon-size: 48px; }
	}
}
