<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Material 3 스타일 라디오 버튼 (CSS)</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="m3-radio-btn.css">
</head>

<body>

    <label class="n-radio">
        <input type="radio" name="example" checked />
        <span class="n-radio-label">옵션 1</span>
    </label>

    <label class="n-radio">
        <input type="radio" name="example" />
        <span class="n-radio-label">옵션 2</span>
    </label>

    <label class="n-radio radio:hover">
        <input type="radio" name="example" />
        <span class="n-radio-label">옵션 2</span>
    </label>

    <label class="n-radio">
        <input type="radio" name="example" disabled />
        <span class="n-radio-label">옵션 3 (비활성)</span>
    </label>


    <!-- 접근성: 라디오를 keyboard로 조작할 때 label이 클릭되도록 하기 위해 input은 label 안에 넣음 -->
</body>

</html>