.m3-radio {
    --md3-radio-size: 20px;
    --md3-touch-size: 48px;
    --md3-stroke-width: 2px;
    --md3-inner-stroke-width: 5px;
    --md3-inner-dot-size: 10px;
    --md3-spacing-label: 15px;
    --md3-label-size: 15px;

    --md3-select-primary: var(--color-main-2);
    --md3-unselect-primary: var(--color-base-9);
    --md3-focus-ring: 3px;

    --alpha-1: 8%;
    --alpha-2: 10%;
    --alpha-3: 62%;

    --transparent-1: 10%;
    --transparent-2: 90%;
    --transparent-3: 92%;
    --transparent-disabled: 62%;

    --outline-offset: 5px;
}

@media (prefers-color-scheme: dark) {
    .m3-radio {
        --md3-select-primary: var(--color-main-1);
    }
}

.m3-radio {
    display: inline-flex;
    align-items: center;
    gap: var(--md3-spacing-label);
    cursor: pointer;
    user-select: none;
}

.m3-radio input[type="radio"] {
    appearance: none;
    width: var(--md3-touch-size);
    height: var(--md3-touch-size);
    margin: var(--scale-0);
    border: none;
    position: relative;
    background: transparent;
    cursor: pointer;
}

.m3-radio input[type="radio"]::before,
.m3-radio input[type="radio"]::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    box-sizing: border-box;
    transition: all 180ms ease;
}

/* outer ring */
.m3-radio input[type="radio"]::before {
    width: var(--md3-radio-size);
    height: var(--md3-radio-size);
    border-radius: var(--radius-8);
    border: var(--md3-stroke-width) solid var(--md3-unselect-primary);
}

/* inner dot */
.m3-radio input[type="radio"]::after {
    width: 0;
    height: 0;
    border-radius: var(--radius-8);
    border: var(--md3-inner-stroke-width) solid var(--md3-select-primary);
    opacity: var(--opacity-0);
}

/* checked */
.m3-radio input[type="radio"]:checked::before {
    border-color: var(--md3-select-primary);
}

.m3-radio input[type="radio"]:checked::after {
    opacity: var(--opacity-100);
    transition-duration: 120ms;
}

/* hover */
.m3-radio input[type="radio"]:hover::before {
    box-shadow: 0 0 0 10px color-mix(in srgb, var(--md3-unselect-primary), transparent var(--transparent-3));
    background-color: color-mix(in srgb, var(--md3-unselect-primary), transparent var(--transparent-2));
}

/* hover */
.m3-radio input[type="radio"]:checked:hover::before {
    box-shadow: 0 0 0 10px color-mix(in srgb, var(--md3-select-primary), transparent var(--transparent-3));
    background-color: color-mix(in srgb, var(--md3-select-primary), transparent var(--transparent-2));
}

/* press */
.m3-radio input[type="radio"]:active::before {
    box-shadow: 0 0 0 10px color-mix(in srgb, var(--md3-unselect-primary), transparent var(--transparent-2));
    background-color: color-mix(in srgb, var(--md3-unselect-primary), transparent var(--transparent-2));
}

.m3-radio input[type="radio"]:checked:active::before {
    box-shadow: 0 0 0 10px color-mix(in srgb, var(--md3-select-primary), transparent var(--transparent-2));
    background-color: color-mix(in srgb, var(--md3-select-primary), transparent var(--transparent-2));
}


/* focus ring */
.m3-radio input[type="radio"]:focus::before {
    outline: 1px solid color-mix(in srgb, var(--md3-unselect-primary), transparent var(--transparent-1));
    outline-offset: var(--outline-offset);
}

.m3-radio input[type="radio"]:checked:focus::before {
    outline: 1px solid color-mix(in srgb, var(--md3-select-primary), transparent var(--transparent-1));
    outline-offset: var(--outline-offset);
}

/* disabled */
.m3-radio input[type="radio"]:disabled {
    cursor: not-allowed;
    box-shadow: none;
}

/* disabled */

.m3-radio input[type="radio"]:checked:disabled::before,
.m3-radio input[type="radio"]:checked:disabled::after,
.m3-radio input[type="radio"]:disabled::before,
.m3-radio input[type="radio"]:disabled::after {
    border-color: color-mix(in srgb, var(--md3-unselect-primary), transparent var(--transparent-disabled));
    background-color: transparent;
    box-shadow: none;
}

.m3-radio .m3-radio-label {
    font-size: var(--md3-label-size);
    color: var(--md3-unselect-primary);
}

.radio\:hover input[type="radio"]::before {
    box-shadow: 0 0 0 10px color-mix(in srgb, var(--md3-unselect-primary), transparent var(--transparent-3));
    background-color: color-mix(in srgb, var(--md3-unselect-primary), transparent var(--transparent-2));
}


.radio\:hover input[type="radio"]:checked::before {
    box-shadow: 0 0 0 10px color-mix(in srgb, var(--md3-select-primary), transparent var(--transparent-3));
    background-color: color-mix(in srgb, var(--md3-select-primary), transparent var(--transparent-2));
}

.radio\:press input[type="radio"]::before {
    box-shadow: 0 0 0 10px color-mix(in srgb, var(--md3-unselect-primary), transparent var(--transparent-2));
    background-color: color-mix(in srgb, var(--md3-unselect-primary), transparent var(--transparent-2));
}

.radio\:press input[type="radio"]:checked::before {
    box-shadow: 0 0 0 10px color-mix(in srgb, var(--md3-select-primary), transparent var(--transparent-2));
    background-color: color-mix(in srgb, var(--md3-select-primary), transparent var(--transparent-2));
}

.radio\:focus input[type="radio"]::before {
    outline: 1px solid color-mix(in srgb, var(--md3-unselect-primary), transparent var(--transparent-1));
    outline-offset: var(--outline-offset);
}

.radio\:focus input[type="radio"]:checked::before {
    outline: 1px solid color-mix(in srgb, var(--md3-select-primary), transparent var(--transparent-1));
    outline-offset: var(--outline-offset);
}