<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Material 3 스타일 라디오 버튼 (CSS)</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="m3-radio-btn.css">
</head>

<body>
    <label class="m3-radio">
        <input type="radio" name="example"/>
        <span class="m3-radio-label">Option1</span>
    </label>
    <label class="m3-radio">
        <input type="radio" name="example"/>
        <span class="m3-radio-label">Option2</span>
    </label>
    <label class="m3-radio">
        <input type="radio" name="example"/>
        <span class="m3-radio-label">Option3</span>
    </label>
    <label class="m3-radio">
        <input type="radio" name="example"/>
        <span class="m3-radio-label">Option4</span>
    </label>
    <label class="m3-radio">
        <input type="radio" name="example"/>
        <span class="m3-radio-label">Option5</span>
    </label>
    <br>
    <label class="m3-radio">
        <input type="radio" name="enabled"/>
        <span class="m3-radio-label">Enabled</span>
    </label>

    <label class="m3-radio radio:hover">
        <input type="radio" name="hover"/>
        <span class="m3-radio-label">Hover</span>
    </label>

    <label class="m3-radio radio:focus">
        <input type="radio" name="focus"/>
        <span class="m3-radio-label">Focus</span>
    </label>

    <label class="m3-radio radio:press">
        <input type="radio" name="pressed"/>
        <span class="m3-radio-label">Pressed</span>
    </label>

    <label class="m3-radio">
        <input type="radio" name="disabled" disabled/>
        <span class="m3-radio-label">Disabled</span>
    </label>
    <br>
    <label class="m3-radio">
        <input type="radio" name="example1" checked />
        <span class="m3-radio-label">Enabled</span>
    </label>

    <label class="m3-radio radio:hover">
        <input type="radio" name="example2" checked />
        <span class="m3-radio-label">Hover</span>
    </label>

    <label class="m3-radio radio:focus">
        <input type="radio" name="example3" checked />
        <span class="m3-radio-label">Focus</span>
    </label>

    <label class="m3-radio radio:press">
        <input type="radio" name="example4" checked />
        <span class="m3-radio-label">Pressed</span>
    </label>

    <label class="m3-radio">
        <input type="radio" name="example5" checked disabled />
        <span class="m3-radio-label">Disabled</span>
    </label>
    <!-- 접근성: 라디오를 keyboard로 조작할 때 label이 클릭되도록 하기 위해 input은 label 안에 넣음 -->
</body>

</html>