<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <!-- <link rel="stylesheet" href="./css/n-btn.css"> -->

    <!-- <style>
        .n-btn:first-child {
            border: 2px solid red;
            width: 50px;
        }
        .n-btn:hover {
            background: blue;
            width: 300px;
            /* height: 100px; */
            transform: rotateZ(40deg);
        }
    </style> -->
</head>
<body>
    <div class="wrap">
        <button class="n-btn enabled">Enabled</button>
        <button class="n-btn n-btn:disabled" disabled>Disabled</button>
        <button class="n-btn n-btn:hover">Hovered</button>
        <button class="n-btn n-btn:focus">Focused</button>
        <button class="n-btn n-btn:active">Pressed</button>    
    </div>
</body>
</html>