.cursor\:alias,                 .csr\:alias                 { cursor: alias !important; }
.cursor\:all-scroll,            .csr\:all-scroll            { cursor: all-scroll !important; }
.cursor\:auto,                  .csr\:auto                  { cursor: auto !important; }
.cursor\:cell,                  .csr\:cell                  { cursor: cell !important; }
.cursor\:col-resize,            .csr\:col-resize            { cursor: col-resize !important; }
.cursor\:context-menu,          .csr\:context-menu          { cursor: context-menu !important; }
.cursor\:copy,                  .csr\:copy                  { cursor: copy !important; }
.cursor\:crosshair,             .csr\:crosshair             { cursor: crosshair !important; }
.cursor\:default,               .csr\:default               { cursor: default !important; }
.cursor\:e-resize,              .csr\:e-resize              { cursor: e-resize !important; }
.cursor\:ew-resize,             .csr\:ew-resize             { cursor: ew-resize !important; }
.cursor\:grab,                  .csr\:grab                  { cursor: grab !important; }
.cursor\:grabbing,              .csr\:grabbing              { cursor: grabbing !important; }
.cursor\:help,                  .csr\:help                  { cursor: help !important; }
.cursor\:move,                  .csr\:move                  { cursor: move !important; }
.cursor\:n-resize,              .csr\:n-resize              { cursor: n-resize !important; }
.cursor\:ne-resize,             .csr\:ne-resize             { cursor: ne-resize !important; }
.cursor\:ns-resize,             .csr\:ns-resize             { cursor: ns-resize !important; }
.cursor\:nw-resize,             .csr\:ns-resize             { cursor: nw-resize !important; }
.cursor\:nesw-resize,           .csr\:nesw-resize           { cursor: nesw-resize !important; }
.cursor\:no-drop,               .csr\:no-drop               { cursor: no-drop !important; }
.cursor\:not-allowed,           .csr\:not-allowed           { cursor: not-allowed !important; }
.cursor\:pointer,               .csr\:pointer               { cursor: pointer !important; }
.cursor\:progress,              .csr\:progress              { cursor: progress !important; }
.cursor\:row-resize,            .csr\:row-resize            { cursor: row-resize !important; }
.cursor\:s-resize,              .csr\:s-resize              { cursor: s-resize !important; }
.cursor\:se-resize,             .csr\:se-resize             { cursor: se-resize !important; }
.cursor\:sw-resize,             .csr\:sw-resize             { cursor: sw-resize !important; }
.cursor\:text,                  .csr\:text                  { cursor: text !important; }
.cursor\:vertical-text,         .csr\:vertical-text         { cursor: vertical-text !important; }
.cursor\:w-resize,              .csr\:w-resize              { cursor: w-resize !important; }
.cursor\:wait,                  .csr\:wait                  { cursor: wait !important; }
.cursor\:zoom-in,               .csr\:zoom-in               { cursor: zoom-in !important; }
.cursor\:zoom-out,              .csr\:zoom-out              { cursor: zoom-out !important; }
.cursor\:none,                  .csr\:none                  { cursor: none !important; }

/* ---- medium ------------------------------------------------- */
@media (min-width: 768px) {
  .md\:cursor\:alias,           .md\:csr\:alias             { cursor: alias !important; }
  .md\:cursor\:all-scroll,      .md\:csr\:all-scroll        { cursor: all-scroll !important; }
  .md\:cursor\:auto,            .md\:csr\:auto              { cursor: auto !important; }
  .md\:cursor\:cell,            .md\:csr\:cell              { cursor: cell !important; }
  .md\:cursor\:col-resize,      .md\:csr\:col-resize        { cursor: col-resize !important; }
  .md\:cursor\:context-menu,    .md\:csr\:context-menu      { cursor: context-menu !important; }
  .md\:cursor\:copy,            .md\:csr\:copy              { cursor: copy !important; }
  .md\:cursor\:crosshair,       .md\:csr\:crosshair         { cursor: crosshair !important; }
  .md\:cursor\:default,         .md\:csr\:default           { cursor: default !important; }
  .md\:cursor\:e-resize,        .md\:csr\:e-resize          { cursor: e-resize !important; }
  .md\:cursor\:ew-resize,       .md\:csr\:ew-resize         { cursor: ew-resize !important; }
  .md\:cursor\:grab,            .md\:csr\:grab              { cursor: grab !important; }
  .md\:cursor\:grabbing,        .md\:csr\:grabbing          { cursor: grabbing !important; }
  .md\:cursor\:help,            .md\:csr\:help              { cursor: help !important; }
  .md\:cursor\:move,            .md\:csr\:move              { cursor: move !important; }
  .md\:cursor\:n-resize,        .md\:csr\:n-resize          { cursor: n-resize !important; }
  .md\:cursor\:ne-resize,       .md\:csr\:ne-resize         { cursor: ne-resize !important; }
  .md\:cursor\:ns-resize,       .md\:csr\:ns-resize         { cursor: ns-resize !important; }
  .md\:cursor\:nw-resize,       .md\:csr\:ns-resize         { cursor: nw-resize !important; }
  .md\:cursor\:nesw-resize,     .md\:csr\:nesw-resize       { cursor: nesw-resize !important; }
  .md\:cursor\:no-drop,         .md\:csr\:no-drop           { cursor: no-drop !important; }
  .md\:cursor\:not-allowed,     .md\:csr\:not-allowed       { cursor: not-allowed !important; }
  .md\:cursor\:pointer,         .md\:csr\:pointer           { cursor: pointer !important; }
  .md\:cursor\:progress,        .md\:csr\:progress          { cursor: progress !important; }
  .md\:cursor\:row-resize,      .md\:csr\:row-resize        { cursor: row-resize !important; }
  .md\:cursor\:s-resize,        .md\:csr\:s-resize          { cursor: s-resize !important; }
  .md\:cursor\:se-resize,       .md\:csr\:se-resize         { cursor: se-resize !important; }
  .md\:cursor\:sw-resize,       .md\:csr\:sw-resize         { cursor: sw-resize !important; }
  .md\:cursor\:text,            .md\:csr\:text              { cursor: text !important; }
  .md\:cursor\:vertical-text,   .md\:csr\:vertical-text     { cursor: vertical-text !important; }
  .md\:cursor\:w-resize,        .md\:csr\:w-resize          { cursor: w-resize !important; }
  .md\:cursor\:wait,            .md\:csr\:wait              { cursor: wait !important; }
  .md\:cursor\:zoom-in,         .md\:csr\:zoom-in           { cursor: zoom-in !important; }
  .md\:cursor\:zoom-out,        .md\:csr\:zoom-out          { cursor: zoom-out !important; }
  .md\:cursor\:none,            .md\:csr\:none              { cursor: none !important; }

}

/* ---- large ------------------------------------------------- */
@media (min-width: 1200px) {
  .lg\:cursor\:alias,           .lg\:csr\:alias             { cursor: alias !important; }
  .lg\:cursor\:all-scroll,      .lg\:csr\:all-scroll        { cursor: all-scroll !important; }
  .lg\:cursor\:auto,            .lg\:csr\:auto              { cursor: auto !important; }
  .lg\:cursor\:cell,            .lg\:csr\:cell              { cursor: cell !important; }
  .lg\:cursor\:col-resize,      .lg\:csr\:col-resize        { cursor: col-resize !important; }
  .lg\:cursor\:context-menu,    .lg\:csr\:context-menu      { cursor: context-menu !important; }
  .lg\:cursor\:copy,            .lg\:csr\:copy              { cursor: copy !important; }
  .lg\:cursor\:crosshair,       .lg\:csr\:crosshair         { cursor: crosshair !important; }
  .lg\:cursor\:default,         .lg\:csr\:default           { cursor: default !important; }
  .lg\:cursor\:e-resize,        .lg\:csr\:e-resize          { cursor: e-resize !important; }
  .lg\:cursor\:ew-resize,       .lg\:csr\:ew-resize         { cursor: ew-resize !important; }
  .lg\:cursor\:grab,            .lg\:csr\:grab              { cursor: grab !important; }
  .lg\:cursor\:grabbing,        .lg\:csr\:grabbing          { cursor: grabbing !important; }
  .lg\:cursor\:help,            .lg\:csr\:help              { cursor: help !important; }
  .lg\:cursor\:move,            .lg\:csr\:move              { cursor: move !important; }
  .lg\:cursor\:n-resize,        .lg\:csr\:n-resize          { cursor: n-resize !important; }
  .lg\:cursor\:ne-resize,       .lg\:csr\:ne-resize         { cursor: ne-resize !important; }
  .lg\:cursor\:ns-resize,       .lg\:csr\:ns-resize         { cursor: ns-resize !important; }
  .lg\:cursor\:nw-resize,       .lg\:csr\:ns-resize         { cursor: nw-resize !important; }
  .lg\:cursor\:nesw-resize,     .lg\:csr\:nesw-resize       { cursor: nesw-resize !important; }
  .lg\:cursor\:no-drop,         .lg\:csr\:no-drop           { cursor: no-drop !important; }
  .lg\:cursor\:not-allowed,     .lg\:csr\:not-allowed       { cursor: not-allowed !important; }
  .lg\:cursor\:pointer,         .lg\:csr\:pointer           { cursor: pointer !important; }
  .lg\:cursor\:progress,        .lg\:csr\:progress          { cursor: progress !important; }
  .lg\:cursor\:row-resize,      .lg\:csr\:row-resize        { cursor: row-resize !important; }
  .lg\:cursor\:s-resize,        .lg\:csr\:s-resize          { cursor: s-resize !important; }
  .lg\:cursor\:se-resize,       .lg\:csr\:se-resize         { cursor: se-resize !important; }
  .lg\:cursor\:sw-resize,       .lg\:csr\:sw-resize         { cursor: sw-resize !important; }
  .lg\:cursor\:text,            .lg\:csr\:text              { cursor: text !important; }
  .lg\:cursor\:vertical-text,   .lg\:csr\:vertical-text     { cursor: vertical-text !important; }
  .lg\:cursor\:w-resize,        .lg\:csr\:w-resize          { cursor: w-resize !important; }
  .lg\:cursor\:wait,            .lg\:csr\:wait              { cursor: wait !important; }
  .lg\:cursor\:zoom-in,         .lg\:csr\:zoom-in           { cursor: zoom-in !important; }
  .lg\:cursor\:zoom-out,        .lg\:csr\:zoom-out          { cursor: zoom-out !important; }
  .lg\:cursor\:none,            .lg\:csr\:none              { cursor: none !important; }
}
