/**
 * height
 * min-height
 * max-height
 */

/* ---- height ------------------------------------------------- */
.height\:0,               .h\:0 { height: var(--height-0) !important; }
.height\:1,               .h\:1 { height: var(--height-1) !important; }
.height\:2,               .h\:2 { height: var(--height-2) !important; }
.height\:3,               .h\:3 { height: var(--height-3) !important; }
.height\:4,               .h\:4 { height: var(--height-4) !important; }
.height\:5,               .h\:5 { height: var(--height-5) !important; }
.height\:6,               .h\:6 { height: var(--height-6) !important; }
.height\:7,               .h\:7 { height: var(--height-7) !important; }
.height\:8,               .h\:8 { height: var(--height-8) !important; }
.height\:9,               .h\:9 { height: var(--height-9) !important; }
.height\:10,              .h\:10 { height: var(--height-10) !important; }
.height\:1p,              .h\:1p { height: var(--height-percent-1) !important; }
.height\:2p,              .h\:2p { height: var(--height-percent-2) !important; }
.height\:3p,              .h\:3p { height: var(--height-percent-3) !important; }
.height\:4p,              .h\:4p { height: var(--height-percent-4) !important; }
.height\:5p,              .h\:5p { height: var(--height-percent-5) !important; }
.height\:6p,              .h\:6p { height: var(--height-percent-6) !important; }
.height\:7p,              .h\:7p { height: var(--height-percent-7) !important; }
.height\:8p,              .h\:8p { height: var(--height-percent-8) !important; }
.height\:9p,              .h\:9p { height: var(--height-percent-9) !important; }
.height\:10p,             .h\:10p { height: var(--height-percent-10) !important; }
.height\:1\/2,            .h\:1\/2 { height: 50% !important; }
.height\:1\/3,            .h\:1\/3 { height: 33% !important; }
.height\:2\/3,            .h\:2\/3 { height: 66% !important; }
.height\:1\/4,            .h\:1\/4 { height: 25% !important; }
.height\:2\/4,            .h\:2\/4 { height: 50% !important; }
.height\:3\/4,            .h\:3\/4 { height: 75% !important; }
.height\:1\/5,            .h\:1\/5 { height: 20% !important; }
.height\:2\/5,            .h\:2\/5 { height: 40% !important; }
.height\:3\/5,            .h\:3\/5 { height: 60% !important; }
.height\:4\/5,            .h\:4\/5 { height: 80% !important; }
.height\:100p,            .h\:100p { height : 100% !important; }
.height\:100vh,           .h\:100vh { height : 100vh !important; }
.height\:100svh,          .h\:100svh { height : 100svh !important; }
.height\:100lvh,          .h\:100lvh { height : 100lvh !important; }
.height\:100dvh,          .h\:100dvh { height : 100dvh !important; }
.height\:min-content,     .h\:min-content { height : min-content !important; }
.height\:max-content,     .h\:max-content { height : max-content !important; }
.height\:fit-content,     .h\:fit-content { height : fit-content !important; }
.height\:auto,            .h\:auto { height : auto !important; }

@media (min-width: 768px) {
    .md\:height\:0,               .md\:h\:0 { height: var(--height-0) !important; }
    .md\:height\:1,               .md\:h\:1 { height: var(--height-1) !important; }
    .md\:height\:2,               .md\:h\:2 { height: var(--height-2) !important; }
    .md\:height\:3,               .md\:h\:3 { height: var(--height-3) !important; }
    .md\:height\:4,               .md\:h\:4 { height: var(--height-4) !important; }
    .md\:height\:5,               .md\:h\:5 { height: var(--height-5) !important; }
    .md\:height\:6,               .md\:h\:6 { height: var(--height-6) !important; }
    .md\:height\:7,               .md\:h\:7 { height: var(--height-7) !important; }
    .md\:height\:8,               .md\:h\:8 { height: var(--height-8) !important; }
    .md\:height\:9,               .md\:h\:9 { height: var(--height-9) !important; }
    .md\:height\:10,              .md\:h\:10 { height: var(--height-10) !important; }
    .md\:height\:1p,              .md\:h\:1p { height: var(--height-percent-1) !important; }
    .md\:height\:2p,              .md\:h\:2p { height: var(--height-percent-2) !important; }
    .md\:height\:3p,              .md\:h\:3p { height: var(--height-percent-3) !important; }
    .md\:height\:4p,              .md\:h\:4p { height: var(--height-percent-4) !important; }
    .md\:height\:5p,              .md\:h\:5p { height: var(--height-percent-5) !important; }
    .md\:height\:6p,              .md\:h\:6p { height: var(--height-percent-6) !important; }
    .md\:height\:7p,              .md\:h\:7p { height: var(--height-percent-7) !important; }
    .md\:height\:8p,              .md\:h\:8p { height: var(--height-percent-8) !important; }
    .md\:height\:9p,              .md\:h\:9p { height: var(--height-percent-9) !important; }
    .md\:height\:10p,             .md\:h\:10p { height: var(--height-percent-10) !important; }
    .md\:height\:1\/2,            .md\:h\:1\/2 { height: 50% !important; }
    .md\:height\:1\/3,            .md\:h\:1\/3 { height: 33% !important; }
    .md\:height\:2\/3,            .md\:h\:2\/3 { height: 66% !important; }
    .md\:height\:1\/4,            .md\:h\:1\/4 { height: 25% !important; }
    .md\:height\:2\/4,            .md\:h\:2\/4 { height: 50% !important; }
    .md\:height\:3\/4,            .md\:h\:3\/4 { height: 75% !important; }
    .md\:height\:1\/5,            .md\:h\:1\/5 { height: 20% !important; }
    .md\:height\:2\/5,            .md\:h\:2\/5 { height: 40% !important; }
    .md\:height\:3\/5,            .md\:h\:3\/5 { height: 60% !important; }
    .md\:height\:4\/5,            .md\:h\:4\/5 { height: 80% !important; }
    .md\:height\:100p,            .md\:h\:100p { height : 100% !important; }
    .md\:height\:100vh,           .md\:h\:100vh { height : 100vh !important; }
    .md\:height\:100svh,          .md\:h\:100svh { height : 100svh !important; }
    .md\:height\:100lvh,          .md\:h\:100lvh { height : 100lvh !important; }
    .md\:height\:100dvh,          .md\:h\:100dvh { height : 100dvh !important; }
    .md\:height\:min-content,     .md\:h\:min-content { height : min-content !important; }
    .md\:height\:max-content,     .md\:h\:max-content { height : max-content !important; }
    .md\:height\:fit-content,     .md\:h\:fit-content { height : fit-content !important; }
    .md\:height\:auto,            .md\:h\:auto { height : auto !important; }
}

@media (min-width: 1200px) {
    .lg\:height\:0,               .lg\:h\:0 { height: var(--height-0) !important; }
    .lg\:height\:1,               .lg\:h\:1 { height: var(--height-1) !important; }
    .lg\:height\:2,               .lg\:h\:2 { height: var(--height-2) !important; }
    .lg\:height\:3,               .lg\:h\:3 { height: var(--height-3) !important; }
    .lg\:height\:4,               .lg\:h\:4 { height: var(--height-4) !important; }
    .lg\:height\:5,               .lg\:h\:5 { height: var(--height-5) !important; }
    .lg\:height\:6,               .lg\:h\:6 { height: var(--height-6) !important; }
    .lg\:height\:7,               .lg\:h\:7 { height: var(--height-7) !important; }
    .lg\:height\:8,               .lg\:h\:8 { height: var(--height-8) !important; }
    .lg\:height\:9,               .lg\:h\:9 { height: var(--height-9) !important; }
    .lg\:height\:10,              .lg\:h\:10 { height: var(--height-10) !important; }
    .lg\:height\:1p,              .lg\:h\:1p { height: var(--height-percent-1) !important; }
    .lg\:height\:2p,              .lg\:h\:2p { height: var(--height-percent-2) !important; }
    .lg\:height\:3p,              .lg\:h\:3p { height: var(--height-percent-3) !important; }
    .lg\:height\:4p,              .lg\:h\:4p { height: var(--height-percent-4) !important; }
    .lg\:height\:5p,              .lg\:h\:5p { height: var(--height-percent-5) !important; }
    .lg\:height\:6p,              .lg\:h\:6p { height: var(--height-percent-6) !important; }
    .lg\:height\:7p,              .lg\:h\:7p { height: var(--height-percent-7) !important; }
    .lg\:height\:8p,              .lg\:h\:8p { height: var(--height-percent-8) !important; }
    .lg\:height\:9p,              .lg\:h\:9p { height: var(--height-percent-9) !important; }
    .lg\:height\:10p,             .lg\:h\:10p { height: var(--height-percent-10) !important; }
    .lg\:height\:1\/2,            .lg\:h\:1\/2 { height: 50% !important; }
    .lg\:height\:1\/3,            .lg\:h\:1\/3 { height: 33% !important; }
    .lg\:height\:2\/3,            .lg\:h\:2\/3 { height: 66% !important; }
    .lg\:height\:1\/4,            .lg\:h\:1\/4 { height: 25% !important; }
    .lg\:height\:2\/4,            .lg\:h\:2\/4 { height: 50% !important; }
    .lg\:height\:3\/4,            .lg\:h\:3\/4 { height: 75% !important; }
    .lg\:height\:1\/5,            .lg\:h\:1\/5 { height: 20% !important; }
    .lg\:height\:2\/5,            .lg\:h\:2\/5 { height: 40% !important; }
    .lg\:height\:3\/5,            .lg\:h\:3\/5 { height: 60% !important; }
    .lg\:height\:4\/5,            .lg\:h\:4\/5 { height: 80% !important; }
    .lg\:height\:100p,            .lg\:h\:100p { height : 100% !important; }
    .lg\:height\:100vh,           .lg\:h\:100vh { height : 100vh !important; }
    .lg\:height\:100svh,          .lg\:h\:100svh { height : 100svh !important; }
    .lg\:height\:100lvh,          .lg\:h\:100lvh { height : 100lvh !important; }
    .lg\:height\:100dvh,          .lg\:h\:100dvh { height : 100dvh !important; }
    .lg\:height\:min-content,     .lg\:h\:min-content { height : min-content !important; }
    .lg\:height\:max-content,     .lg\:h\:max-content { height : max-content !important; }
    .lg\:height\:fit-content,     .lg\:h\:fit-content { height : fit-content !important; }
    .lg\:height\:auto,            .lg\:h\:auto { height : auto !important; }
}

/* ---- min-height ------------------------------------------------- */
.min-height\:0,        .min-h\:0 { min-height: var(--height-0) !important; }
.min-height\:1,        .min-h\:1 { min-height: var(--height-1) !important; }
.min-height\:2,        .min-h\:2 { min-height: var(--height-2) !important; }
.min-height\:3,        .min-h\:3 { min-height: var(--height-3) !important; }
.min-height\:4,        .min-h\:4 { min-height: var(--height-4) !important; }
.min-height\:5,        .min-h\:5 { min-height: var(--height-5) !important; }
.min-height\:6,        .min-h\:6 { min-height: var(--height-6) !important; }
.min-height\:7,        .min-h\:7 { min-height: var(--height-7) !important; }
.min-height\:8,        .min-h\:8 { min-height: var(--height-8) !important; }
.min-height\:9,        .min-h\:9 { min-height: var(--height-9) !important; }
.min-height\:10,       .min-h\:10 { min-height: var(--height-10) !important; }
.min-height\:100p,     .min-h\:100p { min-height: 100% !important; }
.min-height\:100vh,    .min-h\:100vh { min-height: 100vh !important; }
.min-height\:100svh,   .min-h\:100svh { min-height: 100svh !important; }
.min-height\:100lvh,   .min-h\:100lvh { min-height: 100lvh !important; }
.min-height\:100dvh,   .min-h\:100dvh { min-height: 100dvh !important; }
.min-height\:min-content,     .min-h\:min-content,
.min-height\:min,             .min-h\:min {
    min-height: min-content !important;
}
.min-height\:max-content,     .min-h\:max-content,
.min-height\:max,             .min-h\:max {
    min-height: min-content !important;
}
.min-height\:fit-content,     .min-h\:fit-content,
.min-height\:fit,             .min-h\:fit {
    min-height: fit-content !important;
}

@media (min-width: 768px) {
    .md\:min-height\:0,        .md\:min-h\:0 { min-height: var(--height-0) !important; }
    .md\:min-height\:1,        .md\:min-h\:1 { min-height: var(--height-1) !important; }
    .md\:min-height\:2,        .md\:min-h\:2 { min-height: var(--height-2) !important; }
    .md\:min-height\:3,        .md\:min-h\:3 { min-height: var(--height-3) !important; }
    .md\:min-height\:4,        .md\:min-h\:4 { min-height: var(--height-4) !important; }
    .md\:min-height\:5,        .md\:min-h\:5 { min-height: var(--height-5) !important; }
    .md\:min-height\:6,        .md\:min-h\:6 { min-height: var(--height-6) !important; }
    .md\:min-height\:7,        .md\:min-h\:7 { min-height: var(--height-7) !important; }
    .md\:min-height\:8,        .md\:min-h\:8 { min-height: var(--height-8) !important; }
    .md\:min-height\:9,        .md\:min-h\:9 { min-height: var(--height-9) !important; }
    .md\:min-height\:10,       .md\:min-h\:10 { min-height: var(--height-10) !important; }
    .md\:min-height\:100p,     .md\:min-h\:100p { min-height: 100% !important; }
    .md\:min-height\:100vh,    .md\:min-h\:100vh { min-height: 100vh !important; }
    .md\:min-height\:100svh,   .md\:min-h\:100svh { min-height: 100svh !important; }
    .md\:min-height\:100lvh,   .md\:min-h\:100lvh { min-height: 100lvh !important; }
    .md\:min-height\:100dvh,   .md\:min-h\:100dvh { min-height: 100dvh !important; }
    .md\:min-height\:min-content,     .md\:min-h\:min-content,
    .md\:min-height\:min,             .md\:min-h\:min {
        min-height: min-content !important;
    }
    .md\:min-height\:max-content,     .md\:min-h\:max-content,
    .md\:min-height\:max,             .md\:min-h\:max {
        min-height: min-content !important;
    }
    .md\:min-height\:fit-content,     .md\:min-h\:fit-content,
    .md\:min-height\:fit,             .md\:min-h\:fit {
        min-height: fit-content !important;
    }
}

@media (min-width: 1200px) {
    .lg\:min-height\:0,        .lg\:min-h\:0 { min-height: var(--height-0) !important; }
    .lg\:min-height\:1,        .lg\:min-h\:1 { min-height: var(--height-1) !important; }
    .lg\:min-height\:2,        .lg\:min-h\:2 { min-height: var(--height-2) !important; }
    .lg\:min-height\:3,        .lg\:min-h\:3 { min-height: var(--height-3) !important; }
    .lg\:min-height\:4,        .lg\:min-h\:4 { min-height: var(--height-4) !important; }
    .lg\:min-height\:5,        .lg\:min-h\:5 { min-height: var(--height-5) !important; }
    .lg\:min-height\:6,        .lg\:min-h\:6 { min-height: var(--height-6) !important; }
    .lg\:min-height\:7,        .lg\:min-h\:7 { min-height: var(--height-7) !important; }
    .lg\:min-height\:8,        .lg\:min-h\:8 { min-height: var(--height-8) !important; }
    .lg\:min-height\:9,        .lg\:min-h\:9 { min-height: var(--height-9) !important; }
    .lg\:min-height\:10,       .lg\:min-h\:10 { min-height: var(--height-10) !important; }
    .lg\:min-height\:100p,     .lg\:min-h\:100p { min-height: 100% !important; }
    .lg\:min-height\:100vh,    .lg\:min-h\:100vh { min-height: 100vh !important; }
    .lg\:min-height\:100svh,   .lg\:min-h\:100svh { min-height: 100svh !important; }
    .lg\:min-height\:100lvh,   .lg\:min-h\:100lvh { min-height: 100lvh !important; }
    .lg\:min-height\:100dvh,   .lg\:min-h\:100dvh { min-height: 100dvh !important; }
    .lg\:min-height\:min-content,     .lg\:min-h\:min-content,
    .lg\:min-height\:min,             .lg\:min-h\:min {
        min-height: min-content !important;
    }
    .lg\:min-height\:max-content,     .lg\:min-h\:max-content,
    .lg\:min-height\:max,             .lg\:min-h\:max {
        min-height: min-content !important;
    }
    .lg\:min-height\:fit-content,     .lg\:min-h\:fit-content,
    .lg\:min-height\:fit,             .lg\:min-h\:fit {
        min-height: fit-content !important;
    }
}

/* ---- max-height ------------------------------------------------- */
.max-height\:0,        .max-h\:0 { max-height: var(--height-0) !important; }
.max-height\:1,        .max-h\:1 { max-height: var(--height-1) !important; }
.max-height\:2,        .max-h\:2 { max-height: var(--height-2) !important; }
.max-height\:3,        .max-h\:3 { max-height: var(--height-3) !important; }
.max-height\:4,        .max-h\:4 { max-height: var(--height-4) !important; }
.max-height\:5,        .max-h\:5 { max-height: var(--height-5) !important; }
.max-height\:6,        .max-h\:6 { max-height: var(--height-6) !important; }
.max-height\:7,        .max-h\:7 { max-height: var(--height-7) !important; }
.max-height\:8,        .max-h\:8 { max-height: var(--height-8) !important; }
.max-height\:9,        .max-h\:9 { max-height: var(--height-9) !important; }
.max-height\:10,       .max-h\:10 { max-height: var(--height-10) !important; }
.max-height\:100p,     .max-h\:100p { max-height: 100% !important; }
.max-height\:100vh,    .max-h\:100vh { max-height: 100vh !important; }
.max-height\:100svh,   .max-h\:100svh { max-height: 100svh !important; }
.max-height\:100lvh,   .max-h\:100lvh { max-height: 100lvh !important; }
.max-height\:100dvh,   .max-h\:100dvh { max-height: 100dvh !important; }
.max-height\:max-content,     .max-h\:max-content,
.max-height\:max,             .max-h\:max {
    max-height: max-content !important;
}
.max-height\:min-content,     .max-h\:min-content,
.max-height\:min,             .max-h\:min {
    max-height: min-content !important;
}
.max-height\:fit-content,     .max-h\:fit-content,
.max-height\:fit,             .max-h\:fit {
    max-height: fit-content !important;
}

@media (min-width: 768px) {
    .md\:max-height\:0,        .md\:max-h\:0 { max-height: var(--height-0) !important; }
    .md\:max-height\:1,        .md\:max-h\:1 { max-height: var(--height-1) !important; }
    .md\:max-height\:2,        .md\:max-h\:2 { max-height: var(--height-2) !important; }
    .md\:max-height\:3,        .md\:max-h\:3 { max-height: var(--height-3) !important; }
    .md\:max-height\:4,        .md\:max-h\:4 { max-height: var(--height-4) !important; }
    .md\:max-height\:5,        .md\:max-h\:5 { max-height: var(--height-5) !important; }
    .md\:max-height\:6,        .md\:max-h\:6 { max-height: var(--height-6) !important; }
    .md\:max-height\:7,        .md\:max-h\:7 { max-height: var(--height-7) !important; }
    .md\:max-height\:8,        .md\:max-h\:8 { max-height: var(--height-8) !important; }
    .md\:max-height\:9,        .md\:max-h\:9 { max-height: var(--height-9) !important; }
    .md\:max-height\:10,       .md\:max-h\:10 { max-height: var(--height-10) !important; }
    .md\:max-height\:100p,     .md\:max-h\:100p { max-height: 100% !important; }
    .md\:max-height\:100vh,    .md\:max-h\:100vh { max-height: 100vh !important; }
    .md\:max-height\:100svh,   .md\:max-h\:100svh { max-height: 100svh !important; }
    .md\:max-height\:100lvh,   .md\:max-h\:100lvh { max-height: 100lvh !important; }
    .md\:max-height\:100dvh,   .md\:max-h\:100dvh { max-height: 100dvh !important; }
    .md\:max-height\:max-content,     .md\:max-h\:max-content,
    .md\:max-height\:max,             .md\:max-h\:max {
        max-height: max-content !important;
    }
    .md\:max-height\:min-content,     .md\:max-h\:min-content,
    .md\:max-height\:min,             .md\:max-h\:min {
        max-height: min-content !important;
    }
    .md\:max-height\:fit-content,     .md\:max-h\:fit-content,
    .md\:max-height\:fit,             .md\:max-h\:fit {
        max-height: fit-content !important;
    }
}

@media (min-width: 1200px) {
    .lg\:max-height\:0,        .lg\:max-h\:0 { max-height: var(--height-0) !important; }
    .lg\:max-height\:1,        .lg\:max-h\:1 { max-height: var(--height-1) !important; }
    .lg\:max-height\:2,        .lg\:max-h\:2 { max-height: var(--height-2) !important; }
    .lg\:max-height\:3,        .lg\:max-h\:3 { max-height: var(--height-3) !important; }
    .lg\:max-height\:4,        .lg\:max-h\:4 { max-height: var(--height-4) !important; }
    .lg\:max-height\:5,        .lg\:max-h\:5 { max-height: var(--height-5) !important; }
    .lg\:max-height\:6,        .lg\:max-h\:6 { max-height: var(--height-6) !important; }
    .lg\:max-height\:7,        .lg\:max-h\:7 { max-height: var(--height-7) !important; }
    .lg\:max-height\:8,        .lg\:max-h\:8 { max-height: var(--height-8) !important; }
    .lg\:max-height\:9,        .lg\:max-h\:9 { max-height: var(--height-9) !important; }
    .lg\:max-height\:10,       .lg\:max-h\:10 { max-height: var(--height-10) !important; }
    .lg\:max-height\:100p,     .lg\:max-h\:100p { max-height: 100% !important; }
    .lg\:max-height\:100vh,    .lg\:max-h\:100vh { max-height: 100vh !important; }
    .lg\:max-height\:100svh,   .lg\:max-h\:100svh { max-height: 100svh !important; }
    .lg\:max-height\:100lvh,   .lg\:max-h\:100lvh { max-height: 100lvh !important; }
    .lg\:max-height\:100dvh,   .lg\:max-h\:100dvh { max-height: 100dvh !important; }
    .lg\:max-height\:max-content,     .lg\:max-h\:max-content,
    .lg\:max-height\:max,             .lg\:max-h\:max {
        max-height: max-content !important;
    }
    .lg\:max-height\:min-content,     .lg\:max-h\:min-content,
    .lg\:max-height\:min,             .lg\:max-h\:min {
        max-height: min-content !important;
    }
    .lg\:max-height\:fit-content,     .lg\:max-h\:fit-content,
    .lg\:max-height\:fit,             .lg\:max-h\:fit {
        max-height: fit-content !important;
    }
}
