
/* justify-content */
.justify-content\:start,                        .js-content\:start,          .jc\:start { justify-content : start !important; }
.justify-content\:center,                       .js-content\:center,         .jc\:center { justify-content : center !important; }
.justify-content\:end,                          .js-content\:end,            .jc\:end { justify-content: end !important; }
.justify-content\:flex-start,                   .js-content\:flex-start,     .jc\:flex-start { justify-content: flex-start !important; }
.justify-content\:flex-end,                     .js-content\:flex-end,       .jc\:flex-end { justify-content: flex-end !important; }
.justify-content\:left,                         .js-content\:left,           .jc\:left { justify-content: left !important; }
.justify-content\:right,                        .js-content\:right,          .jc\:right { justify-content: right !important; }
.justify-content\:space-between,                .js-content\:space-between,  .jc\:space-between { justify-content : space-between !important; }
.justify-content\:space-around,                 .js-content\:space-around,   .jc\:space-around { justify-content : space-around !important; }
.justify-content\:space-evenly,                 .js-content\:space-evenly,   .jc\:space-evenly { justify-content : space-evenly !important; }

/* justify-items */
.justify-items\:stretch,                        .js-items\:stretch,        .ji\:stretch { justify-items : stretch !important; }
.justify-items\:center,                         .js-items\:center,         .ji\:center { justify-items : center !important; }
.justify-items\:start,                          .js-items\:start,          .ji\:start { justify-items : start !important; }
.justify-items\:end,                            .js-items\:end,            .ji\:end { justify-items : end !important; }
.justify-items\:flex-start,                     .js-items\:flex-start,     .ji\:flex-start { justify-items: flex-start !important; }
.justify-items\:flex-end,                       .js-items\:flex-end,       .ji\:flex-end { justify-items: flex-end !important; }
.justify-items\:self-start,                     .js-items\:self-start,     .ji\:self-start { justify-items: self-start !important; }
.justify-items\:self-end,                       .js-items\:self-end,       .ji\:slef-end { justify-items: self-end !important; }
.justify-items\:left,                           .js-items\:left,           .ji\:left { justify-items: left !important; }
.justify-items\:right,                          .js-items\:right,          .ji\:right { justify-items: right !important; }

/* justify-self */
.justify-self\:stretch,                        .js-self\:stretch,        .js\:stretch { justify-self : stretch !important; }
.justify-self\:center,                         .js-self\:center,         .js\:center { justify-self : center !important; }
.justify-self\:start,                          .js-self\:start,          .js\:start { justify-self : start !important; }
.justify-self\:end,                            .js-self\:end,            .js\:end { justify-self : end !important; }
.justify-self\:flex-start,                     .js-self\:flex-start,     .js\:flex-start { justify-self: flex-start !important; }
.justify-self\:flex-end,                       .js-self\:flex-end,       .js\:flex-end { justify-self: flex-end !important; }
.justify-self\:self-start,                     .js-self\:self-start,     .js\:self-start { justify-self: self-start !important; }
.justify-self\:self-end,                       .js-self\:self-end,       .js\:slef-end { justify-self: self-end !important; }
.justify-self\:left,                           .js-self\:left,           .js\:left { justify-self: left !important; }
.justify-self\:right,                          .js-self\:right,          .js\:right { justify-self: right !important; }

/* ---- medium ------------------------------------------------- */
@media (min-width: 768px) {
  /* justify-content */
  .md\:justify-content\:start,                        .md\:js-content\:start,          .md\:jc\:start { justify-content : start !important; }
  .md\:justify-content\:center,                       .md\:js-content\:center,         .md\:jc\:center { justify-content : center !important; }
  .md\:justify-content\:end,                          .md\:js-content\:end,            .md\:jc\:end { justify-content: end !important; }
  .md\:justify-content\:flex-start,                   .md\:js-content\:flex-start,     .md\:jc\:flex-start { justify-content: flex-start !important; }
  .md\:justify-content\:flex-end,                     .md\:js-content\:flex-end,       .md\:jc\:flex-end { justify-content: flex-end !important; }
  .md\:justify-content\:left,                         .md\:js-content\:left,           .md\:jc\:left { justify-content: left !important; }
  .md\:justify-content\:right,                        .md\:js-content\:right,          .md\:jc\:right { justify-content: right !important; }
  .md\:justify-content\:space-between,                .md\:js-content\:space-between,  .md\:jc\:space-between { justify-content : space-between !important; }
  .md\:justify-content\:space-around,                 .md\:js-content\:space-around,   .md\:jc\:space-around { justify-content : space-around !important; }
  .md\:justify-content\:space-evenly,                 .md\:js-content\:space-evenly,   .md\:jc\:space-evenly { justify-content : space-evenly !important; }

  /* justify-items */
  .md\:justify-items\:stretch,                        .md\:js-items\:stretch,        .md\:ji\:stretch { justify-items : stretch !important; }
  .md\:justify-items\:center,                         .md\:js-items\:center,         .md\:ji\:center { justify-items : center !important; }
  .md\:justify-items\:start,                          .md\:js-items\:start,          .md\:ji\:start { justify-items : start !important; }
  .md\:justify-items\:end,                            .md\:js-items\:end,            .md\:ji\:end { justify-items : end !important; }
  .md\:justify-items\:flex-start,                     .md\:js-items\:flex-start,     .md\:ji\:flex-start { justify-items: flex-start !important; }
  .md\:justify-items\:flex-end,                       .md\:js-items\:flex-end,       .md\:ji\:flex-end { justify-items: flex-end !important; }
  .md\:justify-items\:self-start,                     .md\:js-items\:self-start,     .md\:ji\:self-start { justify-items: self-start !important; }
  .md\:justify-items\:self-end,                       .md\:js-items\:self-end,       .md\:ji\:slef-end { justify-items: self-end !important; }
  .md\:justify-items\:left,                           .md\:js-items\:left,           .md\:ji\:left { justify-items: left !important; }
  .md\:justify-items\:right,                          .md\:js-items\:right,          .md\:ji\:right { justify-items: right !important; }

  /* justify-self */
  .md\:justify-self\:stretch,                        .md\:js-self\:stretch,        .md\:js\:stretch { justify-self : stretch !important; }
  .md\:justify-self\:center,                         .md\:js-self\:center,         .md\:js\:center { justify-self : center !important; }
  .md\:justify-self\:start,                          .md\:js-self\:start,          .md\:js\:start { justify-self : start !important; }
  .md\:justify-self\:end,                            .md\:js-self\:end,            .md\:js\:end { justify-self : end !important; }
  .md\:justify-self\:flex-start,                     .md\:js-self\:flex-start,     .md\:js\:flex-start { justify-self: flex-start !important; }
  .md\:justify-self\:flex-end,                       .md\:js-self\:flex-end,       .md\:js\:flex-end { justify-self: flex-end !important; }
  .md\:justify-self\:self-start,                     .md\:js-self\:self-start,     .md\:js\:self-start { justify-self: self-start !important; }
  .md\:justify-self\:self-end,                       .md\:js-self\:self-end,       .md\:js\:slef-end { justify-self: self-end !important; }
  .md\:justify-self\:left,                           .md\:js-self\:left,           .md\:js\:left { justify-self: left !important; }
  .md\:justify-self\:right,                          .md\:js-self\:right,          .md\:js\:right { justify-self: right !important; }
}

/* ---- large ------------------------------------------------- */
@media (min-width: 1200px) {
  /* justify-content */
.lg\:justify-content\:start,                        .lg\:js-content\:start,          .lg\:jc\:start { justify-content : start !important; }
.lg\:justify-content\:center,                       .lg\:js-content\:center,         .lg\:jc\:center { justify-content : center !important; }
.lg\:justify-content\:end,                          .lg\:js-content\:end,            .lg\:jc\:end { justify-content: end !important; }
.lg\:justify-content\:flex-start,                   .lg\:js-content\:flex-start,     .lg\:jc\:flex-start { justify-content: flex-start !important; }
.lg\:justify-content\:flex-end,                     .lg\:js-content\:flex-end,       .lg\:jc\:flex-end { justify-content: flex-end !important; }
.lg\:justify-content\:left,                         .lg\:js-content\:left,           .lg\:jc\:left { justify-content: left !important; }
.lg\:justify-content\:right,                        .lg\:js-content\:right,          .lg\:jc\:right { justify-content: right !important; }
.lg\:justify-content\:space-between,                .lg\:js-content\:space-between,  .lg\:jc\:space-between { justify-content : space-between !important; }
.lg\:justify-content\:space-around,                 .lg\:js-content\:space-around,   .lg\:jc\:space-around { justify-content : space-around !important; }
.lg\:justify-content\:space-evenly,                 .lg\:js-content\:space-evenly,   .lg\:jc\:space-evenly { justify-content : space-evenly !important; }

/* justify-items */
.lg\:justify-items\:stretch,                        .lg\:js-items\:stretch,        .lg\:ji\:stretch { justify-items : stretch !important; }
.lg\:justify-items\:center,                         .lg\:js-items\:center,         .lg\:ji\:center { justify-items : center !important; }
.lg\:justify-items\:start,                          .lg\:js-items\:start,          .lg\:ji\:start { justify-items : start !important; }
.lg\:justify-items\:end,                            .lg\:js-items\:end,            .lg\:ji\:end { justify-items : end !important; }
.lg\:justify-items\:flex-start,                     .lg\:js-items\:flex-start,     .lg\:ji\:flex-start { justify-items: flex-start !important; }
.lg\:justify-items\:flex-end,                       .lg\:js-items\:flex-end,       .lg\:ji\:flex-end { justify-items: flex-end !important; }
.lg\:justify-items\:self-start,                     .lg\:js-items\:self-start,     .lg\:ji\:self-start { justify-items: self-start !important; }
.lg\:justify-items\:self-end,                       .lg\:js-items\:self-end,       .lg\:ji\:slef-end { justify-items: self-end !important; }
.lg\:justify-items\:left,                           .lg\:js-items\:left,           .lg\:ji\:left { justify-items: left !important; }
.lg\:justify-items\:right,                          .lg\:js-items\:right,          .lg\:ji\:right { justify-items: right !important; }

/* justify-self */
.lg\:justify-self\:stretch,                        .lg\:js-self\:stretch,        .lg\:js\:stretch { justify-self : stretch !important; }
.lg\:justify-self\:center,                         .lg\:js-self\:center,         .lg\:js\:center { justify-self : center !important; }
.lg\:justify-self\:start,                          .lg\:js-self\:start,          .lg\:js\:start { justify-self : start !important; }
.lg\:justify-self\:end,                            .lg\:js-self\:end,            .lg\:js\:end { justify-self : end !important; }
.lg\:justify-self\:flex-start,                     .lg\:js-self\:flex-start,     .lg\:js\:flex-start { justify-self: flex-start !important; }
.lg\:justify-self\:flex-end,                       .lg\:js-self\:flex-end,       .lg\:js\:flex-end { justify-self: flex-end !important; }
.lg\:justify-self\:self-start,                     .lg\:js-self\:self-start,     .lg\:js\:self-start { justify-self: self-start !important; }
.lg\:justify-self\:self-end,                       .lg\:js-self\:self-end,       .lg\:js\:slef-end { justify-self: self-end !important; }
.lg\:justify-self\:left,                           .lg\:js-self\:left,           .lg\:js\:left { justify-self: left !important; }
.lg\:justify-self\:right,                          .lg\:js-self\:right,          .lg\:js\:right { justify-self: right !important; }
}