/* ───────────────────────────────────
 * margin
 * margin-top
 * margin-right
 * margin-bottom
 * margin-left
 * margin-x
 * margin-y
 * ───────────────────────────────────    */

.margin\:auto,                 .m\:auto { margin: auto !important; }
.margin\:0,                    .m\:0 { margin: var(--gap-0) !important; }
.margin\:1,                    .m\:1 { margin: var(--gap-1) !important; }
.margin\:2,                    .m\:2 { margin: var(--gap-2) !important; }
.margin\:3,                    .m\:3 { margin: var(--gap-3) !important; }
.margin\:4,                    .m\:4 { margin: var(--gap-4) !important; }
.margin\:5,                    .m\:5 { margin: var(--gap-5) !important; }
.margin\:6,                    .m\:6 { margin: var(--gap-6) !important; }
.margin\:7,                    .m\:7 { margin: var(--gap-7) !important; }
.margin\:8,                    .m\:8 { margin: var(--gap-8) !important; }
.margin\:9,                    .m\:9 { margin: var(--gap-9) !important; }
.margin\:10,                   .m\:10 { margin: var(--gap-10) !important; }

@media (min-width: 768px) {
    .md\:margin\:auto,                 .md\:m\:auto { margin: auto !important; }
    .md\:margin\:0,                    .md\:m\:0 { margin: var(--gap-0) !important; }
    .md\:margin\:1,                    .md\:m\:1 { margin: var(--gap-1) !important; }
    .md\:margin\:2,                    .md\:m\:2 { margin: var(--gap-2) !important; }
    .md\:margin\:3,                    .md\:m\:3 { margin: var(--gap-3) !important; }
    .md\:margin\:4,                    .md\:m\:4 { margin: var(--gap-4) !important; }
    .md\:margin\:5,                    .md\:m\:5 { margin: var(--gap-5) !important; }
    .md\:margin\:6,                    .md\:m\:6 { margin: var(--gap-6) !important; }
    .md\:margin\:7,                    .md\:m\:7 { margin: var(--gap-7) !important; }
    .md\:margin\:8,                    .md\:m\:8 { margin: var(--gap-8) !important; }
    .md\:margin\:9,                    .md\:m\:9 { margin: var(--gap-9) !important; }
    .md\:margin\:10,                   .md\:m\:10 { margin: var(--gap-10) !important; }
}

@media (min-width: 1200px) {
    .lg\:margin\:auto,                 .lg\:m\:auto { margin: auto !important; }
    .lg\:margin\:0,                    .lg\:m\:0 { margin: var(--gap-0) !important; }
    .lg\:margin\:1,                    .lg\:m\:1 { margin: var(--gap-1) !important; }
    .lg\:margin\:2,                    .lg\:m\:2 { margin: var(--gap-2) !important; }
    .lg\:margin\:3,                    .lg\:m\:3 { margin: var(--gap-3) !important; }
    .lg\:margin\:4,                    .lg\:m\:4 { margin: var(--gap-4) !important; }
    .lg\:margin\:5,                    .lg\:m\:5 { margin: var(--gap-5) !important; }
    .lg\:margin\:6,                    .lg\:m\:6 { margin: var(--gap-6) !important; }
    .lg\:margin\:7,                    .lg\:m\:7 { margin: var(--gap-7) !important; }
    .lg\:margin\:8,                    .lg\:m\:8 { margin: var(--gap-8) !important; }
    .lg\:margin\:9,                    .lg\:m\:9 { margin: var(--gap-9) !important; }
    .lg\:margin\:10,                   .lg\:m\:10 { margin: var(--gap-10) !important; }
}

/* ---- margin-top ------------------------------------------------- */
.margin-top\:auto,           .m-top\:auto,   .mt\:auto { margin-top: auto !important; }
.margin-top\:0,              .m-top\:0,      .mt\:0 { margin-top: var(--gap-0) !important; }
.margin-top\:1,              .m-top\:1,      .mt\:1 { margin-top: var(--gap-1) !important; }
.margin-top\:2,              .m-top\:2,      .mt\:2 { margin-top: var(--gap-2) !important; }
.margin-top\:3,              .m-top\:3,      .mt\:3 { margin-top: var(--gap-3) !important; }
.margin-top\:4,              .m-top\:4,      .mt\:4 { margin-top: var(--gap-4) !important; }
.margin-top\:5,              .m-top\:5,      .mt\:5 { margin-top: var(--gap-5) !important; }
.margin-top\:6,              .m-top\:6,      .mt\:6 { margin-top: var(--gap-6) !important; }
.margin-top\:7,              .m-top\:7,      .mt\:7 { margin-top: var(--gap-7) !important; }
.margin-top\:8,              .m-top\:8,      .mt\:8 { margin-top: var(--gap-8) !important; }
.margin-top\:9,              .m-top\:9,      .mt\:9 { margin-top: var(--gap-9) !important; }
.margin-top\:10,             .m-top\:10,     .mt\:10 { margin-top: var(--gap-10) !important; }

@media (min-width: 768px) {
    .md\:margin-top\:auto,           .md\:m-top\:auto,   .md\:mt\:auto { margin-top: auto !important; }
    .md\:margin-top\:0,              .md\:m-top\:0,      .md\:mt\:0 { margin-top: var(--gap-0) !important; }
    .md\:margin-top\:1,              .md\:m-top\:1,      .md\:mt\:1 { margin-top: var(--gap-1) !important; }
    .md\:margin-top\:2,              .md\:m-top\:2,      .md\:mt\:2 { margin-top: var(--gap-2) !important; }
    .md\:margin-top\:3,              .md\:m-top\:3,      .md\:mt\:3 { margin-top: var(--gap-3) !important; }
    .md\:margin-top\:4,              .md\:m-top\:4,      .md\:mt\:4 { margin-top: var(--gap-4) !important; }
    .md\:margin-top\:5,              .md\:m-top\:5,      .md\:mt\:5 { margin-top: var(--gap-5) !important; }
    .md\:margin-top\:6,              .md\:m-top\:6,      .md\:mt\:6 { margin-top: var(--gap-6) !important; }
    .md\:margin-top\:7,              .md\:m-top\:7,      .md\:mt\:7 { margin-top: var(--gap-7) !important; }
    .md\:margin-top\:8,              .md\:m-top\:8,      .md\:mt\:8 { margin-top: var(--gap-8) !important; }
    .md\:margin-top\:9,              .md\:m-top\:9,      .md\:mt\:9 { margin-top: var(--gap-9) !important; }
    .md\:margin-top\:10,             .md\:m-top\:10,     .md\:mt\:10 { margin-top: var(--gap-10) !important; }
}

@media (min-width: 1200px) {
    .lg\:margin-top\:auto,           .lg\:m-top\:auto,   .lg\:mt\:auto { margin-top: auto !important; }
    .lg\:margin-top\:0,              .lg\:m-top\:0,      .lg\:mt\:0 { margin-top: var(--gap-0) !important; }
    .lg\:margin-top\:1,              .lg\:m-top\:1,      .lg\:mt\:1 { margin-top: var(--gap-1) !important; }
    .lg\:margin-top\:2,              .lg\:m-top\:2,      .lg\:mt\:2 { margin-top: var(--gap-2) !important; }
    .lg\:margin-top\:3,              .lg\:m-top\:3,      .lg\:mt\:3 { margin-top: var(--gap-3) !important; }
    .lg\:margin-top\:4,              .lg\:m-top\:4,      .lg\:mt\:4 { margin-top: var(--gap-4) !important; }
    .lg\:margin-top\:5,              .lg\:m-top\:5,      .lg\:mt\:5 { margin-top: var(--gap-5) !important; }
    .lg\:margin-top\:6,              .lg\:m-top\:6,      .lg\:mt\:6 { margin-top: var(--gap-6) !important; }
    .lg\:margin-top\:7,              .lg\:m-top\:7,      .lg\:mt\:7 { margin-top: var(--gap-7) !important; }
    .lg\:margin-top\:8,              .lg\:m-top\:8,      .lg\:mt\:8 { margin-top: var(--gap-8) !important; }
    .lg\:margin-top\:9,              .lg\:m-top\:9,      .lg\:mt\:9 { margin-top: var(--gap-9) !important; }
    .lg\:margin-top\:10,             .lg\:m-top\:10,     .lg\:mt\:10 { margin-top: var(--gap-10) !important; }
}

/* ---- margin-right ------------------------------------------------- */
.margin-right\:auto,           .m-right\:auto,   .mr\:auto { margin-right: auto !important; }
.margin-right\:0,              .m-right\:0,      .mr\:0 { margin-right: var(--gap-0) !important; }
.margin-right\:1,              .m-right\:1,      .mr\:1 { margin-right: var(--gap-1) !important; }
.margin-right\:2,              .m-right\:2,      .mr\:2 { margin-right: var(--gap-2) !important; }
.margin-right\:3,              .m-right\:3,      .mr\:3 { margin-right: var(--gap-3) !important; }
.margin-right\:4,              .m-right\:4,      .mr\:4 { margin-right: var(--gap-4) !important; }
.margin-right\:5,              .m-right\:5,      .mr\:5 { margin-right: var(--gap-5) !important; }
.margin-right\:6,              .m-right\:6,      .mr\:6 { margin-right: var(--gap-6) !important; }
.margin-right\:7,              .m-right\:7,      .mr\:7 { margin-right: var(--gap-7) !important; }
.margin-right\:8,              .m-right\:8,      .mr\:8 { margin-right: var(--gap-8) !important; }
.margin-right\:9,              .m-right\:9,      .mr\:9 { margin-right: var(--gap-9) !important; }
.margin-right\:10,             .m-right\:10,     .mr\:10 { margin-right: var(--gap-10) !important; }

@media (min-width: 768px) {
    .md\:margin-right\:auto,           .md\:m-right\:auto,   .md\:mr\:auto { margin-right: auto !important; }
    .md\:margin-right\:0,              .md\:m-right\:0,      .md\:mr\:0 { margin-right: var(--gap-0) !important; }
    .md\:margin-right\:1,              .md\:m-right\:1,      .md\:mr\:1 { margin-right: var(--gap-1) !important; }
    .md\:margin-right\:2,              .md\:m-right\:2,      .md\:mr\:2 { margin-right: var(--gap-2) !important; }
    .md\:margin-right\:3,              .md\:m-right\:3,      .md\:mr\:3 { margin-right: var(--gap-3) !important; }
    .md\:margin-right\:4,              .md\:m-right\:4,      .md\:mr\:4 { margin-right: var(--gap-4) !important; }
    .md\:margin-right\:5,              .md\:m-right\:5,      .md\:mr\:5 { margin-right: var(--gap-5) !important; }
    .md\:margin-right\:6,              .md\:m-right\:6,      .md\:mr\:6 { margin-right: var(--gap-6) !important; }
    .md\:margin-right\:7,              .md\:m-right\:7,      .md\:mr\:7 { margin-right: var(--gap-7) !important; }
    .md\:margin-right\:8,              .md\:m-right\:8,      .md\:mr\:8 { margin-right: var(--gap-8) !important; }
    .md\:margin-right\:9,              .md\:m-right\:9,      .md\:mr\:9 { margin-right: var(--gap-9) !important; }
    .md\:margin-right\:10,             .md\:m-right\:10,     .md\:mr\:10 { margin-right: var(--gap-10) !important; }
}

@media (min-width: 1200px) {
    .lg\:margin-right\:auto,           .lg\:m-right\:auto,   .lg\:mr\:auto { margin-right: auto !important; }
    .lg\:margin-right\:0,              .lg\:m-right\:0,      .lg\:mr\:0 { margin-right: var(--gap-0) !important; }
    .lg\:margin-right\:1,              .lg\:m-right\:1,      .lg\:mr\:1 { margin-right: var(--gap-1) !important; }
    .lg\:margin-right\:2,              .lg\:m-right\:2,      .lg\:mr\:2 { margin-right: var(--gap-2) !important; }
    .lg\:margin-right\:3,              .lg\:m-right\:3,      .lg\:mr\:3 { margin-right: var(--gap-3) !important; }
    .lg\:margin-right\:4,              .lg\:m-right\:4,      .lg\:mr\:4 { margin-right: var(--gap-4) !important; }
    .lg\:margin-right\:5,              .lg\:m-right\:5,      .lg\:mr\:5 { margin-right: var(--gap-5) !important; }
    .lg\:margin-right\:6,              .lg\:m-right\:6,      .lg\:mr\:6 { margin-right: var(--gap-6) !important; }
    .lg\:margin-right\:7,              .lg\:m-right\:7,      .lg\:mr\:7 { margin-right: var(--gap-7) !important; }
    .lg\:margin-right\:8,              .lg\:m-right\:8,      .lg\:mr\:8 { margin-right: var(--gap-8) !important; }
    .lg\:margin-right\:9,              .lg\:m-right\:9,      .lg\:mr\:9 { margin-right: var(--gap-9) !important; }
    .lg\:margin-right\:10,             .lg\:m-right\:10,     .lg\:mr\:10 { margin-right: var(--gap-10) !important; }
}

/* ---- margin-bottom ------------------------------------------------- */
.margin-bottom\:auto,           .m-bottom\:auto,   .mb\:auto { margin-bottom: auto !important; }
.margin-bottom\:0,              .m-bottom\:0,      .mb\:0 { margin-bottom: var(--gap-0) !important; }
.margin-bottom\:1,              .m-bottom\:1,      .mb\:1 { margin-bottom: var(--gap-1) !important; }
.margin-bottom\:2,              .m-bottom\:2,      .mb\:2 { margin-bottom: var(--gap-2) !important; }
.margin-bottom\:3,              .m-bottom\:3,      .mb\:3 { margin-bottom: var(--gap-3) !important; }
.margin-bottom\:4,              .m-bottom\:4,      .mb\:4 { margin-bottom: var(--gap-4) !important; }
.margin-bottom\:5,              .m-bottom\:5,      .mb\:5 { margin-bottom: var(--gap-5) !important; }
.margin-bottom\:6,              .m-bottom\:6,      .mb\:6 { margin-bottom: var(--gap-6) !important; }
.margin-bottom\:7,              .m-bottom\:7,      .mb\:7 { margin-bottom: var(--gap-7) !important; }
.margin-bottom\:8,              .m-bottom\:8,      .mb\:8 { margin-bottom: var(--gap-8) !important; }
.margin-bottom\:9,              .m-bottom\:9,      .mb\:9 { margin-bottom: var(--gap-9) !important; }
.margin-bottom\:10,             .m-bottom\:10,     .mb\:10 { margin-bottom: var(--gap-10) !important; }

@media (min-width: 768px) {
    .md\:margin-bottom\:auto,           .md\:m-bottom\:auto,   .md\:mb\:auto { margin-bottom: auto !important; }
    .md\:margin-bottom\:0,              .md\:m-bottom\:0,      .md\:mb\:0 { margin-bottom: var(--gap-0) !important; }
    .md\:margin-bottom\:1,              .md\:m-bottom\:1,      .md\:mb\:1 { margin-bottom: var(--gap-1) !important; }
    .md\:margin-bottom\:2,              .md\:m-bottom\:2,      .md\:mb\:2 { margin-bottom: var(--gap-2) !important; }
    .md\:margin-bottom\:3,              .md\:m-bottom\:3,      .md\:mb\:3 { margin-bottom: var(--gap-3) !important; }
    .md\:margin-bottom\:4,              .md\:m-bottom\:4,      .md\:mb\:4 { margin-bottom: var(--gap-4) !important; }
    .md\:margin-bottom\:5,              .md\:m-bottom\:5,      .md\:mb\:5 { margin-bottom: var(--gap-5) !important; }
    .md\:margin-bottom\:6,              .md\:m-bottom\:6,      .md\:mb\:6 { margin-bottom: var(--gap-6) !important; }
    .md\:margin-bottom\:7,              .md\:m-bottom\:7,      .md\:mb\:7 { margin-bottom: var(--gap-7) !important; }
    .md\:margin-bottom\:8,              .md\:m-bottom\:8,      .md\:mb\:8 { margin-bottom: var(--gap-8) !important; }
    .md\:margin-bottom\:9,              .md\:m-bottom\:9,      .md\:mb\:9 { margin-bottom: var(--gap-9) !important; }
    .md\:margin-bottom\:10,             .md\:m-bottom\:10,     .md\:mb\:10 { margin-bottom: var(--gap-10) !important; }
}

@media (min-width: 1200px) {
    .lg\:margin-bottom\:auto,           .lg\:m-bottom\:auto,   .lg\:mb\:auto { margin-bottom: auto !important; }
    .lg\:margin-bottom\:0,              .lg\:m-bottom\:0,      .lg\:mb\:0 { margin-bottom: var(--gap-0) !important; }
    .lg\:margin-bottom\:1,              .lg\:m-bottom\:1,      .lg\:mb\:1 { margin-bottom: var(--gap-1) !important; }
    .lg\:margin-bottom\:2,              .lg\:m-bottom\:2,      .lg\:mb\:2 { margin-bottom: var(--gap-2) !important; }
    .lg\:margin-bottom\:3,              .lg\:m-bottom\:3,      .lg\:mb\:3 { margin-bottom: var(--gap-3) !important; }
    .lg\:margin-bottom\:4,              .lg\:m-bottom\:4,      .lg\:mb\:4 { margin-bottom: var(--gap-4) !important; }
    .lg\:margin-bottom\:5,              .lg\:m-bottom\:5,      .lg\:mb\:5 { margin-bottom: var(--gap-5) !important; }
    .lg\:margin-bottom\:6,              .lg\:m-bottom\:6,      .lg\:mb\:6 { margin-bottom: var(--gap-6) !important; }
    .lg\:margin-bottom\:7,              .lg\:m-bottom\:7,      .lg\:mb\:7 { margin-bottom: var(--gap-7) !important; }
    .lg\:margin-bottom\:8,              .lg\:m-bottom\:8,      .lg\:mb\:8 { margin-bottom: var(--gap-8) !important; }
    .lg\:margin-bottom\:9,              .lg\:m-bottom\:9,      .lg\:mb\:9 { margin-bottom: var(--gap-9) !important; }
    .lg\:margin-bottom\:10,             .lg\:m-bottom\:10,     .lg\:mb\:10 { margin-bottom: var(--gap-10) !important; }
}

/* ---- margin-left ------------------------------------------------- */
.margin-left\:auto,           .m-left\:auto,   .ml\:auto { margin-left: auto !important; }
.margin-left\:0,              .m-left\:0,      .ml\:0 { margin-left: var(--gap-0) !important; }
.margin-left\:1,              .m-left\:1,      .ml\:1 { margin-left: var(--gap-1) !important; }
.margin-left\:2,              .m-left\:2,      .ml\:2 { margin-left: var(--gap-2) !important; }
.margin-left\:3,              .m-left\:3,      .ml\:3 { margin-left: var(--gap-3) !important; }
.margin-left\:4,              .m-left\:4,      .ml\:4 { margin-left: var(--gap-4) !important; }
.margin-left\:5,              .m-left\:5,      .ml\:5 { margin-left: var(--gap-5) !important; }
.margin-left\:6,              .m-left\:6,      .ml\:6 { margin-left: var(--gap-6) !important; }
.margin-left\:7,              .m-left\:7,      .ml\:7 { margin-left: var(--gap-7) !important; }
.margin-left\:8,              .m-left\:8,      .ml\:8 { margin-left: var(--gap-8) !important; }
.margin-left\:9,              .m-left\:9,      .ml\:9 { margin-left: var(--gap-9) !important; }
.margin-left\:10,             .m-left\:10,     .ml\:10 { margin-left: var(--gap-10) !important; }

@media (min-width: 768px) {
    .md\:margin-left\:auto,           .md\:m-left\:auto,   .md\:ml\:auto { margin-left: auto !important; }
    .md\:margin-left\:0,              .md\:m-left\:0,      .md\:ml\:0 { margin-left: var(--gap-0) !important; }
    .md\:margin-left\:1,              .md\:m-left\:1,      .md\:ml\:1 { margin-left: var(--gap-1) !important; }
    .md\:margin-left\:2,              .md\:m-left\:2,      .md\:ml\:2 { margin-left: var(--gap-2) !important; }
    .md\:margin-left\:3,              .md\:m-left\:3,      .md\:ml\:3 { margin-left: var(--gap-3) !important; }
    .md\:margin-left\:4,              .md\:m-left\:4,      .md\:ml\:4 { margin-left: var(--gap-4) !important; }
    .md\:margin-left\:5,              .md\:m-left\:5,      .md\:ml\:5 { margin-left: var(--gap-5) !important; }
    .md\:margin-left\:6,              .md\:m-left\:6,      .md\:ml\:6 { margin-left: var(--gap-6) !important; }
    .md\:margin-left\:7,              .md\:m-left\:7,      .md\:ml\:7 { margin-left: var(--gap-7) !important; }
    .md\:margin-left\:8,              .md\:m-left\:8,      .md\:ml\:8 { margin-left: var(--gap-8) !important; }
    .md\:margin-left\:9,              .md\:m-left\:9,      .md\:ml\:9 { margin-left: var(--gap-9) !important; }
    .md\:margin-left\:10,             .md\:m-left\:10,     .md\:ml\:10 { margin-left: var(--gap-10) !important; }
}

@media (min-width: 1200px) {
    .lg\:margin-left\:auto,           .lg\:m-left\:auto,   .lg\:ml\:auto { margin-left: auto !important; }
    .lg\:margin-left\:0,              .lg\:m-left\:0,      .lg\:ml\:0 { margin-left: var(--gap-0) !important; }
    .lg\:margin-left\:1,              .lg\:m-left\:1,      .lg\:ml\:1 { margin-left: var(--gap-1) !important; }
    .lg\:margin-left\:2,              .lg\:m-left\:2,      .lg\:ml\:2 { margin-left: var(--gap-2) !important; }
    .lg\:margin-left\:3,              .lg\:m-left\:3,      .lg\:ml\:3 { margin-left: var(--gap-3) !important; }
    .lg\:margin-left\:4,              .lg\:m-left\:4,      .lg\:ml\:4 { margin-left: var(--gap-4) !important; }
    .lg\:margin-left\:5,              .lg\:m-left\:5,      .lg\:ml\:5 { margin-left: var(--gap-5) !important; }
    .lg\:margin-left\:6,              .lg\:m-left\:6,      .lg\:ml\:6 { margin-left: var(--gap-6) !important; }
    .lg\:margin-left\:7,              .lg\:m-left\:7,      .lg\:ml\:7 { margin-left: var(--gap-7) !important; }
    .lg\:margin-left\:8,              .lg\:m-left\:8,      .lg\:ml\:8 { margin-left: var(--gap-8) !important; }
    .lg\:margin-left\:9,              .lg\:m-left\:9,      .lg\:ml\:9 { margin-left: var(--gap-9) !important; }
    .lg\:margin-left\:10,             .lg\:m-left\:10,     .lg\:ml\:10 { margin-left: var(--gap-10) !important; }
}

/* ---- margin-x (left + right) ------------------------------------------------- */
.margin-x\:auto,           .mx\:auto { margin-right: auto !important; margin-left: auto !important; }
.margin-x\:0,              .mx\:0 { margin-right: var(--gap-0) !important; margin-left: var(--gap-0) !important; }
.margin-x\:1,              .mx\:1 { margin-right: var(--gap-1) !important; margin-left: var(--gap-1) !important; }
.margin-x\:2,              .mx\:2 { margin-right: var(--gap-2) !important; margin-left: var(--gap-2) !important; }
.margin-x\:3,              .mx\:3 { margin-right: var(--gap-3) !important; margin-left: var(--gap-3) !important; }
.margin-x\:4,              .mx\:4 { margin-right: var(--gap-4) !important; margin-left: var(--gap-4) !important; }
.margin-x\:5,              .mx\:5 { margin-right: var(--gap-5) !important; margin-left: var(--gap-5) !important; }
.margin-x\:6,              .mx\:6 { margin-right: var(--gap-6) !important; margin-left: var(--gap-6) !important; }
.margin-x\:7,              .mx\:7 { margin-right: var(--gap-7) !important; margin-left: var(--gap-7) !important; }
.margin-x\:8,              .mx\:8 { margin-right: var(--gap-8) !important; margin-left: var(--gap-8) !important; }
.margin-x\:9,              .mx\:9 { margin-right: var(--gap-9) !important; margin-left: var(--gap-9) !important; }
.margin-x\:10,             .mx\:10 { margin-right: var(--gap-10) !important; margin-left: var(--gap-10) !important; }

@media (min-width: 768px) {
    .md\:margin-x\:auto,           .md\:mx\:auto { margin-right: auto !important; margin-left: auto !important; }
    .md\:margin-x\:0,              .md\:mx\:0 { margin-right: var(--gap-0) !important; margin-left: var(--gap-0) !important; }
    .md\:margin-x\:1,              .md\:mx\:1 { margin-right: var(--gap-1) !important; margin-left: var(--gap-1) !important; }
    .md\:margin-x\:2,              .md\:mx\:2 { margin-right: var(--gap-2) !important; margin-left: var(--gap-2) !important; }
    .md\:margin-x\:3,              .md\:mx\:3 { margin-right: var(--gap-3) !important; margin-left: var(--gap-3) !important; }
    .md\:margin-x\:4,              .md\:mx\:4 { margin-right: var(--gap-4) !important; margin-left: var(--gap-4) !important; }
    .md\:margin-x\:5,              .md\:mx\:5 { margin-right: var(--gap-5) !important; margin-left: var(--gap-5) !important; }
    .md\:margin-x\:6,              .md\:mx\:6 { margin-right: var(--gap-6) !important; margin-left: var(--gap-6) !important; }
    .md\:margin-x\:7,              .md\:mx\:7 { margin-right: var(--gap-7) !important; margin-left: var(--gap-7) !important; }
    .md\:margin-x\:8,              .md\:mx\:8 { margin-right: var(--gap-8) !important; margin-left: var(--gap-8) !important; }
    .md\:margin-x\:9,              .md\:mx\:9 { margin-right: var(--gap-9) !important; margin-left: var(--gap-9) !important; }
    .md\:margin-x\:10,             .md\:mx\:10 { margin-right: var(--gap-10) !important; margin-left: var(--gap-10) !important; }
}

@media (min-width: 1200px) {
    .lg\:margin-x\:auto,   .lg\:mx\:auto { margin-right: auto !important; margin-left: auto !important; }
    .lg\:margin-x\:0,      .lg\:mx\:0 { margin-right: var(--gap-0) !important; margin-left: var(--gap-0) !important; }
    .lg\:margin-x\:1,      .lg\:mx\:1 { margin-right: var(--gap-1) !important; margin-left: var(--gap-1) !important; }
    .lg\:margin-x\:2,      .lg\:mx\:2 { margin-right: var(--gap-2) !important; margin-left: var(--gap-2) !important; }
    .lg\:margin-x\:3,      .lg\:mx\:3 { margin-right: var(--gap-3) !important; margin-left: var(--gap-3) !important; }
    .lg\:margin-x\:4,      .lg\:mx\:4 { margin-right: var(--gap-4) !important; margin-left: var(--gap-4) !important; }
    .lg\:margin-x\:5,      .lg\:mx\:5 { margin-right: var(--gap-5) !important; margin-left: var(--gap-5) !important; }
    .lg\:margin-x\:6,      .lg\:mx\:6 { margin-right: var(--gap-6) !important; margin-left: var(--gap-6) !important; }
    .lg\:margin-x\:7,      .lg\:mx\:7 { margin-right: var(--gap-7) !important; margin-left: var(--gap-7) !important; }
    .lg\:margin-x\:8,      .lg\:mx\:8 { margin-right: var(--gap-8) !important; margin-left: var(--gap-8) !important; }
    .lg\:margin-x\:9,      .lg\:mx\:9 { margin-right: var(--gap-9) !important; margin-left: var(--gap-9) !important; }
    .lg\:margin-x\:10,     .lg\:mx\:10 { margin-right: var(--gap-10) !important; margin-left: var(--gap-10) !important; }
}

/* ---- margin-y (top + bottom) ------------------------------------------------- */
.margin-y\:auto,   .my\:auto { margin-top: auto !important; margin-bottom: auto !important; }
.margin-y\:0,      .my\:0 { margin-top: var(--gap-0) !important; margin-bottom: var(--gap-0) !important; }
.margin-y\:1,      .my\:1 { margin-top: var(--gap-1) !important; margin-bottom: var(--gap-1) !important; }
.margin-y\:2,      .my\:2 { margin-top: var(--gap-2) !important; margin-bottom: var(--gap-2) !important; }
.margin-y\:3,      .my\:3 { margin-top: var(--gap-3) !important; margin-bottom: var(--gap-3) !important; }
.margin-y\:4,      .my\:4 { margin-top: var(--gap-4) !important; margin-bottom: var(--gap-4) !important; }
.margin-y\:5,      .my\:5 { margin-top: var(--gap-5) !important; margin-bottom: var(--gap-5) !important; }
.margin-y\:6,      .my\:6 { margin-top: var(--gap-6) !important; margin-bottom: var(--gap-6) !important; }
.margin-y\:7,      .my\:7 { margin-top: var(--gap-7) !important; margin-bottom: var(--gap-7) !important; }
.margin-y\:8,      .my\:8 { margin-top: var(--gap-8) !important; margin-bottom: var(--gap-8) !important; }
.margin-y\:9,      .my\:9 { margin-top: var(--gap-9) !important; margin-bottom: var(--gap-9) !important; }
.margin-y\:10,     .my\:10 { margin-top: var(--gap-10) !important; margin-bottom: var(--gap-10) !important; }

@media (min-width: 768px) {
    .md\:margin-y\:auto,   .md\:my\:auto { margin-top: auto !important; margin-bottom: auto !important; }
    .md\:margin-y\:0,      .md\:my\:0 { margin-top: var(--gap-0) !important; margin-bottom: var(--gap-0) !important; }
    .md\:margin-y\:1,      .md\:my\:1 { margin-top: var(--gap-1) !important; margin-bottom: var(--gap-1) !important; }
    .md\:margin-y\:2,      .md\:my\:2 { margin-top: var(--gap-2) !important; margin-bottom: var(--gap-2) !important; }
    .md\:margin-y\:3,      .md\:my\:3 { margin-top: var(--gap-3) !important; margin-bottom: var(--gap-3) !important; }
    .md\:margin-y\:4,      .md\:my\:4 { margin-top: var(--gap-4) !important; margin-bottom: var(--gap-4) !important; }
    .md\:margin-y\:5,      .md\:my\:5 { margin-top: var(--gap-5) !important; margin-bottom: var(--gap-5) !important; }
    .md\:margin-y\:6,      .md\:my\:6 { margin-top: var(--gap-6) !important; margin-bottom: var(--gap-6) !important; }
    .md\:margin-y\:7,      .md\:my\:7 { margin-top: var(--gap-7) !important; margin-bottom: var(--gap-7) !important; }
    .md\:margin-y\:8,      .md\:my\:8 { margin-top: var(--gap-8) !important; margin-bottom: var(--gap-8) !important; }
    .md\:margin-y\:9,      .md\:my\:9 { margin-top: var(--gap-9) !important; margin-bottom: var(--gap-9) !important; }
    .md\:margin-y\:10,     .md\:my\:10 { margin-top: var(--gap-10) !important; margin-bottom: var(--gap-10) !important; }
}

@media (min-width: 1200px) {
    .lg\:margin-y\:auto,   .lg\:my\:auto { margin-top: auto !important; margin-bottom: auto !important; }
    .lg\:margin-y\:0,      .lg\:my\:0 { margin-top: var(--gap-0) !important; margin-bottom: var(--gap-0) !important; }
    .lg\:margin-y\:1,      .lg\:my\:1 { margin-top: var(--gap-1) !important; margin-bottom: var(--gap-1) !important; }
    .lg\:margin-y\:2,      .lg\:my\:2 { margin-top: var(--gap-2) !important; margin-bottom: var(--gap-2) !important; }
    .lg\:margin-y\:3,      .lg\:my\:3 { margin-top: var(--gap-3) !important; margin-bottom: var(--gap-3) !important; }
    .lg\:margin-y\:4,      .lg\:my\:4 { margin-top: var(--gap-4) !important; margin-bottom: var(--gap-4) !important; }
    .lg\:margin-y\:5,      .lg\:my\:5 { margin-top: var(--gap-5) !important; margin-bottom: var(--gap-5) !important; }
    .lg\:margin-y\:6,      .lg\:my\:6 { margin-top: var(--gap-6) !important; margin-bottom: var(--gap-6) !important; }
    .lg\:margin-y\:7,      .lg\:my\:7 { margin-top: var(--gap-7) !important; margin-bottom: var(--gap-7) !important; }
    .lg\:margin-y\:8,      .lg\:my\:8 { margin-top: var(--gap-8) !important; margin-bottom: var(--gap-8) !important; }
    .lg\:margin-y\:9,      .lg\:my\:9 { margin-top: var(--gap-9) !important; margin-bottom: var(--gap-9) !important; }
    .lg\:margin-y\:10,     .lg\:my\:10 { margin-top: var(--gap-10) !important; margin-bottom: var(--gap-10) !important; }
}