.overflow\:auto,		     		.of\:auto 		    { overflow: auto !important; }
.overflow\:hidden,		     		.of\:hidden 	    { overflow: hidden !important; }
.overflow\:scroll,		     		.of\:scroll   	    { overflow: scroll !important; }
.overflow\:visible,		     		.of\:visible   	    { overflow: visible !important; }
.overflow\:inherit,		     		.of\:inherit   	    { overflow: inherit !important; }
.overflow\:initial,		     		.of\:initial       	{ overflow: initial !important; }
.overflow\:unset,		     		.of\:unset   	    { overflow: unset !important; }
.overflow-y\:auto,		     		.of-y\:auto         { overflow-y: auto !important; }
.overflow-y\:hidden,	     		.of-y\:hidden       { overflow-y: hidden !important; }
.overflow-y\:scroll,	     		.of-y\:scroll 	    { overflow-y: scroll !important; }
.overflow-y\:visible,	     		.of-y\:visible 	    { overflow-y: visible !important; }
.overflow-y\:inherit,	     	    .of-y\:inherit      { overflow-y: inherit !important; }
.overflow-y\:initial,	     	    .of-y\:initial      { overflow-y: initial !important; }
.overflow-y\:unset,		     		.of-y\:unset     	{ overflow-y: unset !important; }
.overflow-x\:auto,		     		.of-x\:auto 	    { overflow-x: auto !important; }
.overflow-x\:hidden,	     		.of-x\:hidden       { overflow-x: hidden !important; }
.overflow-x\:scroll,	     		.of-x\:scroll 	    { overflow-x: scroll !important; }
.overflow-x\:visible,	     		.of-x\:visible   	{ overflow-x: visible !important; }
.overflow-x\:inherit,	      	    .of-x\:inherit      { overflow-x: inherit !important; }
.overflow-x\:initial,	      	    .of-x\:initial      { overflow-x: initial !important; }
.overflow-x\:unset,		         	.of-x\:unset   	    { overflow-x: unset !important; }

/* ---- medium ------------------------------------------------- */
@media (min-width: 768px) {
    .md\:overflow\:auto,			.md\:of\:auto 		{ overflow: auto !important; }
    .md\:overflow\:hidden,			.md\:of\:hidden     { overflow: hidden !important; }
    .md\:overflow\:scroll,			.md\:of\:scroll   	{ overflow: scroll !important; }
    .md\:overflow\:visible,			.md\:of\:visible   	{ overflow: visible !important; }
    .md\:overflow\:inherit,			.md\:of\:inherit   	{ overflow: inherit !important; }
    .md\:overflow\:initial,			.md\:of\:initial   	{ overflow: initial !important; }
    .md\:overflow\:unset,		    .md\:of\:unset   	{ overflow: unset !important; }
    .md\:overflow-y\:auto,			.md\:of-y\:auto     { overflow-y: auto !important; }
    .md\:overflow-y\:hidden,		.md\:of-y\:hidden   { overflow-y: hidden !important; }
    .md\:overflow-y\:scroll,		.md\:of-y\:scroll 	{ overflow-y: scroll !important; }
    .md\:overflow-y\:visible,		.md\:of-y\:visible 	{ overflow-y: visible !important; }
    .md\:overflow-y\:inherit,	    .md\:of-y\:inherit  { overflow-y: inherit !important; }
    .md\:overflow-y\:initial,	    .md\:of-y\:initial  { overflow-y: initial !important; }
    .md\:overflow-y\:unset,			.md\:of-y\:unset   	{ overflow-y: unset !important; }
    .md\:overflow-x\:auto,			.md\:of-x\:auto 	{ overflow-x: auto !important; }
    .md\:overflow-x\:hidden,		.md\:of-x\:hidden   { overflow-x: hidden !important; }
    .md\:overflow-x\:scroll,		.md\:of-x\:scroll 	{ overflow-x: scroll !important; }
    .md\:overflow-x\:visible,		.md\:of-x\:visible 	{ overflow-x: visible !important; }
    .md\:overflow-x\:inherit,	    .md\:of-x\:inherit  { overflow-x: inherit !important; }
    .md\:overflow-x\:initial,	    .md\:of-x\:initial  { overflow-x: initial !important; }
    .md\:overflow-x\:unset,			.md\:of-x\:unset   	{ overflow-x: unset !important; }
}

/* ---- large ------------------------------------------------- */
@media (min-width: 1200px) {
    .lg\:overflow\:auto,			.lg\:of\:auto 		{ overflow: auto !important; }
    .lg\:overflow\:hidden,			.lg\:of\:hidden     { overflow: hidden !important; }
    .lg\:overflow\:scroll,			.lg\:of\:scroll   	{ overflow: scroll !important; }
    .lg\:overflow\:visible,			.lg\:of\:visible   	{ overflow: visible !important; }
    .lg\:overflow\:inherit,			.lg\:of\:inherit   	{ overflow: inherit !important; }
    .lg\:overflow\:initial,			.lg\:of\:initial   	{ overflow: initial !important; }
    .lg\:overflow\:unset,		    .lg\:of\:unset   	{ overflow: unset !important; }
    .lg\:overflow-y\:auto,			.lg\:of-y\:auto     { overflow-y: auto !important; }
    .lg\:overflow-y\:hidden,		.lg\:of-y\:hidden   { overflow-y: hidden !important; }
    .lg\:overflow-y\:scroll,		.lg\:of-y\:scroll 	{ overflow-y: scroll !important; }
    .lg\:overflow-y\:visible,		.lg\:of-y\:visible 	{ overflow-y: visible !important; }
    .lg\:overflow-y\:inherit,	    .lg\:of-y\:inherit  { overflow-y: inherit !important; }
    .lg\:overflow-y\:initial,	    .lg\:of-y\:initial  { overflow-y: initial !important; }
    .lg\:overflow-y\:unset,			.lg\:of-y\:unset   	{ overflow-y: unset !important; }
    .lg\:overflow-x\:auto,			.lg\:of-x\:auto 	{ overflow-x: auto !important; }
    .lg\:overflow-x\:hidden,		.lg\:of-x\:hidden   { overflow-x: hidden !important; }
    .lg\:overflow-x\:scroll,		.lg\:of-x\:scroll 	{ overflow-x: scroll !important; }
    .lg\:overflow-x\:visible,		.lg\:of-x\:visible 	{ overflow-x: visible !important; }
    .lg\:overflow-x\:inherit,	    .lg\:of-x\:inherit  { overflow-x: inherit !important; }
    .lg\:overflow-x\:initial,	    .lg\:of-x\:initial  { overflow-x: initial !important; }
    .lg\:overflow-x\:unset,			.lg\:of-x\:unset   	{ overflow-x: unset !important; }
}