/* ───────────────────────────────────
 * padding
 * padding-top
 * padding-right
 * padding-bottom
 * padding-left
 * padding-x
 * padding-y
 * ───────────────────────────────────    */

.padding\:auto,                 .p\:auto { padding: auto !important; }
.padding\:0,                    .p\:0 { padding: var(--gap-0) !important; }
.padding\:1,                    .p\:1 { padding: var(--gap-1) !important; }
.padding\:2,                    .p\:2 { padding: var(--gap-2) !important; }
.padding\:3,                    .p\:3 { padding: var(--gap-3) !important; }
.padding\:4,                    .p\:4 { padding: var(--gap-4) !important; }
.padding\:5,                    .p\:5 { padding: var(--gap-5) !important; }
.padding\:6,                    .p\:6 { padding: var(--gap-6) !important; }
.padding\:7,                    .p\:7 { padding: var(--gap-7) !important; }
.padding\:8,                    .p\:8 { padding: var(--gap-8) !important; }
.padding\:9,                    .p\:9 { padding: var(--gap-9) !important; }
.padding\:10,                   .p\:10 { padding: var(--gap-10) !important; }

@media (min-width: 768px) {
    .md\:padding\:auto,                 .md\:p\:auto { padding: auto !important; }
    .md\:padding\:0,                    .md\:p\:0 { padding: var(--gap-0) !important; }
    .md\:padding\:1,                    .md\:p\:1 { padding: var(--gap-1) !important; }
    .md\:padding\:2,                    .md\:p\:2 { padding: var(--gap-2) !important; }
    .md\:padding\:3,                    .md\:p\:3 { padding: var(--gap-3) !important; }
    .md\:padding\:4,                    .md\:p\:4 { padding: var(--gap-4) !important; }
    .md\:padding\:5,                    .md\:p\:5 { padding: var(--gap-5) !important; }
    .md\:padding\:6,                    .md\:p\:6 { padding: var(--gap-6) !important; }
    .md\:padding\:7,                    .md\:p\:7 { padding: var(--gap-7) !important; }
    .md\:padding\:8,                    .md\:p\:8 { padding: var(--gap-8) !important; }
    .md\:padding\:9,                    .md\:p\:9 { padding: var(--gap-9) !important; }
    .md\:padding\:10,                   .md\:p\:10 { padding: var(--gap-10) !important; }
}

@media (min-width: 1200px) {
    .lg\:padding\:auto,                 .lg\:p\:auto { padding: auto !important; }
    .lg\:padding\:0,                    .lg\:p\:0 { padding: var(--gap-0) !important; }
    .lg\:padding\:1,                    .lg\:p\:1 { padding: var(--gap-1) !important; }
    .lg\:padding\:2,                    .lg\:p\:2 { padding: var(--gap-2) !important; }
    .lg\:padding\:3,                    .lg\:p\:3 { padding: var(--gap-3) !important; }
    .lg\:padding\:4,                    .lg\:p\:4 { padding: var(--gap-4) !important; }
    .lg\:padding\:5,                    .lg\:p\:5 { padding: var(--gap-5) !important; }
    .lg\:padding\:6,                    .lg\:p\:6 { padding: var(--gap-6) !important; }
    .lg\:padding\:7,                    .lg\:p\:7 { padding: var(--gap-7) !important; }
    .lg\:padding\:8,                    .lg\:p\:8 { padding: var(--gap-8) !important; }
    .lg\:padding\:9,                    .lg\:p\:9 { padding: var(--gap-9) !important; }
    .lg\:padding\:10,                   .lg\:p\:10 { padding: var(--gap-10) !important; }
}

/* ---- padding-top ------------------------------------------------- */
.padding-top\:auto,           .p-top\:auto,   .pt\:auto { padding-top: auto !important; }
.padding-top\:0,              .p-top\:0,      .pt\:0 { padding-top: var(--gap-0) !important; }
.padding-top\:1,              .p-top\:1,      .pt\:1 { padding-top: var(--gap-1) !important; }
.padding-top\:2,              .p-top\:2,      .pt\:2 { padding-top: var(--gap-2) !important; }
.padding-top\:3,              .p-top\:3,      .pt\:3 { padding-top: var(--gap-3) !important; }
.padding-top\:4,              .p-top\:4,      .pt\:4 { padding-top: var(--gap-4) !important; }
.padding-top\:5,              .p-top\:5,      .pt\:5 { padding-top: var(--gap-5) !important; }
.padding-top\:6,              .p-top\:6,      .pt\:6 { padding-top: var(--gap-6) !important; }
.padding-top\:7,              .p-top\:7,      .pt\:7 { padding-top: var(--gap-7) !important; }
.padding-top\:8,              .p-top\:8,      .pt\:8 { padding-top: var(--gap-8) !important; }
.padding-top\:9,              .p-top\:9,      .pt\:9 { padding-top: var(--gap-9) !important; }
.padding-top\:10,             .p-top\:10,     .pt\:10 { padding-top: var(--gap-10) !important; }

@media (min-width: 768px) {
    .md\:padding-top\:auto,           .md\:p-top\:auto,   .md\:pt\:auto { padding-top: auto !important; }
    .md\:padding-top\:0,              .md\:p-top\:0,      .md\:pt\:0 { padding-top: var(--gap-0) !important; }
    .md\:padding-top\:1,              .md\:p-top\:1,      .md\:pt\:1 { padding-top: var(--gap-1) !important; }
    .md\:padding-top\:2,              .md\:p-top\:2,      .md\:pt\:2 { padding-top: var(--gap-2) !important; }
    .md\:padding-top\:3,              .md\:p-top\:3,      .md\:pt\:3 { padding-top: var(--gap-3) !important; }
    .md\:padding-top\:4,              .md\:p-top\:4,      .md\:pt\:4 { padding-top: var(--gap-4) !important; }
    .md\:padding-top\:5,              .md\:p-top\:5,      .md\:pt\:5 { padding-top: var(--gap-5) !important; }
    .md\:padding-top\:6,              .md\:p-top\:6,      .md\:pt\:6 { padding-top: var(--gap-6) !important; }
    .md\:padding-top\:7,              .md\:p-top\:7,      .md\:pt\:7 { padding-top: var(--gap-7) !important; }
    .md\:padding-top\:8,              .md\:p-top\:8,      .md\:pt\:8 { padding-top: var(--gap-8) !important; }
    .md\:padding-top\:9,              .md\:p-top\:9,      .md\:pt\:9 { padding-top: var(--gap-9) !important; }
    .md\:padding-top\:10,             .md\:p-top\:10,     .md\:pt\:10 { padding-top: var(--gap-10) !important; }
}

@media (min-width: 1200px) {
    .lg\:padding-top\:auto,           .lg\:p-top\:auto,   .lg\:pt\:auto { padding-top: auto !important; }
    .lg\:padding-top\:0,              .lg\:p-top\:0,      .lg\:pt\:0 { padding-top: var(--gap-0) !important; }
    .lg\:padding-top\:1,              .lg\:p-top\:1,      .lg\:pt\:1 { padding-top: var(--gap-1) !important; }
    .lg\:padding-top\:2,              .lg\:p-top\:2,      .lg\:pt\:2 { padding-top: var(--gap-2) !important; }
    .lg\:padding-top\:3,              .lg\:p-top\:3,      .lg\:pt\:3 { padding-top: var(--gap-3) !important; }
    .lg\:padding-top\:4,              .lg\:p-top\:4,      .lg\:pt\:4 { padding-top: var(--gap-4) !important; }
    .lg\:padding-top\:5,              .lg\:p-top\:5,      .lg\:pt\:5 { padding-top: var(--gap-5) !important; }
    .lg\:padding-top\:6,              .lg\:p-top\:6,      .lg\:pt\:6 { padding-top: var(--gap-6) !important; }
    .lg\:padding-top\:7,              .lg\:p-top\:7,      .lg\:pt\:7 { padding-top: var(--gap-7) !important; }
    .lg\:padding-top\:8,              .lg\:p-top\:8,      .lg\:pt\:8 { padding-top: var(--gap-8) !important; }
    .lg\:padding-top\:9,              .lg\:p-top\:9,      .lg\:pt\:9 { padding-top: var(--gap-9) !important; }
    .lg\:padding-top\:10,             .lg\:p-top\:10,     .lg\:pt\:10 { padding-top: var(--gap-10) !important; }
}

/* ---- padding-right ------------------------------------------------- */
.padding-right\:auto,           .p-right\:auto,   .pr\:auto { padding-right: auto !important; }
.padding-right\:0,              .p-right\:0,      .pr\:0 { padding-right: var(--gap-0) !important; }
.padding-right\:1,              .p-right\:1,      .pr\:1 { padding-right: var(--gap-1) !important; }
.padding-right\:2,              .p-right\:2,      .pr\:2 { padding-right: var(--gap-2) !important; }
.padding-right\:3,              .p-right\:3,      .pr\:3 { padding-right: var(--gap-3) !important; }
.padding-right\:4,              .p-right\:4,      .pr\:4 { padding-right: var(--gap-4) !important; }
.padding-right\:5,              .p-right\:5,      .pr\:5 { padding-right: var(--gap-5) !important; }
.padding-right\:6,              .p-right\:6,      .pr\:6 { padding-right: var(--gap-6) !important; }
.padding-right\:7,              .p-right\:7,      .pr\:7 { padding-right: var(--gap-7) !important; }
.padding-right\:8,              .p-right\:8,      .pr\:8 { padding-right: var(--gap-8) !important; }
.padding-right\:9,              .p-right\:9,      .pr\:9 { padding-right: var(--gap-9) !important; }
.padding-right\:10,             .p-right\:10,     .pr\:10 { padding-right: var(--gap-10) !important; }

@media (min-width: 768px) {
    .md\:padding-right\:auto,           .md\:p-right\:auto,   .md\:pr\:auto { padding-right: auto !important; }
    .md\:padding-right\:0,              .md\:p-right\:0,      .md\:pr\:0 { padding-right: var(--gap-0) !important; }
    .md\:padding-right\:1,              .md\:p-right\:1,      .md\:pr\:1 { padding-right: var(--gap-1) !important; }
    .md\:padding-right\:2,              .md\:p-right\:2,      .md\:pr\:2 { padding-right: var(--gap-2) !important; }
    .md\:padding-right\:3,              .md\:p-right\:3,      .md\:pr\:3 { padding-right: var(--gap-3) !important; }
    .md\:padding-right\:4,              .md\:p-right\:4,      .md\:pr\:4 { padding-right: var(--gap-4) !important; }
    .md\:padding-right\:5,              .md\:p-right\:5,      .md\:pr\:5 { padding-right: var(--gap-5) !important; }
    .md\:padding-right\:6,              .md\:p-right\:6,      .md\:pr\:6 { padding-right: var(--gap-6) !important; }
    .md\:padding-right\:7,              .md\:p-right\:7,      .md\:pr\:7 { padding-right: var(--gap-7) !important; }
    .md\:padding-right\:8,              .md\:p-right\:8,      .md\:pr\:8 { padding-right: var(--gap-8) !important; }
    .md\:padding-right\:9,              .md\:p-right\:9,      .md\:pr\:9 { padding-right: var(--gap-9) !important; }
    .md\:padding-right\:10,             .md\:p-right\:10,     .md\:pr\:10 { padding-right: var(--gap-10) !important; }
}

@media (min-width: 1200px) {
    .lg\:padding-right\:auto,           .lg\:p-right\:auto,   .lg\:pr\:auto { padding-right: auto !important; }
    .lg\:padding-right\:0,              .lg\:p-right\:0,      .lg\:pr\:0 { padding-right: var(--gap-0) !important; }
    .lg\:padding-right\:1,              .lg\:p-right\:1,      .lg\:pr\:1 { padding-right: var(--gap-1) !important; }
    .lg\:padding-right\:2,              .lg\:p-right\:2,      .lg\:pr\:2 { padding-right: var(--gap-2) !important; }
    .lg\:padding-right\:3,              .lg\:p-right\:3,      .lg\:pr\:3 { padding-right: var(--gap-3) !important; }
    .lg\:padding-right\:4,              .lg\:p-right\:4,      .lg\:pr\:4 { padding-right: var(--gap-4) !important; }
    .lg\:padding-right\:5,              .lg\:p-right\:5,      .lg\:pr\:5 { padding-right: var(--gap-5) !important; }
    .lg\:padding-right\:6,              .lg\:p-right\:6,      .lg\:pr\:6 { padding-right: var(--gap-6) !important; }
    .lg\:padding-right\:7,              .lg\:p-right\:7,      .lg\:pr\:7 { padding-right: var(--gap-7) !important; }
    .lg\:padding-right\:8,              .lg\:p-right\:8,      .lg\:pr\:8 { padding-right: var(--gap-8) !important; }
    .lg\:padding-right\:9,              .lg\:p-right\:9,      .lg\:pr\:9 { padding-right: var(--gap-9) !important; }
    .lg\:padding-right\:10,             .lg\:p-right\:10,     .lg\:pr\:10 { padding-right: var(--gap-10) !important; }
}

/* ---- padding-bottom ------------------------------------------------- */
.padding-bottom\:auto,           .p-bottom\:auto,   .pb\:auto { padding-bottom: auto !important; }
.padding-bottom\:0,              .p-bottom\:0,      .pb\:0 { padding-bottom: var(--gap-0) !important; }
.padding-bottom\:1,              .p-bottom\:1,      .pb\:1 { padding-bottom: var(--gap-1) !important; }
.padding-bottom\:2,              .p-bottom\:2,      .pb\:2 { padding-bottom: var(--gap-2) !important; }
.padding-bottom\:3,              .p-bottom\:3,      .pb\:3 { padding-bottom: var(--gap-3) !important; }
.padding-bottom\:4,              .p-bottom\:4,      .pb\:4 { padding-bottom: var(--gap-4) !important; }
.padding-bottom\:5,              .p-bottom\:5,      .pb\:5 { padding-bottom: var(--gap-5) !important; }
.padding-bottom\:6,              .p-bottom\:6,      .pb\:6 { padding-bottom: var(--gap-6) !important; }
.padding-bottom\:7,              .p-bottom\:7,      .pb\:7 { padding-bottom: var(--gap-7) !important; }
.padding-bottom\:8,              .p-bottom\:8,      .pb\:8 { padding-bottom: var(--gap-8) !important; }
.padding-bottom\:9,              .p-bottom\:9,      .pb\:9 { padding-bottom: var(--gap-9) !important; }
.padding-bottom\:10,             .p-bottom\:10,     .pb\:10 { padding-bottom: var(--gap-10) !important; }

@media (min-width: 768px) {
    .md\:padding-bottom\:auto,           .md\:p-bottom\:auto,   .md\:pb\:auto { padding-bottom: auto !important; }
    .md\:padding-bottom\:0,              .md\:p-bottom\:0,      .md\:pb\:0 { padding-bottom: var(--gap-0) !important; }
    .md\:padding-bottom\:1,              .md\:p-bottom\:1,      .md\:pb\:1 { padding-bottom: var(--gap-1) !important; }
    .md\:padding-bottom\:2,              .md\:p-bottom\:2,      .md\:pb\:2 { padding-bottom: var(--gap-2) !important; }
    .md\:padding-bottom\:3,              .md\:p-bottom\:3,      .md\:pb\:3 { padding-bottom: var(--gap-3) !important; }
    .md\:padding-bottom\:4,              .md\:p-bottom\:4,      .md\:pb\:4 { padding-bottom: var(--gap-4) !important; }
    .md\:padding-bottom\:5,              .md\:p-bottom\:5,      .md\:pb\:5 { padding-bottom: var(--gap-5) !important; }
    .md\:padding-bottom\:6,              .md\:p-bottom\:6,      .md\:pb\:6 { padding-bottom: var(--gap-6) !important; }
    .md\:padding-bottom\:7,              .md\:p-bottom\:7,      .md\:pb\:7 { padding-bottom: var(--gap-7) !important; }
    .md\:padding-bottom\:8,              .md\:p-bottom\:8,      .md\:pb\:8 { padding-bottom: var(--gap-8) !important; }
    .md\:padding-bottom\:9,              .md\:p-bottom\:9,      .md\:pb\:9 { padding-bottom: var(--gap-9) !important; }
    .md\:padding-bottom\:10,             .md\:p-bottom\:10,     .md\:pb\:10 { padding-bottom: var(--gap-10) !important; }
}

@media (min-width: 1200px) {
    .lg\:padding-bottom\:auto,           .lg\:p-bottom\:auto,   .lg\:pb\:auto { padding-bottom: auto !important; }
    .lg\:padding-bottom\:0,              .lg\:p-bottom\:0,      .lg\:pb\:0 { padding-bottom: var(--gap-0) !important; }
    .lg\:padding-bottom\:1,              .lg\:p-bottom\:1,      .lg\:pb\:1 { padding-bottom: var(--gap-1) !important; }
    .lg\:padding-bottom\:2,              .lg\:p-bottom\:2,      .lg\:pb\:2 { padding-bottom: var(--gap-2) !important; }
    .lg\:padding-bottom\:3,              .lg\:p-bottom\:3,      .lg\:pb\:3 { padding-bottom: var(--gap-3) !important; }
    .lg\:padding-bottom\:4,              .lg\:p-bottom\:4,      .lg\:pb\:4 { padding-bottom: var(--gap-4) !important; }
    .lg\:padding-bottom\:5,              .lg\:p-bottom\:5,      .lg\:pb\:5 { padding-bottom: var(--gap-5) !important; }
    .lg\:padding-bottom\:6,              .lg\:p-bottom\:6,      .lg\:pb\:6 { padding-bottom: var(--gap-6) !important; }
    .lg\:padding-bottom\:7,              .lg\:p-bottom\:7,      .lg\:pb\:7 { padding-bottom: var(--gap-7) !important; }
    .lg\:padding-bottom\:8,              .lg\:p-bottom\:8,      .lg\:pb\:8 { padding-bottom: var(--gap-8) !important; }
    .lg\:padding-bottom\:9,              .lg\:p-bottom\:9,      .lg\:pb\:9 { padding-bottom: var(--gap-9) !important; }
    .lg\:padding-bottom\:10,             .lg\:p-bottom\:10,     .lg\:pb\:10 { padding-bottom: var(--gap-10) !important; }
}

/* ---- padding-left ------------------------------------------------- */
.padding-left\:auto,           .p-left\:auto,   .pl\:auto { padding-left: auto !important; }
.padding-left\:0,              .p-left\:0,      .pl\:0 { padding-left: var(--gap-0) !important; }
.padding-left\:1,              .p-left\:1,      .pl\:1 { padding-left: var(--gap-1) !important; }
.padding-left\:2,              .p-left\:2,      .pl\:2 { padding-left: var(--gap-2) !important; }
.padding-left\:3,              .p-left\:3,      .pl\:3 { padding-left: var(--gap-3) !important; }
.padding-left\:4,              .p-left\:4,      .pl\:4 { padding-left: var(--gap-4) !important; }
.padding-left\:5,              .p-left\:5,      .pl\:5 { padding-left: var(--gap-5) !important; }
.padding-left\:6,              .p-left\:6,      .pl\:6 { padding-left: var(--gap-6) !important; }
.padding-left\:7,              .p-left\:7,      .pl\:7 { padding-left: var(--gap-7) !important; }
.padding-left\:8,              .p-left\:8,      .pl\:8 { padding-left: var(--gap-8) !important; }
.padding-left\:9,              .p-left\:9,      .pl\:9 { padding-left: var(--gap-9) !important; }
.padding-left\:10,             .p-left\:10,     .pl\:10 { padding-left: var(--gap-10) !important; }

@media (min-width: 768px) {
    .md\:padding-left\:auto,           .md\:p-left\:auto,   .md\:pl\:auto { padding-left: auto !important; }
    .md\:padding-left\:0,              .md\:p-left\:0,      .md\:pl\:0 { padding-left: var(--gap-0) !important; }
    .md\:padding-left\:1,              .md\:p-left\:1,      .md\:pl\:1 { padding-left: var(--gap-1) !important; }
    .md\:padding-left\:2,              .md\:p-left\:2,      .md\:pl\:2 { padding-left: var(--gap-2) !important; }
    .md\:padding-left\:3,              .md\:p-left\:3,      .md\:pl\:3 { padding-left: var(--gap-3) !important; }
    .md\:padding-left\:4,              .md\:p-left\:4,      .md\:pl\:4 { padding-left: var(--gap-4) !important; }
    .md\:padding-left\:5,              .md\:p-left\:5,      .md\:pl\:5 { padding-left: var(--gap-5) !important; }
    .md\:padding-left\:6,              .md\:p-left\:6,      .md\:pl\:6 { padding-left: var(--gap-6) !important; }
    .md\:padding-left\:7,              .md\:p-left\:7,      .md\:pl\:7 { padding-left: var(--gap-7) !important; }
    .md\:padding-left\:8,              .md\:p-left\:8,      .md\:pl\:8 { padding-left: var(--gap-8) !important; }
    .md\:padding-left\:9,              .md\:p-left\:9,      .md\:pl\:9 { padding-left: var(--gap-9) !important; }
    .md\:padding-left\:10,             .md\:p-left\:10,     .md\:pl\:10 { padding-left: var(--gap-10) !important; }
}

@media (min-width: 1200px) {
    .lg\:padding-left\:auto,           .lg\:p-left\:auto,   .lg\:pl\:auto { padding-left: auto !important; }
    .lg\:padding-left\:0,              .lg\:p-left\:0,      .lg\:pl\:0 { padding-left: var(--gap-0) !important; }
    .lg\:padding-left\:1,              .lg\:p-left\:1,      .lg\:pl\:1 { padding-left: var(--gap-1) !important; }
    .lg\:padding-left\:2,              .lg\:p-left\:2,      .lg\:pl\:2 { padding-left: var(--gap-2) !important; }
    .lg\:padding-left\:3,              .lg\:p-left\:3,      .lg\:pl\:3 { padding-left: var(--gap-3) !important; }
    .lg\:padding-left\:4,              .lg\:p-left\:4,      .lg\:pl\:4 { padding-left: var(--gap-4) !important; }
    .lg\:padding-left\:5,              .lg\:p-left\:5,      .lg\:pl\:5 { padding-left: var(--gap-5) !important; }
    .lg\:padding-left\:6,              .lg\:p-left\:6,      .lg\:pl\:6 { padding-left: var(--gap-6) !important; }
    .lg\:padding-left\:7,              .lg\:p-left\:7,      .lg\:pl\:7 { padding-left: var(--gap-7) !important; }
    .lg\:padding-left\:8,              .lg\:p-left\:8,      .lg\:pl\:8 { padding-left: var(--gap-8) !important; }
    .lg\:padding-left\:9,              .lg\:p-left\:9,      .lg\:pl\:9 { padding-left: var(--gap-9) !important; }
    .lg\:padding-left\:10,             .lg\:p-left\:10,     .lg\:pl\:10 { padding-left: var(--gap-10) !important; }
}

/* ---- padding-x (left + right) ------------------------------------------------- */
.padding-x\:auto,           .px\:auto { padding-right: auto !important; padding-left: auto !important; }
.padding-x\:0,              .px\:0 { padding-right: var(--gap-0) !important; padding-left: var(--gap-0) !important; }
.padding-x\:1,              .px\:1 { padding-right: var(--gap-1) !important; padding-left: var(--gap-1) !important; }
.padding-x\:2,              .px\:2 { padding-right: var(--gap-2) !important; padding-left: var(--gap-2) !important; }
.padding-x\:3,              .px\:3 { padding-right: var(--gap-3) !important; padding-left: var(--gap-3) !important; }
.padding-x\:4,              .px\:4 { padding-right: var(--gap-4) !important; padding-left: var(--gap-4) !important; }
.padding-x\:5,              .px\:5 { padding-right: var(--gap-5) !important; padding-left: var(--gap-5) !important; }
.padding-x\:6,              .px\:6 { padding-right: var(--gap-6) !important; padding-left: var(--gap-6) !important; }
.padding-x\:7,              .px\:7 { padding-right: var(--gap-7) !important; padding-left: var(--gap-7) !important; }
.padding-x\:8,              .px\:8 { padding-right: var(--gap-8) !important; padding-left: var(--gap-8) !important; }
.padding-x\:9,              .px\:9 { padding-right: var(--gap-9) !important; padding-left: var(--gap-9) !important; }
.padding-x\:10,             .px\:10 { padding-right: var(--gap-10) !important; padding-left: var(--gap-10) !important; }

@media (min-width: 768px) {
    .md\:padding-x\:auto,           .md\:px\:auto { padding-right: auto !important; padding-left: auto !important; }
    .md\:padding-x\:0,              .md\:px\:0 { padding-right: var(--gap-0) !important; padding-left: var(--gap-0) !important; }
    .md\:padding-x\:1,              .md\:px\:1 { padding-right: var(--gap-1) !important; padding-left: var(--gap-1) !important; }
    .md\:padding-x\:2,              .md\:px\:2 { padding-right: var(--gap-2) !important; padding-left: var(--gap-2) !important; }
    .md\:padding-x\:3,              .md\:px\:3 { padding-right: var(--gap-3) !important; padding-left: var(--gap-3) !important; }
    .md\:padding-x\:4,              .md\:px\:4 { padding-right: var(--gap-4) !important; padding-left: var(--gap-4) !important; }
    .md\:padding-x\:5,              .md\:px\:5 { padding-right: var(--gap-5) !important; padding-left: var(--gap-5) !important; }
    .md\:padding-x\:6,              .md\:px\:6 { padding-right: var(--gap-6) !important; padding-left: var(--gap-6) !important; }
    .md\:padding-x\:7,              .md\:px\:7 { padding-right: var(--gap-7) !important; padding-left: var(--gap-7) !important; }
    .md\:padding-x\:8,              .md\:px\:8 { padding-right: var(--gap-8) !important; padding-left: var(--gap-8) !important; }
    .md\:padding-x\:9,              .md\:px\:9 { padding-right: var(--gap-9) !important; padding-left: var(--gap-9) !important; }
    .md\:padding-x\:10,             .md\:px\:10 { padding-right: var(--gap-10) !important; padding-left: var(--gap-10) !important; }
}

@media (min-width: 1200px) {
    .lg\:padding-x\:auto,   .lg\:px\:auto { padding-right: auto !important; padding-left: auto !important; }
    .lg\:padding-x\:0,      .lg\:px\:0 { padding-right: var(--gap-0) !important; padding-left: var(--gap-0) !important; }
    .lg\:padding-x\:1,      .lg\:px\:1 { padding-right: var(--gap-1) !important; padding-left: var(--gap-1) !important; }
    .lg\:padding-x\:2,      .lg\:px\:2 { padding-right: var(--gap-2) !important; padding-left: var(--gap-2) !important; }
    .lg\:padding-x\:3,      .lg\:px\:3 { padding-right: var(--gap-3) !important; padding-left: var(--gap-3) !important; }
    .lg\:padding-x\:4,      .lg\:px\:4 { padding-right: var(--gap-4) !important; padding-left: var(--gap-4) !important; }
    .lg\:padding-x\:5,      .lg\:px\:5 { padding-right: var(--gap-5) !important; padding-left: var(--gap-5) !important; }
    .lg\:padding-x\:6,      .lg\:px\:6 { padding-right: var(--gap-6) !important; padding-left: var(--gap-6) !important; }
    .lg\:padding-x\:7,      .lg\:px\:7 { padding-right: var(--gap-7) !important; padding-left: var(--gap-7) !important; }
    .lg\:padding-x\:8,      .lg\:px\:8 { padding-right: var(--gap-8) !important; padding-left: var(--gap-8) !important; }
    .lg\:padding-x\:9,      .lg\:px\:9 { padding-right: var(--gap-9) !important; padding-left: var(--gap-9) !important; }
    .lg\:padding-x\:10,     .lg\:px\:10 { padding-right: var(--gap-10) !important; padding-left: var(--gap-10) !important; }
}

/* ---- padding-y (top + bottom) ------------------------------------------------- */
.padding-y\:auto,   .py\:auto { padding-top: auto !important; padding-bottom: auto !important; }
.padding-y\:0,      .py\:0 { padding-top: var(--gap-0) !important; padding-bottom: var(--gap-0) !important; }
.padding-y\:1,      .py\:1 { padding-top: var(--gap-1) !important; padding-bottom: var(--gap-1) !important; }
.padding-y\:2,      .py\:2 { padding-top: var(--gap-2) !important; padding-bottom: var(--gap-2) !important; }
.padding-y\:3,      .py\:3 { padding-top: var(--gap-3) !important; padding-bottom: var(--gap-3) !important; }
.padding-y\:4,      .py\:4 { padding-top: var(--gap-4) !important; padding-bottom: var(--gap-4) !important; }
.padding-y\:5,      .py\:5 { padding-top: var(--gap-5) !important; padding-bottom: var(--gap-5) !important; }
.padding-y\:6,      .py\:6 { padding-top: var(--gap-6) !important; padding-bottom: var(--gap-6) !important; }
.padding-y\:7,      .py\:7 { padding-top: var(--gap-7) !important; padding-bottom: var(--gap-7) !important; }
.padding-y\:8,      .py\:8 { padding-top: var(--gap-8) !important; padding-bottom: var(--gap-8) !important; }
.padding-y\:9,      .py\:9 { padding-top: var(--gap-9) !important; padding-bottom: var(--gap-9) !important; }
.padding-y\:10,     .py\:10 { padding-top: var(--gap-10) !important; padding-bottom: var(--gap-10) !important; }

@media (min-width: 768px) {
    .md\:padding-y\:auto,   .md\:py\:auto { padding-top: auto !important; padding-bottom: auto !important; }
    .md\:padding-y\:0,      .md\:py\:0 { padding-top: var(--gap-0) !important; padding-bottom: var(--gap-0) !important; }
    .md\:padding-y\:1,      .md\:py\:1 { padding-top: var(--gap-1) !important; padding-bottom: var(--gap-1) !important; }
    .md\:padding-y\:2,      .md\:py\:2 { padding-top: var(--gap-2) !important; padding-bottom: var(--gap-2) !important; }
    .md\:padding-y\:3,      .md\:py\:3 { padding-top: var(--gap-3) !important; padding-bottom: var(--gap-3) !important; }
    .md\:padding-y\:4,      .md\:py\:4 { padding-top: var(--gap-4) !important; padding-bottom: var(--gap-4) !important; }
    .md\:padding-y\:5,      .md\:py\:5 { padding-top: var(--gap-5) !important; padding-bottom: var(--gap-5) !important; }
    .md\:padding-y\:6,      .md\:py\:6 { padding-top: var(--gap-6) !important; padding-bottom: var(--gap-6) !important; }
    .md\:padding-y\:7,      .md\:py\:7 { padding-top: var(--gap-7) !important; padding-bottom: var(--gap-7) !important; }
    .md\:padding-y\:8,      .md\:py\:8 { padding-top: var(--gap-8) !important; padding-bottom: var(--gap-8) !important; }
    .md\:padding-y\:9,      .md\:py\:9 { padding-top: var(--gap-9) !important; padding-bottom: var(--gap-9) !important; }
    .md\:padding-y\:10,     .md\:py\:10 { padding-top: var(--gap-10) !important; padding-bottom: var(--gap-10) !important; }
}

@media (min-width: 1200px) {
    .lg\:padding-y\:auto,   .lg\:py\:auto { padding-top: auto !important; padding-bottom: auto !important; }
    .lg\:padding-y\:0,      .lg\:py\:0 { padding-top: var(--gap-0) !important; padding-bottom: var(--gap-0) !important; }
    .lg\:padding-y\:1,      .lg\:py\:1 { padding-top: var(--gap-1) !important; padding-bottom: var(--gap-1) !important; }
    .lg\:padding-y\:2,      .lg\:py\:2 { padding-top: var(--gap-2) !important; padding-bottom: var(--gap-2) !important; }
    .lg\:padding-y\:3,      .lg\:py\:3 { padding-top: var(--gap-3) !important; padding-bottom: var(--gap-3) !important; }
    .lg\:padding-y\:4,      .lg\:py\:4 { padding-top: var(--gap-4) !important; padding-bottom: var(--gap-4) !important; }
    .lg\:padding-y\:5,      .lg\:py\:5 { padding-top: var(--gap-5) !important; padding-bottom: var(--gap-5) !important; }
    .lg\:padding-y\:6,      .lg\:py\:6 { padding-top: var(--gap-6) !important; padding-bottom: var(--gap-6) !important; }
    .lg\:padding-y\:7,      .lg\:py\:7 { padding-top: var(--gap-7) !important; padding-bottom: var(--gap-7) !important; }
    .lg\:padding-y\:8,      .lg\:py\:8 { padding-top: var(--gap-8) !important; padding-bottom: var(--gap-8) !important; }
    .lg\:padding-y\:9,      .lg\:py\:9 { padding-top: var(--gap-9) !important; padding-bottom: var(--gap-9) !important; }
    .lg\:padding-y\:10,     .lg\:py\:10 { padding-top: var(--gap-10) !important; padding-bottom: var(--gap-10) !important; }
}