/**
 * position
 * top
 * right
 * bottom
 * left
 */

.position\:static,       .pos\:static { position: static !important; }
.position\:relative,     .pos\:relative { position: relative !important; }
.position\:absolute,     .pos\:absolute { position: absolute !important; }
.position\:fixed,        .pos\:fixed { position: fixed !important; }
.position\:sticky,       .pos\:sticky { position: sticky !important; }
.position\:inherit,      .pos\:inherit { position: inherit !important; }
.position\:initial,      .pos\:initial { position: initial !important; }
.position\:unset,        .pos\:unset { position: unset !important; }

/* ---- medium ------------------------------------------------- */
@media (min-width: 768px) {
    .md\:position\:static,       .md\:pos\:static { position: static !important; }
    .md\:position\:relative,     .md\:pos\:relative { position: relative !important; }
    .md\:position\:absolute,     .md\:pos\:absolute { position: absolute !important; }
    .md\:position\:fixed,        .md\:pos\:fixed { position: fixed !important; }
    .md\:position\:sticky,       .md\:pos\:sticky { position: sticky !important; }
    .md\:position\:inherit,      .md\:pos\:inherit { position: inherit !important; }
    .md\:position\:initial,      .md\:pos\:initial { position: initial !important; }
    .md\:position\:unset,        .md\:pos\:unset { position: unset !important; }
}

/* ---- large ------------------------------------------------- */
@media (min-width: 1200px) {
    .lg\:position\:static,       .lg\:pos\:static { position: static !important; }
    .lg\:position\:relative,     .lg\:pos\:relative { position: relative !important; }
    .lg\:position\:absolute,     .lg\:pos\:absolute { position: absolute !important; }
    .lg\:position\:fixed,        .lg\:pos\:fixed { position: fixed !important; }
    .lg\:position\:sticky,       .lg\:pos\:sticky { position: sticky !important; }
    .lg\:position\:inherit,      .lg\:pos\:inherit { position: inherit !important; }
    .lg\:position\:initial,      .lg\:pos\:initial { position: initial !important; }
    .lg\:position\:unset,        .lg\:pos\:unset { position: unset !important; }
}

/* ---- top ------------------------------------------------- */
.top\:0                   { top: 0 !important; }
.top\:1                   { top: var(--top-1) !important; }
.top\:2                   { top: var(--top-2) !important; }
.top\:3                   { top: var(--top-3) !important; }
.top\:4                   { top: var(--top-4) !important; }
.top\:5                   { top: var(--top-5) !important; }
.top\:6                   { top: var(--top-6) !important; }
.top\:7                   { top: var(--top-7) !important; }
.top\:8                   { top: var(--top-8) !important; }
.top\:9                   { top: var(--top-9) !important; }
.top\:10                  { top: var(--top-10) !important; }
.top\:1p                  { top: var(--top-percent-1) !important; }
.top\:2p                  { top: var(--top-percent-2) !important; }
.top\:3p                  { top: var(--top-percent-3) !important; }
.top\:4p                  { top: var(--top-percent-4) !important; }
.top\:5p                  { top: var(--top-percent-5) !important; }
.top\:6p                  { top: var(--top-percent-6) !important; }
.top\:7p                  { top: var(--top-percent-7) !important; }
.top\:8p                  { top: var(--top-percent-8) !important; }
.top\:9p                  { top: var(--top-percent-9) !important; }
.top\:10p                 { top: var(--top-percent-10) !important; }
.top\:1\/2                { top: 50% !important; }
.top\:1\/3                { top: 33% !important; }
.top\:2\/3                { top: 66% !important; }
.top\:1\/4                { top: 25% !important; }
.top\:2\/4                { top: 50% !important; }
.top\:3\/4                { top: 75% !important; }
.top\:1\/5                { top: 20% !important; }
.top\:2\/5                { top: 40% !important; }
.top\:3\/5                { top: 60% !important; }
.top\:4\/5                { top: 80% !important; }

/* ---- md ------------------------------------------------- */
@media (min-width: 768px) {
    .md\:top\:0                   { top: 0 !important; }
    .md\:top\:1                   { top: var(--top-1) !important; }
    .md\:top\:2                   { top: var(--top-2) !important; }
    .md\:top\:3                   { top: var(--top-3) !important; }
    .md\:top\:4                   { top: var(--top-4) !important; }
    .md\:top\:5                   { top: var(--top-5) !important; }
    .md\:top\:6                   { top: var(--top-6) !important; }
    .md\:top\:7                   { top: var(--top-7) !important; }
    .md\:top\:8                   { top: var(--top-8) !important; }
    .md\:top\:9                   { top: var(--top-9) !important; }
    .md\:top\:10                  { top: var(--top-10) !important; }
    .md\:top\:1p                  { top: var(--top-percent-1) !important; }
    .md\:top\:2p                  { top: var(--top-percent-2) !important; }
    .md\:top\:3p                  { top: var(--top-percent-3) !important; }
    .md\:top\:4p                  { top: var(--top-percent-4) !important; }
    .md\:top\:5p                  { top: var(--top-percent-5) !important; }
    .md\:top\:6p                  { top: var(--top-percent-6) !important; }
    .md\:top\:7p                  { top: var(--top-percent-7) !important; }
    .md\:top\:8p                  { top: var(--top-percent-8) !important; }
    .md\:top\:9p                  { top: var(--top-percent-9) !important; }
    .md\:top\:10p                 { top: var(--top-percent-10) !important; }
    .md\:top\:1\/2                { top: 50% !important; }
    .md\:top\:1\/3                { top: 33% !important; }
    .md\:top\:2\/3                { top: 66% !important; }
    .md\:top\:1\/4                { top: 25% !important; }
    .md\:top\:2\/4                { top: 50% !important; }
    .md\:top\:3\/4                { top: 75% !important; }
    .md\:top\:1\/5                { top: 20% !important; }
    .md\:top\:2\/5                { top: 40% !important; }
    .md\:top\:3\/5                { top: 60% !important; }
    .md\:top\:4\/5                { top: 80% !important; }
}

/* ---- lg ------------------------------------------------- */
@media (min-width: 1200px) {
    .lg\:top\:0                   { top: 0 !important; }
    .lg\:top\:1                   { top: var(--top-1) !important; }
    .lg\:top\:2                   { top: var(--top-2) !important; }
    .lg\:top\:3                   { top: var(--top-3) !important; }
    .lg\:top\:4                   { top: var(--top-4) !important; }
    .lg\:top\:5                   { top: var(--top-5) !important; }
    .lg\:top\:6                   { top: var(--top-6) !important; }
    .lg\:top\:7                   { top: var(--top-7) !important; }
    .lg\:top\:8                   { top: var(--top-8) !important; }
    .lg\:top\:9                   { top: var(--top-9) !important; }
    .lg\:top\:10                  { top: var(--top-10) !important; }
    .lg\:top\:1p                  { top: var(--top-percent-1) !important; }
    .lg\:top\:2p                  { top: var(--top-percent-2) !important; }
    .lg\:top\:3p                  { top: var(--top-percent-3) !important; }
    .lg\:top\:4p                  { top: var(--top-percent-4) !important; }
    .lg\:top\:5p                  { top: var(--top-percent-5) !important; }
    .lg\:top\:6p                  { top: var(--top-percent-6) !important; }
    .lg\:top\:7p                  { top: var(--top-percent-7) !important; }
    .lg\:top\:8p                  { top: var(--top-percent-8) !important; }
    .lg\:top\:9p                  { top: var(--top-percent-9) !important; }
    .lg\:top\:10p                 { top: var(--top-percent-10) !important; }
    .lg\:top\:1\/2                { top: 50% !important; }
    .lg\:top\:1\/3                { top: 33% !important; }
    .lg\:top\:2\/3                { top: 66% !important; }
    .lg\:top\:1\/4                { top: 25% !important; }
    .lg\:top\:2\/4                { top: 50% !important; }
    .lg\:top\:3\/4                { top: 75% !important; }
    .lg\:top\:1\/5                { top: 20% !important; }
    .lg\:top\:2\/5                { top: 40% !important; }
    .lg\:top\:3\/5                { top: 60% !important; }
    .lg\:top\:4\/5                { top: 80% !important; }
}

.top\:-1                   { top: calc(var(--top-1) * -1 )!important; }
.top\:-2                   { top: calc(var(--top-2) * -1 )!important; }
.top\:-3                   { top: calc(var(--top-3) * -1 )!important; }
.top\:-4                   { top: calc(var(--top-4) * -1 )!important; }
.top\:-5                   { top: calc(var(--top-5) * -1 )!important; }
.top\:-6                   { top: calc(var(--top-6) * -1 )!important; }
.top\:-7                   { top: calc(var(--top-7) * -1 )!important; }
.top\:-8                   { top: calc(var(--top-8) * -1 )!important; }
.top\:-9                   { top: calc(var(--top-9) * -1 )!important; }
.top\:-10                  { top: calc(var(--top-10) * -1 )!important; }
.top\:-1p                  { top: calc(var(--top-percent-1) * -1) !important; }
.top\:-2p                  { top: calc(var(--top-percent-2) * -1) !important; }
.top\:-3p                  { top: calc(var(--top-percent-3) * -1) !important; }
.top\:-4p                  { top: calc(var(--top-percent-4) * -1) !important; }
.top\:-5p                  { top: calc(var(--top-percent-5) * -1) !important; }
.top\:-6p                  { top: calc(var(--top-percent-6) * -1) !important; }
.top\:-7p                  { top: calc(var(--top-percent-7) * -1) !important; }
.top\:-8p                  { top: calc(var(--top-percent-8) * -1) !important; }
.top\:-9p                  { top: calc(var(--top-percent-9) * -1) !important; }
.top\:-10p                 { top: calc(var(--top-percent-10) * -1) !important; }
.top\:-1\/2                { top: calc(50% * -1) !important; }
.top\:-1\/3                { top: calc(33% * -1) !important; }
.top\:-2\/3                { top: calc(66% * -1) !important; }
.top\:-1\/4                { top: calc(25% * -1) !important; }
.top\:-2\/4                { top: calc(50% * -1) !important; }
.top\:-3\/4                { top: calc(75% * -1) !important; }
.top\:-1\/5                { top: calc(20% * -1) !important; }
.top\:-2\/5                { top: calc(40% * -1) !important; }
.top\:-3\/5                { top: calc(60% * -1) !important; }
.top\:-4\/5                { top: calc(80% * -1) !important; }

/* ---- md ------------------------------------------------- */
@media (min-width: 768px) {
    .md\:top\:-1                   { top: calc(var(--top-1) * -1 )!important; }
    .md\:top\:-2                   { top: calc(var(--top-2) * -1 )!important; }
    .md\:top\:-3                   { top: calc(var(--top-3) * -1 )!important; }
    .md\:top\:-4                   { top: calc(var(--top-4) * -1 )!important; }
    .md\:top\:-5                   { top: calc(var(--top-5) * -1 )!important; }
    .md\:top\:-6                   { top: calc(var(--top-6) * -1 )!important; }
    .md\:top\:-7                   { top: calc(var(--top-7) * -1 )!important; }
    .md\:top\:-8                   { top: calc(var(--top-8) * -1 )!important; }
    .md\:top\:-9                   { top: calc(var(--top-9) * -1 )!important; }
    .md\:top\:-10                  { top: calc(var(--top-10) * -1 )!important; }
    .md\:top\:-1p                  { top: calc(var(--top-percent-1) * -1) !important; }
    .md\:top\:-2p                  { top: calc(var(--top-percent-2) * -1) !important; }
    .md\:top\:-3p                  { top: calc(var(--top-percent-3) * -1) !important; }
    .md\:top\:-4p                  { top: calc(var(--top-percent-4) * -1) !important; }
    .md\:top\:-5p                  { top: calc(var(--top-percent-5) * -1) !important; }
    .md\:top\:-6p                  { top: calc(var(--top-percent-6) * -1) !important; }
    .md\:top\:-7p                  { top: calc(var(--top-percent-7) * -1) !important; }
    .md\:top\:-8p                  { top: calc(var(--top-percent-8) * -1) !important; }
    .md\:top\:-9p                  { top: calc(var(--top-percent-9) * -1) !important; }
    .md\:top\:-10p                 { top: calc(var(--top-percent-10) * -1) !important; }
    .md\:top\:-1\/2                { top: calc(50% * -1) !important; }
    .md\:top\:-1\/3                { top: calc(33% * -1) !important; }
    .md\:top\:-2\/3                { top: calc(66% * -1) !important; }
    .md\:top\:-1\/4                { top: calc(25% * -1) !important; }
    .md\:top\:-2\/4                { top: calc(50% * -1) !important; }
    .md\:top\:-3\/4                { top: calc(75% * -1) !important; }
    .md\:top\:-1\/5                { top: calc(20% * -1) !important; }
    .md\:top\:-2\/5                { top: calc(40% * -1) !important; }
    .md\:top\:-3\/5                { top: calc(60% * -1) !important; }
    .md\:top\:-4\/5                { top: calc(80% * -1) !important; }
}

/* ---- lg ------------------------------------------------- */
@media (min-width: 1200px) {
    .lg\:top\:-1                   { top: calc(var(--top-1) * -1 )!important; }
    .lg\:top\:-2                   { top: calc(var(--top-2) * -1 )!important; }
    .lg\:top\:-3                   { top: calc(var(--top-3) * -1 )!important; }
    .lg\:top\:-4                   { top: calc(var(--top-4) * -1 )!important; }
    .lg\:top\:-5                   { top: calc(var(--top-5) * -1 )!important; }
    .lg\:top\:-6                   { top: calc(var(--top-6) * -1 )!important; }
    .lg\:top\:-7                   { top: calc(var(--top-7) * -1 )!important; }
    .lg\:top\:-8                   { top: calc(var(--top-8) * -1 )!important; }
    .lg\:top\:-9                   { top: calc(var(--top-9) * -1 )!important; }
    .lg\:top\:-10                  { top: calc(var(--top-10) * -1 )!important; }
    .lg\:top\:-1p                  { top: calc(var(--top-percent-1) * -1) !important; }
    .lg\:top\:-2p                  { top: calc(var(--top-percent-2) * -1) !important; }
    .lg\:top\:-3p                  { top: calc(var(--top-percent-3) * -1) !important; }
    .lg\:top\:-4p                  { top: calc(var(--top-percent-4) * -1) !important; }
    .lg\:top\:-5p                  { top: calc(var(--top-percent-5) * -1) !important; }
    .lg\:top\:-6p                  { top: calc(var(--top-percent-6) * -1) !important; }
    .lg\:top\:-7p                  { top: calc(var(--top-percent-7) * -1) !important; }
    .lg\:top\:-8p                  { top: calc(var(--top-percent-8) * -1) !important; }
    .lg\:top\:-9p                  { top: calc(var(--top-percent-9) * -1) !important; }
    .lg\:top\:-10p                 { top: calc(var(--top-percent-10) * -1) !important; }
    .lg\:top\:-1\/2                { top: calc(50% * -1) !important; }
    .lg\:top\:-1\/3                { top: calc(33% * -1) !important; }
    .lg\:top\:-2\/3                { top: calc(66% * -1) !important; }
    .lg\:top\:-1\/4                { top: calc(25% * -1) !important; }
    .lg\:top\:-2\/4                { top: calc(50% * -1) !important; }
    .lg\:top\:-3\/4                { top: calc(75% * -1) !important; }
    .lg\:top\:-1\/5                { top: calc(20% * -1) !important; }
    .lg\:top\:-2\/5                { top: calc(40% * -1) !important; }
    .lg\:top\:-3\/5                { top: calc(60% * -1) !important; }
    .lg\:top\:-4\/5                { top: calc(80% * -1) !important; }
}

/* ---- right ------------------------------------------------- */
.right\:0                   { right: 0 !important; }
.right\:1                   { right: var(--right-1) !important; }
.right\:2                   { right: var(--right-2) !important; }
.right\:3                   { right: var(--right-3) !important; }
.right\:4                   { right: var(--right-4) !important; }
.right\:5                   { right: var(--right-5) !important; }
.right\:6                   { right: var(--right-6) !important; }
.right\:7                   { right: var(--right-7) !important; }
.right\:8                   { right: var(--right-8) !important; }
.right\:9                   { right: var(--right-9) !important; }
.right\:10                  { right: var(--right-10) !important; }
.right\:1p                  { right: var(--right-percent-1) !important; }
.right\:2p                  { right: var(--right-percent-2) !important; }
.right\:3p                  { right: var(--right-percent-3) !important; }
.right\:4p                  { right: var(--right-percent-4) !important; }
.right\:5p                  { right: var(--right-percent-5) !important; }
.right\:6p                  { right: var(--right-percent-6) !important; }
.right\:7p                  { right: var(--right-percent-7) !important; }
.right\:8p                  { right: var(--right-percent-8) !important; }
.right\:9p                  { right: var(--right-percent-9) !important; }
.right\:10p                 { right: var(--right-percent-10) !important; }
.right\:1\/2                { right: 50% !important; }
.right\:1\/3                { right: 33% !important; }
.right\:2\/3                { right: 66% !important; }
.right\:1\/4                { right: 25% !important; }
.right\:2\/4                { right: 50% !important; }
.right\:3\/4                { right: 75% !important; }
.right\:1\/5                { right: 20% !important; }
.right\:2\/5                { right: 40% !important; }
.right\:3\/5                { right: 60% !important; }
.right\:4\/5                { right: 80% !important; }


/* ---- md ------------------------------------------------- */
@media (min-width: 768px) {
    .md\:right\:0                   { right: 0 !important; }
    .md\:right\:1                   { right: var(--right-1) !important; }
    .md\:right\:2                   { right: var(--right-2) !important; }
    .md\:right\:3                   { right: var(--right-3) !important; }
    .md\:right\:4                   { right: var(--right-4) !important; }
    .md\:right\:5                   { right: var(--right-5) !important; }
    .md\:right\:6                   { right: var(--right-6) !important; }
    .md\:right\:7                   { right: var(--right-7) !important; }
    .md\:right\:8                   { right: var(--right-8) !important; }
    .md\:right\:9                   { right: var(--right-9) !important; }
    .md\:right\:10                  { right: var(--right-10) !important; }
    .md\:right\:1p                  { right: var(--right-percent-1) !important; }
    .md\:right\:2p                  { right: var(--right-percent-2) !important; }
    .md\:right\:3p                  { right: var(--right-percent-3) !important; }
    .md\:right\:4p                  { right: var(--right-percent-4) !important; }
    .md\:right\:5p                  { right: var(--right-percent-5) !important; }
    .md\:right\:6p                  { right: var(--right-percent-6) !important; }
    .md\:right\:7p                  { right: var(--right-percent-7) !important; }
    .md\:right\:8p                  { right: var(--right-percent-8) !important; }
    .md\:right\:9p                  { right: var(--right-percent-9) !important; }
    .md\:right\:10p                 { right: var(--right-percent-10) !important; }
    .md\:right\:1\/2                { right: 50% !important; }
    .md\:right\:1\/3                { right: 33% !important; }
    .md\:right\:2\/3                { right: 66% !important; }
    .md\:right\:1\/4                { right: 25% !important; }
    .md\:right\:2\/4                { right: 50% !important; }
    .md\:right\:3\/4                { right: 75% !important; }
    .md\:right\:1\/5                { right: 20% !important; }
    .md\:right\:2\/5                { right: 40% !important; }
    .md\:right\:3\/5                { right: 60% !important; }
    .md\:right\:4\/5                { right: 80% !important; }
}

/* ---- lg ------------------------------------------------- */
@media (min-width: 1200px) {
    .lg\:right\:0                   { right: 0 !important; }
    .lg\:right\:1                   { right: var(--right-1) !important; }
    .lg\:right\:2                   { right: var(--right-2) !important; }
    .lg\:right\:3                   { right: var(--right-3) !important; }
    .lg\:right\:4                   { right: var(--right-4) !important; }
    .lg\:right\:5                   { right: var(--right-5) !important; }
    .lg\:right\:6                   { right: var(--right-6) !important; }
    .lg\:right\:7                   { right: var(--right-7) !important; }
    .lg\:right\:8                   { right: var(--right-8) !important; }
    .lg\:right\:9                   { right: var(--right-9) !important; }
    .lg\:right\:10                  { right: var(--right-10) !important; }
    .lg\:right\:1p                  { right: var(--right-percent-1) !important; }
    .lg\:right\:2p                  { right: var(--right-percent-2) !important; }
    .lg\:right\:3p                  { right: var(--right-percent-3) !important; }
    .lg\:right\:4p                  { right: var(--right-percent-4) !important; }
    .lg\:right\:5p                  { right: var(--right-percent-5) !important; }
    .lg\:right\:6p                  { right: var(--right-percent-6) !important; }
    .lg\:right\:7p                  { right: var(--right-percent-7) !important; }
    .lg\:right\:8p                  { right: var(--right-percent-8) !important; }
    .lg\:right\:9p                  { right: var(--right-percent-9) !important; }
    .lg\:right\:10p                 { right: var(--right-percent-10) !important; }
    .lg\:right\:1\/2                { right: 50% !important; }
    .lg\:right\:1\/3                { right: 33% !important; }
    .lg\:right\:2\/3                { right: 66% !important; }
    .lg\:right\:1\/4                { right: 25% !important; }
    .lg\:right\:2\/4                { right: 50% !important; }
    .lg\:right\:3\/4                { right: 75% !important; }
    .lg\:right\:1\/5                { right: 20% !important; }
    .lg\:right\:2\/5                { right: 40% !important; }
    .lg\:right\:3\/5                { right: 60% !important; }
    .lg\:right\:4\/5                { right: 80% !important; }
}

.right\:-1                   { right: calc(var(--right-1) * -1 )!important; }
.right\:-2                   { right: calc(var(--right-2) * -1 )!important; }
.right\:-3                   { right: calc(var(--right-3) * -1 )!important; }
.right\:-4                   { right: calc(var(--right-4) * -1 )!important; }
.right\:-5                   { right: calc(var(--right-5) * -1 )!important; }
.right\:-6                   { right: calc(var(--right-6) * -1 )!important; }
.right\:-7                   { right: calc(var(--right-7) * -1 )!important; }
.right\:-8                   { right: calc(var(--right-8) * -1 )!important; }
.right\:-9                   { right: calc(var(--right-9) * -1 )!important; }
.right\:-10                  { right: calc(var(--right-10) * -1 )!important; }
.right\:-1p                  { right: calc(var(--right-percent-1) * -1) !important; }
.right\:-2p                  { right: calc(var(--right-percent-2) * -1) !important; }
.right\:-3p                  { right: calc(var(--right-percent-3) * -1) !important; }
.right\:-4p                  { right: calc(var(--right-percent-4) * -1) !important; }
.right\:-5p                  { right: calc(var(--right-percent-5) * -1) !important; }
.right\:-6p                  { right: calc(var(--right-percent-6) * -1) !important; }
.right\:-7p                  { right: calc(var(--right-percent-7) * -1) !important; }
.right\:-8p                  { right: calc(var(--right-percent-8) * -1) !important; }
.right\:-9p                  { right: calc(var(--right-percent-9) * -1) !important; }
.right\:-10p                 { right: calc(var(--right-percent-10) * -1) !important; }
.right\:-1\/2                { right: calc(50% * -1) !important; }
.right\:-1\/3                { right: calc(33% * -1) !important; }
.right\:-2\/3                { right: calc(66% * -1) !important; }
.right\:-1\/4                { right: calc(25% * -1) !important; }
.right\:-2\/4                { right: calc(50% * -1) !important; }
.right\:-3\/4                { right: calc(75% * -1) !important; }
.right\:-1\/5                { right: calc(20% * -1) !important; }
.right\:-2\/5                { right: calc(40% * -1) !important; }
.right\:-3\/5                { right: calc(60% * -1) !important; }
.right\:-4\/5                { right: calc(80% * -1) !important; }


/* ---- md ------------------------------------------------- */
@media (min-width: 768px) {
    .md\:right\:-1                   { right: calc(var(--right-1) * -1 )!important; }
    .md\:right\:-2                   { right: calc(var(--right-2) * -1 )!important; }
    .md\:right\:-3                   { right: calc(var(--right-3) * -1 )!important; }
    .md\:right\:-4                   { right: calc(var(--right-4) * -1 )!important; }
    .md\:right\:-5                   { right: calc(var(--right-5) * -1 )!important; }
    .md\:right\:-6                   { right: calc(var(--right-6) * -1 )!important; }
    .md\:right\:-7                   { right: calc(var(--right-7) * -1 )!important; }
    .md\:right\:-8                   { right: calc(var(--right-8) * -1 )!important; }
    .md\:right\:-9                   { right: calc(var(--right-9) * -1 )!important; }
    .md\:right\:-10                  { right: calc(var(--right-10) * -1 )!important; }
    .md\:right\:-1p                  { right: calc(var(--right-percent-1) * -1) !important; }
    .md\:right\:-2p                  { right: calc(var(--right-percent-2) * -1) !important; }
    .md\:right\:-3p                  { right: calc(var(--right-percent-3) * -1) !important; }
    .md\:right\:-4p                  { right: calc(var(--right-percent-4) * -1) !important; }
    .md\:right\:-5p                  { right: calc(var(--right-percent-5) * -1) !important; }
    .md\:right\:-6p                  { right: calc(var(--right-percent-6) * -1) !important; }
    .md\:right\:-7p                  { right: calc(var(--right-percent-7) * -1) !important; }
    .md\:right\:-8p                  { right: calc(var(--right-percent-8) * -1) !important; }
    .md\:right\:-9p                  { right: calc(var(--right-percent-9) * -1) !important; }
    .md\:right\:-10p                 { right: calc(var(--right-percent-10) * -1) !important; }
    .md\:right\:-1\/2                { right: calc(50% * -1) !important; }
    .md\:right\:-1\/3                { right: calc(33% * -1) !important; }
    .md\:right\:-2\/3                { right: calc(66% * -1) !important; }
    .md\:right\:-1\/4                { right: calc(25% * -1) !important; }
    .md\:right\:-2\/4                { right: calc(50% * -1) !important; }
    .md\:right\:-3\/4                { right: calc(75% * -1) !important; }
    .md\:right\:-1\/5                { right: calc(20% * -1) !important; }
    .md\:right\:-2\/5                { right: calc(40% * -1) !important; }
    .md\:right\:-3\/5                { right: calc(60% * -1) !important; }
    .md\:right\:-4\/5                { right: calc(80% * -1) !important; }
}

/* ---- lg ------------------------------------------------- */
@media (min-width: 1200px) {
    .lg\:right\:-1                   { right: calc(var(--right-1) * -1 )!important; }
    .lg\:right\:-2                   { right: calc(var(--right-2) * -1 )!important; }
    .lg\:right\:-3                   { right: calc(var(--right-3) * -1 )!important; }
    .lg\:right\:-4                   { right: calc(var(--right-4) * -1 )!important; }
    .lg\:right\:-5                   { right: calc(var(--right-5) * -1 )!important; }
    .lg\:right\:-6                   { right: calc(var(--right-6) * -1 )!important; }
    .lg\:right\:-7                   { right: calc(var(--right-7) * -1 )!important; }
    .lg\:right\:-8                   { right: calc(var(--right-8) * -1 )!important; }
    .lg\:right\:-9                   { right: calc(var(--right-9) * -1 )!important; }
    .lg\:right\:-10                  { right: calc(var(--right-10) * -1 )!important; }
    .lg\:right\:-1p                  { right: calc(var(--right-percent-1) * -1) !important; }
    .lg\:right\:-2p                  { right: calc(var(--right-percent-2) * -1) !important; }
    .lg\:right\:-3p                  { right: calc(var(--right-percent-3) * -1) !important; }
    .lg\:right\:-4p                  { right: calc(var(--right-percent-4) * -1) !important; }
    .lg\:right\:-5p                  { right: calc(var(--right-percent-5) * -1) !important; }
    .lg\:right\:-6p                  { right: calc(var(--right-percent-6) * -1) !important; }
    .lg\:right\:-7p                  { right: calc(var(--right-percent-7) * -1) !important; }
    .lg\:right\:-8p                  { right: calc(var(--right-percent-8) * -1) !important; }
    .lg\:right\:-9p                  { right: calc(var(--right-percent-9) * -1) !important; }
    .lg\:right\:-10p                 { right: calc(var(--right-percent-10) * -1) !important; }
    .lg\:right\:-1\/2                { right: calc(50% * -1) !important; }
    .lg\:right\:-1\/3                { right: calc(33% * -1) !important; }
    .lg\:right\:-2\/3                { right: calc(66% * -1) !important; }
    .lg\:right\:-1\/4                { right: calc(25% * -1) !important; }
    .lg\:right\:-2\/4                { right: calc(50% * -1) !important; }
    .lg\:right\:-3\/4                { right: calc(75% * -1) !important; }
    .lg\:right\:-1\/5                { right: calc(20% * -1) !important; }
    .lg\:right\:-2\/5                { right: calc(40% * -1) !important; }
    .lg\:right\:-3\/5                { right: calc(60% * -1) !important; }
    .lg\:right\:-4\/5                { right: calc(80% * -1) !important; }
}

/* ---- bottom ------------------------------------------------- */
.bottom\:0                   { bottom: 0 !important; }
.bottom\:1                   { bottom: var(--bottom-1) !important; }
.bottom\:2                   { bottom: var(--bottom-2) !important; }
.bottom\:3                   { bottom: var(--bottom-3) !important; }
.bottom\:4                   { bottom: var(--bottom-4) !important; }
.bottom\:5                   { bottom: var(--bottom-5) !important; }
.bottom\:6                   { bottom: var(--bottom-6) !important; }
.bottom\:7                   { bottom: var(--bottom-7) !important; }
.bottom\:8                   { bottom: var(--bottom-8) !important; }
.bottom\:9                   { bottom: var(--bottom-9) !important; }
.bottom\:10                  { bottom: var(--bottom-10) !important; }
.bottom\:1p                  { bottom: var(--bottom-percent-1) !important; }
.bottom\:2p                  { bottom: var(--bottom-percent-2) !important; }
.bottom\:3p                  { bottom: var(--bottom-percent-3) !important; }
.bottom\:4p                  { bottom: var(--bottom-percent-4) !important; }
.bottom\:5p                  { bottom: var(--bottom-percent-5) !important; }
.bottom\:6p                  { bottom: var(--bottom-percent-6) !important; }
.bottom\:7p                  { bottom: var(--bottom-percent-7) !important; }
.bottom\:8p                  { bottom: var(--bottom-percent-8) !important; }
.bottom\:9p                  { bottom: var(--bottom-percent-9) !important; }
.bottom\:10p                 { bottom: var(--bottom-percent-10) !important; }
.bottom\:1\/2                { bottom: 50% !important; }
.bottom\:1\/3                { bottom: 33% !important; }
.bottom\:2\/3                { bottom: 66% !important; }
.bottom\:1\/4                { bottom: 25% !important; }
.bottom\:2\/4                { bottom: 50% !important; }
.bottom\:3\/4                { bottom: 75% !important; }
.bottom\:1\/5                { bottom: 20% !important; }
.bottom\:2\/5                { bottom: 40% !important; }
.bottom\:3\/5                { bottom: 60% !important; }
.bottom\:4\/5                { bottom: 80% !important; }

/* ---- md ------------------------------------------------- */
@media (min-width: 768px) {
    .md\:bottom\:0                   { bottom: 0 !important; }
    .md\:bottom\:1                   { bottom: var(--bottom-1) !important; }
    .md\:bottom\:2                   { bottom: var(--bottom-2) !important; }
    .md\:bottom\:3                   { bottom: var(--bottom-3) !important; }
    .md\:bottom\:4                   { bottom: var(--bottom-4) !important; }
    .md\:bottom\:5                   { bottom: var(--bottom-5) !important; }
    .md\:bottom\:6                   { bottom: var(--bottom-6) !important; }
    .md\:bottom\:7                   { bottom: var(--bottom-7) !important; }
    .md\:bottom\:8                   { bottom: var(--bottom-8) !important; }
    .md\:bottom\:9                   { bottom: var(--bottom-9) !important; }
    .md\:bottom\:10                  { bottom: var(--bottom-10) !important; }
    .md\:bottom\:1p                  { bottom: var(--bottom-percent-1) !important; }
    .md\:bottom\:2p                  { bottom: var(--bottom-percent-2) !important; }
    .md\:bottom\:3p                  { bottom: var(--bottom-percent-3) !important; }
    .md\:bottom\:4p                  { bottom: var(--bottom-percent-4) !important; }
    .md\:bottom\:5p                  { bottom: var(--bottom-percent-5) !important; }
    .md\:bottom\:6p                  { bottom: var(--bottom-percent-6) !important; }
    .md\:bottom\:7p                  { bottom: var(--bottom-percent-7) !important; }
    .md\:bottom\:8p                  { bottom: var(--bottom-percent-8) !important; }
    .md\:bottom\:9p                  { bottom: var(--bottom-percent-9) !important; }
    .md\:bottom\:10p                 { bottom: var(--bottom-percent-10) !important; }
    .md\:bottom\:1\/2                { bottom: 50% !important; }
    .md\:bottom\:1\/3                { bottom: 33% !important; }
    .md\:bottom\:2\/3                { bottom: 66% !important; }
    .md\:bottom\:1\/4                { bottom: 25% !important; }
    .md\:bottom\:2\/4                { bottom: 50% !important; }
    .md\:bottom\:3\/4                { bottom: 75% !important; }
    .md\:bottom\:1\/5                { bottom: 20% !important; }
    .md\:bottom\:2\/5                { bottom: 40% !important; }
    .md\:bottom\:3\/5                { bottom: 60% !important; }
    .md\:bottom\:4\/5                { bottom: 80% !important; }
}

/* ---- lg ------------------------------------------------- */
@media (min-width: 1200px) {
    .lg\:bottom\:0                   { bottom: 0 !important; }
    .lg\:bottom\:1                   { bottom: var(--bottom-1) !important; }
    .lg\:bottom\:2                   { bottom: var(--bottom-2) !important; }
    .lg\:bottom\:3                   { bottom: var(--bottom-3) !important; }
    .lg\:bottom\:4                   { bottom: var(--bottom-4) !important; }
    .lg\:bottom\:5                   { bottom: var(--bottom-5) !important; }
    .lg\:bottom\:6                   { bottom: var(--bottom-6) !important; }
    .lg\:bottom\:7                   { bottom: var(--bottom-7) !important; }
    .lg\:bottom\:8                   { bottom: var(--bottom-8) !important; }
    .lg\:bottom\:9                   { bottom: var(--bottom-9) !important; }
    .lg\:bottom\:10                  { bottom: var(--bottom-10) !important; }
    .lg\:bottom\:1p                  { bottom: var(--bottom-percent-1) !important; }
    .lg\:bottom\:2p                  { bottom: var(--bottom-percent-2) !important; }
    .lg\:bottom\:3p                  { bottom: var(--bottom-percent-3) !important; }
    .lg\:bottom\:4p                  { bottom: var(--bottom-percent-4) !important; }
    .lg\:bottom\:5p                  { bottom: var(--bottom-percent-5) !important; }
    .lg\:bottom\:6p                  { bottom: var(--bottom-percent-6) !important; }
    .lg\:bottom\:7p                  { bottom: var(--bottom-percent-7) !important; }
    .lg\:bottom\:8p                  { bottom: var(--bottom-percent-8) !important; }
    .lg\:bottom\:9p                  { bottom: var(--bottom-percent-9) !important; }
    .lg\:bottom\:10p                 { bottom: var(--bottom-percent-10) !important; }
    .lg\:bottom\:1\/2                { bottom: 50% !important; }
    .lg\:bottom\:1\/3                { bottom: 33% !important; }
    .lg\:bottom\:2\/3                { bottom: 66% !important; }
    .lg\:bottom\:1\/4                { bottom: 25% !important; }
    .lg\:bottom\:2\/4                { bottom: 50% !important; }
    .lg\:bottom\:3\/4                { bottom: 75% !important; }
    .lg\:bottom\:1\/5                { bottom: 20% !important; }
    .lg\:bottom\:2\/5                { bottom: 40% !important; }
    .lg\:bottom\:3\/5                { bottom: 60% !important; }
    .lg\:bottom\:4\/5                { bottom: 80% !important; }
}

.bottom\:-1                   { bottom: calc(var(--bottom-1) * -1 )!important; }
.bottom\:-2                   { bottom: calc(var(--bottom-2) * -1 )!important; }
.bottom\:-3                   { bottom: calc(var(--bottom-3) * -1 )!important; }
.bottom\:-4                   { bottom: calc(var(--bottom-4) * -1 )!important; }
.bottom\:-5                   { bottom: calc(var(--bottom-5) * -1 )!important; }
.bottom\:-6                   { bottom: calc(var(--bottom-6) * -1 )!important; }
.bottom\:-7                   { bottom: calc(var(--bottom-7) * -1 )!important; }
.bottom\:-8                   { bottom: calc(var(--bottom-8) * -1 )!important; }
.bottom\:-9                   { bottom: calc(var(--bottom-9) * -1 )!important; }
.bottom\:-10                  { bottom: calc(var(--bottom-10) * -1 )!important; }
.bottom\:-1p                  { bottom: calc(var(--bottom-percent-1) * -1) !important; }
.bottom\:-2p                  { bottom: calc(var(--bottom-percent-2) * -1) !important; }
.bottom\:-3p                  { bottom: calc(var(--bottom-percent-3) * -1) !important; }
.bottom\:-4p                  { bottom: calc(var(--bottom-percent-4) * -1) !important; }
.bottom\:-5p                  { bottom: calc(var(--bottom-percent-5) * -1) !important; }
.bottom\:-6p                  { bottom: calc(var(--bottom-percent-6) * -1) !important; }
.bottom\:-7p                  { bottom: calc(var(--bottom-percent-7) * -1) !important; }
.bottom\:-8p                  { bottom: calc(var(--bottom-percent-8) * -1) !important; }
.bottom\:-9p                  { bottom: calc(var(--bottom-percent-9) * -1) !important; }
.bottom\:-10p                 { bottom: calc(var(--bottom-percent-10) * -1) !important; }
.bottom\:-1\/2                { bottom: calc(50% * -1) !important; }
.bottom\:-1\/3                { bottom: calc(33% * -1) !important; }
.bottom\:-2\/3                { bottom: calc(66% * -1) !important; }
.bottom\:-1\/4                { bottom: calc(25% * -1) !important; }
.bottom\:-2\/4                { bottom: calc(50% * -1) !important; }
.bottom\:-3\/4                { bottom: calc(75% * -1) !important; }
.bottom\:-1\/5                { bottom: calc(20% * -1) !important; }
.bottom\:-2\/5                { bottom: calc(40% * -1) !important; }
.bottom\:-3\/5                { bottom: calc(60% * -1) !important; }
.bottom\:-4\/5                { bottom: calc(80% * -1) !important; }

/* ---- md ------------------------------------------------- */
@media (min-width: 768px) {
    .md\:bottom\:-1                   { bottom: calc(var(--bottom-1) * -1 )!important; }
    .md\:bottom\:-2                   { bottom: calc(var(--bottom-2) * -1 )!important; }
    .md\:bottom\:-3                   { bottom: calc(var(--bottom-3) * -1 )!important; }
    .md\:bottom\:-4                   { bottom: calc(var(--bottom-4) * -1 )!important; }
    .md\:bottom\:-5                   { bottom: calc(var(--bottom-5) * -1 )!important; }
    .md\:bottom\:-6                   { bottom: calc(var(--bottom-6) * -1 )!important; }
    .md\:bottom\:-7                   { bottom: calc(var(--bottom-7) * -1 )!important; }
    .md\:bottom\:-8                   { bottom: calc(var(--bottom-8) * -1 )!important; }
    .md\:bottom\:-9                   { bottom: calc(var(--bottom-9) * -1 )!important; }
    .md\:bottom\:-10                  { bottom: calc(var(--bottom-10) * -1 )!important; }
    .md\:bottom\:-1p                  { bottom: calc(var(--bottom-percent-1) * -1) !important; }
    .md\:bottom\:-2p                  { bottom: calc(var(--bottom-percent-2) * -1) !important; }
    .md\:bottom\:-3p                  { bottom: calc(var(--bottom-percent-3) * -1) !important; }
    .md\:bottom\:-4p                  { bottom: calc(var(--bottom-percent-4) * -1) !important; }
    .md\:bottom\:-5p                  { bottom: calc(var(--bottom-percent-5) * -1) !important; }
    .md\:bottom\:-6p                  { bottom: calc(var(--bottom-percent-6) * -1) !important; }
    .md\:bottom\:-7p                  { bottom: calc(var(--bottom-percent-7) * -1) !important; }
    .md\:bottom\:-8p                  { bottom: calc(var(--bottom-percent-8) * -1) !important; }
    .md\:bottom\:-9p                  { bottom: calc(var(--bottom-percent-9) * -1) !important; }
    .md\:bottom\:-10p                 { bottom: calc(var(--bottom-percent-10) * -1) !important; }
    .md\:bottom\:-1\/2                { bottom: calc(50% * -1) !important; }
    .md\:bottom\:-1\/3                { bottom: calc(33% * -1) !important; }
    .md\:bottom\:-2\/3                { bottom: calc(66% * -1) !important; }
    .md\:bottom\:-1\/4                { bottom: calc(25% * -1) !important; }
    .md\:bottom\:-2\/4                { bottom: calc(50% * -1) !important; }
    .md\:bottom\:-3\/4                { bottom: calc(75% * -1) !important; }
    .md\:bottom\:-1\/5                { bottom: calc(20% * -1) !important; }
    .md\:bottom\:-2\/5                { bottom: calc(40% * -1) !important; }
    .md\:bottom\:-3\/5                { bottom: calc(60% * -1) !important; }
    .md\:bottom\:-4\/5                { bottom: calc(80% * -1) !important; }
}

/* ---- lg ------------------------------------------------- */
@media (min-width: 1200px) {
    .lg\:bottom\:-1                   { bottom: calc(var(--bottom-1) * -1 )!important; }
    .lg\:bottom\:-2                   { bottom: calc(var(--bottom-2) * -1 )!important; }
    .lg\:bottom\:-3                   { bottom: calc(var(--bottom-3) * -1 )!important; }
    .lg\:bottom\:-4                   { bottom: calc(var(--bottom-4) * -1 )!important; }
    .lg\:bottom\:-5                   { bottom: calc(var(--bottom-5) * -1 )!important; }
    .lg\:bottom\:-6                   { bottom: calc(var(--bottom-6) * -1 )!important; }
    .lg\:bottom\:-7                   { bottom: calc(var(--bottom-7) * -1 )!important; }
    .lg\:bottom\:-8                   { bottom: calc(var(--bottom-8) * -1 )!important; }
    .lg\:bottom\:-9                   { bottom: calc(var(--bottom-9) * -1 )!important; }
    .lg\:bottom\:-10                  { bottom: calc(var(--bottom-10) * -1 )!important; }
    .lg\:bottom\:-1p                  { bottom: calc(var(--bottom-percent-1) * -1) !important; }
    .lg\:bottom\:-2p                  { bottom: calc(var(--bottom-percent-2) * -1) !important; }
    .lg\:bottom\:-3p                  { bottom: calc(var(--bottom-percent-3) * -1) !important; }
    .lg\:bottom\:-4p                  { bottom: calc(var(--bottom-percent-4) * -1) !important; }
    .lg\:bottom\:-5p                  { bottom: calc(var(--bottom-percent-5) * -1) !important; }
    .lg\:bottom\:-6p                  { bottom: calc(var(--bottom-percent-6) * -1) !important; }
    .lg\:bottom\:-7p                  { bottom: calc(var(--bottom-percent-7) * -1) !important; }
    .lg\:bottom\:-8p                  { bottom: calc(var(--bottom-percent-8) * -1) !important; }
    .lg\:bottom\:-9p                  { bottom: calc(var(--bottom-percent-9) * -1) !important; }
    .lg\:bottom\:-10p                 { bottom: calc(var(--bottom-percent-10) * -1) !important; }
    .lg\:bottom\:-1\/2                { bottom: calc(50% * -1) !important; }
    .lg\:bottom\:-1\/3                { bottom: calc(33% * -1) !important; }
    .lg\:bottom\:-2\/3                { bottom: calc(66% * -1) !important; }
    .lg\:bottom\:-1\/4                { bottom: calc(25% * -1) !important; }
    .lg\:bottom\:-2\/4                { bottom: calc(50% * -1) !important; }
    .lg\:bottom\:-3\/4                { bottom: calc(75% * -1) !important; }
    .lg\:bottom\:-1\/5                { bottom: calc(20% * -1) !important; }
    .lg\:bottom\:-2\/5                { bottom: calc(40% * -1) !important; }
    .lg\:bottom\:-3\/5                { bottom: calc(60% * -1) !important; }
    .lg\:bottom\:-4\/5                { bottom: calc(80% * -1) !important; }
}


/* ---- left ------------------------------------------------- */
.left\:0                   { left: 0 !important; }
.left\:1                   { left: var(--left-1) !important; }
.left\:2                   { left: var(--left-2) !important; }
.left\:3                   { left: var(--left-3) !important; }
.left\:4                   { left: var(--left-4) !important; }
.left\:5                   { left: var(--left-5) !important; }
.left\:6                   { left: var(--left-6) !important; }
.left\:7                   { left: var(--left-7) !important; }
.left\:8                   { left: var(--left-8) !important; }
.left\:9                   { left: var(--left-9) !important; }
.left\:10                  { left: var(--left-10) !important; }
.left\:1p                  { left: var(--left-percent-1) !important; }
.left\:2p                  { left: var(--left-percent-2) !important; }
.left\:3p                  { left: var(--left-percent-3) !important; }
.left\:4p                  { left: var(--left-percent-4) !important; }
.left\:5p                  { left: var(--left-percent-5) !important; }
.left\:6p                  { left: var(--left-percent-6) !important; }
.left\:7p                  { left: var(--left-percent-7) !important; }
.left\:8p                  { left: var(--left-percent-8) !important; }
.left\:9p                  { left: var(--left-percent-9) !important; }
.left\:10p                 { left: var(--left-percent-10) !important; }
.left\:1\/2                { left: 50% !important; }
.left\:1\/3                { left: 33.333333% !important; }
.left\:2\/3                { left: 66.666667% !important; }
.left\:1\/4                { left: 25% !important; }
.left\:2\/4                { left: 50% !important; }
.left\:3\/4                { left: 75% !important; }
.left\:1\/5                { left: 20% !important; }
.left\:2\/5                { left: 40% !important; }
.left\:3\/5                { left: 60% !important; }
.left\:4\/5                { left: 80% !important; }

/* ---- md ------------------------------------------------- */
@media (min-width: 768px) {
    .md\:left\:0                   { left: 0 !important; }
    .md\:left\:1                   { left: var(--left-1) !important; }
    .md\:left\:2                   { left: var(--left-2) !important; }
    .md\:left\:3                   { left: var(--left-3) !important; }
    .md\:left\:4                   { left: var(--left-4) !important; }
    .md\:left\:5                   { left: var(--left-5) !important; }
    .md\:left\:6                   { left: var(--left-6) !important; }
    .md\:left\:7                   { left: var(--left-7) !important; }
    .md\:left\:8                   { left: var(--left-8) !important; }
    .md\:left\:9                   { left: var(--left-9) !important; }
    .md\:left\:10                  { left: var(--left-10) !important; }
    .md\:left\:1p                  { left: var(--left-percent-1) !important; }
    .md\:left\:2p                  { left: var(--left-percent-2) !important; }
    .md\:left\:3p                  { left: var(--left-percent-3) !important; }
    .md\:left\:4p                  { left: var(--left-percent-4) !important; }
    .md\:left\:5p                  { left: var(--left-percent-5) !important; }
    .md\:left\:6p                  { left: var(--left-percent-6) !important; }
    .md\:left\:7p                  { left: var(--left-percent-7) !important; }
    .md\:left\:8p                  { left: var(--left-percent-8) !important; }
    .md\:left\:9p                  { left: var(--left-percent-9) !important; }
    .md\:left\:10p                 { left: var(--left-percent-10) !important; }
    .md\:left\:1\/2                { left: 50% !important; }
    .md\:left\:1\/3                { left: 33.333333% !important; }
    .md\:left\:2\/3                { left: 66.666667% !important; }
    .md\:left\:1\/4                { left: 25% !important; }
    .md\:left\:2\/4                { left: 50% !important; }
    .md\:left\:3\/4                { left: 75% !important; }
    .md\:left\:1\/5                { left: 20% !important; }
    .md\:left\:2\/5                { left: 40% !important; }
    .md\:left\:3\/5                { left: 60% !important; }
    .md\:left\:4\/5                { left: 80% !important; }
}

/* ---- lg ------------------------------------------------- */
@media (min-width: 1200px) {
    .lg\:left\:0                   { left: 0 !important; }
    .lg\:left\:1                   { left: var(--left-1) !important; }
    .lg\:left\:2                   { left: var(--left-2) !important; }
    .lg\:left\:3                   { left: var(--left-3) !important; }
    .lg\:left\:4                   { left: var(--left-4) !important; }
    .lg\:left\:5                   { left: var(--left-5) !important; }
    .lg\:left\:6                   { left: var(--left-6) !important; }
    .lg\:left\:7                   { left: var(--left-7) !important; }
    .lg\:left\:8                   { left: var(--left-8) !important; }
    .lg\:left\:9                   { left: var(--left-9) !important; }
    .lg\:left\:10                  { left: var(--left-10) !important; }
    .lg\:left\:1p                  { left: var(--left-percent-1) !important; }
    .lg\:left\:2p                  { left: var(--left-percent-2) !important; }
    .lg\:left\:3p                  { left: var(--left-percent-3) !important; }
    .lg\:left\:4p                  { left: var(--left-percent-4) !important; }
    .lg\:left\:5p                  { left: var(--left-percent-5) !important; }
    .lg\:left\:6p                  { left: var(--left-percent-6) !important; }
    .lg\:left\:7p                  { left: var(--left-percent-7) !important; }
    .lg\:left\:8p                  { left: var(--left-percent-8) !important; }
    .lg\:left\:9p                  { left: var(--left-percent-9) !important; }
    .lg\:left\:10p                 { left: var(--left-percent-10) !important; }
    .lg\:left\:1\/2                { left: 50% !important; }
    .lg\:left\:1\/3                { left: 33.333333% !important; }
    .lg\:left\:2\/3                { left: 66.666667% !important; }
    .lg\:left\:1\/4                { left: 25% !important; }
    .lg\:left\:2\/4                { left: 50% !important; }
    .lg\:left\:3\/4                { left: 75% !important; }
    .lg\:left\:1\/5                { left: 20% !important; }
    .lg\:left\:2\/5                { left: 40% !important; }
    .lg\:left\:3\/5                { left: 60% !important; }
    .lg\:left\:4\/5                { left: 80% !important; }
}

.left\:-1                   { left: calc(var(--left-1) * -1 )!important; }
.left\:-2                   { left: calc(var(--left-2) * -1 )!important; }
.left\:-3                   { left: calc(var(--left-3) * -1 )!important; }
.left\:-4                   { left: calc(var(--left-4) * -1 )!important; }
.left\:-5                   { left: calc(var(--left-5) * -1 )!important; }
.left\:-6                   { left: calc(var(--left-6) * -1 )!important; }
.left\:-7                   { left: calc(var(--left-7) * -1 )!important; }
.left\:-8                   { left: calc(var(--left-8) * -1 )!important; }
.left\:-9                   { left: calc(var(--left-9) * -1 )!important; }
.left\:-10                  { left: calc(var(--left-10) * -1 )!important; }
.left\:-1p                  { left: calc(var(--left-percent-1) * -1) !important; }
.left\:-2p                  { left: calc(var(--left-percent-2) * -1) !important; }
.left\:-3p                  { left: calc(var(--left-percent-3) * -1) !important; }
.left\:-4p                  { left: calc(var(--left-percent-4) * -1) !important; }
.left\:-5p                  { left: calc(var(--left-percent-5) * -1) !important; }
.left\:-6p                  { left: calc(var(--left-percent-6) * -1) !important; }
.left\:-7p                  { left: calc(var(--left-percent-7) * -1) !important; }
.left\:-8p                  { left: calc(var(--left-percent-8) * -1) !important; }
.left\:-9p                  { left: calc(var(--left-percent-9) * -1) !important; }
.left\:-10p                 { left: calc(var(--left-percent-10) * -1) !important; }
.left\:-1\/2                { left: calc(50% * -1) !important; }
.left\:-1\/3                { left: calc(33% * -1) !important; }
.left\:-2\/3                { left: calc(66% * -1) !important; }
.left\:-1\/4                { left: calc(25% * -1) !important; }
.left\:-2\/4                { left: calc(50% * -1) !important; }
.left\:-3\/4                { left: calc(75% * -1) !important; }
.left\:-1\/5                { left: calc(20% * -1) !important; }
.left\:-2\/5                { left: calc(40% * -1) !important; }
.left\:-3\/5                { left: calc(60% * -1) !important; }
.left\:-4\/5                { left: calc(80% * -1) !important; }

/* ---- md ------------------------------------------------- */
@media (min-width: 768px) {
    .md\:left\:-1                   { left: calc(var(--left-1) * -1 )!important; }
    .md\:left\:-2                   { left: calc(var(--left-2) * -1 )!important; }
    .md\:left\:-3                   { left: calc(var(--left-3) * -1 )!important; }
    .md\:left\:-4                   { left: calc(var(--left-4) * -1 )!important; }
    .md\:left\:-5                   { left: calc(var(--left-5) * -1 )!important; }
    .md\:left\:-6                   { left: calc(var(--left-6) * -1 )!important; }
    .md\:left\:-7                   { left: calc(var(--left-7) * -1 )!important; }
    .md\:left\:-8                   { left: calc(var(--left-8) * -1 )!important; }
    .md\:left\:-9                   { left: calc(var(--left-9) * -1 )!important; }
    .md\:left\:-10                  { left: calc(var(--left-10) * -1 )!important; }
    .md\:left\:-1p                  { left: calc(var(--left-percent-1) * -1) !important; }
    .md\:left\:-2p                  { left: calc(var(--left-percent-2) * -1) !important; }
    .md\:left\:-3p                  { left: calc(var(--left-percent-3) * -1) !important; }
    .md\:left\:-4p                  { left: calc(var(--left-percent-4) * -1) !important; }
    .md\:left\:-5p                  { left: calc(var(--left-percent-5) * -1) !important; }
    .md\:left\:-6p                  { left: calc(var(--left-percent-6) * -1) !important; }
    .md\:left\:-7p                  { left: calc(var(--left-percent-7) * -1) !important; }
    .md\:left\:-8p                  { left: calc(var(--left-percent-8) * -1) !important; }
    .md\:left\:-9p                  { left: calc(var(--left-percent-9) * -1) !important; }
    .md\:left\:-10p                 { left: calc(var(--left-percent-10) * -1) !important; }
    .md\:left\:-1\/2                { left: calc(50% * -1) !important; }
    .md\:left\:-1\/3                { left: calc(33% * -1) !important; }
    .md\:left\:-2\/3                { left: calc(66% * -1) !important; }
    .md\:left\:-1\/4                { left: calc(25% * -1) !important; }
    .md\:left\:-2\/4                { left: calc(50% * -1) !important; }
    .md\:left\:-3\/4                { left: calc(75% * -1) !important; }
    .md\:left\:-1\/5                { left: calc(20% * -1) !important; }
    .md\:left\:-2\/5                { left: calc(40% * -1) !important; }
    .md\:left\:-3\/5                { left: calc(60% * -1) !important; }
    .md\:left\:-4\/5                { left: calc(80% * -1) !important; }
}

/* ---- lg ------------------------------------------------- */
@media (min-width: 1200px) {
    .lg\:left\:-1                   { left: calc(var(--left-1) * -1 )!important; }
    .lg\:left\:-2                   { left: calc(var(--left-2) * -1 )!important; }
    .lg\:left\:-3                   { left: calc(var(--left-3) * -1 )!important; }
    .lg\:left\:-4                   { left: calc(var(--left-4) * -1 )!important; }
    .lg\:left\:-5                   { left: calc(var(--left-5) * -1 )!important; }
    .lg\:left\:-6                   { left: calc(var(--left-6) * -1 )!important; }
    .lg\:left\:-7                   { left: calc(var(--left-7) * -1 )!important; }
    .lg\:left\:-8                   { left: calc(var(--left-8) * -1 )!important; }
    .lg\:left\:-9                   { left: calc(var(--left-9) * -1 )!important; }
    .lg\:left\:-10                  { left: calc(var(--left-10) * -1 )!important; }
    .lg\:left\:-1p                  { left: calc(var(--left-percent-1) * -1) !important; }
    .lg\:left\:-2p                  { left: calc(var(--left-percent-2) * -1) !important; }
    .lg\:left\:-3p                  { left: calc(var(--left-percent-3) * -1) !important; }
    .lg\:left\:-4p                  { left: calc(var(--left-percent-4) * -1) !important; }
    .lg\:left\:-5p                  { left: calc(var(--left-percent-5) * -1) !important; }
    .lg\:left\:-6p                  { left: calc(var(--left-percent-6) * -1) !important; }
    .lg\:left\:-7p                  { left: calc(var(--left-percent-7) * -1) !important; }
    .lg\:left\:-8p                  { left: calc(var(--left-percent-8) * -1) !important; }
    .lg\:left\:-9p                  { left: calc(var(--left-percent-9) * -1) !important; }
    .lg\:left\:-10p                 { left: calc(var(--left-percent-10) * -1) !important; }
    .lg\:left\:-1\/2                { left: calc(50% * -1) !important; }
    .lg\:left\:-1\/3                { left: calc(33% * -1) !important; }
    .lg\:left\:-2\/3                { left: calc(66% * -1) !important; }
    .lg\:left\:-1\/4                { left: calc(25% * -1) !important; }
    .lg\:left\:-2\/4                { left: calc(50% * -1) !important; }
    .lg\:left\:-3\/4                { left: calc(75% * -1) !important; }
    .lg\:left\:-1\/5                { left: calc(20% * -1) !important; }
    .lg\:left\:-2\/5                { left: calc(40% * -1) !important; }
    .lg\:left\:-3\/5                { left: calc(60% * -1) !important; }
    .lg\:left\:-4\/5                { left: calc(80% * -1) !important; }
}
