:root{
    /* ------------btn size별 스펙--------- */
    /* --btn-size: x-small, small, medium, large, x-large
    --btn-height: 32px, 40px, 56px, 96px, 136px
    --btn-width: 59px, 67px, 88px, 155px, 206px
    --btn-padding: (6px 12px), (10px 16px), (16px 24px), (32px 48px), (48px 64px)
    --btn-font-style: roboto
    --btn-font-size: 14px, 14px, 16px, 24px, 32px
    --btn-font-weight: medium, medium, medium, regular, regular
    --btn-line-height: 20px, 20px, 24px, 32px, 40px  //행간
    --btn-letter-spacing: 0.1, 0.1, 0.15, 0, 0 //자간 */

    /* ----------상수변수-------------- */
    /* 버튼 색 */
    --btn-color-1: #ffbf50;     /*rgba(245, 158, 11, 1)*/
    --btn-color-2: #d48700;     /*rgba(212, 135, 0, 1)*/
    --btn-color-3: #d97706;     /*rgba(217, 119, 6, 1)*/
    --btn-color-4: #b45309;     /*rgba(180, 83, 9, 1)*/
    --btn-color-5: #944813;     /*rgba(148, 72, 19, 1)*/
    --btn-color-6: #5e2808;     /*rgba(94, 40, 8, 1)*/
    --btn-color-7: #513a2c;     /*rgba(81, 58, 44, 1)*/
    --btn-color-8: #362418;     /*rgba(54, 36, 24, 1)*/

    --btn-color-base-1: #ffffff; /* 가장 밝은 회색 */
    --btn-color-base-2: #d7d7d7; /* 매우 밝은 회색 */
    --btn-color-base-3: #e5e7eb; /* 밝은 회색 */
    --btn-color-base-4: #b3b3b3; /* 연한 회색 */
    --btn-color-base-5: #9e9e9e; /* 중간 회색 */
    --btn-color-base-6: #8d8d8d; /* 진한 회색 */
    --btn-color-base-7: #747474; /* 어두운 회색 */
    --btn-color-base-8: #585858; /* 매우 어두운 회색 */
    --btn-color-base-9: #191919; /* 거의 검은 회색 */
    --btn-color-base-10: #000000; /* 가장 어두운 회색 */

 /* 버튼 높이 */
    --btn-height-1: 32px;
    --btn-height-2: 40px;
    --btn-height-3: 56px;
    --btn-height-4: 96px;
    --btn-height-5: 136px;

 /* 버튼 패딩 */
    --btn-padding-1: 0 12px;
    --btn-padding-2: 0 16px;
    --btn-padding-3: 0 24px;
    --btn-padding-4: 0 48px;
    --btn-padding-5: 0 64px;
 
 /* 버튼 폰트사이즈 */
    --btn-font-size-1: 14px;
    --btn-font-size-2: 16px;
    --btn-font-size-3: 24px;
    --btn-font-size-4: 32px;

 /* 버튼 행간 */
    --btn-line-height-1: 20px;
    --btn-line-height-2: 24px;
    --btn-line-height-3: 32px;
    --btn-line-height-4: 40px;

 /* 버튼 자간 */
    --btn-letter-spacing-1: 0.1px;
    --btn-letter-spacing-2: 0.15px;
    --btn-letter-spacing-3: 0px;

 /* border-radius */
    --btn-border-radius-1: 8px;
    --btn-border-radius-2: 12px;
    --btn-border-radius-3: 16px;
    --btn-border-radius-4: 28px;

    
 /* --------------Variable---------------- */

 --btn-color: var(--btn-color-3);
 --btn-height: var(--btn-height-3);
 --btn-padding: var(--btn-padding-3);
 --btn-border-radius: 999px;
 --btn-font-size: var(--btn-font-size-2);
 --btn-font-weight: 500;
 --btn-line-height: var(--btn-line-height-2);
 --btn-letter-spacing: var(--btn-letter-spacing-2);
 --btn-fill: 1;
}

h1{
    font-size: 16px;
    color:var(--btn-color-base-7);
}



/* =================Button Type===================================== */

/* --------Base Type----------- */
.m3-btn{    
    /* boxing*/
    border: 0px;
    margin-top: 5px;
    gap: 2px;
    
    /* content */
    font-family: roboto;
    font-variation-settings: 'FILL' var(--btn-fill);
    
    /* effect */
    transition: background-color 0.3s ease, transform 1s ease;    
}

/* -------Elevated Type---------- */
.btn-type\:elevated{

    /* boxing */
    background: rgba(81, 58, 44, 0.05);
    box-shadow: 0px 0.7px 2px 0.5px rgba(0, 0, 0, 0.5);

    /* content */
    color: var(--btn-color-4);

}

/* -------Filled Type------------ */
.btn-type\:filled{

    /* boxing */
    background-color: var(--btn-color);

    /* content */
    color: var(--btn-color-base-1);

}

/* -------Tone Type-------------- */
.btn-type\:tonal{

    /* boxing */
    background: rgba(255, 162, 0, 0.8);

    /* content */
    color: var(--btn-color-5);

}

/* -------Outlined Type---------- */
.btn-type\:Outlined{
    
    /* boxing */
    background-color: transparent;
    border: 1px solid rgba(81, 58, 44, 0.2);

    /* content */
    color: rgba(81, 58, 44, 0.8);

}

/* -------Text Type-------------- */
.btn-type\:Text{
    
    /* boxing */
    background-color: transparent;

    /* content */
    color: var(--btn-color-5);

}



/* ===========Button State(Light Mode)============================== */

.m3-btn:disabled,
.btn-state\:disabled{

        background: rgba(81, 58, 44, 0.1);
        color: rgba(81, 58, 44, 0.3);
    
}

/* -------Elevate Type----------- */
.elevated-round-btn,.elevated-square-btn{
    
    .m3-btn:disabled,
    .btn-state\:disabled{

            box-shadow: none;
        
    }

    .m3-btn:focus:not(:active),
    .btn-state\:focus:not(:active){

        border: 2px solid var(--btn-color-5);
        outline:0.3px solid rgba(180, 83, 9, 0.5);
        outline-offset: -4px;

    }

    .m3-btn:hover,
    .btn-state\:hover{

        background: rgba(81, 58, 44, 0.15);
        color: var(--btn-color-4);

    }

    .m3-btn:active,
    .btn-state\:active{

        background: radial-gradient(
            107% 112% at 65% 103%,
            rgba(94, 40, 8, 0.17) 65%,
            rgba(81, 58, 44, 0.13) 66%
            );
        border-radius: 12px;   

    }
}


/* -------Filled Type----------- */
.filled-round-btn,.filled-square-btn{
    
    .m3-btn:focus:not(:active),
    .btn-state\:focus:not(:active){

        border: 2px solid var(--btn-color-base-1);
        outline: 2.5px solid var(--btn-color-5);

    }

    .m3-btn:hover,
    .btn-state\:hover{

        background: rgba(245, 158, 11, 1);

    }

    .m3-btn:active,
    .btn-state\:active{

        background: radial-gradient(
            107% 112% at 65% 103%,
            rgba(245, 158, 11, 1) 65%,
            rgba(217, 119, 6, 1) 66%
            );
            /* background: radial-gradient(circle at 50% 150%,
            var(--color-main-2) 0,
            var(--color-main-2) 50%,
            var(--color-main-1) 100%); */
            border-radius: 12px;   

    }
}


/* -------Tone Type-------------- */
.tonal-round-btn,.tonal-square-btn{

    .m3-btn:focus:not(:active),
    .btn-state\:focus:not(:active){

        border: 2px solid var(--btn-color-base-1);
        outline: 2.5px solid var(--btn-color-5);

    }

    .m3-btn:hover,
    .btn-state\:hover{

        background: rgba(255, 162, 0, 1);

    }

    .m3-btn:active,
    .btn-state\:active{

        background: radial-gradient(
            107% 112% at 65% 103%,
            rgba(255, 162, 0, 1) 65%,
            rgba(255, 162, 0, 0.8) 66%
            );
            border-radius: 12px;   

    }
}


/* -------Outlined Type---------- */
.outlined-round-btn,.outlined-square-btn{

    .m3-btn:focus:not(:active),
    .btn-state\:focus:not(:active){

        border: 2px solid var(--btn-color-7);
        outline:0.3px solid rgba(81, 58, 44, 0.3);
        outline-offset: -4px;

    }

    .m3-btn:hover,
    .btn-state\:hover{

        background: rgba(81, 58, 44, 0.15);

    }

    .m3-btn:active,
    .btn-state\:active{

        background: radial-gradient(
            107% 112% at 65% 103%,
            rgba(94, 40, 8, 0.18) 65%,
            rgba(81, 58, 44, 0.1) 66%
            );
            border-radius: 12px;   

    }
}


/* -------Text Type-------------- */
.text-round-btn,.text-square-btn{

    .m3-btn:focus:not(:active),
    .btn-state\:focus:not(:active){

        border: 2px solid var(--btn-color-7);
        outline:0.3px solid rgba(81, 58, 44, 0.3);
        outline-offset: -4px;

    }

    .m3-btn:hover,
    .btn-state\:hover{

        background: rgba(81, 58, 44, 0.15);

    }

    .m3-btn:active,
    .btn-state\:active{

        background: radial-gradient(
            107% 112% at 65% 103%,
            rgba(94, 40, 8, 0.18) 65%,
            rgba(81, 58, 44, 0.1) 66%
            );
            border-radius: 12px;   

    }
}




/* ===========Button State(Dark Mode)================================ */
@media (prefers-color-scheme: dark) {

    body{
        background-color: var(--btn-color-base-9);

        .m3-btn:disabled,
        .btn-state\:disabled{

            background: rgba(81, 58, 44, 0.3);
            color: rgba(217, 119, 6, 0.2);

        }
    }

    
    /* -------Elevate Type----------- */
    .elevated-round-btn,.elevated-square-btn{

        .m3-btn{

            background-color: var(--btn-color-8);
            color: var(--btn-color-2);

        }

        .m3-btn:focus:not(:active),
        .btn-state\:focus:not(:active){

            border: 2px solid var(--btn-color-8);
            outline: 2px solid var(--btn-color-2);

        }

        .m3-btn:hover,
        .btn-state\:hover{

            background-color: var(--btn-color-7);
            color: var(--btn-color-2);

        }

        .m3-btn:active,
        .btn-state\:active{

            background: radial-gradient(
                107% 112% at 65% 103%,
                rgba(54, 36, 24, 1) 65%,
                rgba(81, 58, 44, 1) 66%
                );
            border-radius: 12px;

        }
    }


    /* -------Filled Type------------ */
    .filled-round-btn,.filled-square-btn{

        .m3-btn{

            background-color: var(--btn-color-2);
            color: var(--btn-color-6);
            font-weight: 600;

        }

        .m3-btn:focus:not(:active),
        .btn-state\:focus:not(:active){

            border: 2px solid var(--btn-color-6);
            outline: 2px solid var(--btn-color-2);

        }

        .m3-btn:hover,
        .btn-state\:hover{

            background-color: var(--btn-color-1);

        }

        .m3-btn:active,
        .btn-state\:active{

            background: radial-gradient(
                107% 112% at 65% 103%,
                rgba(212, 135, 0, 1) 65%,
                rgba(245, 158, 11, 1) 66%
                );
            border-radius: 12px;

        }
    }


    /* -------Tone Type-------------- */
    .tonal-round-btn,.tonal-square-btn{

        .m3-btn{

            background-color: var(--btn-color-7);
            color: var(--btn-color-2);

        }

        .m3-btn:focus:not(:active),
        .btn-state\:focus:not(:active){

            border: 2px solid var(--btn-color-8);
            outline: 2px solid var(--btn-color-2);

        }

        .m3-btn:hover,
        .btn-state\:hover{

            background: rgba(81, 58, 44, 0.7);

        }

        .m3-btn:active,
        .btn-state\:active{

            background: radial-gradient(
                107% 112% at 65% 103%,
                rgba(54, 36, 24, 0.8) 65%,
                rgba(81, 58, 44, 0.8) 66%
                );
            border-radius: 12px;

        }
    }


    /* -------Outlined Type---------- */
    .outlined-round-btn,.outlined-square-btn{
        
        .m3-btn{

            background-color: transparent;
            color: var(--btn-color-2);
            outline: 1px solied var(--btn-color-1);

        }

        .m3-btn:focus:not(:active),
        .btn-state\:focus:not(:active){

            border: 2px solid var(--btn-color-2);
            outline:0.1px solid rgba(245, 158, 11, 0.3);
            outline-offset: -5px;

        }

        .m3-btn:hover,
        .btn-state\:hover{

            background: rgba(81, 58, 44, 0.4);

        }

        .m3-btn:active,
        .btn-state\:active{

            background: radial-gradient(
                107% 112% at 65% 103%,
                rgba(81, 58, 44, 0.8) 65%,
                rgba(81, 58, 44, 0.4) 66%
                );
            border-radius: 12px;

        }
    }


    /* -------Text Type-------------- */
    .text-round-btn,.text-square-btn{
            
        .m3-btn{

            background-color: transparent;
            color: var(--btn-color-2);

        }

        .m3-btn:focus:not(:active),
        .btn-state\:focus:not(:active){

            border: 2px solid var(--btn-color-2);
            outline:0.1px solid rgba(245, 158, 11, 0.3);
            outline-offset: -5px;

        }

        .m3-btn:hover,
        .btn-state\:hover{

            background: rgba(81, 58, 44, 0.4);

        }

        .m3-btn:active,
        .btn-state\:active{

            background: radial-gradient(
                107% 112% at 65% 103%,
                rgba(81, 58, 44, 0.8) 65%,
                rgba(81, 58, 44, 0.4) 66%
                );
            border-radius: 12px;

        }
    }
}




/* =============버튼 사이즈(Round)========================================= */

.btn-round-size\:1{

    /* boxing */
    height: var(--btn-height-1);
    padding: var(--btn-padding-1);
    border-radius: var(--btn-border-radius);

    /* content */
    font-size: var(--btn-font-size-1);
    font-weight: var(--btn-font-weight);
    line-height: var(--btn-line-height-1);
    letter-spacing: var(--btn-letter-spacing-1);

}


.btn-round-size\:2{
    
    /* boxing */
    height: var(--btn-height-2);
    padding: var(--btn-padding-2);
    border-radius: var(--btn-border-radius);

    /* content */
    font-size: var(--btn-font-size-1);
    font-weight: var(--btn-font-weight);
    line-height: var(--btn-line-height-1);
    letter-spacing: var(--btn-letter-spacing-1);

}

.btn-round-size\:3{
    
    /* boxing */
    height: var(--btn-height-3);
    padding: var(--btn-padding-3);
    border-radius: var(--btn-border-radius);

    /* content */
    font-size: var(--btn-font-size-2);
    font-weight: var(--btn-font-weight);
    line-height: var(--btn-line-height-2);
    letter-spacing: var(--btn-letter-spacing-2);

}

.btn-round-size\:4{
    
    /* boxing */
    height: var(--btn-height-4);
    padding: var(--btn-padding-4);
    border-radius: var(--btn-border-radius);

    /* content */
    font-size: var(--btn-font-size-3);
    line-height: var(--btn-line-height-3);
    letter-spacing: var(--btn-letter-spacing-3);

}

.btn-round-size\:5{
    
    /* boxing */
    height: var(--btn-height-5);
    padding: var(--btn-padding-5);
    border-radius: var(--btn-border-radius);

    /* content */
    font-size: var(--btn-font-size-4);
    line-height: var(--btn-line-height-4);
    letter-spacing: var(--btn-letter-spacing-3);

}

/* =============버튼 사이즈(Square)=================================== */

.btn-square-size\:1{

    /* boxing */
    height: var(--btn-height-1);
    padding: var(--btn-padding-1);
    border-radius: var(--btn-border-radius-2);

    /* content */
    font-size: var(--btn-font-size-1);
    font-weight: var(--btn-font-weight);
    line-height: var(--btn-line-height-1);
    letter-spacing: var(--btn-letter-spacing-1);

}

.btn-square-size\:2{
    
    /* boxing */
    height: var(--btn-height-2);
    padding: var(--btn-padding-2);
    border-radius: var(--btn-border-radius-2);

    /* content */
    font-size: var(--btn-font-size-1);
    font-weight: var(--btn-font-weight);
    line-height: var(--btn-line-height-1);
    letter-spacing: var(--btn-letter-spacing-1);

}

.btn-square-size\:3{
    
    /* boxing */
    height: var(--btn-height-3);
    padding: var(--btn-padding-3);
    border-radius: var(--btn-border-radius-3);

    /* content */
    font-size: var(--btn-font-size-2);
    font-weight: var(--btn-font-weight);
    line-height: var(--btn-line-height-2);
    letter-spacing: var(--btn-letter-spacing-2);

}

.btn-square-size\:4{
    
    /* boxing */
    height: var(--btn-height-4);
    padding: var(--btn-padding-4);
    border-radius: var(--btn-border-radius-4);

    /* content */
    font-size: var(--btn-font-size-3);
    line-height: var(--btn-line-height-3);
    letter-spacing: var(--btn-letter-spacing-3);

}

.btn-square-size\:5{
    
    /* boxing */
    height: var(--btn-height-5);
    padding: var(--btn-padding-5);
    border-radius: var(--btn-border-radius-4);

    /* content */
    font-size: var(--btn-font-size-4);
    line-height: var(--btn-line-height-4);
    letter-spacing: var(--btn-letter-spacing-3);

}