:root {
    /* ------------btn size별 스펙--------- */
    /* --btn-size: x-small, small, medium, large, x-large
    --btn-height: 32px, 40px, 56px, 96px, 136px
    --btn-width: 59px, 67px, 88px, 155px, 206px
    --btn-padding: (6px 12px), (10px 16px), (16px 24px), (32px 48px), (48px 64px)
    --btn-font-style: roboto
    --btn-font-size: 14px, 14px, 16px, 24px, 32px
    --btn-font-weight: medium, medium, medium, regular, regular
    --btn-line-height: 20px, 20px, 24px, 32px, 40px  //행간
    --btn-letter-spacing: 0.1, 0.1, 0.15, 0, 0 //자간 */

    /* ----------상수변수-------------- */
    /* 버튼 색 */
    --btn-rgb-0: var(--color-transparent);      /*투명*/
    --btn-rgb-1: var(--rgb-accent-1);           /*rgba(245, 158, 11, 1)*/
    --btn-rgb-2: 212, 135, 0;                     /*rgba(212, 135, 0, 1)*/
    --btn-rgb-3: var(--rgb-accent-2);           /*rgba(217, 119, 6, 1)*/
    --btn-rgb-4: var(--rgb-accent-3);           /*rgba(180, 83, 9, 1)*/
    --btn-rgb-5: 148, 72, 19;                     /*rgba(148, 72, 19, 1)*/
    --btn-rgb-6: 94, 40, 8;                     /*rgba(94, 40, 8, 1)*/
    --btn-rgb-7: 81, 58, 44;                     /*rgba(81, 58, 44, 1)*/
    --btn-rgb-8: 54, 36, 24;                     /*rgba(54, 36, 24, 1)*/

    --btn-rgb-base-1: var(--rgb-base-1);        /* 가장 밝은 회색 */
    --btn-rgb-base-2: var(--rgb-base-2);        /* 매우 밝은 회색 */
    --btn-rgb-base-3: var(--rgb-base-3);        /* 밝은 회색 */
    --btn-rgb-base-4: var(--rgb-base-4);        /* 연한 회색 */
    --btn-rgb-base-5: var(--rgb-base-5);        /* 중간 회색 */
    --btn-rgb-base-6: var(--rgb-base-6);        /* 진한 회색 */
    --btn-rgb-base-7: var(--rgb-base-7);        /* 어두운 회색 */
    --btn-rgb-base-8: var(--rgb-base-8);        /* 매우 어두운 회색 */
    --btn-rgb-base-9: var(--rgb-base-9);        /* 거의 검은 회색 */
    --btn-rgb-base-10: var(--rgb-base-10);      /* 가장 어두운 회색 */

    /* 버튼 높이 */
    --btn-height-1: var(--space-19);
    --btn-height-2: var(--space-22);
    --btn-height-3: var(--space-28);
    --btn-height-4: var(--space-32);
    --btn-height-5: var(--space-35);

    /* 버튼 패딩 */
    --btn-padding-1: 0 var(--space-6);
    --btn-padding-2: 0 var(--space-10);
    --btn-padding-3: 0 var(--space-15);
    --btn-padding-4: 0 var(--space-24);
    --btn-padding-5: 0 var(--space-29);

    /* 버튼 폰트사이즈 */
    --btn-font-size-1: var(--space-8);
    --btn-font-size-2: var(--space-10);
    --btn-font-size-3: var(--space-15);
    --btn-font-size-4: var(--space-19);

    /* 버튼 행간 */
    --btn-line-height-1: var(--space-13);
    --btn-line-height-2: var(--space-15);
    --btn-line-height-3: var(--space-19);
    --btn-line-height-4: var(--space-22);

    /* 버튼 자간 */
    --btn-letter-spacing-1: 0.1px;
    --btn-letter-spacing-2: 0.15px;
    --btn-letter-spacing-3: 0px;

    /* border-radius */
    --btn-border-radius-1: var(--border-radius-4);
    --btn-border-radius-2: var(--border-radius-5);
    --btn-border-radius-3: var(--border-radius-6);
    --btn-border-radius-4: var(--space-17);
    --btn-border-radius-5: var(--border-radius-8);


    /* --------------Variable---------------- */


    --btn-border-radius: var(--btn-border-radius-5);
    --btn-font-weight: 500;
    --btn-fill: 1;
}

main>section {
    margin-bottom: 50px;
}

main>section>h1 {
    font-size: var(--btn-font-size-3);
}

h1 {
    font-size: var(--btn-font-size-1);
    color: var(--btn-rgb-base-7);
    padding: 2px 0px;
    margin: 0px;
}



/* =================Button Type & State (Light Mode)===================================== */

/* ----------------------------Base Type------------------------------ */
.m3-btn {

    /* boxing*/
    border: 0px;
    margin-top: 5px;
    gap: 2px;

    /* content */
    font-family: roboto;
    font-variation-settings: 'FILL' var(--btn-fill);

    /* effect */
    transition: background-color 0.3s ease, transform 0.3s ease;

}

/* ---------------------------Elevated Type & State----------------------------- */
.btn-type\:elevated {

    /* boxing */
    background: linear-gradient(161deg,
            rgba(var(--btn-rgb-base-1), 0.17) 0%,
            rgba(var(--btn-rgb-base-10), 0.12) 100%);
    box-shadow: 0px 0.7px 2px 0.5px rgba(var(--btn-rgb-base-10), 0.5);

    /* content */
    color: rgb(var(--btn-rgb-base-7));
}

.btn-type\:elevated:disabled,
.btn-type\:elevated.btn-state\:disabled {

    background: rgba(var(--btn-rgb-base-10), 0.08);
    color: rgba(var(--btn-rgb-base-10), 0.2);
    box-shadow: none;

}

.btn-type\:elevated:focus:not(:active),
.btn-type\:elevated.btn-state\:focus:not(:active) {

    border: 2px solid rgb(var(--btn-rgb-base-8));
    outline: 0.3px solid rgba(var(--btn-rgb-base-10), 0.3);
    outline-offset: -4px;

}

.btn-type\:elevated:hover,
.btn-type\:elevated.btn-state\:hover {

    background: linear-gradient(161deg,
            rgba(var(--btn-rgb-base-1), 0.27) 0%,
            rgba(var(--btn-rgb-base-10), 0.25) 100%);

}

.btn-type\:elevated:active,
.btn-type\:elevated.btn-state\:active {

    background: radial-gradient(107% 112% at 65% 103%,
            rgba(var(--btn-rgb-base-10), 0.19) 65%,
            rgba(var(--btn-rgb-base-10), 0.1) 66%);
    border-radius: var(--btn-border-radius-2);

}


/* ---------------------------Filled Type & State----------------------------- */
.btn-type\:filled {

    /* boxing */
    background-color: rgb(var(--btn-rgb-3));
    /* background-color: color-mix(in srgb, #5e2808, transparent #944813); */

    /* content */
    color: rgb(var(--btn-rgb-base-1));

}

.btn-type\:filled:disabled,
.btn-type\:filled.btn-state\:disabled {

    background: rgba(var(--btn-rgb-base-10), 0.08);
    color: rgba(var(--btn-rgb-base-10), 0.2);

}

.btn-type\:filled:focus:not(:active),
.btn-type\:filled.btn-state\:focus:not(:active) {

    border: 2px solid rgba(var(--btn-rgb-base-1), 1);
    outline: 2.5px solid rgba(var(--btn-rgb-5), 1);

}

.btn-type\:filled:hover,
.btn-type\:filled.btn-state\:hover {

    background: rgba(var(--btn-rgb-1), 1);

}

.btn-type\:filled:active,
.btn-type\:filled.btn-state\:active {

    background: radial-gradient(107% 112% at 65% 103%,
            rgba(var(--btn-rgb-1), 1) 65%,
            rgba(var(--btn-rgb-3), 1) 66%);
    border-radius: var(--btn-border-radius-2);

}


/* ---------------------------Tonal Type & State----------------------------- */
.btn-type\:tonal {

    /* boxing */
    background: linear-gradient(161deg,
            rgba(255, 200, 0, 1) 8%,
            rgba(255, 176, 5, 1) 81%);

    /* content */
    color: rgb(var(--btn-rgb-5));

}

.btn-type\:tonal:disabled,
.btn-type\:tonal.btn-state\:disabled {

    background: rgba(var(--btn-rgb-base-10), 0.08);
    color: rgba(var(--btn-rgb-base-10), 0.2);

}

.btn-type\:tonal:focus:not(:active),
.btn-type\:tonal.btn-state\:focus:not(:active) {

    border: 2px solid rgb(var(--btn-rgb-base-1));
    outline: 2.5px solid rgb(var(--btn-rgb-5));

}

.btn-type\:tonal:hover,
.btn-type\:tonal.btn-state\:hover {

    background: linear-gradient(161deg,
            rgba(255, 200, 0, 1) 8%,
            rgba(255, 176, 5, 0.7) 81%);

}

.btn-type\:tonal:active,
.btn-type\:tonal.btn-state\:active {

    background: radial-gradient(107% 112% at 65% 103%,
            rgba(255, 176, 0, 1) 65%,
            rgba(255, 176, 0, 0.8) 66%);
    border-radius: var(--btn-border-radius-2);

}

/* ---------------------------Outlined Type & State----------------------------- */
.btn-type\:outlined {

    /* boxing */
    background-color: rgb(var(--btn-rgb-0));
    border: 1px solid rgba(var(--btn-rgb-7), 0.2);

    /* content */
    color: rgb(var(--btn-rgb-base-7));

}

.btn-type\:outlined:disabled,
.btn-type\:outlined.btn-state\:disabled {

    background: rgba(var(--btn-rgb-base-10), 0.08);
    color: rgba(var(--btn-rgb-base-10), 0.2);

}

.btn-type\:outlined:focus:not(:active),
.btn-type\:outlined.btn-state\:focus:not(:active) {

    border: 2px solid rgb(var(--btn-rgb-base-8));
    outline: 0.3px solid rgba(var(--btn-rgb-base-10), 0.3);
    outline-offset: -4px;

}

.btn-type\:outlined:hover,
.btn-type\:outlined.btn-state\:hover {

    background: rgba(var(--btn-rgb-base-10), 0.08);

}

.btn-type\:outlined:active,
.btn-type\:outlined.btn-state\:active {

    background: radial-gradient(107% 112% at 65% 103%,
            rgba(var(--btn-rgb-base-10), 0.19) 65%,
            rgba(var(--btn-rgb-base-10), 0.1) 66%);
    border-radius: var(--btn-border-radius-2);

}

/* ---------------------------Text Type & State----------------------------- */
.btn-type\:text {

    /* boxing */
    background-color: rgb(var(--btn-rgb-0));
    border: none;
    outline: none;

    /* content */
    color: rgb(var(--btn-rgb-base-7));

}

.btn-type\:text:disabled,
.btn-type\:text.btn-state\:disabled {

    background: rgba(var(--btn-rgb-base-10), 0.08);
    color: rgba(var(--btn-rgb-base-10), 0.2);

}

.btn-type\:text:focus:not(:active),
.btn-type\:text.btn-state\:focus:not(:active) {

    border: 2px solid rgb(var(--btn-rgb-base-8));
    outline: 0.3px solid rgba(var(--btn-rgb-base-10), 0.3);
    outline-offset: -4px;

}

.btn-type\:text:hover,
.btn-type\:text.btn-state\:hover {

    background: rgba(var(--btn-rgb-base-10), 0.08);

}

.btn-type\:text:active,
.btn-type\:text.btn-state\:active {

    background: radial-gradient(107% 112% at 65% 103%,
            rgba(var(--btn-rgb-base-10), 0.19) 65%,
            rgba(var(--btn-rgb-base-10), 0.1) 66%);
    border-radius: var(--btn-border-radius-2);

}




/* ================================Button Type & State (Dark Mode)================================== */

@media (prefers-color-scheme: dark) {

    body {
        background-color: rgb(var(--btn-rgb-base-9));

    }

    /* ---------------------------Elevated Type & State----------------------------- */

    .btn-type\:elevated{

        background: linear-gradient(161deg,
                rgba(var(--btn-rgb-7), 1) 0%,
                rgba(var(--btn-rgb-7), 0.1) 100%);
        box-shadow: 0px 0.7px 3px 0.5px rgba(var(--btn-rgb-1), 0.12);
        color: rgb(var(--btn-rgb-2));

    }

    .btn-type\:elevated:disabled,
    .btn-type\:elevated.btn-state\:disabled {

        background: rgba(var(--btn-rgb-7), 0.3);
        color: rgba(var(--btn-rgb-3), 0.2);

    }

    .btn-type\:elevated:focus:not(:active),
    .btn-type\:elevated.btn-state\:focus:not(:active) {

        outline: 2px solid rgb(var(--btn-rgb-2));
        border: 3px solid rgb(var(--btn-rgb-7));

    }

    .btn-type\:elevated:hover,
    .btn-type\:elevated.btn-state\:hover {

        background: linear-gradient(161deg,
                rgba(var(--btn-rgb-7), 0.7) 0%,
                rgba(var(--btn-rgb-7), 0.1) 100%);

    }

    .btn-type\:elevated:active,
    .btn-type\:elevated.btn-state\:active {

        background: radial-gradient(107% 112% at 65% 103%,
                rgba(var(--btn-rgb-8), 0.7) 65%,
                rgba(var(--btn-rgb-7), 0.7) 66%);
        border-radius: var(--btn-border-radius-2);

    }

    /* ---------------------------Filled Type & State----------------------------- */

    .btn-type\:filled {

        background-color: rgb(var(--btn-rgb-2));
        color: rgb(var(--btn-rgb-6));
        font-weight: 600;

    }

    .btn-type\:filled:disabled,
    .btn-type\:filled.btn-state\:disabled {

        background: rgba(var(--btn-rgb-7) 0.3);
        color: rgba(var(--btn-rgb-3), 0.2);

    }

    .btn-type\:filled:focus:not(:active),
    .btn-type\:filled.btn-state\:focus:not(:active) {

        border: 2px solid rgb(var(--btn-rgb-6));
        outline: 2px solid rgb(var(--btn-rgb-2));

    }

    .btn-type\:filled:hover,
    .btn-type\:filled.btn-state\:hover {

        background: rgba(240, 155, 20, 1);

    }

    .btn-type\:filled:active,
    .btn-type\:filled.btn-state\:active {

        background: radial-gradient(107% 112% at 65% 103%,
                rgba(var(--btn-rgb-2), 1) 65%,
                rgba(var(--btn-rgb-1), 1) 66%);
        border-radius: var(--btn-border-radius-2);

    }

    /* ---------------------------Tonal Type & State----------------------------- */


    .btn-type\:tonal {

        background: rgba(var(--btn-rgb-7), 1);
        color: rgb(var(--btn-rgb-2));

    }

    .btn-type\:tonal:disabled,
    .btn-type\:tonal.btn-state\:disabled {

        background: rgba(var(--btn-rgb-7), 0.3);
        color: rgba(var(--btn-rgb-3), 0.2);

    }

    .btn-type\:tonal:focus:not(:active),
    .btn-type\:tonal.btn-state\:focus:not(:active) {

        border: 2px solid rgb(var(--btn-rgb-2));
        outline: 3px solid rgb(var(--btn-rgb-7));

    }

    .btn-type\:tonal:hover,
    .btn-type\:tonal.btn-state\:hover {

        background: rgba(var(--btn-rgb-7), 0.7);

    }

    .btn-type\:tonal:active,
    .btn-type\:tonal.btn-state\:active {

        background: radial-gradient(107% 112% at 65% 103%,
                rgba(var(--btn-rgb-8), 0.7) 65%,
                rgba(var(--btn-rgb-7), 0.7) 66%);
        border-radius: var(--btn-border-radius-2);

    }



    /* ---------------------------Outlined and Text Type & State----------------------------- */

    .btn-type\:outlined,
    .btn-type\:text {

        background-color: var(--btn-rgb-0);
        color: rgb(var(--btn-rgb-2));
        outline: 1px solied rgb(var(--btn-rgb-1));

    }

    .btn-type\:outlined:disabled,
    .btn-type\:outlined.btn-state\:disabled,
    .btn-type\:text:disabled,
    .btn-type\:text.btn-state\:disabled {

        background: rgba(var(--btn-rgb-7), 0.3);
        color: rgba(var(--btn-rgb-3), 0.2);

    }

    .btn-type\:outlined:focus:not(:active),
    .btn-type\:outlined.btn-state\:focus:not(:active),
    .btn-type\:text:focus:not(:active),
    .btn-type\:text.btn-state\:focus:not(:active) {

        border: 2px solid rgb(var(--btn-rgb-2));
        outline: 0.1px solid rgba(var(--btn-rgb-1), 0.3);
        outline-offset: -5px;

    }

    .btn-type\:outlined:hover,
    .btn-type\:outlined.btn-state\:hover,
    .btn-type\:text:hover,
    .btn-type\:text.btn-state\:hover {

        background: rgba(var(--btn-rgb-7), 0.4);

    }

    .btn-type\:outlined:active,
    .btn-type\:outlined.btn-state\:active,
    .btn-type\:text:active,
    .btn-type\:text.btn-state\:active {

        background: radial-gradient(107% 112% at 65% 103%,
                rgba(var(--btn-rgb-7), 0.6) 65%,
                rgba(var(--btn-rgb-7), 0.3) 66%);
        border-radius: var(--btn-border-radius-2);

    }
}




/* =============================Button Size========================================================= */

/* ----------------------Round------------------------------------- */

.btn-round-size\:1 {

    /* boxing */
    height: var(--btn-height-1);
    padding: var(--btn-padding-1);
    border-radius: var(--btn-border-radius);

    /* content */
    font-size: var(--btn-font-size-1);
    font-weight: var(--btn-font-weight);
    line-height: var(--btn-line-height-1);
    letter-spacing: var(--btn-letter-spacing-1);

}


.btn-round-size\:2 {

    /* boxing */
    height: var(--btn-height-2);
    padding: var(--btn-padding-2);
    border-radius: var(--btn-border-radius);

    /* content */
    font-size: var(--btn-font-size-1);
    font-weight: var(--btn-font-weight);
    line-height: var(--btn-line-height-1);
    letter-spacing: var(--btn-letter-spacing-1);

}

.btn-round-size\:3 {

    /* boxing */
    height: var(--btn-height-3);
    padding: var(--btn-padding-3);
    border-radius: var(--btn-border-radius);

    /* content */
    font-size: var(--btn-font-size-2);
    font-weight: var(--btn-font-weight);
    line-height: var(--btn-line-height-2);
    letter-spacing: var(--btn-letter-spacing-2);

}

.btn-round-size\:4 {

    /* boxing */
    height: var(--btn-height-4);
    padding: var(--btn-padding-4);
    border-radius: var(--btn-border-radius);

    /* content */
    font-size: var(--btn-font-size-3);
    font-weight: 600;
    line-height: var(--btn-line-height-3);
    letter-spacing: var(--btn-letter-spacing-3);

}

.btn-round-size\:5 {

    /* boxing */
    height: var(--btn-height-5);
    padding: var(--btn-padding-5);
    border-radius: var(--btn-border-radius);

    /* content */
    font-size: var(--btn-font-size-4);
    font-weight: 600;
    line-height: var(--btn-line-height-4);
    letter-spacing: var(--btn-letter-spacing-3);

}

/* ----------------------Square------------------------------------- */

.btn-square-size\:1 {

    /* boxing */
    height: var(--btn-height-1);
    padding: var(--btn-padding-1);
    border-radius: var(--btn-border-radius-2);

    /* content */
    font-size: var(--btn-font-size-1);
    font-weight: var(--btn-font-weight);
    line-height: var(--btn-line-height-1);
    letter-spacing: var(--btn-letter-spacing-1);

}

.btn-square-size\:2 {

    /* boxing */
    height: var(--btn-height-2);
    padding: var(--btn-padding-2);
    border-radius: var(--btn-border-radius-2);

    /* content */
    font-size: var(--btn-font-size-1);
    font-weight: var(--btn-font-weight);
    line-height: var(--btn-line-height-1);
    letter-spacing: var(--btn-letter-spacing-1);

}

.btn-square-size\:3 {

    /* boxing */
    height: var(--btn-height-3);
    padding: var(--btn-padding-3);
    border-radius: var(--btn-border-radius-3);

    /* content */
    font-size: var(--btn-font-size-2);
    font-weight: var(--btn-font-weight);
    line-height: var(--btn-line-height-2);
    letter-spacing: var(--btn-letter-spacing-2);

}

.btn-square-size\:4 {

    /* boxing */
    height: var(--btn-height-4);
    padding: var(--btn-padding-4);
    border-radius: var(--btn-border-radius-4);

    /* content */
    font-size: var(--btn-font-size-3);
    font-weight: 600;
    line-height: var(--btn-line-height-3);
    letter-spacing: var(--btn-letter-spacing-3);

}

.btn-square-size\:5 {

    /* boxing */
    height: var(--btn-height-5);
    padding: var(--btn-padding-5);
    border-radius: var(--btn-border-radius-4);

    /* content */
    font-size: var(--btn-font-size-4);
    font-weight: 600;
    line-height: var(--btn-line-height-4);
    letter-spacing: var(--btn-letter-spacing-3);

}