<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="m3-btn(filled).css">
</head>
<body>
    <header>
        <h1>Filled button states</h1>
    </header>

    <main>
        <section>
            <h1>Filled 타입</h1>
            <div>
                <button class="m3-btn btn-state:enabled">Enabled</button>
                <button class="m3-btn btn-state:disabled">Disabled</button>
                <button class="m3-btn btn-state:focus">Focus</button>
                <button class="m3-btn btn-state:hover">Hover</button>
                <button class="m3-btn btn-state:active">Active</button>
            </div>
        </section>
        
        <section>
            <h1>Button Size</h1>
            <div>
                <button class="m3-btn btn-size:1">xsmall</button>
                <button class="m3-btn btn-size:2">Small</button>
                <button class="m3-btn btn-size:3">Medium</button>
                <button class="m3-btn btn-size:4">Large</button>
                <button class="m3-btn btn-size:5">X-large</button>
            </div>
        </section>
    </main>
</body>
</html>