<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="m3-btn.css">
</head>
<body>
    <main>
        <!-- ------------------------------------------Elevated Button--------------------------------------------- -->
        <section>
            <h1>Elevated Button</h1>
            <section>
                <h1>Elevated Type(Round)</h1>
                <div class="elevated-round-btn">
                    <button class="m3-btn btn-type:elevated btn-round-size:3 btn-state:enabled">Enabled</button>
                    <button class="m3-btn btn-type:elevated btn-round-size:3 btn-state:disabled" disabled >Disabled</button>
                    <button class="m3-btn btn-type:elevated btn-round-size:3 btn-state:focus">Focus</button>
                    <button class="m3-btn btn-type:elevated btn-round-size:3 btn-state:hover">Hover</button>
                    <button class="m3-btn btn-type:elevated btn-round-size:3 btn-state:active">Active</button>
                </div>
            </section>
    
            <section>
                <h1>Elevated Type(Square)</h1>
                <div class="elevated-square-btn">
                    <button class="m3-btn btn-type:elevated btn-square-size:3 btn-state:enabled">Enabled</button>
                    <button class="m3-btn btn-type:elevated btn-square-size:3 btn-state:disabled">Disabled</button>
                    <button class="m3-btn btn-type:elevated btn-square-size:3 btn-state:focus">Focus</button>
                    <button class="m3-btn btn-type:elevated btn-square-size:3 btn-state:hover">Hover</button>
                    <button class="m3-btn btn-type:elevated btn-square-size:3 btn-state:active">Active</button>
                </div>
            </section>
        </section>
   
         <!-- ------------------------------------------Filled Button-------------------------------------------- -->
        <section>
            <h1>Filled Button</h1>
            <section>
                <h1>Filled Type(Round)</h1>
                <div class="filled-round-btn">
                    <button class="m3-btn btn-type:filled btn-round-size:3 btn-state:enabled">Enabled</button>
                    <button class="m3-btn btn-type:filled btn-round-size:3 btn-state:disabled">Disabled</button>
                    <button class="m3-btn btn-type:filled btn-round-size:3 btn-state:focus">Focus</button>
                    <button class="m3-btn btn-type:filled btn-round-size:3 btn-state:hover">Hover</button>
                    <button class="m3-btn btn-type:filled btn-round-size:3 btn-state:active">Active</button>
                </div>
            </section>
    
            <section>
                <h1>Filled Type(Square)</h1>
                <div class="filled-square-btn">
                    <button class="m3-btn btn-type:filled btn-square-size:3 btn-state:enabled">Enabled</button>
                    <button class="m3-btn btn-type:filled btn-square-size:3 btn-state:disabled">Disabled</button>
                    <button class="m3-btn btn-type:filled btn-square-size:3 btn-state:focus">Focus</button>
                    <button class="m3-btn btn-type:filled btn-square-size:3 btn-state:hover">Hover</button>
                    <button class="m3-btn btn-type:filled btn-square-size:3 btn-state:active">Active</button>
                </div>
            </section>
        </section>
        
        <!-- ------------------------------------------Tonal Button--------------------------------------------- -->
        <section>
            <h1>Tonal Button</h1>
            <section>
                <h1>Tonal Type(Round)</h1>
                <div class="tonal-round-btn">
                    <button class="m3-btn btn-type:tonal btn-round-size:3 btn-state:enabled">Enabled</button>
                    <button class="m3-btn btn-type:tonal btn-round-size:3 btn-state:disabled">Disabled</button>
                    <button class="m3-btn btn-type:tonal btn-round-size:3 btn-state:focus">Focus</button>
                    <button class="m3-btn btn-type:tonal btn-round-size:3 btn-state:hover">Hover</button>
                    <button class="m3-btn btn-type:tonal btn-round-size:3 btn-state:active">Active</button>
                </div>
            </section>
    
            <section>
                <h1>Tonal Type(Square)</h1>
                <div class="tonal-square-btn">
                    <button class="m3-btn btn-type:tonal btn-square-size:3 btn-state:enabled">Enabled</button>
                    <button class="m3-btn btn-type:tonal btn-square-size:3 btn-state:disabled">Disabled</button>
                    <button class="m3-btn btn-type:tonal btn-square-size:3 btn-state:focus">Focus</button>
                    <button class="m3-btn btn-type:tonal btn-square-size:3 btn-state:hover">Hover</button>
                    <button class="m3-btn btn-type:tonal btn-square-size:3 btn-state:active">Active</button>
                </div>
            </section>
        </section>
        
        <!-- ------------------------------------------Outlined Button------------------------------------------ -->
        <section>
            <h1>Outlined Button</h1>
            <section>
                <h1>Outlined Type(Round)</h1>
                <div class="outlined-round-btn">
                    <button class="m3-btn btn-type:filled btn-round-size:3 btn-state:enabled">Enabled</button>
                    <button class="m3-btn btn-type:filled btn-round-size:3 btn-state:disabled">Disabled</button>
                    <button class="m3-btn btn-type:filled btn-round-size:3 btn-state:focus">Focus</button>
                    <button class="m3-btn btn-type:filled btn-round-size:3 btn-state:hover">Hover</button>
                    <button class="m3-btn btn-type:filled btn-round-size:3 btn-state:active">Active</button>
                </div>
            </section>
    
            <section>
                <h1>Outlined Type(Square)</h1>
                <div class="outlined-square-btn">
                    <button class="m3-btn btn-type:Outlined btn-square-size:3 btn-state:enabled">Enabled</button>
                    <button class="m3-btn btn-type:Outlined btn-square-size:3 btn-state:disabled">Disabled</button>
                    <button class="m3-btn btn-type:Outlined btn-square-size:3 btn-state:focus">Focus</button>
                    <button class="m3-btn btn-type:Outlined btn-square-size:3 btn-state:hover">Hover</button>
                    <button class="m3-btn btn-type:Outlined btn-square-size:3 btn-state:active">Active</button>
                </div>
            </section>
        </section>
        
        <!-- ------------------------------------------Text Button---------------------------------------------- -->
        <section>
            <h1>Text Button</h1>
            <section>
                <h1>Text Type(Round)</h1>
                <div class="text-round-btn">
                    <button class="m3-btn btn-type:Text btn-round-size:3 btn-state:enabled">Enabled</button>
                    <button class="m3-btn btn-type:Text btn-round-size:3 btn-state:disabled">Disabled</button>
                    <button class="m3-btn btn-type:Text btn-round-size:3 btn-state:focus">Focus</button>
                    <button class="m3-btn btn-type:Text btn-round-size:3 btn-state:hover">Hover</button>
                    <button class="m3-btn btn-type:Text btn-round-size:3 btn-state:active">Active</button>
                </div>
            </section>
    
            <section>
                <h1>Text Type(Square)</h1>
                <div class="text-square-btn">
                    <button class="m3-btn btn-type:Text btn-square-size:3 btn-state:enabled">Enabled</button>
                    <button class="m3-btn btn-type:Text btn-square-size:3 btn-state:disabled">Disabled</button>
                    <button class="m3-btn btn-type:Text btn-square-size:3 btn-state:focus">Focus</button>
                    <button class="m3-btn btn-type:Text btn-square-size:3 btn-state:hover">Hover</button>
                    <button class="m3-btn btn-type:Text btn-square-size:3 btn-state:active">Active</button>
                </div>
            </section>
        </section>
        
        <!-- -----------------------------------------Button Size------------------------------------------------ -->
        <section>
            <h1>Button Size</h1>
            <section>
                <h1>Button Size(Round)</h1>
                <div class="filled-round-btn">
                    <button class="m3-btn btn-type:filled btn-round-size:1">xsmall</button>
                    <button class="m3-btn btn-type:filled btn-round-size:2">Small</button>
                    <button class="m3-btn btn-type:filled btn-round-size:3">Medium</button>
                    <button class="m3-btn btn-type:filled btn-round-size:4">Large</button>
                    <button class="m3-btn btn-type:filled btn-round-size:5">X-large</button>
                </div>
            </section>
    
            <section>
                <h1>Button Size(Square)</h1>
                <div class="filled-square-btn">
                    <button class="m3-btn btn-type:filled btn-square-size:1">xsmall</button>
                    <button class="m3-btn btn-type:filled btn-square-size:2">Small</button>
                    <button class="m3-btn btn-type:filled btn-square-size:3">Medium</button>
                    <button class="m3-btn btn-type:filled btn-square-size:4">Large</button>
                    <button class="m3-btn btn-type:filled btn-square-size:5">X-large</button>
                </div>
            </section>
        </section>
    </main>
</body>
</html>