.opacity\:0                    { opacity: var(--opacity-0) !important; }
.opacity\:1                    { opacity: var(--opacity-1) !important; }
.opacity\:2                    { opacity: var(--opacity-2) !important; }
.opacity\:3                    { opacity: var(--opacity-3) !important; }
.opacity\:4                    { opacity: var(--opacity-4) !important; }
.opacity\:5                    { opacity: var(--opacity-5) !important; }
.opacity\:6                    { opacity: var(--opacity-6) !important; }
.opacity\:7                    { opacity: var(--opacity-7) !important; }
.opacity\:8                    { opacity: var(--opacity-8) !important; }
.opacity\:9                    { opacity: var(--opacity-9) !important; }
.opacity\:10                   { opacity: var(--opacity-10) !important; }

/* ---- medium ------------------------------------------------- */
@media (min-width: 768px) {
    .md\:opacity\:0                    { opacity: var(--opacity-0) !important; }
    .md\:opacity\:1                    { opacity: var(--opacity-1) !important; }
    .md\:opacity\:2                    { opacity: var(--opacity-2) !important; }
    .md\:opacity\:3                    { opacity: var(--opacity-3) !important; }
    .md\:opacity\:4                    { opacity: var(--opacity-4) !important; }
    .md\:opacity\:5                    { opacity: var(--opacity-5) !important; }
    .md\:opacity\:6                    { opacity: var(--opacity-6) !important; }
    .md\:opacity\:7                    { opacity: var(--opacity-7) !important; }
    .md\:opacity\:8                    { opacity: var(--opacity-8) !important; }
    .md\:opacity\:9                    { opacity: var(--opacity-9) !important; }
    .md\:opacity\:10                   { opacity: var(--opacity-10) !important; }

}

/* ---- large ------------------------------------------------- */
@media (min-width: 1200px) {
    .lg\:opacity\:0                    { opacity: var(--opacity-0) !important; }
    .lg\:opacity\:1                    { opacity: var(--opacity-1) !important; }
    .lg\:opacity\:2                    { opacity: var(--opacity-2) !important; }
    .lg\:opacity\:3                    { opacity: var(--opacity-3) !important; }
    .lg\:opacity\:4                    { opacity: var(--opacity-4) !important; }
    .lg\:opacity\:5                    { opacity: var(--opacity-5) !important; }
    .lg\:opacity\:6                    { opacity: var(--opacity-6) !important; }
    .lg\:opacity\:7                    { opacity: var(--opacity-7) !important; }
    .lg\:opacity\:8                    { opacity: var(--opacity-8) !important; }
    .lg\:opacity\:9                    { opacity: var(--opacity-9) !important; }
    .lg\:opacity\:10                   { opacity: var(--opacity-10) !important; }
}