.vertical-align\:auto,			                      	.vt-align\:auto,           								.va\:auto { vertical-align: auto !important; }
.vertical-align\:baseline,		                    	.vt-align\:baseline,       								.va\:baseline { vertical-align: baseline !important; }
.vertical-align\:bottom,		                      	.vt-align\:bottom,         								.va\:bottom { vertical-align: bottom !important; }
.vertical-align\:middle,		                      	.vt-align\:middle,         								.va\:middle { vertical-align: middle !important; }
.vertical-align\:sub,			                       		.vt-align\:sub,            								.va\:sub { vertical-align: sub !important; }
.vertical-align\:super,			                      	.vt-align\:super,          								.va\:super { vertical-align: super !important; }
.vertical-align\:text-bottom,	                    	.vt-align\:text-bottom,    								.va\:text-bottom { vertical-align: text-bottom !important; }
.vertical-align\:text-top,		                    	.vt-align\:text-top,       								.va\:text-top { vertical-align: text-top !important; }
.vertical-align\:top,			                       		.vt-align\:top,            								.va\:top { vertical-align: top !important; }
.vertical-align\:-webkit-baseline-middle,	        	.vt-align\:-webkit-baseline-middle, 			.va\:-webkit-baseline-middle { vertical-align: -webkit-baseline-middle !important; }
.vertical-align\:inherit,		                      	.vt-align\:inherit,        								.va\:inherit { vertical-align: inherit !important; }
.vertical-align\:initial,		                      	.vt-align\:initial,        								.va\:initial { vertical-align: initial !important; }
.vertical-align\:unset,		                        	.vt-align\:unset,          								.va\:unset { vertical-align: unset !important; }

/* ---- medium ------------------------------------------------- */
@media (min-width: 768px) {

    .md\:vertical-align\:auto,			             		.md\:vt-align\:auto,           						.md\:va\:auto { vertical-align: auto !important; }
    .md\:vertical-align\:baseline,		           		.md\:vt-align\:baseline,       						.md\:va\:baseline { vertical-align: baseline !important; }
    .md\:vertical-align\:bottom,		             		.md\:vt-align\:bottom,         						.md\:va\:bottom { vertical-align: bottom !important; }
    .md\:vertical-align\:middle,		             		.md\:vt-align\:middle,         						.md\:va\:middle { vertical-align: middle !important; }
    .md\:vertical-align\:sub,			               		.md\:vt-align\:sub,            						.md\:va\:sub { vertical-align: sub !important; }
    .md\:vertical-align\:super,			             		.md\:vt-align\:super,          						.md\:va\:super { vertical-align: super !important; }
    .md\:vertical-align\:text-bottom,	           		.md\:vt-align\:text-bottom,    						.md\:va\:text-bottom { vertical-align: text-bottom !important; }
    .md\:vertical-align\:text-top,		           		.md\:vt-align\:text-top,       						.md\:va\:text-top { vertical-align: text-top !important; }
    .md\:vertical-align\:top,			               		.md\:vt-align\:top,            						.md\:va\:top { vertical-align: top !important; }
    .md\:vertical-align\:-webkit-baseline-middle,		.md\:vt-align\:-webkit-baseline-middle, 	.md\:va\:-webkit-baseline-middle { vertical-align: -webkit-baseline-middle !important; }
    .md\:vertical-align\:inherit,		             		.md\:vt-align\:inherit,        						.md\:va\:inherit { vertical-align: inherit !important; }
    .md\:vertical-align\:initial,		             		.md\:vt-align\:initial,        						.md\:va\:initial { vertical-align: initial !important; }
    .md\:vertical-align\:unset,		               		.md\:vt-align\:unset,          						.md\:va\:unset { vertical-align: unset !important; }

}

/* ---- large ------------------------------------------------- */
@media (min-width: 1200px) {

    .lg\:vertical-align\:auto,			             		.lg\:vt-align\:auto,           						.lg\:va\:auto { vertical-align: auto !important; }
    .lg\:vertical-align\:baseline,		           		.lg\:vt-align\:baseline,       						.lg\:va\:baseline { vertical-align: baseline !important; }
    .lg\:vertical-align\:bottom,		             		.lg\:vt-align\:bottom,         						.lg\:va\:bottom { vertical-align: bottom !important; }
    .lg\:vertical-align\:middle,		             		.lg\:vt-align\:middle,         						.lg\:va\:middle { vertical-align: middle !important; }
    .lg\:vertical-align\:sub,			               		.lg\:vt-align\:sub,            						.lg\:va\:sub { vertical-align: sub !important; }
    .lg\:vertical-align\:super,			             		.lg\:vt-align\:super,          						.lg\:va\:super { vertical-align: super !important; }
    .lg\:vertical-align\:text-bottom,	           		.lg\:vt-align\:text-bottom,    						.lg\:va\:text-bottom { vertical-align: text-bottom !important; }
    .lg\:vertical-align\:text-top,		           		.lg\:vt-align\:text-top,       						.lg\:va\:text-top { vertical-align: text-top !important; }
    .lg\:vertical-align\:top,			               		.lg\:vt-align\:top,            						.lg\:va\:top { vertical-align: top !important; }
    .lg\:vertical-align\:-webkit-baseline-middle,		.lg\:vt-align\:-webkit-baseline-middle, 	.lg\:va\:-webkit-baseline-middle { vertical-align: -webkit-baseline-middle !important; }
    .lg\:vertical-align\:inherit,		             		.lg\:vt-align\:inherit,        						.lg\:va\:inherit { vertical-align: inherit !important; }
    .lg\:vertical-align\:initial,		             		.lg\:vt-align\:initial,        						.lg\:va\:initial { vertical-align: initial !important; }
    .lg\:vertical-align\:unset,		               		.lg\:vt-align\:unset,          						.lg\:va\:unset { vertical-align: unset !important; }

}