/* ===== FLEXBOX UTILITIES ===== */

/* FLEX-DIRECTION */

.flex-direction\:row,
.fd\:row {
	flex-direction: row !important;
}

.flex-direction\:row-reverse,
.fd\:row-reverse {
	flex-direction: row-reverse !important;
}

.flex-direction\:column,
.fd\:column {
	flex-direction: column !important;
}

.flex-direction\:column-reverse,
.fd\:column-reverse {
	flex-direction: column-reverse !important;
}

/* FLEX-WRAP */

.flex-wrap\:nowrap,
.fwrap\:nowrap {
	flex-wrap: nowrap !important;
}

.flex-wrap\:wrap,
.fwrap\:wrap {
	flex-wrap: wrap !important;
}

.flex-wrap\:wrap-reverse,
.fwrap\:wrap-reverse {
	flex-wrap: wrap-reverse !important;
}

/* JUSTIFY-CONTENT */

.justify-content\:flex-start,
.jc\:flex-start {
	justify-content: flex-start !important;
}

.justify-content\:flex-end,
.jc\:flex-end {
	justify-content: flex-end !important;
}

.justify-content\:center,
.jc\:center {
	justify-content: center !important;
}

.justify-content\:space-between,
.jc\:space-between {
	justify-content: space-between !important;
}

.justify-content\:space-around,
.jc\:space-around {
	justify-content: space-around !important;
}

.justify-content\:space-evenly,
.jc\:space-evenly {
	justify-content: space-evenly !important;
}

.justify-content\:start,
.jc\:start {
	justify-content: start !important;
}

.justify-content\:end,
.jc\:end {
	justify-content: end !important;
}

/* ALIGN-ITEMS */

.align-items\:flex-start,
.ai\:flex-start {
	align-items: flex-start !important;
}

.align-items\:flex-end,
.ai\:flex-end {
	align-items: flex-end !important;
}

.align-items\:center,
.ai\:center {
	align-items: center !important;
}

.align-items\:baseline,
.ai\:baseline {
	align-items: baseline !important;
}

.align-items\:stretch,
.ai\:stretch {
	align-items: stretch !important;
}

.align-items\:start,
.ai\:start {
	align-items: start !important;
}

.align-items\:end,
.ai\:end {
	align-items: end !important;
}

/* ALIGN-SELF */

.align-self\:auto,
.as\:auto {
	align-self: auto !important;
}

.align-self\:flex-start,
.as\:flex-start {
	align-self: flex-start !important;
}

.align-self\:flex-end,
.as\:flex-end {
	align-self: flex-end !important;
}

.align-self\:center,
.as\:center {
	align-self: center !important;
}

.align-self\:baseline,
.as\:baseline {
	align-self: baseline !important;
}

.align-self\:stretch,
.as\:stretch {
	align-self: stretch !important;
}

.align-self\:start,
.as\:start {
	align-self: start !important;
}

.align-self\:end,
.as\:end {
	align-self: end !important;
}

/* ALIGN-CONTENT */

.align-content\:flex-start,
.ac\:flex-start {
	align-content: flex-start !important;
}

.align-content\:flex-end,
.ac\:flex-end {
	align-content: flex-end !important;
}

.align-content\:center,
.ac\:center {
	align-content: center !important;
}

.align-content\:space-between,
.ac\:space-between {
	align-content: space-between !important;
}

.align-content\:space-around,
.ac\:space-around {
	align-content: space-around !important;
}

.align-content\:space-evenly,
.ac\:space-evenly {
	align-content: space-evenly !important;
}

.align-content\:start,
.ac\:start {
	align-content: start !important;
}

.align-content\:end,
.ac\:end {
	align-content: end !important;
}

.align-content\:stretch,
.ac\:stretch {
	align-content: stretch !important;
}

/* FLEX-GROW / FLEX-SHRINK */

.flex-grow\:0,
.fg\:0 {
	flex-grow: 0 !important;
}

.flex-grow\:1,
.fg\:1 {
	flex-grow: 1 !important;
}

.flex-shrink\:0,
.fsh\:0 {
	flex-shrink: 0 !important;
}

.flex-shrink\:1,
.fsh\:1 {
	flex-shrink: 1 !important;
}

/* FLEX (shorthand presets) */

.flex\:1,
.fx\:1 {
	flex: 1 1 0% !important;
}

.flex\:auto,
.fx\:auto {
	flex: 1 1 auto !important;
}

.flex\:initial,
.fx\:initial {
	flex: 0 1 auto !important;
}

.flex\:none,
.fx\:none {
	flex: none !important;
}


@media (min-width: 640px) {
	/* ===== FLEXBOX UTILITIES ===== */

	/* FLEX-DIRECTION */

	.sm\:flex-direction\:row,
	.sm\:fd\:row {
		flex-direction: row !important;
	}

	.sm\:flex-direction\:row-reverse,
	.sm\:fd\:row-reverse {
		flex-direction: row-reverse !important;
	}

	.sm\:flex-direction\:column,
	.sm\:fd\:column {
		flex-direction: column !important;
	}

	.sm\:flex-direction\:column-reverse,
	.sm\:fd\:column-reverse {
		flex-direction: column-reverse !important;
	}

	/* FLEX-WRAP */

	.sm\:flex-wrap\:nowrap,
	.sm\:fwrap\:nowrap {
		flex-wrap: nowrap !important;
	}

	.sm\:flex-wrap\:wrap,
	.sm\:fwrap\:wrap {
		flex-wrap: wrap !important;
	}

	.sm\:flex-wrap\:wrap-reverse,
	.sm\:fwrap\:wrap-reverse {
		flex-wrap: wrap-reverse !important;
	}

	/* JUSTIFY-CONTENT */

	.sm\:justify-content\:flex-start,
	.sm\:jc\:flex-start {
		justify-content: flex-start !important;
	}

	.sm\:justify-content\:flex-end,
	.sm\:jc\:flex-end {
		justify-content: flex-end !important;
	}

	.sm\:justify-content\:center,
	.sm\:jc\:center {
		justify-content: center !important;
	}

	.sm\:justify-content\:space-between,
	.sm\:jc\:space-between {
		justify-content: space-between !important;
	}

	.sm\:justify-content\:space-around,
	.sm\:jc\:space-around {
		justify-content: space-around !important;
	}

	.sm\:justify-content\:space-evenly,
	.sm\:jc\:space-evenly {
		justify-content: space-evenly !important;
	}

	.sm\:justify-content\:start,
	.sm\:jc\:start {
		justify-content: start !important;
	}

	.sm\:justify-content\:end,
	.sm\:jc\:end {
		justify-content: end !important;
	}

	/* ALIGN-ITEMS */

	.sm\:align-items\:flex-start,
	.sm\:ai\:flex-start {
		align-items: flex-start !important;
	}

	.sm\:align-items\:flex-end,
	.sm\:ai\:flex-end {
		align-items: flex-end !important;
	}

	.sm\:align-items\:center,
	.sm\:ai\:center {
		align-items: center !important;
	}

	.sm\:align-items\:baseline,
	.sm\:ai\:baseline {
		align-items: baseline !important;
	}

	.sm\:align-items\:stretch,
	.sm\:ai\:stretch {
		align-items: stretch !important;
	}

	.sm\:align-items\:start,
	.sm\:ai\:start {
		align-items: start !important;
	}

	.sm\:align-items\:end,
	.sm\:ai\:end {
		align-items: end !important;
	}

	/* ALIGN-SELF */

	.sm\:align-self\:auto,
	.sm\:as\:auto {
		align-self: auto !important;
	}

	.sm\:align-self\:flex-start,
	.sm\:as\:flex-start {
		align-self: flex-start !important;
	}

	.sm\:align-self\:flex-end,
	.sm\:as\:flex-end {
		align-self: flex-end !important;
	}

	.sm\:align-self\:center,
	.sm\:as\:center {
		align-self: center !important;
	}

	.sm\:align-self\:baseline,
	.sm\:as\:baseline {
		align-self: baseline !important;
	}

	.sm\:align-self\:stretch,
	.sm\:as\:stretch {
		align-self: stretch !important;
	}

	.sm\:align-self\:start,
	.sm\:as\:start {
		align-self: start !important;
	}

	.sm\:align-self\:end,
	.sm\:as\:end {
		align-self: end !important;
	}

	/* ALIGN-CONTENT */

	.sm\:align-content\:flex-start,
	.sm\:ac\:flex-start {
		align-content: flex-start !important;
	}

	.sm\:align-content\:flex-end,
	.sm\:ac\:flex-end {
		align-content: flex-end !important;
	}

	.sm\:align-content\:center,
	.sm\:ac\:center {
		align-content: center !important;
	}

	.sm\:align-content\:space-between,
	.sm\:ac\:space-between {
		align-content: space-between !important;
	}

	.sm\:align-content\:space-around,
	.sm\:ac\:space-around {
		align-content: space-around !important;
	}

	.sm\:align-content\:space-evenly,
	.sm\:ac\:space-evenly {
		align-content: space-evenly !important;
	}

	.sm\:align-content\:start,
	.sm\:ac\:start {
		align-content: start !important;
	}

	.sm\:align-content\:end,
	.sm\:ac\:end {
		align-content: end !important;
	}

	.sm\:align-content\:stretch,
	.sm\:ac\:stretch {
		align-content: stretch !important;
	}

	/* FLEX-GROW / FLEX-SHRINK */

	.sm\:flex-grow\:0,
	.sm\:fg\:0 {
		flex-grow: 0 !important;
	}

	.sm\:flex-grow\:1,
	.sm\:fg\:1 {
		flex-grow: 1 !important;
	}

	.sm\:flex-shrink\:0,
	.sm\:fsh\:0 {
		flex-shrink: 0 !important;
	}

	.sm\:flex-shrink\:1,
	.sm\:fsh\:1 {
		flex-shrink: 1 !important;
	}

	/* FLEX (shorthand presets) */

	.sm\:flex\:1,
	.sm\:fx\:1 {
		flex: 1 1 0% !important;
	}

	.sm\:flex\:auto,
	.sm\:fx\:auto {
		flex: 1 1 auto !important;
	}

	.sm\:flex\:initial,
	.sm\:fx\:initial {
		flex: 0 1 auto !important;
	}

	.sm\:flex\:none,
	.sm\:fx\:none {
		flex: none !important;
	}

}

@media (min-width: 768px) {
	/* ===== FLEXBOX UTILITIES ===== */

	/* FLEX-DIRECTION */

	.md\:flex-direction\:row,
	.md\:fd\:row {
		flex-direction: row !important;
	}

	.md\:flex-direction\:row-reverse,
	.md\:fd\:row-reverse {
		flex-direction: row-reverse !important;
	}

	.md\:flex-direction\:column,
	.md\:fd\:column {
		flex-direction: column !important;
	}

	.md\:flex-direction\:column-reverse,
	.md\:fd\:column-reverse {
		flex-direction: column-reverse !important;
	}

	/* FLEX-WRAP */

	.md\:flex-wrap\:nowrap,
	.md\:fwrap\:nowrap {
		flex-wrap: nowrap !important;
	}

	.md\:flex-wrap\:wrap,
	.md\:fwrap\:wrap {
		flex-wrap: wrap !important;
	}

	.md\:flex-wrap\:wrap-reverse,
	.md\:fwrap\:wrap-reverse {
		flex-wrap: wrap-reverse !important;
	}

	/* JUSTIFY-CONTENT */

	.md\:justify-content\:flex-start,
	.md\:jc\:flex-start {
		justify-content: flex-start !important;
	}

	.md\:justify-content\:flex-end,
	.md\:jc\:flex-end {
		justify-content: flex-end !important;
	}

	.md\:justify-content\:center,
	.md\:jc\:center {
		justify-content: center !important;
	}

	.md\:justify-content\:space-between,
	.md\:jc\:space-between {
		justify-content: space-between !important;
	}

	.md\:justify-content\:space-around,
	.md\:jc\:space-around {
		justify-content: space-around !important;
	}

	.md\:justify-content\:space-evenly,
	.md\:jc\:space-evenly {
		justify-content: space-evenly !important;
	}

	.md\:justify-content\:start,
	.md\:jc\:start {
		justify-content: start !important;
	}

	.md\:justify-content\:end,
	.md\:jc\:end {
		justify-content: end !important;
	}

	/* ALIGN-ITEMS */

	.md\:align-items\:flex-start,
	.md\:ai\:flex-start {
		align-items: flex-start !important;
	}

	.md\:align-items\:flex-end,
	.md\:ai\:flex-end {
		align-items: flex-end !important;
	}

	.md\:align-items\:center,
	.md\:ai\:center {
		align-items: center !important;
	}

	.md\:align-items\:baseline,
	.md\:ai\:baseline {
		align-items: baseline !important;
	}

	.md\:align-items\:stretch,
	.md\:ai\:stretch {
		align-items: stretch !important;
	}

	.md\:align-items\:start,
	.md\:ai\:start {
		align-items: start !important;
	}

	.md\:align-items\:end,
	.md\:ai\:end {
		align-items: end !important;
	}

	/* ALIGN-SELF */

	.md\:align-self\:auto,
	.md\:as\:auto {
		align-self: auto !important;
	}

	.md\:align-self\:flex-start,
	.md\:as\:flex-start {
		align-self: flex-start !important;
	}

	.md\:align-self\:flex-end,
	.md\:as\:flex-end {
		align-self: flex-end !important;
	}

	.md\:align-self\:center,
	.md\:as\:center {
		align-self: center !important;
	}

	.md\:align-self\:baseline,
	.md\:as\:baseline {
		align-self: baseline !important;
	}

	.md\:align-self\:stretch,
	.md\:as\:stretch {
		align-self: stretch !important;
	}

	.md\:align-self\:start,
	.md\:as\:start {
		align-self: start !important;
	}

	.md\:align-self\:end,
	.md\:as\:end {
		align-self: end !important;
	}

	/* ALIGN-CONTENT */

	.md\:align-content\:flex-start,
	.md\:ac\:flex-start {
		align-content: flex-start !important;
	}

	.md\:align-content\:flex-end,
	.md\:ac\:flex-end {
		align-content: flex-end !important;
	}

	.md\:align-content\:center,
	.md\:ac\:center {
		align-content: center !important;
	}

	.md\:align-content\:space-between,
	.md\:ac\:space-between {
		align-content: space-between !important;
	}

	.md\:align-content\:space-around,
	.md\:ac\:space-around {
		align-content: space-around !important;
	}

	.md\:align-content\:space-evenly,
	.md\:ac\:space-evenly {
		align-content: space-evenly !important;
	}

	.md\:align-content\:start,
	.md\:ac\:start {
		align-content: start !important;
	}

	.md\:align-content\:end,
	.md\:ac\:end {
		align-content: end !important;
	}

	.md\:align-content\:stretch,
	.md\:ac\:stretch {
		align-content: stretch !important;
	}

	/* FLEX-GROW / FLEX-SHRINK */

	.md\:flex-grow\:0,
	.md\:fg\:0 {
		flex-grow: 0 !important;
	}

	.md\:flex-grow\:1,
	.md\:fg\:1 {
		flex-grow: 1 !important;
	}

	.md\:flex-shrink\:0,
	.md\:fsh\:0 {
		flex-shrink: 0 !important;
	}

	.md\:flex-shrink\:1,
	.md\:fsh\:1 {
		flex-shrink: 1 !important;
	}

	/* FLEX (shorthand presets) */

	.md\:flex\:1,
	.md\:fx\:1 {
		flex: 1 1 0% !important;
	}

	.md\:flex\:auto,
	.md\:fx\:auto {
		flex: 1 1 auto !important;
	}

	.md\:flex\:initial,
	.md\:fx\:initial {
		flex: 0 1 auto !important;
	}

	.md\:flex\:none,
	.md\:fx\:none {
		flex: none !important;
	}

}

@media (min-width: 1024px) {
	/* ===== FLEXBOX UTILITIES ===== */

	/* FLEX-DIRECTION */

	.lg\:flex-direction\:row,
	.lg\:fd\:row {
		flex-direction: row !important;
	}

	.lg\:flex-direction\:row-reverse,
	.lg\:fd\:row-reverse {
		flex-direction: row-reverse !important;
	}

	.lg\:flex-direction\:column,
	.lg\:fd\:column {
		flex-direction: column !important;
	}

	.lg\:flex-direction\:column-reverse,
	.lg\:fd\:column-reverse {
		flex-direction: column-reverse !important;
	}

	/* FLEX-WRAP */

	.lg\:flex-wrap\:nowrap,
	.lg\:fwrap\:nowrap {
		flex-wrap: nowrap !important;
	}

	.lg\:flex-wrap\:wrap,
	.lg\:fwrap\:wrap {
		flex-wrap: wrap !important;
	}

	.lg\:flex-wrap\:wrap-reverse,
	.lg\:fwrap\:wrap-reverse {
		flex-wrap: wrap-reverse !important;
	}

	/* JUSTIFY-CONTENT */

	.lg\:justify-content\:flex-start,
	.lg\:jc\:flex-start {
		justify-content: flex-start !important;
	}

	.lg\:justify-content\:flex-end,
	.lg\:jc\:flex-end {
		justify-content: flex-end !important;
	}

	.lg\:justify-content\:center,
	.lg\:jc\:center {
		justify-content: center !important;
	}

	.lg\:justify-content\:space-between,
	.lg\:jc\:space-between {
		justify-content: space-between !important;
	}

	.lg\:justify-content\:space-around,
	.lg\:jc\:space-around {
		justify-content: space-around !important;
	}

	.lg\:justify-content\:space-evenly,
	.lg\:jc\:space-evenly {
		justify-content: space-evenly !important;
	}

	.lg\:justify-content\:start,
	.lg\:jc\:start {
		justify-content: start !important;
	}

	.lg\:justify-content\:end,
	.lg\:jc\:end {
		justify-content: end !important;
	}

	/* ALIGN-ITEMS */

	.lg\:align-items\:flex-start,
	.lg\:ai\:flex-start {
		align-items: flex-start !important;
	}

	.lg\:align-items\:flex-end,
	.lg\:ai\:flex-end {
		align-items: flex-end !important;
	}

	.lg\:align-items\:center,
	.lg\:ai\:center {
		align-items: center !important;
	}

	.lg\:align-items\:baseline,
	.lg\:ai\:baseline {
		align-items: baseline !important;
	}

	.lg\:align-items\:stretch,
	.lg\:ai\:stretch {
		align-items: stretch !important;
	}

	.lg\:align-items\:start,
	.lg\:ai\:start {
		align-items: start !important;
	}

	.lg\:align-items\:end,
	.lg\:ai\:end {
		align-items: end !important;
	}

	/* ALIGN-SELF */

	.lg\:align-self\:auto,
	.lg\:as\:auto {
		align-self: auto !important;
	}

	.lg\:align-self\:flex-start,
	.lg\:as\:flex-start {
		align-self: flex-start !important;
	}

	.lg\:align-self\:flex-end,
	.lg\:as\:flex-end {
		align-self: flex-end !important;
	}

	.lg\:align-self\:center,
	.lg\:as\:center {
		align-self: center !important;
	}

	.lg\:align-self\:baseline,
	.lg\:as\:baseline {
		align-self: baseline !important;
	}

	.lg\:align-self\:stretch,
	.lg\:as\:stretch {
		align-self: stretch !important;
	}

	.lg\:align-self\:start,
	.lg\:as\:start {
		align-self: start !important;
	}

	.lg\:align-self\:end,
	.lg\:as\:end {
		align-self: end !important;
	}

	/* ALIGN-CONTENT */

	.lg\:align-content\:flex-start,
	.lg\:ac\:flex-start {
		align-content: flex-start !important;
	}

	.lg\:align-content\:flex-end,
	.lg\:ac\:flex-end {
		align-content: flex-end !important;
	}

	.lg\:align-content\:center,
	.lg\:ac\:center {
		align-content: center !important;
	}

	.lg\:align-content\:space-between,
	.lg\:ac\:space-between {
		align-content: space-between !important;
	}

	.lg\:align-content\:space-around,
	.lg\:ac\:space-around {
		align-content: space-around !important;
	}

	.lg\:align-content\:space-evenly,
	.lg\:ac\:space-evenly {
		align-content: space-evenly !important;
	}

	.lg\:align-content\:start,
	.lg\:ac\:start {
		align-content: start !important;
	}

	.lg\:align-content\:end,
	.lg\:ac\:end {
		align-content: end !important;
	}

	.lg\:align-content\:stretch,
	.lg\:ac\:stretch {
		align-content: stretch !important;
	}

	/* FLEX-GROW / FLEX-SHRINK */

	.lg\:flex-grow\:0,
	.lg\:fg\:0 {
		flex-grow: 0 !important;
	}

	.lg\:flex-grow\:1,
	.lg\:fg\:1 {
		flex-grow: 1 !important;
	}

	.lg\:flex-shrink\:0,
	.lg\:fsh\:0 {
		flex-shrink: 0 !important;
	}

	.lg\:flex-shrink\:1,
	.lg\:fsh\:1 {
		flex-shrink: 1 !important;
	}

	/* FLEX (shorthand presets) */

	.lg\:flex\:1,
	.lg\:fx\:1 {
		flex: 1 1 0% !important;
	}

	.lg\:flex\:auto,
	.lg\:fx\:auto {
		flex: 1 1 auto !important;
	}

	.lg\:flex\:initial,
	.lg\:fx\:initial {
		flex: 0 1 auto !important;
	}

	.lg\:flex\:none,
	.lg\:fx\:none {
		flex: none !important;
	}

}

@media (min-width: 1280px) {
	/* ===== FLEXBOX UTILITIES ===== */

	/* FLEX-DIRECTION */

	.xl\:flex-direction\:row,
	.xl\:fd\:row {
		flex-direction: row !important;
	}

	.xl\:flex-direction\:row-reverse,
	.xl\:fd\:row-reverse {
		flex-direction: row-reverse !important;
	}

	.xl\:flex-direction\:column,
	.xl\:fd\:column {
		flex-direction: column !important;
	}

	.xl\:flex-direction\:column-reverse,
	.xl\:fd\:column-reverse {
		flex-direction: column-reverse !important;
	}

	/* FLEX-WRAP */

	.xl\:flex-wrap\:nowrap,
	.xl\:fwrap\:nowrap {
		flex-wrap: nowrap !important;
	}

	.xl\:flex-wrap\:wrap,
	.xl\:fwrap\:wrap {
		flex-wrap: wrap !important;
	}

	.xl\:flex-wrap\:wrap-reverse,
	.xl\:fwrap\:wrap-reverse {
		flex-wrap: wrap-reverse !important;
	}

	/* JUSTIFY-CONTENT */

	.xl\:justify-content\:flex-start,
	.xl\:jc\:flex-start {
		justify-content: flex-start !important;
	}

	.xl\:justify-content\:flex-end,
	.xl\:jc\:flex-end {
		justify-content: flex-end !important;
	}

	.xl\:justify-content\:center,
	.xl\:jc\:center {
		justify-content: center !important;
	}

	.xl\:justify-content\:space-between,
	.xl\:jc\:space-between {
		justify-content: space-between !important;
	}

	.xl\:justify-content\:space-around,
	.xl\:jc\:space-around {
		justify-content: space-around !important;
	}

	.xl\:justify-content\:space-evenly,
	.xl\:jc\:space-evenly {
		justify-content: space-evenly !important;
	}

	.xl\:justify-content\:start,
	.xl\:jc\:start {
		justify-content: start !important;
	}

	.xl\:justify-content\:end,
	.xl\:jc\:end {
		justify-content: end !important;
	}

	/* ALIGN-ITEMS */

	.xl\:align-items\:flex-start,
	.xl\:ai\:flex-start {
		align-items: flex-start !important;
	}

	.xl\:align-items\:flex-end,
	.xl\:ai\:flex-end {
		align-items: flex-end !important;
	}

	.xl\:align-items\:center,
	.xl\:ai\:center {
		align-items: center !important;
	}

	.xl\:align-items\:baseline,
	.xl\:ai\:baseline {
		align-items: baseline !important;
	}

	.xl\:align-items\:stretch,
	.xl\:ai\:stretch {
		align-items: stretch !important;
	}

	.xl\:align-items\:start,
	.xl\:ai\:start {
		align-items: start !important;
	}

	.xl\:align-items\:end,
	.xl\:ai\:end {
		align-items: end !important;
	}

	/* ALIGN-SELF */

	.xl\:align-self\:auto,
	.xl\:as\:auto {
		align-self: auto !important;
	}

	.xl\:align-self\:flex-start,
	.xl\:as\:flex-start {
		align-self: flex-start !important;
	}

	.xl\:align-self\:flex-end,
	.xl\:as\:flex-end {
		align-self: flex-end !important;
	}

	.xl\:align-self\:center,
	.xl\:as\:center {
		align-self: center !important;
	}

	.xl\:align-self\:baseline,
	.xl\:as\:baseline {
		align-self: baseline !important;
	}

	.xl\:align-self\:stretch,
	.xl\:as\:stretch {
		align-self: stretch !important;
	}

	.xl\:align-self\:start,
	.xl\:as\:start {
		align-self: start !important;
	}

	.xl\:align-self\:end,
	.xl\:as\:end {
		align-self: end !important;
	}

	/* ALIGN-CONTENT */

	.xl\:align-content\:flex-start,
	.xl\:ac\:flex-start {
		align-content: flex-start !important;
	}

	.xl\:align-content\:flex-end,
	.xl\:ac\:flex-end {
		align-content: flex-end !important;
	}

	.xl\:align-content\:center,
	.xl\:ac\:center {
		align-content: center !important;
	}

	.xl\:align-content\:space-between,
	.xl\:ac\:space-between {
		align-content: space-between !important;
	}

	.xl\:align-content\:space-around,
	.xl\:ac\:space-around {
		align-content: space-around !important;
	}

	.xl\:align-content\:space-evenly,
	.xl\:ac\:space-evenly {
		align-content: space-evenly !important;
	}

	.xl\:align-content\:start,
	.xl\:ac\:start {
		align-content: start !important;
	}

	.xl\:align-content\:end,
	.xl\:ac\:end {
		align-content: end !important;
	}

	.xl\:align-content\:stretch,
	.xl\:ac\:stretch {
		align-content: stretch !important;
	}

	/* FLEX-GROW / FLEX-SHRINK */

	.xl\:flex-grow\:0,
	.xl\:fg\:0 {
		flex-grow: 0 !important;
	}

	.xl\:flex-grow\:1,
	.xl\:fg\:1 {
		flex-grow: 1 !important;
	}

	.xl\:flex-shrink\:0,
	.xl\:fsh\:0 {
		flex-shrink: 0 !important;
	}

	.xl\:flex-shrink\:1,
	.xl\:fsh\:1 {
		flex-shrink: 1 !important;
	}

	/* FLEX (shorthand presets) */

	.xl\:flex\:1,
	.xl\:fx\:1 {
		flex: 1 1 0% !important;
	}

	.xl\:flex\:auto,
	.xl\:fx\:auto {
		flex: 1 1 auto !important;
	}

	.xl\:flex\:initial,
	.xl\:fx\:initial {
		flex: 0 1 auto !important;
	}

	.xl\:flex\:none,
	.xl\:fx\:none {
		flex: none !important;
	}

}
