/* ===== GRID UTILITIES ===== */

/* GRID-TEMPLATE-COLUMNS */

.grid-template-columns\:1,
.gtc\:1 {
	grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}

.grid-template-columns\:2,
.gtc\:2 {
	grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}

.grid-template-columns\:3,
.gtc\:3 {
	grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}

.grid-template-columns\:4,
.gtc\:4 {
	grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
}

.grid-template-columns\:5,
.gtc\:5 {
	grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
}

.grid-template-columns\:6,
.gtc\:6 {
	grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
}

.grid-template-columns\:7,
.gtc\:7 {
	grid-template-columns: repeat(7, minmax(0, 1fr)) !important;
}

.grid-template-columns\:8,
.gtc\:8 {
	grid-template-columns: repeat(8, minmax(0, 1fr)) !important;
}

.grid-template-columns\:9,
.gtc\:9 {
	grid-template-columns: repeat(9, minmax(0, 1fr)) !important;
}

.grid-template-columns\:10,
.gtc\:10 {
	grid-template-columns: repeat(10, minmax(0, 1fr)) !important;
}

.grid-template-columns\:11,
.gtc\:11 {
	grid-template-columns: repeat(11, minmax(0, 1fr)) !important;
}

.grid-template-columns\:12,
.gtc\:12 {
	grid-template-columns: repeat(12, minmax(0, 1fr)) !important;
}

.grid-template-columns\:none,
.gtc\:none {
	grid-template-columns: none !important;
}

/* GRID-TEMPLATE-ROWS */

.grid-template-rows\:1,
.gtr\:1 {
	grid-template-rows: repeat(1, minmax(0, 1fr)) !important;
}

.grid-template-rows\:2,
.gtr\:2 {
	grid-template-rows: repeat(2, minmax(0, 1fr)) !important;
}

.grid-template-rows\:3,
.gtr\:3 {
	grid-template-rows: repeat(3, minmax(0, 1fr)) !important;
}

.grid-template-rows\:4,
.gtr\:4 {
	grid-template-rows: repeat(4, minmax(0, 1fr)) !important;
}

.grid-template-rows\:5,
.gtr\:5 {
	grid-template-rows: repeat(5, minmax(0, 1fr)) !important;
}

.grid-template-rows\:6,
.gtr\:6 {
	grid-template-rows: repeat(6, minmax(0, 1fr)) !important;
}

.grid-template-rows\:7,
.gtr\:7 {
	grid-template-rows: repeat(7, minmax(0, 1fr)) !important;
}

.grid-template-rows\:8,
.gtr\:8 {
	grid-template-rows: repeat(8, minmax(0, 1fr)) !important;
}

.grid-template-rows\:9,
.gtr\:9 {
	grid-template-rows: repeat(9, minmax(0, 1fr)) !important;
}

.grid-template-rows\:10,
.gtr\:10 {
	grid-template-rows: repeat(10, minmax(0, 1fr)) !important;
}

.grid-template-rows\:11,
.gtr\:11 {
	grid-template-rows: repeat(11, minmax(0, 1fr)) !important;
}

.grid-template-rows\:12,
.gtr\:12 {
	grid-template-rows: repeat(12, minmax(0, 1fr)) !important;
}

.grid-template-rows\:none,
.gtr\:none {
	grid-template-rows: none !important;
}

/* GRID-COLUMN / GRID-ROW (span) */

.grid-column\:span-1,
.gcs\:span-1 {
	grid-column: span 1 / span 1 !important;
}

.grid-row\:span-1,
.grs\:span-1 {
	grid-row: span 1 / span 1 !important;
}

.grid-column\:span-2,
.gcs\:span-2 {
	grid-column: span 2 / span 2 !important;
}

.grid-row\:span-2,
.grs\:span-2 {
	grid-row: span 2 / span 2 !important;
}

.grid-column\:span-3,
.gcs\:span-3 {
	grid-column: span 3 / span 3 !important;
}

.grid-row\:span-3,
.grs\:span-3 {
	grid-row: span 3 / span 3 !important;
}

.grid-column\:span-4,
.gcs\:span-4 {
	grid-column: span 4 / span 4 !important;
}

.grid-row\:span-4,
.grs\:span-4 {
	grid-row: span 4 / span 4 !important;
}

.grid-column\:span-5,
.gcs\:span-5 {
	grid-column: span 5 / span 5 !important;
}

.grid-row\:span-5,
.grs\:span-5 {
	grid-row: span 5 / span 5 !important;
}

.grid-column\:span-6,
.gcs\:span-6 {
	grid-column: span 6 / span 6 !important;
}

.grid-row\:span-6,
.grs\:span-6 {
	grid-row: span 6 / span 6 !important;
}

.grid-column\:span-7,
.gcs\:span-7 {
	grid-column: span 7 / span 7 !important;
}

.grid-row\:span-7,
.grs\:span-7 {
	grid-row: span 7 / span 7 !important;
}

.grid-column\:span-8,
.gcs\:span-8 {
	grid-column: span 8 / span 8 !important;
}

.grid-row\:span-8,
.grs\:span-8 {
	grid-row: span 8 / span 8 !important;
}

.grid-column\:span-9,
.gcs\:span-9 {
	grid-column: span 9 / span 9 !important;
}

.grid-row\:span-9,
.grs\:span-9 {
	grid-row: span 9 / span 9 !important;
}

.grid-column\:span-10,
.gcs\:span-10 {
	grid-column: span 10 / span 10 !important;
}

.grid-row\:span-10,
.grs\:span-10 {
	grid-row: span 10 / span 10 !important;
}

.grid-column\:span-11,
.gcs\:span-11 {
	grid-column: span 11 / span 11 !important;
}

.grid-row\:span-11,
.grs\:span-11 {
	grid-row: span 11 / span 11 !important;
}

.grid-column\:span-12,
.gcs\:span-12 {
	grid-column: span 12 / span 12 !important;
}

.grid-row\:span-12,
.grs\:span-12 {
	grid-row: span 12 / span 12 !important;
}
